{
  "openapi": "3.0.1",
  "info": {
    "title": "EKM Partner API",
    "description": "Our new API allows partners to build significantly better integrations with the EKM platform.\r\n\r\nTo try out the below endpoints, or for full up to date representations of the request / response models, please see the [swagger page](https://api.ekm.net/swagger/index.html). (We display examples here, but the swagger page is guaranteed to show the complete model.)\r\n\r\nTo keep up to date with the latest updates, please see our [RSS feed](https://partners.ekm.net/ChangeLog/Feed) or the [partner dashboard](https://partners.ekm.net/).",
    "contact": {
      "name": "EKM",
      "url": "https://ekm.com",
      "email": "api-support@ekm.com"
    },
    "version": "Latest",
    "x-logo": {
      "url": "/images/ekm-logo-vector-RGB-1920x1080.png",
      "backgroundColor": "#fafafa"
    }
  },
  "servers": [
    {
      "url": "https://api.ekm.net"
    }
  ],
  "paths": {
    "/api/v1/categories/{id}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a category",
        "operationId": "Categories_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The chosen category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 169,
    "name": "EKM - quam",
    "description": "Rerum nesciunt ratione atque sapiente recusandae quia temporibus. Accusantium et quis. Sint sit vel libero. Quis esse necessitatibus omnis amet aperiam natus nulla. At non eos ut impedit. Eaque aut sapiente laudantium et nostrum in quidem voluptatem voluptas.",
    "in_category_description": "Rerum aliquid velit iure illum fugit aspernatur. Provident assumenda suscipit. Fugit et sed cum quia vero eveniet possimus et rem. Impedit illo ut et. Ut dolor et tempora nobis deleniti.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Categories"
        ],
        "summary": "Update a category",
        "operationId": "Categories_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 170,
    "name": "EKM - et",
    "description": "Totam fugit voluptatem dolorem nam consequatur ut rem doloribus. Rerum ipsum est ipsam ea. Maxime est rem sit cumque sit. Enim rerum architecto facere eos odit.",
    "in_category_description": "Nemo fuga eum at maxime officiis officia et. Eveniet labore et. Vero quis dolore. Tempora quibusdam earum eum ratione nemo.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Delete a category",
        "operationId": "Categories_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of categories",
        "operationId": "Categories_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - ratione",
      "description": "Impedit non officia laborum consequuntur commodi cumque impedit. Unde eveniet praesentium distinctio iste sequi voluptate commodi. Laudantium voluptatem totam blanditiis aliquid.",
      "in_category_description": "Repudiandae enim ut aut neque. Soluta porro aspernatur neque inventore. Dolores est debitis consequatur nostrum eius quod ut. Error et repellendus. Dolor voluptatem nobis officiis dolor aliquam. Possimus quia non ab.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - aliquid",
      "description": "Ut numquam quod natus reprehenderit aspernatur. Accusamus sint qui eveniet quia labore laborum atque veniam. Et error eum vel nostrum. Nulla et voluptates rerum eveniet quia natus dolorem perferendis iure. Molestias magni voluptatem alias pariatur est libero repudiandae. Aspernatur reiciendis alias perferendis error ad eaque.",
      "in_category_description": "Temporibus occaecati explicabo earum eius eveniet rerum atque non vero. Tenetur omnis aut temporibus et odit aliquid voluptatem. Numquam debitis quo totam dolor. Et sint eveniet voluptatem dolorum dolores optio voluptas modi et. Error repudiandae consequatur commodi consequatur voluptatum consequatur eius. Laboriosam explicabo numquam excepturi blanditiis et perferendis.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - sint",
      "description": "Consequatur fuga nesciunt voluptatem doloremque quisquam qui saepe ut natus. Sint distinctio molestiae at perspiciatis. Expedita voluptatibus pariatur ea ut magnam. Natus est nihil eum. Optio sed dolor quasi ipsam illo sit ea mollitia. Rerum dolor qui sunt expedita.",
      "in_category_description": "Iusto quis distinctio repudiandae corrupti ea. Et molestias et autem non omnis quaerat. Sed accusantium sed. Beatae nulla nisi accusamus fugiat eos.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - voluptas",
      "description": "Et qui sit mollitia non. Suscipit esse quisquam hic. Omnis facilis voluptatem aut. Facilis voluptatum fugiat beatae.",
      "in_category_description": "Iste aperiam eius eius sunt sunt quam. Omnis facilis eaque adipisci at est in dolor repellat. Et animi deleniti beatae voluptas cum et. Ut porro amet distinctio consequatur dolore quisquam corrupti. Exercitationem autem quo error dolore.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - repellat",
      "description": "Similique est qui exercitationem. In et voluptatum. Sequi voluptatem aspernatur voluptatum. Ut repellendus debitis unde cumque rerum fugit quidem. Voluptatum consequatur molestiae minima ea quis inventore cum id. Et possimus tenetur voluptatibus in molestiae qui.",
      "in_category_description": "Autem sunt optio iure. Qui quo molestiae est optio exercitationem aliquam illo non. Reiciendis non est exercitationem laudantium amet sequi deleniti quam excepturi. Tenetur qui et deleniti quia natus ipsam.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Add a category",
        "operationId": "Categories_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 176,
    "name": "EKM - non",
    "description": "Omnis reiciendis rerum optio similique ea consequatur reiciendis. Sit pariatur eum voluptatem consequatur. Id nulla eos repellat quidem laborum. Debitis numquam harum magnam quia. In id itaque consequuntur. Incidunt velit hic.",
    "in_category_description": "Saepe eum temporibus quas fugit sit quisquam. Natus quibusdam aut. Quo blanditiis non quia sunt et.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/search": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Searches categories based on search criteria",
        "operationId": "Categories_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. live eq true",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - aut",
      "description": "Ipsam ut nesciunt. Similique reprehenderit est quod autem aut. Est magnam delectus ipsum pariatur odit neque. Quos molestias est voluptas sed consectetur accusantium atque.",
      "in_category_description": "Eos cumque pariatur fuga provident culpa deserunt et aspernatur unde. Repellat eum assumenda asperiores corrupti optio laudantium quos omnis. Voluptatibus suscipit voluptate non iste.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - fuga",
      "description": "Numquam ut voluptates non eos et aut tempore veritatis porro. In modi aut et et dolores. Et sit quo quos. Asperiores iusto non sequi commodi odio optio. Tenetur nobis tempore rerum consequatur aut rem occaecati fugit necessitatibus. Quidem maxime aut amet dolores aut quisquam et iusto.",
      "in_category_description": "Culpa et quisquam aut sint explicabo suscipit dolores. Incidunt consequatur quod et saepe unde quia est. Accusantium id consequatur. Saepe vero illum necessitatibus dolore reprehenderit.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - sit",
      "description": "Voluptatem perspiciatis dolore aut molestiae dolorem doloremque delectus autem amet. Voluptatem officia ut consequatur tempore nostrum qui. Aut voluptatum velit dolorem eveniet eos ut eos sequi. Nulla earum ipsam. Nostrum aut adipisci.",
      "in_category_description": "Quia a in veritatis est quam consectetur quis nemo. Vel numquam a consequatur sit non totam. Quisquam aliquid sapiente beatae corporis officiis itaque provident dolore.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - ullam",
      "description": "Neque consequatur corrupti quas laudantium. Provident esse omnis voluptate nihil at ipsa ad nisi vel. Magni voluptatibus similique qui magnam voluptatum fugiat dolorem ipsa expedita.",
      "in_category_description": "Fugit quia necessitatibus. Aut nihil alias qui. Ut odio repellat ab sunt enim. Aut eaque doloremque provident consequuntur facilis fugit voluptatem. Voluptatum repudiandae suscipit et cum quam.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - labore",
      "description": "Est ut vel et doloremque. Laboriosam vitae iusto repellendus perspiciatis sunt est neque neque. Quo consequatur fuga ipsum. Rem veritatis sunt facere sed excepturi libero architecto omnis non. Dolorem omnis dignissimos beatae. Dolores consequatur dolor adipisci ipsa quia voluptas est voluptates.",
      "in_category_description": "Ipsum totam delectus velit laborum distinctio nostrum quia. Et eos quos suscipit. Consequatur distinctio at nisi voluptate aut quisquam dicta. Numquam repellat ducimus reiciendis tenetur. Minus et nulla fugiat voluptas.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/subcategories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of subcategories",
        "operationId": "Categories_Subcategories",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of subcategories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1SubCategory"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "parent_category_id": 2,
      "category_id": 1,
      "name": "EKM - dolores",
      "description": "Occaecati officia quas totam ut et officia quidem excepturi. Cupiditate eaque unde rem molestiae quas eligendi doloremque dicta. Placeat velit dolorem. Suscipit voluptates odio odio sit distinctio sunt ipsum. Pariatur suscipit possimus ut perspiciatis blanditiis.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 4,
      "category_id": 2,
      "name": "EKM - dolor",
      "description": "Corrupti id qui sint porro quaerat quis. Qui id velit et veritatis. Nihil qui magni. Laudantium voluptatem dolorum at enim. Rerum cumque dolores tempore id. Sunt et nisi ipsum.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 6,
      "category_id": 3,
      "name": "EKM - molestiae",
      "description": "Quam adipisci dolor et. Sint quo omnis eveniet repellendus incidunt sit beatae. Aspernatur porro et a harum sit. Minima sit quia. Id asperiores neque molestias nesciunt saepe sit eos.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 8,
      "category_id": 4,
      "name": "EKM - officia",
      "description": "Veniam vitae earum suscipit. Deserunt quod repudiandae et nisi cupiditate. Voluptatum consectetur est numquam nostrum incidunt magni eos. Inventore quis earum cupiditate. Magnam quod saepe quae rem quos optio itaque.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 10,
      "category_id": 5,
      "name": "EKM - et",
      "description": "Ullam eveniet molestias. Aut eius ex non aliquam nobis voluptatem. Soluta necessitatibus harum blanditiis in voluptatibus. Quo alias consequatur possimus. Alias voluptatem eos officiis aperiam.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/categorymanaged/{childCategoryId}": {
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Set a category to be managed by another category",
        "operationId": "Categories_SetCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The added managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "parent_category_id": 1,
    "category_id": 10,
    "name": "Subcategory",
    "description": null,
    "order_location": 99999,
    "live": true,
    "is_category_managed": true
  }
}
              }
            }
          },
          "400": {
            "description": "A subcategory or managed category already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category or child category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Stops a category from being managed by another category",
        "operationId": "Categories_DeleteCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The removed managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No managed category found for that child category ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/filters": {
      "put": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_UpdateCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CategoryFilters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "get": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_GetCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CategoryFilters"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/settings/currency": {
      "get": {
        "tags": [
          "Currency"
        ],
        "summary": "Gets the current Currency Settings",
        "operationId": "Currency_GetCurrency",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseCurrencySettings"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "currency_code": "GBP",
    "country_code": null,
    "currency_symbol": "£",
    "current_html_symbol": "\u0026pound;"
  }
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Currency Settings not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/{addressId}": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a single Customer Address by Id",
        "operationId": "CustomerAddresses_GetById",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2021-02-21T20:51:21.4810896Z",
    "modified_date": "2020-12-31T18:47:05.7960864Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Kamron",
    "last_name": "Runolfsson",
    "company": "Howell, Predovic and Goldner",
    "address": "9366 Dickens Extensions",
    "address2": null,
    "town": "Lake Adrianchester",
    "county": "Bedfordshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "921.480.1928 x04115",
    "fax": "(412) 515-2483"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Update a Customer Address",
        "operationId": "CustomerAddresses_Update",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2021-07-11T06:47:16.2627198Z",
    "modified_date": "2021-10-18T06:23:07.6035936Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Shaniya",
    "last_name": "Greenfelder",
    "company": "Macejkovic Inc",
    "address": "095 Purdy Burgs",
    "address2": null,
    "town": "Frankville",
    "county": "Borders",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "594.255.0830",
    "fax": "1-421-608-1793 x7826"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Delete a Customer Address",
        "operationId": "CustomerAddresses_Delete",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer Address deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2021-12-17T18:39:09.3708121Z",
    "modified_date": "2021-07-07T05:35:26.7230405Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Cleta",
    "last_name": "Dooley",
    "company": "Reynolds - Doyle",
    "address": "91749 Sydnie Union",
    "address2": null,
    "town": "New Archview",
    "county": "Berkshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "872.645.8627 x8037",
    "fax": "(448) 348-2199"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a paginated set of Customer Addresses",
        "operationId": "CustomerAddresses_GetAll",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customer Addresses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 0,
      "created_date": "2020-12-26T03:43:25.0324105Z",
      "modified_date": "2021-09-26T20:23:00.9256663Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Lavern",
      "last_name": "Bauch",
      "company": "Boyer LLC",
      "address": "6882 Bahringer Freeway",
      "address2": null,
      "town": "Marilouville",
      "county": "Avon",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "(466) 746-5095",
      "fax": "841.439.0561"
    },
    {
      "id": 0,
      "created_date": "2021-06-07T09:31:05.5374983Z",
      "modified_date": "2021-02-01T12:41:04.1005959Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Davon",
      "last_name": "McCullough",
      "company": "Witting Inc",
      "address": "86780 Will Streets",
      "address2": null,
      "town": "Macejkovicstad",
      "county": "Cambridgeshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "943-647-9766 x493",
      "fax": "(490) 659-8949 x473"
    },
    {
      "id": 0,
      "created_date": "2021-03-26T14:25:47.7412652Z",
      "modified_date": "2021-07-26T00:28:49.606497Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Jeramie",
      "last_name": "Kshlerin",
      "company": "Collier LLC",
      "address": "3149 Cummings Expressway",
      "address2": null,
      "town": "West Talon",
      "county": "Bedfordshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "585-609-5014",
      "fax": "738.436.4772 x79782"
    },
    {
      "id": 0,
      "created_date": "2021-06-05T09:11:43.149035Z",
      "modified_date": "2021-09-08T14:13:20.443965Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Kay",
      "last_name": "Lakin",
      "company": "Weissnat Group",
      "address": "92024 Ike Lock",
      "address2": null,
      "town": "East Keelyshire",
      "county": "Buckinghamshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "691.750.7506 x821",
      "fax": "1-241-922-4924 x47927"
    },
    {
      "id": 0,
      "created_date": "2021-08-15T23:15:21.102219Z",
      "modified_date": "2021-01-16T06:08:49.3494573Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Selmer",
      "last_name": "Mann",
      "company": "Stroman, Jones and Schuppe",
      "address": "73700 Brakus Key",
      "address2": null,
      "town": "Gutkowskibury",
      "county": "Bedfordshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "1-551-753-4770 x4853",
      "fax": "435.421.1186 x544"
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Add a Customer Address",
        "operationId": "CustomerAddresses_Create",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2021-07-19T02:18:24.8432797Z",
    "modified_date": "2021-10-16T02:28:19.532958Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Tomasa",
    "last_name": "Rempel",
    "company": "Williamson - Beer",
    "address": "520 Brown Course",
    "address2": null,
    "town": "Watersfort",
    "county": "Berkshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "(898) 505-2564 x990",
    "fax": "854.475.0864"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/search": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Searches customer addresses based on search criteria",
        "operationId": "CustomerAddresses_Search",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customer adresses based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 247,
      "email_address": "Kristie.Jaskolski97@gmail.com",
      "first_name": "Kailee",
      "last_name": "Weissnat",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-07-02T12:25:06.6282765Z",
      "modified_date": "2021-03-30T02:31:00.2807937Z",
      "last_login_date": "2021-08-27T05:41:38.7920832Z",
      "last_login_attempt_date": "2021-01-25T04:57:29.0067488Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-09-15T10:14:20.4840692Z",
          "modified_date": "2020-12-30T11:13:15.6764559Z",
          "customer_id": 247,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Bryce",
          "last_name": "Padberg",
          "company": "Wyman Group",
          "address": "04940 Koelpin Ports",
          "address2": "New Jeanettechester",
          "town": "South Lancefurt",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "ER1 4LK",
          "telephone": "420-841-4589 x7921",
          "fax": "1-279-720-5113 x886"
        }
      ]
    },
    {
      "id": 248,
      "email_address": "Lorena.Brakus@gmail.com",
      "first_name": "Adeline",
      "last_name": "Stamm",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2021-11-08T01:59:54.1722531Z",
      "modified_date": "2021-01-03T17:14:21.5161176Z",
      "last_login_date": "2021-12-03T11:31:24.6455022Z",
      "last_login_attempt_date": "2021-04-24T21:11:50.0094596Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-09-08T12:21:37.6275094Z",
          "modified_date": "2021-04-26T00:39:41.9009901Z",
          "customer_id": 248,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Frederic",
          "last_name": "Howell",
          "company": "Reynolds, Nader and Parker",
          "address": "250 Demarcus Turnpike",
          "address2": "Jacobston",
          "town": "Armstrongtown",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "MC5 0UX",
          "telephone": "(926) 632-9322",
          "fax": "234-908-2442"
        }
      ]
    },
    {
      "id": 249,
      "email_address": "Greg.Sipes99@hotmail.com",
      "first_name": "Willy",
      "last_name": "Schamberger",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2021-04-06T18:55:18.3577075Z",
      "modified_date": "2021-01-22T08:37:29.6224561Z",
      "last_login_date": "2021-11-28T18:38:56.0135429Z",
      "last_login_attempt_date": "2021-08-19T15:34:30.5220279Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-12-08T05:33:46.5773222Z",
          "modified_date": "2020-12-27T16:20:07.4594082Z",
          "customer_id": 249,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Annette",
          "last_name": "Kilback",
          "company": "Grimes LLC",
          "address": "877 Don Falls",
          "address2": "Willhaven",
          "town": "Schneiderville",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "PH7 0MT",
          "telephone": "(730) 913-0679 x6069",
          "fax": "1-749-849-0759 x5325"
        }
      ]
    },
    {
      "id": 250,
      "email_address": "Jennie.Fahey20@gmail.com",
      "first_name": "Ray",
      "last_name": "Johnston",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-04-19T06:38:01.0981106Z",
      "modified_date": "2021-07-03T23:33:21.4031914Z",
      "last_login_date": "2021-04-15T11:21:49.8214071Z",
      "last_login_attempt_date": "2021-09-05T13:06:55.1269411Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-05-23T22:32:31.9294919Z",
          "modified_date": "2021-05-02T04:26:44.117348Z",
          "customer_id": 250,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Billy",
          "last_name": "Hirthe",
          "company": "Gaylord, Orn and Yost",
          "address": "4776 Pedro Extensions",
          "address2": "Davisstad",
          "town": "Skyetown",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "XN8 5ZK",
          "telephone": "(328) 459-2553",
          "fax": "(231) 403-1244 x534"
        }
      ]
    },
    {
      "id": 251,
      "email_address": "Rosie29@yahoo.com",
      "first_name": "Hillard",
      "last_name": "Flatley",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2021-02-14T07:05:25.4083961Z",
      "modified_date": "2021-07-07T00:35:18.6630369Z",
      "last_login_date": "2021-07-29T22:52:03.3984696Z",
      "last_login_attempt_date": "2021-07-02T17:28:32.4749409Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-05-17T13:18:33.9081024Z",
          "modified_date": "2021-05-20T13:06:11.9066559Z",
          "customer_id": 251,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Josephine",
          "last_name": "Towne",
          "company": "Boyle, Roob and White",
          "address": "8146 Lonie Hollow",
          "address2": "Lonzochester",
          "town": "East Dustin",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "XD0 3ZV",
          "telephone": "1-981-634-1721 x21348",
          "fax": "(565) 488-4828 x9956"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a single Customer by Id",
        "operationId": "Customers_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Customers Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customers Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 252,
    "email_address": "Angel48@hotmail.com",
    "first_name": "Samson",
    "last_name": "Durgan",
    "order_count": 0,
    "loyalty_points": 1.0,
    "created_date": "2021-02-06T03:52:34.7119467Z",
    "modified_date": "2021-12-19T23:18:49.5568563Z",
    "last_login_date": "2021-10-13T16:00:16.2293911Z",
    "last_login_attempt_date": "2021-02-14T21:56:37.0547828Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": true,
    "addresses": [
      {
        "id": 0,
        "created_date": "2021-06-04T13:08:25.2840871Z",
        "modified_date": "2021-05-31T11:25:49.9733968Z",
        "customer_id": 252,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Yasmin",
        "last_name": "Bednar",
        "company": "Walsh, Veum and Beahan",
        "address": "220 Haag Brooks",
        "address2": "Vonmouth",
        "town": "Helenabury",
        "county": "Avon",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "NF8 0HA",
        "telephone": "451-551-4233 x3430",
        "fax": "1-654-496-7825 x568"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update a Customer",
        "operationId": "Customers_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 253,
    "email_address": "Delia.OConnell@hotmail.com",
    "first_name": "Kailee",
    "last_name": "Klein",
    "order_count": 1,
    "loyalty_points": 1.0,
    "created_date": "2021-07-04T07:04:56.8769432Z",
    "modified_date": "2021-09-22T01:34:14.167627Z",
    "last_login_date": "2021-09-28T06:26:13.4551493Z",
    "last_login_attempt_date": "2021-11-29T11:17:50.9416756Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": true,
    "addresses": [
      {
        "id": 0,
        "created_date": "2021-02-26T14:54:24.5503844Z",
        "modified_date": "2021-07-26T03:40:05.1813971Z",
        "customer_id": 253,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Kaleigh",
        "last_name": "Reynolds",
        "company": "Hilll - Schinner",
        "address": "827 Gutkowski Village",
        "address2": "Port Erikchester",
        "town": "Cassinmouth",
        "county": "Bedfordshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "BX4 7YC",
        "telephone": "1-669-558-3073 x24938",
        "fax": "(322) 774-2228 x2144"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete a Customer",
        "operationId": "Customers_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 254,
    "email_address": "Ivan.Wyman@yahoo.com",
    "first_name": "Fern",
    "last_name": "Abbott",
    "order_count": 0,
    "loyalty_points": 0.0,
    "created_date": "2021-08-16T12:47:26.9181763Z",
    "modified_date": "2021-03-19T23:44:35.4375994Z",
    "last_login_date": "2021-01-23T12:39:41.914075Z",
    "last_login_attempt_date": "2021-04-09T10:12:22.5966057Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": true,
    "addresses": [
      {
        "id": 0,
        "created_date": "2021-01-06T15:29:26.6335794Z",
        "modified_date": "2021-07-12T22:33:49.2241364Z",
        "customer_id": 254,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Lauretta",
        "last_name": "Cormier",
        "company": "Osinski - Nienow",
        "address": "711 Huels Ford",
        "address2": "Candidashire",
        "town": "North Beulah",
        "county": "Berkshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "BB3 8KX",
        "telephone": "1-579-497-8391 x19536",
        "fax": "(715) 882-7632 x549"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a paginated set of Customers",
        "operationId": "Customers_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 255,
      "email_address": "Duane47@yahoo.com",
      "first_name": "Laurence",
      "last_name": "Rice",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2021-02-27T03:17:48.9274261Z",
      "modified_date": "2021-09-19T21:13:28.1091472Z",
      "last_login_date": "2021-03-16T21:05:34.923394Z",
      "last_login_attempt_date": "2021-09-23T11:51:28.0432701Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-05-09T18:37:28.1511967Z",
          "modified_date": "2021-08-21T08:21:51.9599331Z",
          "customer_id": 255,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Queenie",
          "last_name": "Vandervort",
          "company": "Torp - Crist",
          "address": "2993 Twila Road",
          "address2": "Lake Elainaton",
          "town": "Port Emmie",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "YB4 5SV",
          "telephone": "(617) 501-9499",
          "fax": "1-467-420-5103"
        }
      ]
    },
    {
      "id": 256,
      "email_address": "Wendy_Swaniawski@yahoo.com",
      "first_name": "Barbara",
      "last_name": "Goldner",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-12-17T21:45:19.7074375Z",
      "modified_date": "2021-09-13T18:27:41.851603Z",
      "last_login_date": "2021-02-20T17:50:11.6980582Z",
      "last_login_attempt_date": "2021-08-30T22:44:21.3871951Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-10-18T08:26:20.7299568Z",
          "modified_date": "2021-11-02T23:09:46.2831661Z",
          "customer_id": 256,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Roxanne",
          "last_name": "Lang",
          "company": "DuBuque, Herzog and O\u0027Kon",
          "address": "66666 Conroy Keys",
          "address2": "Boscohaven",
          "town": "Meghanville",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "OP6 7QH",
          "telephone": "255-826-6315",
          "fax": "208.930.5467"
        }
      ]
    },
    {
      "id": 257,
      "email_address": "Lydia57@yahoo.com",
      "first_name": "Ruby",
      "last_name": "Gusikowski",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2021-08-07T07:35:27.72188Z",
      "modified_date": "2021-11-08T09:57:42.6592689Z",
      "last_login_date": "2021-04-13T02:05:14.6596365Z",
      "last_login_attempt_date": "2021-01-17T21:30:49.3651235Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-07-10T11:41:40.2154209Z",
          "modified_date": "2021-05-16T08:55:05.2062631Z",
          "customer_id": 257,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Jammie",
          "last_name": "Crona",
          "company": "Schulist - Kutch",
          "address": "9528 Jacobs Pass",
          "address2": "South Jonathan",
          "town": "Port Pinkhaven",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "JD1 6OO",
          "telephone": "(694) 582-9807 x2699",
          "fax": "231.293.6389 x45511"
        }
      ]
    },
    {
      "id": 258,
      "email_address": "Vicky_Ankunding@yahoo.com",
      "first_name": "Gustave",
      "last_name": "Raynor",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2021-05-28T23:33:41.0959364Z",
      "modified_date": "2020-12-25T13:54:23.7400218Z",
      "last_login_date": "2021-03-16T16:34:01.1363988Z",
      "last_login_attempt_date": "2021-03-25T19:42:16.9319858Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-09-26T14:21:53.5981956Z",
          "modified_date": "2021-02-18T14:25:07.714235Z",
          "customer_id": 258,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Maritza",
          "last_name": "Rodriguez",
          "company": "Bechtelar - Lind",
          "address": "515 Erdman Knoll",
          "address2": "Lake Daisymouth",
          "town": "Lake Kentonburgh",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "ZN0 7ZO",
          "telephone": "418-503-3576 x1273",
          "fax": "1-228-491-6182"
        }
      ]
    },
    {
      "id": 259,
      "email_address": "Johnathan98@yahoo.com",
      "first_name": "Dell",
      "last_name": "Konopelski",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2021-12-21T14:46:49.366244Z",
      "modified_date": "2021-05-29T19:55:19.1013712Z",
      "last_login_date": "2021-01-24T23:53:26.6213595Z",
      "last_login_attempt_date": "2021-10-20T01:27:36.7121696Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-08-12T11:36:43.4190052Z",
          "modified_date": "2020-12-28T02:21:57.5741597Z",
          "customer_id": 259,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Chelsea",
          "last_name": "Leannon",
          "company": "Reichel - Abbott",
          "address": "878 Greenfelder Estates",
          "address2": "North Bonnie",
          "town": "East Misael",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "HB5 8NX",
          "telephone": "(211) 682-4092",
          "fax": "629-631-4875"
        }
      ]
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Add a customer",
        "description": "Note: setting send_email to true will send an email to the customer prompting them to create a password",
        "operationId": "Customers_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 260,
    "email_address": "Lela.Beier@hotmail.com",
    "first_name": "Maiya",
    "last_name": "Muller",
    "order_count": 0,
    "loyalty_points": 1.0,
    "created_date": "2021-05-21T07:18:47.3422968Z",
    "modified_date": "2021-09-12T14:10:43.3857592Z",
    "last_login_date": "2021-04-11T12:15:19.8855111Z",
    "last_login_attempt_date": "2021-12-21T11:26:52.4702726Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": true,
    "addresses": [
      {
        "id": 0,
        "created_date": "2021-06-11T04:45:00.6144415Z",
        "modified_date": "2021-07-27T02:18:29.1522866Z",
        "customer_id": 260,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Vinnie",
        "last_name": "Fay",
        "company": "Zemlak - Yost",
        "address": "49573 Zemlak Highway",
        "address2": "East Marilyne",
        "town": "Monahanton",
        "county": "Avon",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "ZY6 1LX",
        "telephone": "915-966-1998",
        "fax": "781.644.1434 x7055"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/search": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Searches customers based on search criteria",
        "operationId": "Customers_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customers based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 261,
      "email_address": "Darrell_Wisozk74@gmail.com",
      "first_name": "Aidan",
      "last_name": "Satterfield",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-07-05T20:23:58.1124734Z",
      "modified_date": "2021-03-02T06:06:20.1566111Z",
      "last_login_date": "2021-05-20T09:25:51.6513983Z",
      "last_login_attempt_date": "2021-09-04T04:21:02.012554Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-08-11T07:24:50.7268442Z",
          "modified_date": "2021-02-24T01:14:52.9120651Z",
          "customer_id": 261,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Jed",
          "last_name": "Gulgowski",
          "company": "Cassin - Lakin",
          "address": "12224 Jacobi Mountain",
          "address2": "West Lennieview",
          "town": "Blandamouth",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "HW4 0MR",
          "telephone": "749.738.2084",
          "fax": "(242) 759-1752"
        }
      ]
    },
    {
      "id": 262,
      "email_address": "Alejandro.Rice@yahoo.com",
      "first_name": "Giovanna",
      "last_name": "Hyatt",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2021-04-03T07:01:45.5017388Z",
      "modified_date": "2021-08-22T03:26:00.8026052Z",
      "last_login_date": "2021-11-01T07:32:54.4622869Z",
      "last_login_attempt_date": "2021-03-04T13:06:18.3002447Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-12-22T15:47:42.8933584Z",
          "modified_date": "2021-04-23T11:21:45.4949217Z",
          "customer_id": 262,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Lizzie",
          "last_name": "Windler",
          "company": "Gibson - Kessler",
          "address": "0883 Hamill Courts",
          "address2": "North Scotfort",
          "town": "New Elmoreville",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "IG2 1MV",
          "telephone": "904-951-8434",
          "fax": "551-257-8873"
        }
      ]
    },
    {
      "id": 263,
      "email_address": "Guadalupe29@hotmail.com",
      "first_name": "Haskell",
      "last_name": "VonRueden",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2021-03-17T00:20:01.8849726Z",
      "modified_date": "2021-03-13T06:01:39.9177566Z",
      "last_login_date": "2021-07-31T10:05:20.8633926Z",
      "last_login_attempt_date": "2021-10-25T06:55:05.1360501Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-04-14T23:11:25.0961585Z",
          "modified_date": "2021-08-10T23:03:26.343737Z",
          "customer_id": 263,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Boyd",
          "last_name": "Thiel",
          "company": "Schroeder, Von and Gulgowski",
          "address": "9937 Thad Stravenue",
          "address2": "Raquelchester",
          "town": "New Aylaview",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "ZI4 7ZW",
          "telephone": "(625) 500-5633 x0125",
          "fax": "1-993-411-8506 x4655"
        }
      ]
    },
    {
      "id": 264,
      "email_address": "Priscilla53@gmail.com",
      "first_name": "Eveline",
      "last_name": "Wolf",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-12-28T12:24:33.442347Z",
      "modified_date": "2021-01-16T13:13:58.2750719Z",
      "last_login_date": "2021-05-07T14:44:01.7304865Z",
      "last_login_attempt_date": "2021-09-06T00:07:30.962248Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-04-05T01:08:22.3747608Z",
          "modified_date": "2021-07-01T14:55:07.1230663Z",
          "customer_id": 264,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Juliana",
          "last_name": "Willms",
          "company": "Boyle - Ward",
          "address": "8404 Tianna Isle",
          "address2": "East Fredashire",
          "town": "Karolannburgh",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "WD0 8JR",
          "telephone": "(285) 470-0720 x850",
          "fax": "(959) 868-7255 x909"
        }
      ]
    },
    {
      "id": 265,
      "email_address": "Cornelius.Murphy75@gmail.com",
      "first_name": "Trisha",
      "last_name": "Lesch",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2021-08-01T18:04:56.7491331Z",
      "modified_date": "2021-04-25T17:40:56.0595432Z",
      "last_login_date": "2021-06-18T21:23:44.5703019Z",
      "last_login_attempt_date": "2021-06-04T18:40:52.6059211Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-06-22T01:38:53.8323344Z",
          "modified_date": "2021-04-09T10:55:37.9906551Z",
          "customer_id": 265,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Hattie",
          "last_name": "Miller",
          "company": "Grimes - Hudson",
          "address": "276 Parker Squares",
          "address2": "Richiemouth",
          "town": "Lake Andy",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "GR0 7US",
          "telephone": "(231) 732-1064",
          "fax": "954-272-4328 x3632"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/settings/domains": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get the current Primary Domain",
        "operationId": "Domains_GetPrimaryDomain",
        "responses": {
          "200": {
            "description": "The primary domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1DomainName"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "primary_domain_name": "ryder.info"
  }
}
              }
            }
          },
          "404": {
            "description": "No primary domain found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Domain not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v2/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get an order by ID",
        "operationId": "Orders_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The order ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV2Order"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 126,
    "order_number": "aw5dujuh1dlqn0es",
    "order_date": "1990-10-14T20:06:28.611484Z",
    "is_confirmed": true,
    "sub_total": 0.825095636688683,
    "total_delivery": 0.47485736965893643,
    "total_tax": 0.7248636897303461,
    "total_cost": 0.08813643785572445,
    "status": "FAILED",
    "payment_status": "FAILED",
    "delivery_method": "",
    "transaction_id": "a9ce8149-bddd-4119-85bc-75fca3b7dd79",
    "transaction_status": "",
    "order_type": "",
    "use_shipping_address": true,
    "shipping_address": {
      "first_name": "Rudy",
      "last_name": "Frami",
      "id": -585763368,
      "created_date": "2021-01-15T20:23:21.2430899Z",
      "modified_date": "2021-05-26T10:22:55.3625488Z",
      "customer_id": -715148157,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": false,
      "company": "Schroeder - Jacobi",
      "address": "609 Upton Shoal",
      "address2": "Collierchester",
[...]
