{
  "openapi": "3.0.1",
  "info": {
    "title": "EKM Partner API",
    "description": "Our new API allows partners to build significantly better integrations with the EKM platform.\r\n\r\nTo try out the below endpoints, or for full up to date representations of the request / response models, please see the [swagger page](https://api.ekm.net/swagger/index.html). (We display examples here, but the swagger page is guaranteed to show the complete model.)\r\n\r\nTo keep up to date with the latest updates, please see our [RSS feed](https://partners.ekm.net/ChangeLog/Feed) or the [partner dashboard](https://partners.ekm.net/).",
    "contact": {
      "name": "EKM",
      "url": "https://ekm.com",
      "email": "api-support@ekm.com"
    },
    "version": "Latest",
    "x-logo": {
      "url": "/images/ekm-logo-vector-RGB-1920x1080.png",
      "backgroundColor": "#fafafa"
    }
  },
  "servers": [
    {
      "url": "https://api.ekm.net"
    }
  ],
  "paths": {
    "/api/v1/categories/{id}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a category",
        "operationId": "Categories_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The chosen category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 117,
    "name": "EKM - laboriosam",
    "description": "Qui at rerum voluptate facere nam sed molestias soluta. Id dolorum consequuntur ut accusantium rerum nostrum. Quam velit aspernatur architecto dolor rerum rerum praesentium voluptatem. Aut harum et occaecati qui delectus quaerat et aut. Qui similique explicabo sed corrupti sunt. Culpa sint beatae nesciunt tenetur sit et sint qui.",
    "in_category_description": "Cum repellat praesentium nostrum excepturi. Cumque quae qui dicta tempora neque. In recusandae aut doloribus at. Saepe officia dicta. Commodi earum architecto.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Categories"
        ],
        "summary": "Update a category",
        "operationId": "Categories_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 118,
    "name": "EKM - et",
    "description": "Commodi animi nam nemo rerum. Perferendis hic non illo nihil et odio rerum maxime ex. Quibusdam omnis sit ducimus architecto. Fuga voluptas repellendus. Earum aspernatur ut odio id pariatur quod. Atque error at qui ducimus et recusandae praesentium et.",
    "in_category_description": "Voluptatem qui enim aut officia minima. Quo vero quis ut ipsa perspiciatis aspernatur commodi quasi pariatur. Laborum ut et optio. Voluptatem temporibus et in.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Delete a category",
        "operationId": "Categories_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of categories",
        "operationId": "Categories_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - ipsam",
      "description": "Et voluptatem tempora consequatur quidem ducimus harum. Omnis neque voluptas. Rerum quos rerum.",
      "in_category_description": "Ullam vitae pariatur dicta minima. Molestiae quod qui aut. Eius dicta debitis. Quod ut tempore ad vel quia laudantium. Odio omnis quam qui magni rerum vel cum voluptatem enim.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - consectetur",
      "description": "Et molestiae suscipit architecto. Et sit rem qui accusamus tempore veniam voluptatem enim. Illum libero impedit dolores fugiat dolorem voluptate.",
      "in_category_description": "Id ullam aut rerum ullam qui hic eveniet omnis. Et et laboriosam velit perferendis. Minima dignissimos vero saepe maxime dolorem accusamus. Ad vero est natus illo.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - ut",
      "description": "Aut voluptatum laboriosam et cupiditate perspiciatis quia at sint. Molestias repudiandae est et deleniti totam eligendi officia iste. Omnis molestiae fugit similique et minus consequatur odio.",
      "in_category_description": "Voluptas excepturi minima nam illum et. Sint voluptatem minus ut alias reiciendis ut distinctio tenetur. Expedita autem dolor accusamus totam impedit nisi.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - veniam",
      "description": "Assumenda quasi temporibus dolor minus. Provident itaque asperiores harum aut et et est quia. Qui qui omnis qui ratione voluptates voluptatum. Impedit et ut sint. Et recusandae vel eos quas.",
      "in_category_description": "Incidunt iste sed tempora dignissimos doloremque. Voluptatem corrupti at omnis sunt optio et necessitatibus. Minus modi numquam eos deserunt et totam libero officiis perferendis.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - similique",
      "description": "Qui distinctio fugit sint qui sit voluptatem sint. Consequatur sed et sequi et. Corporis sit qui totam voluptates ipsa est sint nostrum.",
      "in_category_description": "Culpa sunt accusamus ex et laudantium totam fuga possimus. Est illo delectus sunt. Aut voluptate eius explicabo et iusto repellat.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Add a category",
        "operationId": "Categories_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 124,
    "name": "EKM - laborum",
    "description": "Consectetur aspernatur veniam et beatae maxime qui. Officiis placeat quia ab delectus. Et omnis provident saepe nam expedita ad. Saepe quis quasi labore optio adipisci laborum quam culpa.",
    "in_category_description": "Illum labore commodi amet ut soluta ducimus. Assumenda explicabo qui ducimus molestiae dignissimos facilis dignissimos voluptas. Odit hic nihil ut laboriosam quia repellat qui quo quae. Cum blanditiis ipsum cumque perspiciatis voluptatem suscipit nostrum.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/search": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Searches categories based on search criteria",
        "operationId": "Categories_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. live eq true",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - deserunt",
      "description": "Numquam fugiat molestias omnis. Quo qui quibusdam. Facere assumenda sint. Non quibusdam unde ut nesciunt amet. Voluptas in adipisci sunt quidem et.",
      "in_category_description": "Exercitationem enim voluptatem magnam suscipit necessitatibus. Officiis possimus in magni nesciunt dignissimos ipsa asperiores. Et earum eligendi quia maxime animi et dolores ea sit. Illum quidem esse consequuntur quam. Possimus et maxime.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - animi",
      "description": "Qui autem et temporibus. Accusantium accusantium itaque quibusdam voluptate. Amet eligendi a in quidem. Aut sit pariatur sequi sint sint labore nisi. Quo quasi nobis ut magnam ad.",
      "in_category_description": "Aut vel qui consequatur aut odit autem dolore in. Ipsam tempora et praesentium sint sed. Eos qui tempore accusantium et officiis nobis ducimus debitis. A magnam aliquam nesciunt quae.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - et",
      "description": "Adipisci illum aut omnis voluptates rem et earum molestias. Fugit sit magnam iste similique minus iure eligendi quo id. Quas eos commodi. Autem quam repellat voluptatem. Enim molestiae et laborum. Corporis molestiae dicta tempore velit.",
      "in_category_description": "Commodi omnis sit. Veritatis in nobis cupiditate est ex sunt adipisci consequatur. Cum occaecati omnis fugit illo voluptates fuga quaerat.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - et",
      "description": "Quidem labore voluptatem consequatur ullam sit excepturi. Sint eos vel doloremque commodi qui voluptatem. Quibusdam voluptatum sint suscipit nemo. Et et ea provident natus ratione non et odit. Facilis ut nihil.",
      "in_category_description": "Quo rem suscipit in in necessitatibus. Ullam corrupti consectetur iure doloremque animi eum. Id aliquid non fugiat est quidem ea voluptas blanditiis.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - consequatur",
      "description": "Aperiam enim iure sit corporis vero. Vitae alias culpa omnis qui repudiandae beatae voluptas sint nisi. Fugit laborum libero voluptatem. Nostrum dolores deserunt omnis temporibus.",
      "in_category_description": "Debitis quia ipsum totam sint accusantium aut ipsum. Quia impedit maxime. Sequi officia atque sint non nemo corrupti quam veniam. Quibusdam facere quo ut explicabo.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/subcategories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of subcategories",
        "operationId": "Categories_Subcategories",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of subcategories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1SubCategory"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "parent_category_id": 2,
      "category_id": 1,
      "name": "EKM - aut",
      "description": "Aut omnis exercitationem cumque omnis. Ducimus error ullam illum ipsum sunt earum. Et ut numquam nihil et tempore accusantium deleniti qui quis. A autem porro et consequuntur consequatur nostrum. Accusamus est ut atque blanditiis.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 4,
      "category_id": 2,
      "name": "EKM - aperiam",
      "description": "Delectus consequatur tempore magnam consectetur enim. Eum quia nobis reprehenderit tempora ipsa minima dolorum a aut. Mollitia sit qui. Quia consequatur aut est quasi exercitationem tenetur illo omnis. Qui velit inventore rem ratione eaque ea facilis. Necessitatibus et odio et veritatis voluptas.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 6,
      "category_id": 3,
      "name": "EKM - officia",
      "description": "Voluptatum ut iusto. Maxime sed fugiat et consequatur totam labore animi. Quia molestiae quisquam et voluptas eius ratione consequatur ut. Tenetur cumque quo dolores minus consectetur illum in. Nemo earum in velit incidunt voluptatibus. Vero rerum veniam libero recusandae voluptate.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 8,
      "category_id": 4,
      "name": "EKM - aut",
      "description": "Sint saepe natus atque consequatur quo sed. Facilis atque quae et et aut tempore. Quasi possimus nostrum non perspiciatis sint quos.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 10,
      "category_id": 5,
      "name": "EKM - sint",
      "description": "Molestias non corporis assumenda unde. Dolorem et eius exercitationem quaerat repudiandae fugit totam quod. Voluptas maxime itaque. Temporibus ut laborum quia et et deserunt.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/categorymanaged/{childCategoryId}": {
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Set a category to be managed by another category",
        "operationId": "Categories_SetCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The added managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "parent_category_id": 1,
    "category_id": 10,
    "name": "Subcategory",
    "description": null,
    "order_location": 99999,
    "live": true,
    "is_category_managed": true
  }
}
              }
            }
          },
          "400": {
            "description": "A subcategory or managed category already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category or child category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Stops a category from being managed by another category",
        "operationId": "Categories_DeleteCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The removed managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No managed category found for that child category ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/filters": {
      "put": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_UpdateCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CategoryFilters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "get": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_GetCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CategoryFilters"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/{addressId}": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a single Customer Address by Id",
        "operationId": "CustomerAddresses_GetById",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2021-01-17T08:55:17.3267875Z",
    "modified_date": "2020-06-09T13:27:16.3168926Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Santos",
    "last_name": "Towne",
    "company": "Collins Inc",
    "address": "003 Jacobs Canyon",
    "address2": null,
    "town": "Coltonhaven",
    "county": "Cambridgeshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "283-521-6814",
    "fax": "1-785-699-1982 x7628"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Update a Customer Address",
        "operationId": "CustomerAddresses_Update",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-07-31T04:32:54.0209914Z",
    "modified_date": "2020-11-28T08:15:17.7877041Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Rosario",
    "last_name": "Dare",
    "company": "Torp and Sons",
    "address": "287 Favian Ports",
    "address2": null,
    "town": "Lake Skylaport",
    "county": "Bedfordshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "(543) 470-9093 x7640",
    "fax": "1-616-789-8323"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Delete a Customer Address",
        "operationId": "CustomerAddresses_Delete",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer Address deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2021-02-07T01:45:46.303998Z",
    "modified_date": "2021-01-02T20:18:03.1599939Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Lavern",
    "last_name": "Schowalter",
    "company": "Haley - Walker",
    "address": "73897 Maggio Rapid",
    "address2": null,
    "town": "Borismouth",
    "county": "Cambridgeshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "840.578.3758 x2006",
    "fax": "345.662.3789 x8791"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a paginated set of Customer Addresses",
        "operationId": "CustomerAddresses_GetAll",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customer Addresses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 0,
      "created_date": "2021-01-20T23:14:29.1890952Z",
      "modified_date": "2020-08-30T10:40:06.0532045Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Wilson",
      "last_name": "Muller",
      "company": "Schumm - Macejkovic",
      "address": "5164 Eddie Pass",
      "address2": null,
      "town": "Damionville",
      "county": "Avon",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "393-754-6619 x1454",
      "fax": "610-797-1431 x7103"
    },
    {
      "id": 0,
      "created_date": "2020-10-11T12:14:53.8792426Z",
      "modified_date": "2021-03-26T17:15:37.4534136Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Jaylan",
      "last_name": "Ortiz",
      "company": "Farrell - Lehner",
      "address": "72111 Chase Extensions",
      "address2": null,
      "town": "Prosaccoton",
      "county": "Cambridgeshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "218.202.6172 x52935",
      "fax": "908-577-8799 x2197"
    },
    {
      "id": 0,
      "created_date": "2020-05-19T15:03:05.5049309Z",
      "modified_date": "2020-05-11T21:03:10.0796113Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Herminia",
      "last_name": "Pfannerstill",
      "company": "Wilkinson Inc",
      "address": "696 Abe Stream",
      "address2": null,
      "town": "Deshaunmouth",
      "county": "Borders",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "1-900-323-2390 x952",
      "fax": "887-680-9245"
    },
    {
      "id": 0,
      "created_date": "2020-09-27T06:20:36.2621591Z",
      "modified_date": "2020-09-21T13:58:43.1616456Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Payton",
      "last_name": "O\u0027Hara",
      "company": "Rodriguez - Morar",
      "address": "9492 Paige Ford",
      "address2": null,
      "town": "West Philip",
      "county": "Cambridgeshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "1-561-617-5955 x674",
      "fax": "422.343.3972"
    },
    {
      "id": 0,
      "created_date": "2021-01-14T04:54:41.4982906Z",
      "modified_date": "2020-06-12T15:55:17.8770336Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Allison",
      "last_name": "Cruickshank",
      "company": "Schultz, Cole and Baumbach",
      "address": "4796 Gavin Garden",
      "address2": null,
      "town": "New Amieside",
      "county": "Avon",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "(569) 300-3515 x836",
      "fax": "437-881-1470 x7437"
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Add a Customer Address",
        "operationId": "CustomerAddresses_Create",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2021-02-23T10:13:19.9416146Z",
    "modified_date": "2020-10-20T04:08:08.891544Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Wilmer",
    "last_name": "Keebler",
    "company": "Pfannerstill, Monahan and Hodkiewicz",
    "address": "0983 Mitchell Drive",
    "address2": null,
    "town": "North Emmettborough",
    "county": "Berkshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "493-204-5257",
    "fax": "1-460-426-5167 x920"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/search": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Searches customer addresses based on search criteria",
        "operationId": "CustomerAddresses_Search",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customer adresses based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 171,
      "email_address": "Josefina_Raynor76@gmail.com",
      "first_name": "Percy",
      "last_name": "Lueilwitz",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-04-09T02:56:16.7644068Z",
      "modified_date": "2021-03-25T02:29:01.5373226Z",
      "last_login_date": "2020-06-08T03:13:18.6051797Z",
      "last_login_attempt_date": "2020-09-03T04:32:43.9304128Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-04-16T01:46:36.7421724Z",
          "modified_date": "2021-01-28T01:21:50.1868202Z",
          "customer_id": 171,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Kylee",
          "last_name": "O\u0027Reilly",
          "company": "Runolfsdottir LLC",
          "address": "5886 Kolby Glens",
          "address2": "Taliaburgh",
          "town": "Hartmannchester",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "EQ2 4TM",
          "telephone": "1-333-714-6738 x09839",
          "fax": "1-358-667-8756"
        }
      ]
    },
    {
      "id": 172,
      "email_address": "Katherine_Kohler15@hotmail.com",
      "first_name": "Delaney",
      "last_name": "Champlin",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-05-18T23:01:16.0835415Z",
      "modified_date": "2021-04-01T08:54:10.8622759Z",
      "last_login_date": "2020-11-28T21:50:52.3179705Z",
      "last_login_attempt_date": "2020-11-21T16:31:42.5861447Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-08-18T09:30:07.4431927Z",
          "modified_date": "2020-11-05T04:27:12.8486371Z",
          "customer_id": 172,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Roberto",
          "last_name": "Kris",
          "company": "Mayert, Shields and Rohan",
          "address": "6212 Rice Drive",
          "address2": "Santosside",
          "town": "East Karinaview",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "CX4 2TL",
          "telephone": "280.667.1493",
          "fax": "998-392-7588 x3535"
        }
      ]
    },
    {
      "id": 173,
      "email_address": "Darla.Luettgen@yahoo.com",
      "first_name": "Keaton",
      "last_name": "Runolfsson",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-10-14T22:02:28.3962803Z",
      "modified_date": "2020-04-05T14:23:47.2443586Z",
      "last_login_date": "2020-09-16T20:38:33.3407508Z",
      "last_login_attempt_date": "2020-05-31T03:45:25.8000299Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-08-28T17:31:09.521834Z",
          "modified_date": "2020-10-01T21:26:54.6511934Z",
          "customer_id": 173,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Jane",
          "last_name": "Hagenes",
          "company": "Keeling Group",
          "address": "32394 Brionna Passage",
          "address2": "Derekstad",
          "town": "Jalenville",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "CQ0 7JH",
          "telephone": "449.732.6781 x1263",
          "fax": "671.585.3577"
        }
      ]
    },
    {
      "id": 174,
      "email_address": "Roderick23@yahoo.com",
      "first_name": "Chanelle",
      "last_name": "Farrell",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2020-08-10T06:46:27.0323401Z",
      "modified_date": "2020-09-06T02:46:52.3704526Z",
      "last_login_date": "2020-07-07T04:10:17.4663014Z",
      "last_login_attempt_date": "2020-11-13T09:57:53.1350161Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-09-28T11:00:38.997669Z",
          "modified_date": "2020-06-12T08:37:33.8982252Z",
          "customer_id": 174,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Tiara",
          "last_name": "Friesen",
          "company": "Keebler Group",
          "address": "950 Torphy Centers",
          "address2": "Clovisberg",
          "town": "Bahringermouth",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "SP0 0GY",
          "telephone": "(804) 581-6142",
          "fax": "(279) 920-8173 x81931"
        }
      ]
    },
    {
      "id": 175,
      "email_address": "Ross.Bayer@gmail.com",
      "first_name": "Mervin",
      "last_name": "Bosco",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2021-01-19T07:46:28.2916923Z",
      "modified_date": "2020-06-18T01:12:34.4283113Z",
      "last_login_date": "2021-02-25T11:50:08.35869Z",
      "last_login_attempt_date": "2020-10-24T03:48:11.1722431Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-06-27T01:04:14.6862904Z",
          "modified_date": "2021-03-01T16:11:07.715712Z",
          "customer_id": 175,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Nicklaus",
          "last_name": "Carter",
          "company": "Dickens - Feeney",
          "address": "6022 Dale Greens",
          "address2": "Johanton",
          "town": "New Macview",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "JR0 7EW",
          "telephone": "293.268.9035 x062",
          "fax": "788-646-4164"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a single Customer by Id",
        "operationId": "Customers_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Customers Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customers Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 176,
    "email_address": "Justin52@gmail.com",
    "first_name": "Allison",
    "last_name": "Erdman",
    "order_count": 0,
    "loyalty_points": 1.0,
    "created_date": "2021-01-01T23:57:41.6721623Z",
    "modified_date": "2020-10-07T07:08:35.0985813Z",
    "last_login_date": "2020-08-04T07:24:46.221378Z",
    "last_login_attempt_date": "2021-02-22T04:11:20.0572608Z",
    "locked": true,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": true,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-12-18T01:30:07.30162Z",
        "modified_date": "2020-05-08T13:20:55.7067136Z",
        "customer_id": 176,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Jimmie",
        "last_name": "Schinner",
        "company": "Dooley - Denesik",
        "address": "19869 Michale Heights",
        "address2": "South Skylarshire",
        "town": "Port Krystelchester",
        "county": "Berkshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "WX7 8TJ",
        "telephone": "729.399.0504 x4429",
        "fax": "(215) 274-3729"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update a Customer",
        "operationId": "Customers_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 177,
    "email_address": "Guillermo52@hotmail.com",
    "first_name": "Jaclyn",
    "last_name": "Leannon",
    "order_count": 1,
    "loyalty_points": 0.0,
    "created_date": "2020-10-26T04:57:09.05311Z",
    "modified_date": "2020-09-17T10:20:58.2005113Z",
    "last_login_date": "2021-04-02T12:24:03.2067675Z",
    "last_login_attempt_date": "2021-04-02T02:49:11.3564211Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-12-08T01:14:41.0782841Z",
        "modified_date": "2020-10-20T17:14:14.5881065Z",
        "customer_id": 177,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Abelardo",
        "last_name": "Hermann",
        "company": "Donnelly, Welch and Metz",
        "address": "3924 D\u0027Amore Estate",
        "address2": "Sipesland",
        "town": "South Francis",
        "county": "Borders",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "RP1 0TV",
        "telephone": "665-793-7171 x43505",
        "fax": "585.705.1875 x3185"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete a Customer",
        "operationId": "Customers_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 178,
    "email_address": "Allan62@yahoo.com",
    "first_name": "Willie",
    "last_name": "Crooks",
    "order_count": 0,
    "loyalty_points": 0.0,
    "created_date": "2020-07-02T20:21:46.2723364Z",
    "modified_date": "2021-04-01T09:57:30.1972307Z",
    "last_login_date": "2020-04-24T22:47:54.4930601Z",
    "last_login_attempt_date": "2021-01-08T19:56:29.8854847Z",
    "locked": true,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": true,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-04-15T12:52:09.0434117Z",
        "modified_date": "2020-08-05T07:08:25.9694263Z",
        "customer_id": 178,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Evalyn",
        "last_name": "Steuber",
        "company": "Beier - Sauer",
        "address": "4973 Trantow Lodge",
        "address2": "Twilashire",
        "town": "Ellsworthland",
        "county": "Avon",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "PZ6 6SH",
        "telephone": "421-947-4911",
        "fax": "794.808.6691"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a paginated set of Customers",
        "operationId": "Customers_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 179,
      "email_address": "Angie_Anderson@hotmail.com",
      "first_name": "Chanel",
      "last_name": "Lesch",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-05-10T06:13:50.2431995Z",
      "modified_date": "2020-05-23T17:49:40.6282719Z",
      "last_login_date": "2020-08-13T10:18:00.8730579Z",
      "last_login_attempt_date": "2021-01-17T22:20:51.6175681Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-06-26T08:53:00.4516544Z",
          "modified_date": "2020-06-18T04:45:10.570767Z",
          "customer_id": 179,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Felicia",
          "last_name": "Boyle",
          "company": "Runte LLC",
          "address": "97596 Hortense Junction",
          "address2": "Novafort",
          "town": "New Dorthaport",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "GO1 6IC",
          "telephone": "1-516-212-5362 x119",
          "fax": "1-498-289-2584 x80080"
        }
      ]
    },
    {
      "id": 180,
      "email_address": "Janice.Gulgowski@hotmail.com",
      "first_name": "Carlos",
      "last_name": "Emard",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-06-22T04:09:21.3432433Z",
      "modified_date": "2021-01-13T22:44:52.4364967Z",
      "last_login_date": "2020-06-16T21:09:42.2247279Z",
      "last_login_attempt_date": "2020-05-10T16:25:54.9623804Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-03-11T13:01:40.0309607Z",
          "modified_date": "2020-12-15T13:46:27.0116411Z",
          "customer_id": 180,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Samantha",
          "last_name": "Wilderman",
          "company": "Goldner, Greenholt and Watsica",
          "address": "4755 Art Port",
          "address2": "South Ransomshire",
          "town": "New Jaylon",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "ZE3 2BC",
          "telephone": "1-238-264-5892",
          "fax": "1-843-555-3895 x2021"
        }
      ]
    },
    {
      "id": 181,
      "email_address": "Gwendolyn_Leuschke4@hotmail.com",
      "first_name": "Ernestina",
      "last_name": "Stracke",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-05-16T22:33:26.1436668Z",
      "modified_date": "2021-01-29T08:51:44.8240255Z",
      "last_login_date": "2020-12-18T03:00:53.9810059Z",
      "last_login_attempt_date": "2020-09-20T09:12:33.6539757Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-05-17T15:27:29.8966634Z",
          "modified_date": "2020-10-19T09:36:10.7746193Z",
          "customer_id": 181,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Garrett",
          "last_name": "Sporer",
          "company": "Upton LLC",
          "address": "279 Isom Pine",
          "address2": "West Abby",
          "town": "Lake Garfield",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "KH6 5LV",
          "telephone": "(704) 901-7332 x2089",
          "fax": "1-896-519-4612"
        }
      ]
    },
    {
      "id": 182,
      "email_address": "Derrick_Zulauf@gmail.com",
      "first_name": "Damion",
      "last_name": "Emard",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-06-24T03:54:31.9896917Z",
      "modified_date": "2021-03-22T12:43:45.8129797Z",
      "last_login_date": "2020-08-03T08:38:02.2243336Z",
      "last_login_attempt_date": "2020-09-04T00:03:39.8844168Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-10-17T09:51:28.1333374Z",
          "modified_date": "2020-05-17T20:36:35.6585083Z",
          "customer_id": 182,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Carli",
          "last_name": "Bogan",
          "company": "Pfeffer and Sons",
          "address": "56741 Moen Valley",
          "address2": "Port Taryn",
          "town": "South Maudie",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "RF7 6EU",
          "telephone": "884.683.8124 x989",
          "fax": "(714) 539-6627 x8350"
        }
      ]
    },
    {
      "id": 183,
      "email_address": "Pat71@yahoo.com",
      "first_name": "Florian",
      "last_name": "Padberg",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-04-07T12:45:10.2525957Z",
      "modified_date": "2020-06-08T11:04:41.7401717Z",
      "last_login_date": "2020-07-09T08:07:24.9434265Z",
      "last_login_attempt_date": "2020-04-26T16:42:05.2480034Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-03-05T12:09:17.5836638Z",
          "modified_date": "2020-11-30T00:55:25.2734819Z",
          "customer_id": 183,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Tressa",
          "last_name": "Bartoletti",
          "company": "Streich and Sons",
          "address": "08202 Hauck Ports",
          "address2": "Port Vito",
          "town": "New Orion",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "ES7 1KG",
          "telephone": "(901) 232-9125 x894",
          "fax": "920.536.6584"
        }
      ]
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Add a customer",
        "description": "Note: setting send_email to true will send an email to the customer prompting them to create a password",
        "operationId": "Customers_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 184,
    "email_address": "Justin.Senger@hotmail.com",
    "first_name": "Rachel",
    "last_name": "Herman",
    "order_count": 1,
    "loyalty_points": 0.0,
    "created_date": "2020-08-15T03:55:17.9172418Z",
    "modified_date": "2021-02-05T11:27:24.5493317Z",
    "last_login_date": "2021-01-21T01:28:34.4205255Z",
    "last_login_attempt_date": "2020-12-24T04:40:52.7862715Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2021-01-19T03:28:30.8023862Z",
        "modified_date": "2020-12-30T13:29:49.3011405Z",
        "customer_id": 184,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Nathanael",
        "last_name": "Bashirian",
        "company": "Senger, Wuckert and Ankunding",
        "address": "676 Ferry Fords",
        "address2": "Maureenfurt",
        "town": "New Arch",
        "county": "Bedfordshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "FR8 7NP",
        "telephone": "586-451-3317 x8971",
        "fax": "847.709.4673"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/search": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Searches customers based on search criteria",
        "operationId": "Customers_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customers based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 185,
      "email_address": "Nathaniel_Moen97@yahoo.com",
      "first_name": "Gilberto",
      "last_name": "Turner",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-05-11T10:06:58.3172884Z",
      "modified_date": "2020-11-04T14:38:10.8800628Z",
      "last_login_date": "2020-10-12T13:09:10.216843Z",
      "last_login_attempt_date": "2020-09-13T20:42:01.9352171Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-09-19T20:42:04.152077Z",
          "modified_date": "2020-11-30T02:56:18.0551737Z",
          "customer_id": 185,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Fatima",
          "last_name": "Quitzon",
          "company": "Walsh Group",
          "address": "78971 Hammes Camp",
          "address2": "New Doylemouth",
          "town": "Bernadetteton",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "RD5 6XP",
          "telephone": "219.375.7488 x7775",
          "fax": "670.235.4156 x4095"
        }
      ]
    },
    {
      "id": 186,
      "email_address": "Mark.Conn@gmail.com",
      "first_name": "Noemie",
      "last_name": "Rolfson",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-03-17T03:11:34.4346173Z",
      "modified_date": "2021-02-26T02:47:51.9479869Z",
      "last_login_date": "2021-03-27T16:57:24.5362289Z",
      "last_login_attempt_date": "2020-05-20T11:17:48.3663841Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-03-18T20:46:16.9288662Z",
          "modified_date": "2020-04-10T09:09:46.9701925Z",
          "customer_id": 186,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Colten",
          "last_name": "Swift",
          "company": "Kling Group",
          "address": "103 Amely Brook",
          "address2": "Isaacborough",
          "town": "Flatleyfort",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "YK4 0PL",
          "telephone": "211.250.6707 x415",
          "fax": "1-442-689-3927 x70791"
        }
      ]
    },
    {
      "id": 187,
      "email_address": "Brendan82@yahoo.com",
      "first_name": "Rhett",
      "last_name": "Fay",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-04-30T10:06:55.3550733Z",
      "modified_date": "2021-03-18T22:06:41.2468352Z",
      "last_login_date": "2020-05-08T04:56:07.2276498Z",
      "last_login_attempt_date": "2021-01-10T05:15:47.6417397Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-09-15T10:30:43.2299128Z",
          "modified_date": "2020-11-21T09:28:46.4645682Z",
          "customer_id": 187,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Erwin",
          "last_name": "Brakus",
          "company": "Gutmann Group",
          "address": "03083 Kadin Hollow",
          "address2": "Ernestinaberg",
          "town": "Lake Hayden",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "CZ5 8AN",
          "telephone": "781-215-3541",
          "fax": "(289) 930-0130"
        }
      ]
    },
    {
      "id": 188,
      "email_address": "Connie83@yahoo.com",
      "first_name": "Carmella",
      "last_name": "Kuhn",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-09-22T14:48:57.034204Z",
      "modified_date": "2020-04-06T06:44:08.9042189Z",
      "last_login_date": "2020-06-18T12:18:24.3317175Z",
      "last_login_attempt_date": "2021-03-31T22:54:36.2292161Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-05-04T10:52:03.1345967Z",
          "modified_date": "2020-04-24T11:41:48.7377975Z",
          "customer_id": 188,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Kenna",
          "last_name": "Smith",
          "company": "Blick and Sons",
          "address": "1206 Macejkovic Cliff",
          "address2": "South Citlalli",
          "town": "Strosinfort",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "KN3 3OQ",
          "telephone": "932.398.3331 x492",
          "fax": "(608) 260-5944 x639"
        }
      ]
    },
    {
      "id": 189,
      "email_address": "Valerie_Dicki@gmail.com",
      "first_name": "Eula",
      "last_name": "Pacocha",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-08-10T23:51:05.6956961Z",
      "modified_date": "2020-04-29T03:50:01.438627Z",
      "last_login_date": "2020-06-13T08:01:57.7923702Z",
      "last_login_attempt_date": "2020-12-28T01:36:17.8723804Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-06-20T22:46:46.1871213Z",
          "modified_date": "2020-10-28T05:28:31.03576Z",
          "customer_id": 189,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Cleora",
          "last_name": "Feeney",
          "company": "Homenick - King",
          "address": "29589 Rolfson Forge",
          "address2": "West Zella",
          "town": "Hermanberg",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "HU6 1CK",
          "telephone": "688.954.4044",
          "fax": "412-411-0235 x58201"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/settings/domains": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get the current Primary Domain",
        "operationId": "Domains_GetPrimaryDomain",
        "responses": {
          "200": {
            "description": "The primary domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1DomainName"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "primary_domain_name": "norma.biz"
  }
}
              }
            }
          },
          "404": {
            "description": "No primary domain found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Domain not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v2/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get an order by ID",
        "operationId": "Orders_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The order ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV2Order"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 78,
    "order_number": "dmjg7b7slpjn96us",
    "order_date": "2014-11-24T08:56:02.3568523Z",
    "is_confirmed": false,
    "sub_total": 0.5880221163798227,
    "total_delivery": 0.010140049276007363,
    "total_tax": 0.0944654313355989,
    "total_cost": 0.5985891649492966,
    "status": "PENDING",
    "payment_status": "FAILED",
    "delivery_method": "",
    "transaction_id": "e4842d47-25a6-4dd3-98b4-51fffb2b1ffc",
    "transaction_status": "",
    "order_type": "",
    "use_shipping_address": true,
    "shipping_address": {
      "first_name": "Howard",
      "last_name": "Emmerich",
      "id": 887314833,
      "created_date": "2020-04-17T20:00:07.1606372Z",
      "modified_date": "2020-09-06T04:24:11.647098Z",
      "customer_id": -468646524,
      "is_preferred_billing_address": false,
      "is_preferred_shipping_address": false,
      "company": "Hodkiewicz Group",
      "address": "2108 Bayer Pine",
      "address2": "Ryderhaven",
      "town": "Leontown",
      "county": "Borders",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": "DQ6 0YH",
      "telephone": "(465) 446-6143",
      "fax": "1-615-334-6612 x207"
    },
    "internal_notes": "This is an internal order note.\n\nThis is another internal order note.",
    "customer_facing_notes": "This is an order note.\n\nThis is another order note.",
    "emailed": false,
    "discounts": "",
    "discounts_total": 0.0,
    "shipping_company": "UPS",
    "ip_address": "127.0.0.1",
    "guid": "5a10a042-790c-c604-97f0-cab4bddb09d9",
    "last_updated": null,
    "delivery_tax_rate": null,
    "delivery_includes_tax": null,
    "custom_fields_total": null,
    "custom_fields_tax_total": null,
    "customer_details": {
      "customer_id": -344364019,
      "email_address": "Alanis65@gmail.com",
      "first_name": "Howard",
      "last_name": "Emmerich",
      "company": "Waelchi - Hoppe",
      "address": "28593 Tracey Motorway",
      "address2": "Davidfort",
      "town": "Lake Allan",
      "county": "Buckinghamshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": "GZ2 2UU",
      "telephone": "768-890-5483 x5015",
      "fax": "(568) 978-8360",
      "billing_address_verified": true
    },
    "custom_fields": null,
    "delivery_tracking_number": null,
    "delivery_tracking_company": null,
    "delivery_tracking_url": null
  }
}
              }
            }
          },
          "404": {
            "description": "No Order was found for the requested ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Order \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
[...]
