{
  "openapi": "3.0.1",
  "info": {
    "title": "EKM Partner API",
    "description": "Our new API allows partners to build significantly better integrations with the EKM platform.\r\n\r\nTo try out the below endpoints, or for full up to date representations of the request / response models, please see the [swagger page](https://api.ekm.net/swagger/index.html). (We display examples here, but the swagger page is guaranteed to show the complete model.)\r\n\r\nTo keep up to date with the latest updates, please see our [RSS feed](https://partners.ekm.net/ChangeLog/Feed) or the [partner dashboard](https://partners.ekm.net/).",
    "contact": {
      "name": "EKM",
      "url": "https://ekm.com",
      "email": "api-support@ekm.com"
    },
    "version": "Latest",
    "x-logo": {
      "url": "/images/ekm-logo-vector-RGB-1920x1080.png",
      "backgroundColor": "#fafafa"
    }
  },
  "servers": [
    {
      "url": "https://api.ekm.net"
    }
  ],
  "paths": {
    "/api/v1/categories/{id}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a category",
        "operationId": "Categories_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The chosen category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 910,
    "name": "EKM - voluptatem",
    "description": "Assumenda praesentium voluptatem dolor id quasi repellat. Fuga magnam minima debitis quo sit suscipit deleniti. Et eaque accusamus. Sunt facere et quae neque sint non itaque veniam.",
    "in_category_description": "Culpa assumenda quaerat minus quae dignissimos eum facere. Magni consequatur amet dolor et consequuntur. Est repellendus doloribus non modi sed et cum. Reprehenderit id dignissimos voluptatem rem impedit laboriosam placeat. Exercitationem quasi possimus id et culpa ut.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Categories"
        ],
        "summary": "Update a category",
        "operationId": "Categories_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 911,
    "name": "EKM - quis",
    "description": "Vitae similique nulla perspiciatis aperiam aliquam sint voluptatem. Sunt dignissimos quae fugit culpa. Expedita impedit eum. Ut quam libero odio ipsum quia inventore.",
    "in_category_description": "Ex velit sapiente. Odit voluptates mollitia eos perspiciatis consectetur voluptate eveniet omnis natus. Dolor ipsum magnam. Dolor in omnis officiis qui nobis blanditiis quia velit consequuntur. Laboriosam reiciendis ut repudiandae autem aut est molestias. Quia maiores necessitatibus aut sint reiciendis nihil quam eos fuga.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Delete a category",
        "operationId": "Categories_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of categories",
        "operationId": "Categories_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - voluptatem",
      "description": "Aut qui et culpa ut autem magnam et officia sit. Accusamus at et. Rerum voluptas neque similique nam ipsam maxime.",
      "in_category_description": "Nam ea est voluptatibus eaque praesentium temporibus et. Eum officiis dolorum atque numquam nisi ut aliquam. Dolorum aut aut et distinctio.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - unde",
      "description": "Explicabo praesentium eligendi laboriosam rerum ea sed maxime repudiandae. Voluptas enim laborum consequuntur. Qui adipisci totam iste non nesciunt.",
      "in_category_description": "Suscipit voluptate doloremque consequuntur iure et nihil optio veritatis. Quaerat consequatur sit ipsum suscipit maxime sint vitae id. Nesciunt totam maiores tempore quos. Id quae adipisci doloribus modi dolorum. Quidem ea recusandae est incidunt voluptatem rerum.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - quos",
      "description": "Dignissimos ex omnis inventore aut eos quisquam eaque. Nihil magnam distinctio accusamus quam ea harum aut veritatis. Et quasi id quidem dolorem optio. Ea dolores veniam recusandae temporibus aut tempore omnis perspiciatis.",
      "in_category_description": "Aliquid voluptas amet rem tenetur autem velit nostrum. Quos excepturi magnam animi quia aut fugit maiores quidem quo. Recusandae commodi nesciunt blanditiis officia facere repudiandae harum. Maiores odit debitis ipsa eveniet fuga.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - exercitationem",
      "description": "Fugit tempora iusto. Quisquam voluptatem saepe aut nobis possimus voluptates. Est consequuntur nihil deserunt et maiores id qui.",
      "in_category_description": "Praesentium similique nulla maiores. Harum quia cumque omnis qui molestiae. Occaecati laborum veniam ea facilis voluptas error nihil et nesciunt. Possimus ullam voluptatibus ipsum qui aspernatur quidem est. Qui repudiandae voluptas et est minus. Quaerat tempore voluptatibus quia quia voluptas minus est explicabo nemo.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - qui",
      "description": "Neque sit dolores corporis pariatur sunt est ea laudantium. Id sint saepe praesentium vel id nulla quam quo. Et nemo doloremque dicta hic qui doloribus error quis beatae. Cumque nostrum molestiae ullam.",
      "in_category_description": "Laudantium sit animi quae provident quibusdam sint vel nostrum. Nemo et consequatur dolore necessitatibus nobis. Eos vero sequi quae aliquid qui. Consequuntur aperiam eum. Ut fuga ut nesciunt at qui eum. Aut eos autem excepturi fugit nihil.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Add a category",
        "operationId": "Categories_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 917,
    "name": "EKM - distinctio",
    "description": "Rerum consequatur fugiat magnam sit vero veritatis dignissimos. Id aut similique et et dolores velit ullam voluptatum. Praesentium ratione quasi sit eos quos sunt sunt. Nisi ipsa nisi eligendi atque esse. Nam unde consequatur rerum assumenda et. Quae dicta ad eum laborum earum debitis aspernatur.",
    "in_category_description": "Repellat quas ut sunt. Aut possimus dignissimos veniam. Aspernatur voluptas reprehenderit quam vitae dicta odio. Et non officia saepe omnis et voluptatem aspernatur qui. Sapiente harum est dolore tempora fugit eligendi reiciendis. Voluptates deleniti in est dignissimos atque sit et minima eligendi.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/search": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Searches categories based on search criteria",
        "operationId": "Categories_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. live eq true",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - vero",
      "description": "Et quae ut rerum rerum aut tenetur. Unde vitae iure. Atque et delectus. Ut minima est odit non non aliquid quis voluptatem. Voluptate modi vel maxime.",
      "in_category_description": "Sint iusto magni error perferendis laboriosam rem deserunt. Assumenda ea in. Sint sapiente fugiat commodi. Id velit dolores rerum ipsam aut eligendi hic error.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - quos",
      "description": "Exercitationem aut cum expedita dolor quae occaecati in. Velit aut dolores beatae odio dolorem tenetur explicabo aut. In vero ab aut. Mollitia ad sed nesciunt officiis veritatis omnis reiciendis eveniet exercitationem. Iste quisquam sed suscipit repudiandae ipsam.",
      "in_category_description": "Sed est repellat natus debitis aut quod at possimus nemo. Officiis et quibusdam. Veritatis et molestiae commodi non omnis nihil dolorem. Dolor delectus laborum incidunt. Rem enim voluptatem saepe magni rem iure. Quo et ex dolores non voluptatem tempore.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - dolor",
      "description": "Omnis eaque rem molestiae. Tenetur odio ratione fugit dolor voluptas omnis voluptates adipisci molestias. Veniam aperiam vero reiciendis fugit. Exercitationem laudantium consectetur soluta consequatur.",
      "in_category_description": "In sequi blanditiis ex id pariatur adipisci. Ipsa veniam enim. Voluptatibus ex est fugiat recusandae suscipit. Fuga sint id quidem.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - et",
      "description": "Iusto maxime consequatur. Nemo rerum quae in. Fuga nemo nihil ipsum nisi ipsam quia labore. Unde non magni ut est harum aliquam ut nulla.",
      "in_category_description": "Nam occaecati provident voluptates dolorum velit qui beatae. Reiciendis commodi voluptate voluptate rerum voluptatibus cupiditate excepturi neque. Enim impedit dolores aut autem et maiores totam illo. Voluptatibus sapiente aspernatur ad molestiae. Odit omnis excepturi. Recusandae eos consequuntur iusto omnis sit sed.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - est",
      "description": "Aut maxime sit doloremque praesentium earum dolorem quidem. Doloribus quidem earum qui. Dolorem perferendis voluptatem dolores deleniti officia officiis placeat. Laborum rerum ducimus.",
      "in_category_description": "Odit adipisci et. Qui aliquid voluptatem labore dolor. Illum maiores rerum. Dolorum occaecati repudiandae doloribus totam nihil. Omnis sint maiores dolore id eum commodi.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/subcategories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of subcategories",
        "operationId": "Categories_Subcategories",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of subcategories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1SubCategory"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "parent_category_id": 2,
      "category_id": 1,
      "name": "EKM - maxime",
      "description": "Aut ea aut non. Consectetur vel et quae odio officia ut consectetur ipsam quos. Ea consequuntur deleniti cumque saepe voluptatibus neque blanditiis. Minima illum perferendis ea occaecati. Quos non molestiae aut et repellendus rerum distinctio sit sed.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 4,
      "category_id": 2,
      "name": "EKM - amet",
      "description": "Voluptatem cupiditate est libero facere aperiam molestiae ut ut accusamus. Accusantium velit est dolor soluta. Commodi in cupiditate ut explicabo. Ut excepturi et.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 6,
      "category_id": 3,
      "name": "EKM - sint",
      "description": "Ratione neque nihil natus dolor et. Omnis voluptatem quaerat quis explicabo nam tempora nisi cum. Et dolores voluptas reiciendis sapiente ipsum temporibus eveniet odio. Et praesentium nesciunt necessitatibus fugit delectus assumenda sed nihil perspiciatis.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 8,
      "category_id": 4,
      "name": "EKM - totam",
      "description": "Ea consequuntur eius odit. Et officiis et. Officia minus iusto repellendus optio corrupti amet doloribus.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 10,
      "category_id": 5,
      "name": "EKM - sint",
      "description": "Quas quia explicabo asperiores quis aliquam consequuntur eveniet. Quidem magni enim. Et voluptate pariatur quod et omnis. Similique veritatis illum accusamus molestiae qui. Enim minima recusandae porro et.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/categorymanaged/{childCategoryId}": {
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Set a category to be managed by another category",
        "operationId": "Categories_SetCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The added managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "parent_category_id": 1,
    "category_id": 10,
    "name": "Subcategory",
    "description": null,
    "order_location": 99999,
    "live": true,
    "is_category_managed": true
  }
}
              }
            }
          },
          "400": {
            "description": "A subcategory or managed category already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category or child category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Stops a category from being managed by another category",
        "operationId": "Categories_DeleteCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The removed managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No managed category found for that child category ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/filters": {
      "put": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_UpdateCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CategoryFilters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "get": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_GetCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CategoryFilters"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/{addressId}": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a single Customer Address by Id",
        "operationId": "CustomerAddresses_GetById",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2021-01-18T06:24:44.6121124Z",
    "modified_date": "2020-11-19T11:31:47.8040948Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Carmella",
    "last_name": "McLaughlin",
    "company": "Larkin, Hartmann and Yundt",
    "address": "27739 Barton Burgs",
    "address2": null,
    "town": "Beahanview",
    "county": "Berkshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "864-491-2145",
    "fax": "698-961-9551"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Update a Customer Address",
        "operationId": "CustomerAddresses_Update",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-10-18T13:02:31.3440417Z",
    "modified_date": "2020-05-19T03:33:15.6332576Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Sydni",
    "last_name": "Barrows",
    "company": "Paucek, Champlin and Bartell",
    "address": "496 Adah Light",
    "address2": null,
    "town": "Lake Jaquan",
    "county": "Borders",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "1-486-688-4351",
    "fax": "969.989.5105 x17854"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Delete a Customer Address",
        "operationId": "CustomerAddresses_Delete",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer Address deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2021-03-09T03:40:40.7584249Z",
    "modified_date": "2021-03-08T20:15:33.902472Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Hattie",
    "last_name": "Boyer",
    "company": "Harris and Sons",
    "address": "172 Ruthe Motorway",
    "address2": null,
    "town": "Lucileview",
    "county": "Avon",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "1-885-223-5517 x903",
    "fax": "680.590.8708"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a paginated set of Customer Addresses",
        "operationId": "CustomerAddresses_GetAll",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customer Addresses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 0,
      "created_date": "2020-08-16T11:51:45.9169741Z",
      "modified_date": "2020-11-11T19:39:26.553016Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Antonina",
      "last_name": "Douglas",
      "company": "Rosenbaum, Eichmann and Rutherford",
      "address": "1197 O\u0027Connell Stravenue",
      "address2": null,
      "town": "South Quincy",
      "county": "Avon",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "871-388-6506",
      "fax": "(941) 222-1766"
    },
    {
      "id": 0,
      "created_date": "2020-12-03T03:32:08.247978Z",
      "modified_date": "2021-01-29T11:41:30.3754372Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Abdullah",
      "last_name": "Barrows",
      "company": "Emard, Deckow and Franecki",
      "address": "3821 Bartell Square",
      "address2": null,
      "town": "New Jacinto",
      "county": "Cambridgeshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "381.667.4130",
      "fax": "1-570-336-0534"
    },
    {
      "id": 0,
      "created_date": "2020-12-17T08:31:31.1175768Z",
      "modified_date": "2020-09-07T19:22:18.1140828Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Rebeka",
      "last_name": "Abernathy",
      "company": "Graham, Heller and Goldner",
      "address": "11901 Pearl Forks",
      "address2": null,
      "town": "Lake Julie",
      "county": "Avon",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "710-528-8585 x99389",
      "fax": "606-591-6868 x459"
    },
    {
      "id": 0,
      "created_date": "2020-07-04T22:05:29.542912Z",
      "modified_date": "2020-12-08T23:35:37.2185273Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Grayce",
      "last_name": "Kohler",
      "company": "Johns - Bahringer",
      "address": "323 Santino Passage",
      "address2": null,
      "town": "Lake Amelieland",
      "county": "Buckinghamshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "1-448-557-3443 x2659",
      "fax": "761-243-7873"
    },
    {
      "id": 0,
      "created_date": "2020-11-08T02:47:35.6937787Z",
      "modified_date": "2021-03-19T05:23:02.2679431Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Wendell",
      "last_name": "Ebert",
      "company": "Kautzer Group",
      "address": "4606 Jazlyn Summit",
      "address2": null,
      "town": "Elizahaven",
      "county": "Borders",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "836.474.0236 x57484",
      "fax": "297.540.6575 x9076"
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Add a Customer Address",
        "operationId": "CustomerAddresses_Create",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-09-01T11:49:05.9197722Z",
    "modified_date": "2020-08-12T11:11:12.7967228Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Rickie",
    "last_name": "Wehner",
    "company": "Barton - Lynch",
    "address": "26910 Koepp Vista",
    "address2": null,
    "town": "Lindgrenside",
    "county": "Buckinghamshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "(857) 867-8259 x46255",
    "fax": "(852) 610-3470"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/search": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Searches customer addresses based on search criteria",
        "operationId": "CustomerAddresses_Search",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customer adresses based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1330,
      "email_address": "Nathaniel_Wuckert@yahoo.com",
      "first_name": "Skylar",
      "last_name": "Grady",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-01-15T18:23:28.1335811Z",
      "modified_date": "2020-06-15T18:00:11.8521911Z",
      "last_login_date": "2020-06-11T09:49:45.5570718Z",
      "last_login_attempt_date": "2020-07-02T03:26:57.1492776Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-05-25T07:49:57.560387Z",
          "modified_date": "2021-03-05T00:23:13.4548Z",
          "customer_id": 1330,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Leonor",
          "last_name": "Kunze",
          "company": "Jacobi and Sons",
          "address": "252 Rosanna Fall",
          "address2": "Austynchester",
          "town": "North Beulahport",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "TO7 6SQ",
          "telephone": "380-453-3594 x87514",
          "fax": "275-862-1200 x75617"
        }
      ]
    },
    {
      "id": 1331,
      "email_address": "Kelli1@gmail.com",
      "first_name": "Eunice",
      "last_name": "Blanda",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-03-18T22:36:40.9632757Z",
      "modified_date": "2021-02-23T05:31:06.1789722Z",
      "last_login_date": "2020-04-11T23:46:19.801878Z",
      "last_login_attempt_date": "2020-11-14T15:01:24.6802509Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-02-20T11:07:55.1675262Z",
          "modified_date": "2020-10-16T23:19:20.5776201Z",
          "customer_id": 1331,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Erika",
          "last_name": "Jast",
          "company": "Roob Group",
          "address": "854 Helga Ports",
          "address2": "Dorianmouth",
          "town": "Swiftstad",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "QZ1 3WB",
          "telephone": "852.985.1438 x4810",
          "fax": "1-948-240-7596"
        }
      ]
    },
    {
      "id": 1332,
      "email_address": "Saul_Grant@hotmail.com",
      "first_name": "Cleve",
      "last_name": "DuBuque",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-06-26T17:41:25.7814968Z",
      "modified_date": "2020-11-02T20:25:17.9225936Z",
      "last_login_date": "2020-07-11T04:30:36.8227911Z",
      "last_login_attempt_date": "2020-04-06T14:22:17.432585Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-03-25T16:41:11.7616292Z",
          "modified_date": "2021-03-02T21:49:47.0861166Z",
          "customer_id": 1332,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Vivian",
          "last_name": "Bode",
          "company": "Windler, Beahan and Sauer",
          "address": "6064 Morar Valley",
          "address2": "Claudiaton",
          "town": "North Rahsaan",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "WJ8 1HY",
          "telephone": "1-630-535-3521",
          "fax": "509-368-2152"
        }
      ]
    },
    {
      "id": 1333,
      "email_address": "Bernice3@hotmail.com",
      "first_name": "Stephon",
      "last_name": "Lehner",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-02-05T21:14:12.006171Z",
      "modified_date": "2020-08-18T23:14:05.1808685Z",
      "last_login_date": "2020-09-22T03:26:47.7082509Z",
      "last_login_attempt_date": "2020-06-10T15:41:20.8994329Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-04-28T03:41:54.0524647Z",
          "modified_date": "2020-09-05T02:16:48.9506028Z",
          "customer_id": 1333,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Carlos",
          "last_name": "Jones",
          "company": "Bartoletti - Ankunding",
          "address": "3532 Malvina Parkway",
          "address2": "Parkerside",
          "town": "Port Brennonchester",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "IA1 5CM",
          "telephone": "(984) 640-9297 x7266",
          "fax": "780.381.1227 x497"
        }
      ]
    },
    {
      "id": 1334,
      "email_address": "Danielle35@gmail.com",
      "first_name": "Carter",
      "last_name": "Mraz",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-04-13T10:09:00.5943739Z",
      "modified_date": "2021-03-09T22:43:15.4290093Z",
      "last_login_date": "2021-01-10T03:18:58.138244Z",
      "last_login_attempt_date": "2020-10-30T08:14:37.06493Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-10-21T00:50:44.1490888Z",
          "modified_date": "2020-09-13T15:42:05.4118775Z",
          "customer_id": 1334,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Damien",
          "last_name": "Roob",
          "company": "Berge LLC",
          "address": "908 Emmerich Ville",
          "address2": "Lake Fidelhaven",
          "town": "Desmondburgh",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "WF7 0XU",
          "telephone": "1-475-876-2015",
          "fax": "1-731-956-8965 x928"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a single Customer by Id",
        "operationId": "Customers_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Customers Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customers Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1335,
    "email_address": "Hannah.Kuhic53@gmail.com",
    "first_name": "Natasha",
    "last_name": "Nolan",
    "order_count": 1,
    "loyalty_points": 0.0,
    "created_date": "2020-11-06T15:25:22.0278623Z",
    "modified_date": "2020-04-16T13:54:06.4855534Z",
    "last_login_date": "2021-03-24T05:46:10.0887677Z",
    "last_login_attempt_date": "2020-11-17T02:28:48.0553904Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": true,
    "addresses": [
      {
        "id": 0,
        "created_date": "2021-03-06T02:33:00.4236145Z",
        "modified_date": "2021-01-08T00:54:57.3683792Z",
        "customer_id": 1335,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Erling",
        "last_name": "Gorczany",
        "company": "Franecki and Sons",
        "address": "134 Ledner Junction",
        "address2": "South Audrey",
        "town": "Columbuschester",
        "county": "Borders",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "IE2 8ZC",
        "telephone": "1-231-807-4171 x4578",
        "fax": "1-332-622-4024"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update a Customer",
        "operationId": "Customers_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1336,
    "email_address": "Grady62@hotmail.com",
    "first_name": "Clemmie",
    "last_name": "Hilpert",
    "order_count": 0,
    "loyalty_points": 0.0,
    "created_date": "2021-03-28T14:33:52.74666Z",
    "modified_date": "2020-11-16T04:34:29.2965459Z",
    "last_login_date": "2020-05-23T22:00:54.0861321Z",
    "last_login_attempt_date": "2020-04-30T14:26:50.4069366Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2021-01-28T05:37:10.6281122Z",
        "modified_date": "2020-10-07T04:32:40.4377072Z",
        "customer_id": 1336,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Gia",
        "last_name": "Larkin",
        "company": "Carter - Langworth",
        "address": "96803 Schuster Isle",
        "address2": "West Wanda",
        "town": "New Lola",
        "county": "Cambridgeshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "YY1 4XW",
        "telephone": "(748) 534-6327 x51028",
        "fax": "(206) 725-3806 x983"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete a Customer",
        "operationId": "Customers_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1337,
    "email_address": "Felipe51@gmail.com",
    "first_name": "Faustino",
    "last_name": "Schaefer",
    "order_count": 0,
    "loyalty_points": 1.0,
    "created_date": "2020-04-14T11:06:14.8654842Z",
    "modified_date": "2020-11-17T22:49:11.0001013Z",
    "last_login_date": "2020-11-04T05:02:40.4361176Z",
    "last_login_attempt_date": "2021-01-05T20:19:18.2416765Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": true,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-11-01T14:08:31.1120631Z",
        "modified_date": "2020-09-22T05:33:06.8454551Z",
        "customer_id": 1337,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Bella",
        "last_name": "Homenick",
        "company": "Schuppe Inc",
        "address": "0911 Milan Mount",
        "address2": "New Adriel",
        "town": "West Sebastian",
        "county": "Cambridgeshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "QE0 1LX",
        "telephone": "(481) 231-5815 x27905",
        "fax": "747-707-1001 x71929"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a paginated set of Customers",
        "operationId": "Customers_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1338,
      "email_address": "Sherman29@gmail.com",
      "first_name": "Rodrigo",
      "last_name": "Schoen",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-07-06T23:07:24.8979844Z",
      "modified_date": "2021-02-04T23:23:13.5606868Z",
      "last_login_date": "2020-06-02T21:53:47.3807275Z",
      "last_login_attempt_date": "2020-06-19T07:45:56.7996992Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-10-20T14:19:00.9812372Z",
          "modified_date": "2020-11-01T15:57:49.7274494Z",
          "customer_id": 1338,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Gardner",
          "last_name": "Will",
          "company": "Torphy Group",
          "address": "28419 Joyce Lights",
          "address2": "Lake Elmira",
          "town": "New Paige",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "BG0 7UV",
          "telephone": "1-553-287-5252 x0073",
          "fax": "(542) 719-2197 x539"
        }
      ]
    },
    {
      "id": 1339,
      "email_address": "Nathan17@gmail.com",
      "first_name": "Delphia",
      "last_name": "Frami",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-10-25T03:38:16.3783865Z",
      "modified_date": "2020-12-23T16:55:21.0663823Z",
      "last_login_date": "2020-12-24T12:05:04.2090447Z",
      "last_login_attempt_date": "2020-08-01T04:52:00.6883203Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-06-05T16:53:37.1477722Z",
          "modified_date": "2020-10-17T22:53:23.9764611Z",
          "customer_id": 1339,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Marcia",
          "last_name": "Hackett",
          "company": "Feil Inc",
          "address": "992 Hintz Way",
          "address2": "Stokesport",
          "town": "Penelopestad",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "ZE4 3XN",
          "telephone": "383-575-6447 x6592",
          "fax": "1-837-476-3279 x87257"
        }
      ]
    },
    {
      "id": 1340,
      "email_address": "Diana_Hagenes8@yahoo.com",
      "first_name": "Eliane",
      "last_name": "Wuckert",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2021-02-12T00:02:50.3012597Z",
      "modified_date": "2020-05-02T15:26:46.6061788Z",
      "last_login_date": "2020-12-02T09:37:58.6805488Z",
      "last_login_attempt_date": "2020-12-16T16:53:32.7623861Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-01-05T06:50:53.7159809Z",
          "modified_date": "2020-08-27T00:24:06.4597003Z",
          "customer_id": 1340,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Dominic",
          "last_name": "Haley",
          "company": "Conroy, Kuhn and Zemlak",
          "address": "50909 Quitzon Glens",
          "address2": "Port Kobeport",
          "town": "Treutelborough",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "UP0 2CS",
          "telephone": "615-955-4755 x5881",
          "fax": "273-475-9416"
        }
      ]
    },
    {
      "id": 1341,
      "email_address": "Fred38@yahoo.com",
      "first_name": "Danial",
      "last_name": "Nikolaus",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-06-22T20:55:46.1502518Z",
      "modified_date": "2020-12-18T10:37:40.5594893Z",
      "last_login_date": "2020-11-25T22:13:45.8393497Z",
      "last_login_attempt_date": "2021-01-29T10:54:31.1975827Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-04-17T04:19:28.9833833Z",
          "modified_date": "2020-04-26T07:37:01.3734173Z",
          "customer_id": 1341,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Nakia",
          "last_name": "Schiller",
          "company": "Terry - Osinski",
          "address": "1543 Justus Glens",
          "address2": "North Aniya",
          "town": "East Krystelville",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "UW3 8GJ",
          "telephone": "468-434-1739 x370",
          "fax": "855-235-3957"
        }
      ]
    },
    {
      "id": 1342,
      "email_address": "Opal.Dicki@hotmail.com",
      "first_name": "Alexandrine",
      "last_name": "Swift",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-07-12T19:49:31.3239109Z",
      "modified_date": "2021-03-15T18:58:47.9207165Z",
      "last_login_date": "2020-05-11T02:13:13.6014244Z",
      "last_login_attempt_date": "2020-09-03T11:09:04.1524613Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-07-18T20:29:36.0809393Z",
          "modified_date": "2020-06-05T19:06:24.3554887Z",
          "customer_id": 1342,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Estefania",
          "last_name": "Keeling",
          "company": "Lemke - O\u0027Keefe",
          "address": "4171 Dawson Brook",
          "address2": "Keelingville",
          "town": "Doraport",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "UU1 2ZX",
          "telephone": "330.262.2337 x15643",
          "fax": "(615) 626-0451"
        }
      ]
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Add a customer",
        "description": "Note: setting send_email to true will send an email to the customer prompting them to create a password",
        "operationId": "Customers_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1343,
    "email_address": "Sylvia52@hotmail.com",
    "first_name": "Connor",
    "last_name": "Tillman",
    "order_count": 1,
    "loyalty_points": 1.0,
    "created_date": "2020-08-13T17:09:05.7190856Z",
    "modified_date": "2020-11-24T04:59:59.0124491Z",
    "last_login_date": "2020-09-06T13:05:27.8797219Z",
    "last_login_attempt_date": "2020-10-26T21:21:32.5024522Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": true,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-06-17T21:35:19.9290227Z",
        "modified_date": "2020-09-16T05:29:54.2873647Z",
        "customer_id": 1343,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Desiree",
        "last_name": "Gottlieb",
        "company": "Effertz - Gulgowski",
        "address": "164 Lehner Mountain",
        "address2": "Margaretebury",
        "town": "Gibsonburgh",
        "county": "Cambridgeshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "KT6 8AR",
        "telephone": "1-578-291-5713 x28039",
        "fax": "1-946-281-7525 x82805"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/search": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Searches customers based on search criteria",
        "operationId": "Customers_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customers based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1344,
      "email_address": "Ellis.Schaden@hotmail.com",
      "first_name": "Berta",
      "last_name": "Cruickshank",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2021-02-04T05:23:16.8503545Z",
      "modified_date": "2021-04-03T19:37:41.5996254Z",
      "last_login_date": "2020-11-19T23:11:24.0231621Z",
      "last_login_attempt_date": "2020-09-08T01:16:09.3809043Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-01-16T22:32:34.8970484Z",
          "modified_date": "2020-06-25T04:00:44.3592308Z",
          "customer_id": 1344,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Aliyah",
          "last_name": "Blick",
          "company": "Rolfson - Conn",
          "address": "52378 Keira Turnpike",
          "address2": "North Amely",
          "town": "South Artmouth",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "TL3 3AV",
          "telephone": "647.453.0625 x450",
          "fax": "(558) 640-9685 x072"
        }
      ]
    },
    {
      "id": 1345,
      "email_address": "Wilfred_Walsh@gmail.com",
      "first_name": "Esteban",
      "last_name": "Marks",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2021-03-28T07:39:48.8530701Z",
      "modified_date": "2021-01-28T12:30:42.060698Z",
      "last_login_date": "2021-02-09T02:53:53.2568921Z",
      "last_login_attempt_date": "2020-11-19T20:28:10.137471Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-02-07T16:51:07.9790548Z",
          "modified_date": "2021-02-07T22:57:10.6243731Z",
          "customer_id": 1345,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Grace",
          "last_name": "Cruickshank",
          "company": "Little, Harvey and D\u0027Amore",
          "address": "2380 Lucienne Prairie",
          "address2": "South Summer",
          "town": "North Sydnie",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "QP0 5TI",
          "telephone": "(363) 569-2808 x70615",
          "fax": "570.674.7286"
        }
      ]
    },
    {
      "id": 1346,
      "email_address": "Anne.Roberts19@yahoo.com",
      "first_name": "Dillon",
      "last_name": "Rath",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2021-01-27T13:27:28.0459441Z",
      "modified_date": "2020-06-04T18:43:29.6425111Z",
      "last_login_date": "2020-04-07T05:31:49.5855482Z",
      "last_login_attempt_date": "2021-03-24T16:26:34.8167909Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-09-13T01:49:15.3465394Z",
          "modified_date": "2021-01-25T13:24:18.1924717Z",
          "customer_id": 1346,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Harmon",
          "last_name": "Schuster",
          "company": "Konopelski, Fisher and Bayer",
          "address": "73009 Suzanne Ferry",
          "address2": "Lake Joanny",
          "town": "Blanchemouth",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "UH0 3IP",
          "telephone": "964-886-3455",
          "fax": "836.924.5385"
        }
      ]
    },
    {
      "id": 1347,
      "email_address": "Leonard_Daniel@yahoo.com",
      "first_name": "Hailee",
      "last_name": "Hickle",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-08-09T09:10:08.9205516Z",
      "modified_date": "2020-07-21T06:36:53.1582369Z",
      "last_login_date": "2020-06-18T20:48:50.0443881Z",
      "last_login_attempt_date": "2020-07-20T16:16:13.2735566Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-10-25T10:39:17.4489341Z",
          "modified_date": "2021-03-15T01:29:19.2108052Z",
          "customer_id": 1347,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Stuart",
          "last_name": "Schuster",
          "company": "Weimann and Sons",
          "address": "6568 Bartoletti Path",
          "address2": "Tyreseside",
          "town": "New Aisha",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "MD8 6CA",
          "telephone": "925-830-4944 x279",
          "fax": "767.398.5964"
        }
      ]
    },
    {
      "id": 1348,
      "email_address": "Curtis20@gmail.com",
      "first_name": "Noelia",
      "last_name": "Fahey",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-04-23T19:51:13.9091495Z",
      "modified_date": "2020-09-22T00:02:32.5492782Z",
      "last_login_date": "2020-05-27T10:02:45.6762683Z",
      "last_login_attempt_date": "2020-04-14T09:24:22.7622254Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-09-12T22:45:50.5575499Z",
          "modified_date": "2021-03-21T22:43:14.5390968Z",
          "customer_id": 1348,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Viola",
          "last_name": "Witting",
          "company": "Kertzmann, Metz and Auer",
          "address": "950 Brown Estates",
          "address2": "Lake Aniyah",
          "town": "East Merle",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "SR1 5YD",
          "telephone": "(938) 413-9493 x6914",
          "fax": "1-767-564-2820"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/settings/domains": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get the current Primary Domain",
        "operationId": "Domains_GetPrimaryDomain",
        "responses": {
          "200": {
            "description": "The primary domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1DomainName"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "primary_domain_name": "sonya.com"
  }
}
              }
            }
          },
          "404": {
            "description": "No primary domain found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Domain not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v2/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get an order by ID",
        "operationId": "Orders_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The order ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV2Order"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 832,
    "order_number": "7i3rpw85t8kwsicf",
    "order_date": "2001-02-01T13:53:48.3781707Z",
    "is_confirmed": true,
    "sub_total": 0.2485640399384145,
    "total_delivery": 0.6261246323707162,
    "total_tax": 0.44577581921861315,
    "total_cost": 0.0911153583280348,
    "status": "PENDING",
    "payment_status": "UNKNOWN",
    "delivery_method": "",
    "transaction_id": "5756cae5-ddac-4328-a231-8a4bd054d3ad",
    "transaction_status": "",
    "order_type": "",
    "use_shipping_address": true,
    "shipping_address": {
      "first_name": "Saul",
      "last_name": "Hagenes",
      "id": 1033676587,
      "created_date": "2020-04-04T14:21:53.7323879Z",
      "modified_date": "2021-03-01T15:04:23.6247474Z",
      "customer_id": 62942617,
      "is_preferred_billing_address": false,
      "is_preferred_shipping_address": true,
      "company": "Champlin Inc",
      "address": "03192 Hermann Locks",
      "address2": "North Curt",
      "town": "Boganchester",
      "county": "Bedfordshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": "SW5 3OQ",
      "telephone": "485-771-4166 x341",
      "fax": "(765) 211-9647"
    },
    "internal_notes": "This is an internal order note.\n\nThis is another internal order note.",
    "customer_facing_notes": "This is an order note.\n\nThis is another order note.",
    "emailed": false,
    "discounts": "",
    "discounts_total": 0.0,
    "shipping_company": "UPS",
    "ip_address": "127.0.0.1",
    "guid": "20b44708-5d16-b6b4-29fb-550c2e774543",
    "last_updated": null,
    "delivery_tax_rate": null,
    "delivery_includes_tax": null,
    "custom_fields_total": null,
    "custom_fields_tax_total": null,
    "customer_details": {
      "customer_id": -498398216,
      "email_address": "Carter.Swaniawski31@gmail.com",
      "first_name": "Saul",
      "last_name": "Hagenes",
      "company": "Maggio, Hamill and Bartell",
      "address": "484 Ernser Green",
      "address2": "Johnstonmouth",
      "town": "North Katrine",
      "county": "Bedfordshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": "IK7 5HQ",
      "telephone": "(406) 932-6412 x570",
      "fax": "443-321-0007",
      "billing_address_verified": false
    },
    "custom_fields": null,
    "delivery_tracking_number": null,
    "delivery_tracking_company": null,
    "delivery_tracking_url": null
  }
}
[...]
