{
  "openapi": "3.0.1",
  "info": {
    "title": "EKM Partner API",
    "description": "Our new API allows partners to build significantly better integrations with the EKM platform.\r\n\r\nTo try out the below endpoints, or for full up to date representations of the request / response models, please see the [swagger page](https://api.ekm.net/swagger/index.html). (We display examples here, but the swagger page is guaranteed to show the complete model.)\r\n\r\nTo keep up to date with the latest updates, please see our [RSS feed](https://partners.ekm.net/ChangeLog/Feed) or the [partner dashboard](https://partners.ekm.net/).",
    "contact": {
      "name": "EKM",
      "url": "https://ekm.com",
      "email": "api-support@ekm.com"
    },
    "version": "Latest",
    "x-logo": {
      "url": "/images/ekm-logo-vector-RGB-1920x1080.png",
      "backgroundColor": "#fafafa"
    }
  },
  "servers": [
    {
      "url": "https://api.ekm.net"
    }
  ],
  "paths": {
    "/api/v1/categories/{id}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a category",
        "operationId": "Categories_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The chosen category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 936,
    "name": "EKM - est",
    "description": "Nihil sed modi dicta sunt dolores cupiditate. Incidunt et ut et qui ipsam ut dolorem. Enim eos quia blanditiis qui. Impedit non esse. Nemo eum blanditiis ratione pariatur nisi ducimus qui recusandae.",
    "in_category_description": "Eum asperiores ipsa consequatur veniam. Velit laboriosam qui voluptas perspiciatis eos laboriosam rerum. Quia dolorem aut fugit sint sequi cum enim. Accusamus est explicabo sed. Rerum minus sit dolor alias deleniti ratione minima facilis ut. Molestias deserunt eum voluptatibus omnis.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Categories"
        ],
        "summary": "Update a category",
        "operationId": "Categories_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 937,
    "name": "EKM - ut",
    "description": "Numquam eos minima cumque illum. Velit sequi nobis dolorem earum molestias. Beatae odio quidem odit non nobis suscipit ea.",
    "in_category_description": "Occaecati nisi pariatur consequatur natus nulla sit blanditiis ut et. Ut omnis nam aperiam sint nihil et voluptas praesentium. Nihil doloremque et et sequi consectetur. Unde veniam repellendus eos qui non omnis ex ut.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Delete a category",
        "operationId": "Categories_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of categories",
        "operationId": "Categories_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - totam",
      "description": "Aliquid quis eaque vero aut. Soluta ut architecto optio. Provident beatae accusantium rem illum ipsam eius in voluptate expedita. Et et accusamus aut quia omnis. Cum perspiciatis labore dolorem sit odit vitae nam quia qui.",
      "in_category_description": "Eius quibusdam at corporis magnam dolor. Id earum ipsa facere necessitatibus tempora et eveniet. Nihil maiores fugiat consequatur magni et. Sequi maxime consequatur veritatis sint iure.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - sequi",
      "description": "Quia recusandae iusto expedita illo ipsam. Consectetur voluptatum vel delectus quidem temporibus ut. Commodi non dolorum labore amet maiores dolore nisi sequi in.",
      "in_category_description": "Aut quisquam dolor ut repellendus eveniet ex. Nostrum eius labore velit odit consequatur facilis. Ipsam aspernatur omnis commodi qui molestiae optio. Assumenda repudiandae a velit beatae deserunt veniam aliquam. Possimus id totam eligendi totam.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - dolor",
      "description": "Repellendus facilis ratione ut non magni. Nisi porro doloremque illo rerum sit neque blanditiis accusantium. In officiis earum. Corrupti cumque itaque maiores illo aliquid et quia quo pariatur. Voluptatem non laborum dolor unde id natus dolor eos et.",
      "in_category_description": "Tempora et accusantium deserunt veniam dignissimos dolorum. Nemo quibusdam quos exercitationem rerum non maiores sequi dolor amet. Aut dolor magni et. Omnis tempore voluptatum suscipit sit sunt.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - aut",
      "description": "Eos impedit consequatur doloremque. Ut qui numquam sapiente et tempora odio ipsam quo. Facere voluptate alias hic ut. Eum explicabo repellat dolorum eaque laborum. Quis officiis numquam asperiores et ipsum aut et et quia. Voluptas iusto nam.",
      "in_category_description": "Iure delectus ut fugiat dolores culpa laborum. At reiciendis facilis. Et consequatur voluptate quisquam id omnis non sunt in.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - ut",
      "description": "Aperiam quo eos veniam. Aut laudantium illum dolorem in laborum expedita aut omnis fugiat. Voluptatem magni eos quidem cupiditate quae rerum dolore. Exercitationem odit cum id magni sed voluptatem qui. Quibusdam exercitationem dignissimos. Aut maxime excepturi eum deserunt.",
      "in_category_description": "Facere sint a non eius eum enim aspernatur amet. Maiores tenetur necessitatibus error est consequatur temporibus. Aperiam praesentium praesentium.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Add a category",
        "operationId": "Categories_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 943,
    "name": "EKM - sint",
    "description": "Sed ut recusandae accusantium qui quia optio blanditiis pariatur corrupti. Autem voluptatem placeat sint corporis nulla illo a totam vel. Omnis voluptas velit id est. Iste in ullam labore sed reiciendis reprehenderit tenetur. Et cumque veritatis molestiae provident aut in id enim vero.",
    "in_category_description": "Minus laborum ea natus dolore dolorem adipisci. Ipsum et expedita qui hic eveniet ad consectetur. Quia ipsum ex error voluptate id ex saepe.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/search": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Searches categories based on search criteria",
        "operationId": "Categories_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. live eq true",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - perspiciatis",
      "description": "Voluptatem neque aspernatur aut. Sit dolorem sapiente saepe soluta a consequatur velit. Est et quae nam. Harum eum non debitis eos nobis nobis alias voluptas aut.",
      "in_category_description": "Cumque necessitatibus tenetur error consequatur sint est impedit. Architecto enim exercitationem quae numquam commodi nesciunt quia soluta. Enim incidunt similique facilis velit earum veniam a velit alias.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - dolor",
      "description": "Nulla perferendis aliquam sint et cum porro aut enim tenetur. Natus sint repudiandae eum. Voluptatem cupiditate soluta facilis aperiam id et magni et perspiciatis. Est natus in nihil officia in ea.",
      "in_category_description": "A dignissimos repudiandae. Sapiente et ipsa ad commodi dicta saepe doloremque. Aperiam debitis deleniti et at sint. Qui quia cum.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - cumque",
      "description": "Omnis eligendi dolore dolorum voluptatibus nesciunt laudantium et delectus debitis. Eaque nobis dolorem optio nesciunt assumenda sequi. Deserunt enim cupiditate optio tempora dicta est dignissimos.",
      "in_category_description": "Quo assumenda numquam officia delectus ipsam. Doloremque quod odit id error. Quasi repellat et laudantium dolorem placeat voluptate nihil. Occaecati ab laudantium est accusantium.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - repellat",
      "description": "Aliquam quo sed aliquid magni aut in. Porro at aliquid consequuntur doloremque ab. Accusantium et qui optio ea fuga iste eligendi recusandae voluptatem.",
      "in_category_description": "Neque quia et quis. Aut non at voluptatem ducimus. Earum necessitatibus totam perferendis qui. Inventore ullam voluptas rem dolores iusto odit sunt ullam expedita.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - voluptates",
      "description": "Amet sit est. Ut quia rem error alias sed illum velit saepe. Voluptatem excepturi consequatur necessitatibus est odit quibusdam. Est sequi omnis doloremque est eos quo ab aliquid ullam. Repellat quaerat ut exercitationem.",
      "in_category_description": "Est reiciendis sit illo. Molestias ad labore vero. Veritatis quos voluptas ullam deserunt modi nemo id quos.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/subcategories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of subcategories",
        "operationId": "Categories_Subcategories",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of subcategories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1SubCategory"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "parent_category_id": 2,
      "category_id": 1,
      "name": "EKM - vitae",
      "description": "Suscipit at tenetur voluptas sint ipsa eveniet voluptatem. Eius omnis expedita sint consequuntur. Dolorem unde est quas temporibus eum.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 4,
      "category_id": 2,
      "name": "EKM - ut",
      "description": "Qui alias error est tenetur commodi et. Doloremque illo facilis deleniti aut velit doloribus incidunt nisi sed. Voluptas quo aut vel totam possimus. Inventore voluptas in esse aut maiores. Reprehenderit sit sint voluptatum.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 6,
      "category_id": 3,
      "name": "EKM - quia",
      "description": "Quam eum et et deleniti maiores est dolores distinctio ad. Exercitationem voluptates consequatur pariatur voluptatum fuga. Sit totam nemo. Quis et dolore distinctio minima impedit incidunt rem facere eius.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 8,
      "category_id": 4,
      "name": "EKM - dolorem",
      "description": "Aut atque excepturi maiores assumenda omnis. Sit corporis delectus excepturi beatae reprehenderit perspiciatis impedit saepe vel. Ut cum praesentium. Aut dolorum qui impedit perferendis et.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 10,
      "category_id": 5,
      "name": "EKM - amet",
      "description": "Consequuntur qui iure ut. Aut aut dolore nihil eum omnis et est id culpa. Dolorem occaecati culpa autem fugit ut dolor delectus quam rem. Neque veritatis placeat sit asperiores repellendus id eum fuga alias. Porro dolor ut eos adipisci exercitationem soluta.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/categorymanaged/{childCategoryId}": {
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Set a category to be managed by another category",
        "operationId": "Categories_SetCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The added managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "parent_category_id": 1,
    "category_id": 10,
    "name": "Subcategory",
    "description": null,
    "order_location": 99999,
    "live": true,
    "is_category_managed": true
  }
}
              }
            }
          },
          "400": {
            "description": "A subcategory or managed category already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category or child category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Stops a category from being managed by another category",
        "operationId": "Categories_DeleteCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The removed managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No managed category found for that child category ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/filters": {
      "put": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_UpdateCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CategoryFilters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "get": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_GetCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CategoryFilters"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/{addressId}": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a single Customer Address by Id",
        "operationId": "CustomerAddresses_GetById",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-08-18T17:32:16.6680743Z",
    "modified_date": "2020-09-25T17:40:34.4052351Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Ken",
    "last_name": "Halvorson",
    "company": "McClure, Balistreri and Donnelly",
    "address": "8361 Ferry Stream",
    "address2": null,
    "town": "Port Marciaview",
    "county": "Borders",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "1-319-937-2939 x858",
    "fax": "204.420.1092 x8636"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Update a Customer Address",
        "operationId": "CustomerAddresses_Update",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-10-10T07:09:16.7848047Z",
    "modified_date": "2020-08-13T22:12:30.3308001Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Kris",
    "last_name": "Mitchell",
    "company": "Nitzsche Inc",
    "address": "45292 Tremblay Courts",
    "address2": null,
    "town": "Racheltown",
    "county": "Cambridgeshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "354.320.9073 x6280",
    "fax": "1-627-658-5396"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Delete a Customer Address",
        "operationId": "CustomerAddresses_Delete",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer Address deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-10-04T12:12:15.568116Z",
    "modified_date": "2020-05-26T16:57:56.1010685Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Ilene",
    "last_name": "Kuphal",
    "company": "Heidenreich - Toy",
    "address": "732 Kihn Mills",
    "address2": null,
    "town": "Chanelville",
    "county": "Berkshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "(326) 769-5229 x676",
    "fax": "1-764-568-0512 x8088"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a paginated set of Customer Addresses",
        "operationId": "CustomerAddresses_GetAll",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customer Addresses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 0,
      "created_date": "2021-03-26T11:01:01.8557079Z",
      "modified_date": "2020-12-07T01:04:00.2653635Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Ora",
      "last_name": "Franecki",
      "company": "Cummerata Inc",
      "address": "0347 White Club",
      "address2": null,
      "town": "New Sofiatown",
      "county": "Borders",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "1-256-846-5076 x16742",
      "fax": "(829) 309-4586"
    },
    {
      "id": 0,
      "created_date": "2021-02-05T08:56:05.0301523Z",
      "modified_date": "2020-08-12T04:55:49.7646924Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Carolanne",
      "last_name": "Huel",
      "company": "Koss - Oberbrunner",
      "address": "081 Schroeder Ferry",
      "address2": null,
      "town": "Port Emelie",
      "county": "Cambridgeshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "1-648-287-7681",
      "fax": "(976) 929-6434"
    },
    {
      "id": 0,
      "created_date": "2020-10-26T19:34:19.7442372Z",
      "modified_date": "2020-07-06T19:29:50.3706737Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Shayna",
      "last_name": "Kemmer",
      "company": "Bartell and Sons",
      "address": "409 Carleton Ports",
      "address2": null,
      "town": "Fadelborough",
      "county": "Berkshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "666.783.2293 x28584",
      "fax": "215-539-1012 x366"
    },
    {
      "id": 0,
      "created_date": "2020-07-10T18:51:47.2737727Z",
      "modified_date": "2021-01-11T19:13:39.7677745Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Carolanne",
      "last_name": "Prohaska",
      "company": "Dickinson, Sanford and Beatty",
      "address": "184 Hahn Underpass",
      "address2": null,
      "town": "Hackettton",
      "county": "Borders",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "681-785-6564 x5955",
      "fax": "(681) 290-4378 x621"
    },
    {
      "id": 0,
      "created_date": "2021-02-05T17:36:49.565827Z",
      "modified_date": "2021-03-17T13:25:14.8506742Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Nicole",
      "last_name": "Von",
      "company": "Lang, Harris and Nienow",
      "address": "83203 Raleigh Fort",
      "address2": null,
      "town": "New Federico",
      "county": "Buckinghamshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "566.904.0223 x5846",
      "fax": "347.668.6371"
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Add a Customer Address",
        "operationId": "CustomerAddresses_Create",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-05-16T15:25:06.0259053Z",
    "modified_date": "2020-04-12T13:00:49.5827369Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Alyson",
    "last_name": "Haag",
    "company": "Gottlieb and Sons",
    "address": "12889 Carlo Lights",
    "address2": null,
    "town": "Lake Yessenia",
    "county": "Cambridgeshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "781-351-9868 x4833",
    "fax": "1-979-793-1002 x4897"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/search": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Searches customer addresses based on search criteria",
        "operationId": "CustomerAddresses_Search",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customer adresses based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1368,
      "email_address": "Trevor7@yahoo.com",
      "first_name": "Osborne",
      "last_name": "Dibbert",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-07-15T17:26:41.0175019Z",
      "modified_date": "2020-07-13T06:21:24.6061128Z",
      "last_login_date": "2020-10-09T16:33:20.5137616Z",
      "last_login_attempt_date": "2020-11-01T08:38:45.7661381Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-01-22T00:09:51.8429611Z",
          "modified_date": "2020-07-05T20:28:29.7872463Z",
          "customer_id": 1368,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Jayda",
          "last_name": "Huel",
          "company": "Hyatt - Fahey",
          "address": "8501 Isac Plain",
          "address2": "New Torrey",
          "town": "Lake Owenborough",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "MK2 6MW",
          "telephone": "1-769-545-4345 x009",
          "fax": "697-346-2654 x4834"
        }
      ]
    },
    {
      "id": 1369,
      "email_address": "Norman_Hudson@gmail.com",
      "first_name": "Trisha",
      "last_name": "Kunze",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-07-25T06:07:03.7647439Z",
      "modified_date": "2020-10-12T01:53:27.5480167Z",
      "last_login_date": "2020-11-20T23:05:02.6008228Z",
      "last_login_attempt_date": "2020-05-18T22:47:26.7705697Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-11-06T17:45:14.2162756Z",
          "modified_date": "2021-03-19T10:42:23.1625298Z",
          "customer_id": 1369,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Kaelyn",
          "last_name": "Bechtelar",
          "company": "Glover and Sons",
          "address": "037 Gutmann Loaf",
          "address2": "Lake Cassie",
          "town": "Whiteland",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "IJ2 6BJ",
          "telephone": "(398) 525-0446 x55989",
          "fax": "527.448.6659 x71893"
        }
      ]
    },
    {
      "id": 1370,
      "email_address": "Tanya_Runte66@gmail.com",
      "first_name": "Delphia",
      "last_name": "Sanford",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-08-16T01:44:23.2003372Z",
      "modified_date": "2021-03-13T02:48:43.702326Z",
      "last_login_date": "2020-08-29T15:12:22.5893492Z",
      "last_login_attempt_date": "2020-12-01T04:45:14.0538338Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-02-28T17:48:07.9575499Z",
          "modified_date": "2020-07-10T19:24:24.4193104Z",
          "customer_id": 1370,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Randy",
          "last_name": "Zemlak",
          "company": "Lemke LLC",
          "address": "570 Jordyn Coves",
          "address2": "Kolbytown",
          "town": "Bethstad",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "EB7 5BE",
          "telephone": "662-957-5238 x120",
          "fax": "1-756-894-0248"
        }
      ]
    },
    {
      "id": 1371,
      "email_address": "Doris24@hotmail.com",
      "first_name": "Alfonzo",
      "last_name": "Dicki",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-01-12T03:59:30.5799546Z",
      "modified_date": "2020-07-03T17:09:14.0311043Z",
      "last_login_date": "2021-01-16T06:49:21.3986361Z",
      "last_login_attempt_date": "2020-04-08T16:22:43.1632011Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-03-02T16:24:09.8443409Z",
          "modified_date": "2020-06-04T10:26:40.9776384Z",
          "customer_id": 1371,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Ricardo",
          "last_name": "Emard",
          "company": "Bosco, Block and Aufderhar",
          "address": "03337 Smith Alley",
          "address2": "Kellenmouth",
          "town": "Gorczanyborough",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "ES2 6RZ",
          "telephone": "998.653.7560 x026",
          "fax": "(559) 799-2733"
        }
      ]
    },
    {
      "id": 1372,
      "email_address": "Gerardo21@yahoo.com",
      "first_name": "Gene",
      "last_name": "Fritsch",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-01-03T19:17:07.7240543Z",
      "modified_date": "2020-12-10T17:59:59.4109164Z",
      "last_login_date": "2020-12-07T05:06:44.8734052Z",
      "last_login_attempt_date": "2020-07-13T01:06:39.3701118Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-05-29T22:13:52.2517274Z",
          "modified_date": "2021-02-18T13:03:22.0623447Z",
          "customer_id": 1372,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Flavie",
          "last_name": "Gibson",
          "company": "Jaskolski, Moore and Bechtelar",
          "address": "066 Mohr Fords",
          "address2": "Sylvesterview",
          "town": "Gerholdmouth",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "UF1 0JV",
          "telephone": "(689) 507-7869 x9799",
          "fax": "(636) 217-3580"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a single Customer by Id",
        "operationId": "Customers_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Customers Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customers Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1373,
    "email_address": "Katrina_Feeney75@gmail.com",
    "first_name": "Jefferey",
    "last_name": "Streich",
    "order_count": 1,
    "loyalty_points": 1.0,
    "created_date": "2021-02-19T16:14:48.46814Z",
    "modified_date": "2021-03-05T05:24:40.6461909Z",
    "last_login_date": "2020-08-25T12:37:31.8223217Z",
    "last_login_attempt_date": "2020-10-09T13:42:11.0978035Z",
    "locked": true,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-08-06T02:16:34.3867012Z",
        "modified_date": "2020-11-29T01:07:34.7292221Z",
        "customer_id": 1373,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Florida",
        "last_name": "Emmerich",
        "company": "Harris - Swaniawski",
        "address": "7363 Ofelia Forest",
        "address2": "Veumhaven",
        "town": "Davonmouth",
        "county": "Cambridgeshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "NX1 8KO",
        "telephone": "(775) 866-8781 x147",
        "fax": "1-638-334-0447 x5360"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update a Customer",
        "operationId": "Customers_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1374,
    "email_address": "Dominick.Hintz@gmail.com",
    "first_name": "Amani",
    "last_name": "Moen",
    "order_count": 1,
    "loyalty_points": 1.0,
    "created_date": "2021-03-05T14:09:09.4268883Z",
    "modified_date": "2020-07-28T09:19:01.4885023Z",
    "last_login_date": "2020-04-13T10:30:13.7518747Z",
    "last_login_attempt_date": "2020-11-25T06:53:50.5343528Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2021-02-12T18:25:19.0327563Z",
        "modified_date": "2021-01-18T22:46:40.1734193Z",
        "customer_id": 1374,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Kenyon",
        "last_name": "Koss",
        "company": "Wisozk Group",
        "address": "55156 Fermin Ramp",
        "address2": "West Berniehaven",
        "town": "Port Cornell",
        "county": "Berkshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "JS1 6UT",
        "telephone": "1-651-853-3362",
        "fax": "1-311-207-0391 x3101"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete a Customer",
        "operationId": "Customers_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1375,
    "email_address": "Wilfred_Ziemann49@hotmail.com",
    "first_name": "Brady",
    "last_name": "Rodriguez",
    "order_count": 0,
    "loyalty_points": 1.0,
    "created_date": "2020-05-27T19:01:04.4823602Z",
    "modified_date": "2020-12-13T14:55:12.193646Z",
    "last_login_date": "2020-06-17T00:21:12.1772235Z",
    "last_login_attempt_date": "2020-06-09T22:07:02.776061Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-12-09T18:59:33.4008299Z",
        "modified_date": "2020-12-26T12:34:06.0175541Z",
        "customer_id": 1375,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Agnes",
        "last_name": "King",
        "company": "Reichert Inc",
        "address": "7973 Christop Ferry",
        "address2": "West Estrellastad",
        "town": "West Earnesthaven",
        "county": "Berkshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "EH2 2QF",
        "telephone": "1-459-957-7668 x498",
        "fax": "(228) 964-4971"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a paginated set of Customers",
        "operationId": "Customers_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1376,
      "email_address": "Jaime82@gmail.com",
      "first_name": "Joanie",
      "last_name": "Gibson",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-07-01T05:51:42.8459565Z",
      "modified_date": "2020-05-18T15:08:58.1479434Z",
      "last_login_date": "2020-12-16T04:43:09.46631Z",
      "last_login_attempt_date": "2020-11-16T20:44:41.1111703Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-07-21T07:45:31.0944883Z",
          "modified_date": "2020-04-27T22:26:14.2243052Z",
          "customer_id": 1376,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Elliot",
          "last_name": "Johns",
          "company": "Erdman, Haag and Dickinson",
          "address": "61295 Kertzmann Stream",
          "address2": "Demondburgh",
          "town": "Watersview",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "WZ8 7MD",
          "telephone": "(630) 562-1367 x013",
          "fax": "245.835.3458 x7035"
        }
      ]
    },
    {
      "id": 1377,
      "email_address": "Ruth.Hudson51@gmail.com",
      "first_name": "Elda",
      "last_name": "Kunze",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-03-26T10:54:44.2724147Z",
      "modified_date": "2020-09-15T04:24:22.8972798Z",
      "last_login_date": "2020-04-15T17:03:45.336389Z",
      "last_login_attempt_date": "2020-12-16T14:49:01.7127731Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-02-11T00:11:53.6984355Z",
          "modified_date": "2020-06-15T00:31:01.9871893Z",
          "customer_id": 1377,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Tom",
          "last_name": "Greenfelder",
          "company": "Mills, Greenfelder and Welch",
          "address": "47334 Pagac Shores",
          "address2": "Jerrellville",
          "town": "Isabelleton",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "ZU6 3ZG",
          "telephone": "767-398-2375 x8368",
          "fax": "(399) 935-2102 x3041"
        }
      ]
    },
    {
      "id": 1378,
      "email_address": "Kelly.Kub40@yahoo.com",
      "first_name": "Herman",
      "last_name": "Schoen",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-02-09T11:14:27.5072823Z",
      "modified_date": "2020-11-30T06:01:15.2962704Z",
      "last_login_date": "2020-07-12T12:26:12.5715931Z",
      "last_login_attempt_date": "2020-05-23T08:09:43.7536283Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-11-27T06:41:30.8405431Z",
          "modified_date": "2021-01-14T07:16:59.7185177Z",
          "customer_id": 1378,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Karson",
          "last_name": "Auer",
          "company": "Gulgowski - Weber",
          "address": "208 Ava Junction",
          "address2": "Lake Bransonmouth",
          "town": "North Brennon",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "SH0 4DE",
          "telephone": "299.486.5232 x4174",
          "fax": "1-212-976-6317 x024"
        }
      ]
    },
    {
      "id": 1379,
      "email_address": "Traci60@yahoo.com",
      "first_name": "Antonia",
      "last_name": "Wolf",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-04-30T20:26:43.0598433Z",
      "modified_date": "2021-04-01T16:13:20.8796925Z",
      "last_login_date": "2020-09-12T22:51:37.6115641Z",
      "last_login_attempt_date": "2020-07-12T04:30:43.9858657Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-09-24T13:11:40.0309563Z",
          "modified_date": "2021-02-01T08:12:07.945381Z",
          "customer_id": 1379,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Hildegard",
          "last_name": "Welch",
          "company": "Harber, Kertzmann and Rempel",
          "address": "08328 Maddison Tunnel",
          "address2": "East Cathy",
          "town": "Cordeliaville",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "FF5 1HI",
          "telephone": "641.357.8191 x395",
          "fax": "1-869-540-5683 x08906"
        }
      ]
    },
    {
      "id": 1380,
      "email_address": "Randolph74@yahoo.com",
      "first_name": "Percival",
      "last_name": "Predovic",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-10-05T13:34:54.2596249Z",
      "modified_date": "2020-05-31T10:50:10.5129511Z",
      "last_login_date": "2021-01-17T04:24:27.2923957Z",
      "last_login_attempt_date": "2021-04-01T07:34:20.6820906Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-11-13T18:43:27.8129848Z",
          "modified_date": "2020-08-20T15:29:39.8315816Z",
          "customer_id": 1380,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Minnie",
          "last_name": "Hoeger",
          "company": "McClure - Smitham",
          "address": "0407 Mason Lake",
          "address2": "Arleneburgh",
          "town": "Waldoville",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "YL8 5NJ",
          "telephone": "282.673.1464",
          "fax": "855.466.2583 x3739"
        }
      ]
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Add a customer",
        "description": "Note: setting send_email to true will send an email to the customer prompting them to create a password",
        "operationId": "Customers_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1381,
    "email_address": "Pearl_Boyer@hotmail.com",
    "first_name": "Maybell",
    "last_name": "Schamberger",
    "order_count": 1,
    "loyalty_points": 0.0,
    "created_date": "2020-09-01T23:45:38.7223056Z",
    "modified_date": "2020-09-06T03:44:54.4833948Z",
    "last_login_date": "2020-12-13T09:46:22.9595822Z",
    "last_login_attempt_date": "2020-12-19T07:46:19.5529866Z",
    "locked": true,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": true,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-10-20T21:08:09.3456795Z",
        "modified_date": "2020-08-01T19:04:07.7811334Z",
        "customer_id": 1381,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Adah",
        "last_name": "Koepp",
        "company": "Bartell, Bode and Runolfsson",
        "address": "66158 Lucio Tunnel",
        "address2": "Carmellaburgh",
        "town": "Virginieland",
        "county": "Avon",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "SM5 8FJ",
        "telephone": "1-568-694-6185 x15048",
        "fax": "(612) 237-8847"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/search": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Searches customers based on search criteria",
        "operationId": "Customers_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customers based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1382,
      "email_address": "Linda.Rodriguez34@hotmail.com",
      "first_name": "Stephon",
      "last_name": "Rice",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-12-07T07:04:02.3831918Z",
      "modified_date": "2020-09-03T20:31:14.8137271Z",
      "last_login_date": "2020-04-24T05:19:33.3368804Z",
      "last_login_attempt_date": "2020-07-23T09:13:46.6094854Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-01-09T19:23:01.1950878Z",
          "modified_date": "2020-10-05T18:16:43.8284782Z",
          "customer_id": 1382,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Adan",
          "last_name": "Yost",
          "company": "Haley - Hegmann",
          "address": "180 Kristin Valleys",
          "address2": "South Ellaport",
          "town": "North Zoey",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "WR3 0AP",
          "telephone": "930.955.7340",
          "fax": "901-449-0586 x458"
        }
      ]
    },
    {
      "id": 1383,
      "email_address": "Patrick.Hills@gmail.com",
      "first_name": "Mckenzie",
      "last_name": "Collins",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2021-02-13T18:23:57.0588115Z",
      "modified_date": "2020-08-26T23:04:21.4526486Z",
      "last_login_date": "2020-06-17T16:48:14.1614468Z",
      "last_login_attempt_date": "2020-11-27T06:47:14.4340397Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-12-10T02:48:15.703378Z",
          "modified_date": "2021-02-09T20:37:32.7321232Z",
          "customer_id": 1383,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Electa",
          "last_name": "Green",
          "company": "Marquardt, Robel and Rogahn",
          "address": "0264 Clement Walks",
          "address2": "Zoeview",
          "town": "Lake Kennedybury",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "WA6 8ZM",
          "telephone": "(535) 205-0511 x50976",
          "fax": "726-298-8478 x6858"
        }
      ]
    },
    {
      "id": 1384,
      "email_address": "Howard.Herman@hotmail.com",
      "first_name": "Hunter",
      "last_name": "Denesik",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-12-21T23:46:10.1388161Z",
      "modified_date": "2020-10-10T07:53:21.5807906Z",
      "last_login_date": "2020-07-25T09:56:27.6364479Z",
      "last_login_attempt_date": "2020-09-28T21:25:30.7930293Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-10-19T22:41:12.5600289Z",
          "modified_date": "2020-05-30T17:08:21.8513653Z",
          "customer_id": 1384,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Kurt",
          "last_name": "Lowe",
          "company": "Grimes Inc",
          "address": "977 Cremin Views",
          "address2": "West Nikki",
          "town": "Funkbury",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "SR1 0CL",
          "telephone": "(536) 203-8449 x543",
          "fax": "1-458-972-3846 x2470"
        }
      ]
    },
    {
      "id": 1385,
      "email_address": "Roy.Paucek@yahoo.com",
      "first_name": "Jermey",
      "last_name": "Schulist",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2021-01-20T04:11:28.408498Z",
      "modified_date": "2020-12-15T21:39:38.3131166Z",
      "last_login_date": "2020-10-08T14:45:58.2665085Z",
      "last_login_attempt_date": "2020-09-18T19:58:23.0672796Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-04-07T04:11:46.5109114Z",
          "modified_date": "2020-04-09T14:14:46.6378004Z",
          "customer_id": 1385,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Juston",
          "last_name": "Johnson",
          "company": "Schulist - Williamson",
          "address": "19303 Russel Stream",
          "address2": "Joview",
          "town": "Lueilwitzfurt",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "PQ6 5YA",
          "telephone": "(550) 603-4063 x63045",
          "fax": "763-332-3982 x831"
        }
      ]
    },
    {
      "id": 1386,
      "email_address": "Margie.MacGyver9@gmail.com",
      "first_name": "Katelin",
      "last_name": "Berge",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2020-04-16T22:05:34.5493409Z",
      "modified_date": "2020-08-01T10:38:19.6708312Z",
      "last_login_date": "2020-07-21T08:18:09.2272899Z",
      "last_login_attempt_date": "2020-11-20T23:09:08.3737333Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-04-23T23:05:48.7143444Z",
          "modified_date": "2020-11-04T05:32:23.2094413Z",
          "customer_id": 1386,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Mateo",
          "last_name": "Willms",
          "company": "Torphy, Dickinson and Bruen",
          "address": "544 Hegmann Canyon",
          "address2": "Port Savannastad",
          "town": "Keshaunstad",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "FK2 3QM",
          "telephone": "888.759.1761 x821",
          "fax": "929-233-8713"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/settings/domains": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get the current Primary Domain",
        "operationId": "Domains_GetPrimaryDomain",
        "responses": {
          "200": {
            "description": "The primary domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1DomainName"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "primary_domain_name": "foster.info"
  }
}
              }
            }
          },
          "404": {
            "description": "No primary domain found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Domain not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v2/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get an order by ID",
        "operationId": "Orders_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The order ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV2Order"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 858,
    "order_number": "vzkz0qkncem9zrvi",
    "order_date": "1997-01-21T16:02:59.3363538Z",
    "is_confirmed": true,
    "sub_total": 0.2526020390226515,
    "total_delivery": 0.7455483785576879,
    "total_tax": 0.0066795614579131645,
    "total_cost": 0.5888110374048403,
    "status": "DECLINED",
    "payment_status": "SUCCESS",
    "delivery_method": "",
    "transaction_id": "5756cae5-ddac-4328-a231-8a4bd054d3ad",
    "transaction_status": "",
    "order_type": "",
    "use_shipping_address": true,
    "shipping_address": {
      "first_name": "Lloyd",
      "last_name": "Pfeffer",
      "id": 316027753,
      "created_date": "2020-10-13T19:16:17.9783595Z",
      "modified_date": "2020-12-21T11:55:07.0604644Z",
      "customer_id": -950028356,
      "is_preferred_billing_address": false,
      "is_preferred_shipping_address": true,
      "company": "Mohr, Schmitt and Donnelly",
      "address": "072 Rolfson Camp",
      "address2": "Lake Myra",
      "town": "Langworthburgh",
      "county": "Berkshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": "RV0 5QM",
      "telephone": "1-966-612-4248",
      "fax": "1-742-913-3116 x8411"
    },
    "internal_notes": "This is an internal order note.\n\nThis is another internal order note.",
    "customer_facing_notes": "This is an order note.\n\nThis is another order note.",
    "emailed": false,
    "discounts": "",
    "discounts_total": 0.0,
    "shipping_company": "UPS",
    "ip_address": "127.0.0.1",
    "guid": "2034bc9d-3195-ba3c-71f6-0113d9c6b145",
    "last_updated": null,
    "delivery_tax_rate": null,
    "delivery_includes_tax": null,
    "custom_fields_total": null,
    "custom_fields_tax_total": null,
    "customer_details": {
      "customer_id": -1255595861,
      "email_address": "Abbie15@gmail.com",
      "first_name": "Lloyd",
      "last_name": "Pfeffer",
      "company": "Runolfsson Inc",
      "address": "54052 Stroman Mountains",
      "address2": "North Hazelborough",
      "town": "Port Vernicebury",
      "county": "Bedfordshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": "SE1 0JG",
      "telephone": "766-430-9328 x9845",
      "fax": "862.441.4705 x96881",
      "billing_address_verified": false
    },
    "custom_fields": null,
    "delivery_tracking_number": null,
    "delivery_tracking_company": null,
    "delivery_tracking_url": null
  }
}
              }
            }
          },
          "404": {
            "description": "No Order was found for the requested ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
[...]
