{
  "openapi": "3.0.1",
  "info": {
    "title": "EKM Partner API",
    "description": "Our new API allows partners to build significantly better integrations with the EKM platform.\r\n\r\nTo try out the below endpoints, or for full up to date representations of the request / response models, please see the [swagger page](https://api.ekm.net/swagger/index.html). (We display examples here, but the swagger page is guaranteed to show the complete model.)\r\n\r\nTo keep up to date with the latest updates, please see our [RSS feed](https://partners.ekm.net/ChangeLog/Feed) or the [partner dashboard](https://partners.ekm.net/).",
    "contact": {
      "name": "EKM",
      "url": "https://ekm.com",
      "email": "api-support@ekm.com"
    },
    "version": "Latest",
    "x-logo": {
      "url": "/images/ekm-logo-vector-RGB-1920x1080.png",
      "backgroundColor": "#fafafa"
    }
  },
  "servers": [
    {
      "url": "https://api.ekm.net"
    }
  ],
  "paths": {
    "/api/v1/categories/{id}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a category",
        "operationId": "Categories_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The chosen category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 884,
    "name": "EKM - quo",
    "description": "Molestiae quidem perspiciatis ut possimus deserunt consequuntur. Modi molestiae placeat fugiat reprehenderit et expedita et ut voluptate. Maiores aliquam earum temporibus adipisci enim quia officiis. Eligendi commodi et nostrum.",
    "in_category_description": "Delectus delectus est repellat cupiditate eius fuga. Quod nisi est et blanditiis. Aliquid sit dolorum quis non odio enim atque.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Categories"
        ],
        "summary": "Update a category",
        "operationId": "Categories_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 885,
    "name": "EKM - pariatur",
    "description": "Et quisquam reiciendis veniam vero. Blanditiis quod quibusdam a eligendi. Labore aut voluptate commodi aut sed dignissimos qui. Accusamus dolor autem.",
    "in_category_description": "Quaerat vitae et quia deleniti fugit suscipit qui. Et facilis repellat. Ab voluptatem quas distinctio id distinctio odio eum quos aut. Ullam veniam ea. Labore error ut amet est fugit eaque autem dicta.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Delete a category",
        "operationId": "Categories_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of categories",
        "operationId": "Categories_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - rem",
      "description": "Voluptate molestias repellendus et quisquam aut voluptatem. Et non quia dignissimos dolores quasi. Voluptas minima culpa accusantium adipisci. Similique corrupti non a blanditiis tempora assumenda aut.",
      "in_category_description": "Consectetur quaerat dicta aperiam officiis nihil. Ex quia sapiente aut suscipit quo ea aspernatur illo cumque. Ad aspernatur molestias dignissimos veniam et voluptas voluptatem quaerat. Voluptatem maxime omnis iure expedita aut sit sit ab eaque. Veritatis vel tempora cumque ut nihil. Omnis ipsum eos ea.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - cupiditate",
      "description": "Cum et maxime reiciendis eius adipisci at ducimus. Sunt culpa velit fuga soluta animi nisi repudiandae consequatur nam. Non porro veniam maxime quae.",
      "in_category_description": "Dolore sunt dicta vero modi sed est. Sed enim quia eum nulla harum laborum et dolores quia. Vitae omnis quia eum rerum in eos placeat cupiditate.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - sapiente",
      "description": "Non inventore qui. Ea et ut ex debitis aut cumque. Quasi impedit quia illum harum mollitia. Voluptatem dolorum modi beatae illo. Quaerat eos blanditiis.",
      "in_category_description": "Consequuntur sit culpa enim ad assumenda quaerat accusantium aliquam. Eveniet voluptas rerum odit at omnis possimus. Modi ipsa sed molestiae. Voluptatum vel nihil reiciendis provident sed aspernatur est.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - omnis",
      "description": "Pariatur nobis illum. Iusto voluptate iste id nisi quisquam magnam at minima. Sed nostrum et et incidunt voluptatem libero velit nisi aut. Similique temporibus qui quos nesciunt voluptas quia assumenda at quaerat. Sapiente a et illum. Excepturi qui tenetur modi cupiditate molestiae.",
      "in_category_description": "Et mollitia qui perspiciatis cum. Est nisi quo repudiandae et et. Fugit sit aut magni vitae nihil quo aperiam sit.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - perspiciatis",
      "description": "Fugiat sequi et iure aut commodi. Dolor qui dolore natus. Culpa explicabo molestiae.",
      "in_category_description": "Magnam quae recusandae sed expedita in in quasi explicabo. Alias exercitationem exercitationem repudiandae illo porro. Nulla enim aperiam tenetur. Unde est fugiat et accusamus dolorum eos unde doloribus. Odit non vitae et dolorem non dolor possimus numquam voluptatem.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Add a category",
        "operationId": "Categories_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 891,
    "name": "EKM - repellendus",
    "description": "Corrupti aut sit molestias. Ducimus magnam nesciunt sunt accusamus. Dolores non consequatur modi provident dolor. Perspiciatis qui consequatur amet. Fugiat iste unde. Libero excepturi qui quidem ab et qui nisi sit sed.",
    "in_category_description": "Aut quod quo sed nisi nam consequatur. Nulla tenetur tempora et aut labore rem magni corporis perferendis. Tenetur facere provident culpa est placeat.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/search": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Searches categories based on search criteria",
        "operationId": "Categories_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. live eq true",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - incidunt",
      "description": "Fuga voluptatem necessitatibus asperiores libero est dignissimos impedit ipsum. Quod ipsum omnis deserunt quasi quo quis iure. Consequatur nesciunt blanditiis ipsa ipsam eaque nesciunt. Similique nesciunt consectetur repellendus aut exercitationem eos sit qui.",
      "in_category_description": "Voluptas praesentium autem omnis. Est enim sit ea neque praesentium accusamus ea ea nihil. Nihil ipsum voluptatibus sunt a molestias nulla.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - debitis",
      "description": "Accusamus harum officiis velit quaerat magnam facilis inventore dolorum quasi. In dolores reprehenderit. Impedit possimus rerum. Nostrum eum nihil. Id et neque voluptas quos enim.",
      "in_category_description": "Sint non reiciendis dolor rerum blanditiis doloribus. Non modi corporis quod quidem perspiciatis nemo tempore officia non. Facere quia assumenda voluptatem sequi. Tempora eos voluptatibus explicabo voluptate voluptatem.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - repellendus",
      "description": "Aspernatur consectetur occaecati est ea magnam. Id saepe et non nobis assumenda adipisci quia quos. Delectus voluptatem molestias voluptate ratione. Qui laboriosam esse voluptatem aut consequatur aut quasi sint autem.",
      "in_category_description": "Sed sequi reiciendis consequuntur repellat doloribus. Officiis adipisci et omnis blanditiis earum. Id voluptatem amet voluptas vero quae tenetur labore optio.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - enim",
      "description": "Facere non sunt asperiores aut nemo officia facere consequatur laboriosam. Voluptas voluptatem occaecati earum enim. Adipisci in sapiente autem sequi sed et rerum facere. Dolores quos debitis blanditiis nihil eos et. Ut repellendus sed et. Et consectetur pariatur ut officiis ut.",
      "in_category_description": "Odit soluta corrupti et optio. Iste mollitia est. Odit quaerat repellendus blanditiis quaerat consequuntur. Sunt cumque tenetur veniam in corrupti unde culpa quia explicabo. Corporis itaque dolor sed.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - consequatur",
      "description": "Vel reprehenderit tenetur. Aut excepturi quidem. Ut explicabo ea libero voluptate recusandae quisquam eum ullam.",
      "in_category_description": "Illo nihil consectetur itaque et in non quis nostrum. Expedita similique magnam id molestiae ducimus id molestiae similique. Dignissimos facilis qui eos qui eius qui. Magnam culpa omnis deleniti saepe numquam magni voluptatem. Qui aperiam et dolor eos ut accusantium.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/subcategories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of subcategories",
        "operationId": "Categories_Subcategories",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of subcategories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1SubCategory"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "parent_category_id": 2,
      "category_id": 1,
      "name": "EKM - eligendi",
      "description": "Et reiciendis atque. Praesentium minus illo ut voluptate quia ab corrupti cumque quia. Sed impedit labore dolor. Aperiam rem odit dolorem quis saepe dolores velit. Ullam iste ducimus molestiae aut.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 4,
      "category_id": 2,
      "name": "EKM - iure",
      "description": "Mollitia explicabo maxime quo accusamus quisquam velit sunt sapiente. Nemo itaque sit quidem temporibus. Pariatur architecto deserunt accusamus expedita optio similique. Facilis ipsa odit error animi natus deserunt. Sed aliquid fugit qui et voluptas dolorem placeat.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 6,
      "category_id": 3,
      "name": "EKM - voluptates",
      "description": "Natus eum voluptatum quis nam. Recusandae beatae aperiam autem quo aut ut non voluptatem. Dolorem laborum quidem ut. Quod similique ea libero cupiditate facilis.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 8,
      "category_id": 4,
      "name": "EKM - vitae",
      "description": "Nulla sapiente ea quis consequatur assumenda dolorem possimus dignissimos quibusdam. Atque iste rerum optio et non et veniam. Nisi dolores enim quis molestiae illum quaerat architecto.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 10,
      "category_id": 5,
      "name": "EKM - dolorum",
      "description": "Pariatur quasi consequuntur. Debitis impedit non occaecati vel accusantium et ipsum voluptas ullam. Sit fuga nihil nihil enim accusantium et ea similique impedit.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/categorymanaged/{childCategoryId}": {
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Set a category to be managed by another category",
        "operationId": "Categories_SetCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The added managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "parent_category_id": 1,
    "category_id": 10,
    "name": "Subcategory",
    "description": null,
    "order_location": 99999,
    "live": true,
    "is_category_managed": true
  }
}
              }
            }
          },
          "400": {
            "description": "A subcategory or managed category already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category or child category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Stops a category from being managed by another category",
        "operationId": "Categories_DeleteCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The removed managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No managed category found for that child category ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/filters": {
      "put": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_UpdateCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CategoryFilters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "get": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_GetCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CategoryFilters"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/{addressId}": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a single Customer Address by Id",
        "operationId": "CustomerAddresses_GetById",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-10-02T14:42:50.4852143Z",
    "modified_date": "2020-07-02T17:29:58.1193934Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Lizeth",
    "last_name": "Ward",
    "company": "Torp - Toy",
    "address": "01368 Citlalli Mission",
    "address2": null,
    "town": "South Zita",
    "county": "Buckinghamshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "1-796-229-4906 x631",
    "fax": "275-221-5038 x99814"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Update a Customer Address",
        "operationId": "CustomerAddresses_Update",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-08-12T13:51:59.6051004Z",
    "modified_date": "2020-06-24T11:20:46.9954131Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Lafayette",
    "last_name": "Rau",
    "company": "Ebert, Wyman and Jacobi",
    "address": "145 Naomi Forks",
    "address2": null,
    "town": "Reillyside",
    "county": "Berkshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "887.769.6706 x302",
    "fax": "1-604-932-1192 x594"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Delete a Customer Address",
        "operationId": "CustomerAddresses_Delete",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer Address deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-12-08T14:34:11.6449733Z",
    "modified_date": "2020-05-26T22:25:02.9810628Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Brianne",
    "last_name": "Wisoky",
    "company": "Spencer, Quigley and Brakus",
    "address": "018 Fritsch Village",
    "address2": null,
    "town": "Port Lulushire",
    "county": "Borders",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "1-726-824-6762 x74990",
    "fax": "(467) 779-1231 x029"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a paginated set of Customer Addresses",
        "operationId": "CustomerAddresses_GetAll",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customer Addresses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 0,
      "created_date": "2020-07-25T04:17:07.8946191Z",
      "modified_date": "2020-08-07T16:36:28.1587205Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Berneice",
      "last_name": "Smith",
      "company": "Legros, Paucek and Torp",
      "address": "26540 Austyn Causeway",
      "address2": null,
      "town": "Lake Kraigstad",
      "county": "Cambridgeshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "1-867-302-0438",
      "fax": "(562) 888-5054"
    },
    {
      "id": 0,
      "created_date": "2020-09-28T03:01:31.2627618Z",
      "modified_date": "2020-07-11T08:35:15.217854Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Talia",
      "last_name": "Beatty",
      "company": "Keeling, Rice and Haley",
      "address": "04449 Turner Plains",
      "address2": null,
      "town": "North Odiemouth",
      "county": "Bedfordshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "388.829.0538 x15913",
      "fax": "995-654-1674 x459"
    },
    {
      "id": 0,
      "created_date": "2020-11-12T16:23:33.1964351Z",
      "modified_date": "2020-04-10T14:27:04.7236474Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Zachariah",
      "last_name": "Gerlach",
      "company": "Runolfsdottir - Stiedemann",
      "address": "5789 Gerhold Drive",
      "address2": null,
      "town": "East Lloyd",
      "county": "Borders",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "(374) 876-2084",
      "fax": "1-602-812-8436 x032"
    },
    {
      "id": 0,
      "created_date": "2020-10-25T21:32:30.3841349Z",
      "modified_date": "2020-12-23T10:48:25.9470591Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Evangeline",
      "last_name": "Nolan",
      "company": "Kuvalis - Shields",
      "address": "73628 Juwan Cliffs",
      "address2": null,
      "town": "Lake Alvahmouth",
      "county": "Borders",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "772-732-3314 x4072",
      "fax": "315-824-5149 x215"
    },
    {
      "id": 0,
      "created_date": "2021-03-03T17:30:41.5330412Z",
      "modified_date": "2020-12-22T07:49:35.003057Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Jena",
      "last_name": "Dicki",
      "company": "Green, Hessel and Doyle",
      "address": "00362 Volkman Road",
      "address2": null,
      "town": "Port Alden",
      "county": "Berkshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "(912) 821-5330",
      "fax": "(890) 992-3631"
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Add a Customer Address",
        "operationId": "CustomerAddresses_Create",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-11-20T20:51:44.5721716Z",
    "modified_date": "2020-07-29T18:46:01.7841877Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Davon",
    "last_name": "Roob",
    "company": "Funk - Bode",
    "address": "3535 Barbara Isle",
    "address2": null,
    "town": "South Kenyachester",
    "county": "Berkshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "714-352-0440 x98529",
    "fax": "(916) 269-6555 x66217"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/search": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Searches customer addresses based on search criteria",
        "operationId": "CustomerAddresses_Search",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customer adresses based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1292,
      "email_address": "Raul_Leuschke@gmail.com",
      "first_name": "Torey",
      "last_name": "Mosciski",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-10-21T23:40:57.6093659Z",
      "modified_date": "2020-11-29T02:08:46.0784426Z",
      "last_login_date": "2020-05-30T08:12:18.8092947Z",
      "last_login_attempt_date": "2020-11-03T08:28:08.7510896Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-10-22T11:03:35.2188222Z",
          "modified_date": "2020-08-11T23:52:19.4636964Z",
          "customer_id": 1292,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Beatrice",
          "last_name": "Green",
          "company": "Kessler, Kovacek and Tromp",
          "address": "08284 Danial Rapid",
          "address2": "Port Faustino",
          "town": "Sengertown",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "FS3 8GF",
          "telephone": "(968) 443-3284 x28272",
          "fax": "1-784-376-0196 x37933"
        }
      ]
    },
    {
      "id": 1293,
      "email_address": "Amy_Cole@yahoo.com",
      "first_name": "David",
      "last_name": "Kautzer",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-07-24T09:44:40.6080239Z",
      "modified_date": "2020-12-03T21:19:13.9909914Z",
      "last_login_date": "2020-06-22T07:43:46.2876468Z",
      "last_login_attempt_date": "2020-10-01T02:46:11.768833Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-06-15T20:01:01.1238961Z",
          "modified_date": "2020-10-04T06:01:11.4053584Z",
          "customer_id": 1293,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Kevin",
          "last_name": "Ritchie",
          "company": "Pacocha LLC",
          "address": "86102 Walsh Stravenue",
          "address2": "South Margareteview",
          "town": "South Jake",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "GC2 3PA",
          "telephone": "476-892-1637",
          "fax": "358.993.9057"
        }
      ]
    },
    {
      "id": 1294,
      "email_address": "Sara_Wintheiser@gmail.com",
      "first_name": "Demarco",
      "last_name": "Bechtelar",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2021-02-21T17:05:31.6826649Z",
      "modified_date": "2020-10-20T01:51:20.9426458Z",
      "last_login_date": "2020-06-09T07:27:33.1646038Z",
      "last_login_attempt_date": "2021-01-25T20:34:14.4073094Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-12-28T15:02:10.6487427Z",
          "modified_date": "2020-05-17T17:19:37.9109846Z",
          "customer_id": 1294,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Mekhi",
          "last_name": "Schroeder",
          "company": "Schiller, Lehner and Stamm",
          "address": "859 Walsh Rue",
          "address2": "Goyettefurt",
          "town": "Port Carrieside",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "IH3 6VQ",
          "telephone": "669.766.1142 x304",
          "fax": "1-277-313-7762"
        }
      ]
    },
    {
      "id": 1295,
      "email_address": "Rodney.Brown@gmail.com",
      "first_name": "Arvilla",
      "last_name": "Spencer",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-05-21T07:41:43.5051287Z",
      "modified_date": "2020-09-13T13:38:21.6300758Z",
      "last_login_date": "2020-10-21T08:09:55.3941272Z",
      "last_login_attempt_date": "2020-08-29T01:10:29.7032588Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-10-28T21:03:03.4728592Z",
          "modified_date": "2020-12-18T12:15:27.0367473Z",
          "customer_id": 1295,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Camylle",
          "last_name": "Torphy",
          "company": "Wisoky - Turcotte",
          "address": "4035 Sanford Union",
          "address2": "Kassandratown",
          "town": "Port Kenfurt",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "FG0 6AO",
          "telephone": "630-911-4574",
          "fax": "1-816-849-4067"
        }
      ]
    },
    {
      "id": 1296,
      "email_address": "Roman.Mitchell@hotmail.com",
      "first_name": "Cheyanne",
      "last_name": "Price",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2021-02-18T11:12:45.6681708Z",
      "modified_date": "2020-12-28T11:20:49.6703374Z",
      "last_login_date": "2020-09-08T10:01:46.6613304Z",
      "last_login_attempt_date": "2020-08-26T15:43:18.5053726Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-10-15T00:21:27.8164071Z",
          "modified_date": "2021-03-12T12:12:10.1004963Z",
          "customer_id": 1296,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Daryl",
          "last_name": "Dietrich",
          "company": "Wolf Group",
          "address": "77437 Danika Haven",
          "address2": "North Leathastad",
          "town": "New Coltonburgh",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "IN8 5JF",
          "telephone": "555-514-0760 x9826",
          "fax": "(475) 877-9338"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a single Customer by Id",
        "operationId": "Customers_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Customers Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customers Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1297,
    "email_address": "Martha.Spencer73@gmail.com",
    "first_name": "Francesca",
    "last_name": "Green",
    "order_count": 0,
    "loyalty_points": 1.0,
    "created_date": "2020-09-05T12:56:10.2713689Z",
    "modified_date": "2020-11-01T13:07:23.1804683Z",
    "last_login_date": "2020-09-08T13:00:23.5668819Z",
    "last_login_attempt_date": "2020-05-30T07:53:43.9065472Z",
    "locked": true,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-04-14T14:28:42.5165412Z",
        "modified_date": "2020-09-21T15:31:07.0749909Z",
        "customer_id": 1297,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Tiara",
        "last_name": "Hamill",
        "company": "Rutherford - Cummings",
        "address": "31588 Kautzer Fort",
        "address2": "Port Everett",
        "town": "South Queenberg",
        "county": "Borders",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "CE6 6TG",
        "telephone": "687-445-0947 x1844",
        "fax": "653-573-0820 x86265"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update a Customer",
        "operationId": "Customers_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1298,
    "email_address": "Doreen.Reynolds@yahoo.com",
    "first_name": "Chance",
    "last_name": "Stark",
    "order_count": 0,
    "loyalty_points": 0.0,
    "created_date": "2020-11-30T05:35:01.2938018Z",
    "modified_date": "2020-12-11T23:14:06.0870864Z",
    "last_login_date": "2020-10-17T19:02:53.5665315Z",
    "last_login_attempt_date": "2021-01-04T17:21:17.7117364Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": true,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-12-01T01:05:06.6623702Z",
        "modified_date": "2020-05-20T14:22:48.2408402Z",
        "customer_id": 1298,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Cleora",
        "last_name": "Cole",
        "company": "Anderson Inc",
        "address": "3149 Wisozk Street",
        "address2": "Marqueschester",
        "town": "Toyhaven",
        "county": "Bedfordshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "OC8 4IS",
        "telephone": "(933) 904-2538",
        "fax": "674-390-5563 x8270"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete a Customer",
        "operationId": "Customers_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1299,
    "email_address": "Mark.Batz@yahoo.com",
    "first_name": "Keegan",
    "last_name": "Harber",
    "order_count": 1,
    "loyalty_points": 0.0,
    "created_date": "2020-04-07T12:34:58.3599454Z",
    "modified_date": "2020-11-30T06:44:13.7121185Z",
    "last_login_date": "2020-04-04T03:15:52.0758288Z",
    "last_login_attempt_date": "2020-07-03T21:12:13.556788Z",
    "locked": true,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-08-21T15:06:51.6008674Z",
        "modified_date": "2020-09-27T23:11:23.1958017Z",
        "customer_id": 1299,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Antwan",
        "last_name": "Cole",
        "company": "Hayes, Hamill and Marquardt",
        "address": "7817 Mabel Loop",
        "address2": "Schusterbury",
        "town": "Eldontown",
        "county": "Bedfordshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "RZ8 5SH",
        "telephone": "1-325-542-8774 x84907",
        "fax": "(264) 585-4617 x419"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a paginated set of Customers",
        "operationId": "Customers_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1300,
      "email_address": "Ellen.Abbott27@gmail.com",
      "first_name": "Kathryne",
      "last_name": "Ferry",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2021-02-03T04:03:35.5696195Z",
      "modified_date": "2020-08-26T10:02:52.9780196Z",
      "last_login_date": "2021-02-03T07:14:42.0437461Z",
      "last_login_attempt_date": "2020-04-20T08:08:41.0989109Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-08-26T23:12:09.4117529Z",
          "modified_date": "2021-04-01T05:57:44.8376457Z",
          "customer_id": 1300,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Gabe",
          "last_name": "Bogan",
          "company": "Buckridge - Greenfelder",
          "address": "740 Ankunding Radial",
          "address2": "Stantonside",
          "town": "Alyssonmouth",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "TX6 0MS",
          "telephone": "(989) 301-6082",
          "fax": "(254) 884-8910"
        }
      ]
    },
    {
      "id": 1301,
      "email_address": "Carmen.Kilback69@hotmail.com",
      "first_name": "Stan",
      "last_name": "Hayes",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-11-07T06:07:08.8849185Z",
      "modified_date": "2020-07-02T13:13:52.3047282Z",
      "last_login_date": "2020-11-11T11:20:22.6136925Z",
      "last_login_attempt_date": "2020-06-06T22:57:20.598547Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-12-15T18:06:18.6417596Z",
          "modified_date": "2020-04-18T07:12:34.1697959Z",
          "customer_id": 1301,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Eudora",
          "last_name": "Champlin",
          "company": "Prosacco and Sons",
          "address": "2394 Little Motorway",
          "address2": "Jeaniestad",
          "town": "Vedaland",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "VN6 7QS",
          "telephone": "902.601.9235",
          "fax": "670.629.1661"
        }
      ]
    },
    {
      "id": 1302,
      "email_address": "Gregg.Schimmel11@yahoo.com",
      "first_name": "Mya",
      "last_name": "Von",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-10-08T22:17:36.0583271Z",
      "modified_date": "2020-11-26T19:38:16.6540228Z",
      "last_login_date": "2020-05-18T19:09:08.5250512Z",
      "last_login_attempt_date": "2021-02-28T23:14:27.8354159Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-05-26T09:41:10.1083132Z",
          "modified_date": "2020-06-11T15:00:05.9543592Z",
          "customer_id": 1302,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Ofelia",
          "last_name": "Schinner",
          "company": "Fritsch Inc",
          "address": "99306 Lexie Landing",
          "address2": "South Gwendolyn",
          "town": "Port Pansychester",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "IQ6 0IL",
          "telephone": "(505) 551-6484",
          "fax": "949-683-3539 x979"
        }
      ]
    },
    {
      "id": 1303,
      "email_address": "Christy89@yahoo.com",
      "first_name": "Maryjane",
      "last_name": "Schimmel",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-04-25T16:07:53.4692021Z",
      "modified_date": "2020-04-05T09:38:32.1394599Z",
      "last_login_date": "2021-01-06T11:38:41.395807Z",
      "last_login_attempt_date": "2020-06-11T14:56:43.4030897Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-11-23T12:08:17.0736335Z",
          "modified_date": "2021-01-24T20:22:14.6463878Z",
          "customer_id": 1303,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Jaquelin",
          "last_name": "Rempel",
          "company": "Swaniawski, Hammes and Crona",
          "address": "81774 Braun Court",
          "address2": "Morarshire",
          "town": "Kielmouth",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "HP4 0FT",
          "telephone": "(591) 458-8646",
          "fax": "(566) 994-0378 x3258"
        }
      ]
    },
    {
      "id": 1304,
      "email_address": "Kelly30@yahoo.com",
      "first_name": "Jennifer",
      "last_name": "Kuhn",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-05-16T18:25:02.7958142Z",
      "modified_date": "2020-09-23T23:32:32.8202741Z",
      "last_login_date": "2020-04-28T10:48:42.4688006Z",
      "last_login_attempt_date": "2020-11-30T09:16:11.9269201Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-04-16T06:06:05.5478128Z",
          "modified_date": "2021-02-23T17:19:28.41697Z",
          "customer_id": 1304,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Napoleon",
          "last_name": "Nicolas",
          "company": "Lemke - Kunde",
          "address": "643 Evelyn Brook",
          "address2": "West Triston",
          "town": "North Geoberg",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "ST8 3AA",
          "telephone": "(530) 895-4165 x7246",
          "fax": "1-778-230-0048"
        }
      ]
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Add a customer",
        "description": "Note: setting send_email to true will send an email to the customer prompting them to create a password",
        "operationId": "Customers_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1305,
    "email_address": "Ivan.Hamill82@gmail.com",
    "first_name": "Audrey",
    "last_name": "Bosco",
    "order_count": 0,
    "loyalty_points": 0.0,
    "created_date": "2021-03-16T01:48:12.9063282Z",
    "modified_date": "2021-03-25T11:16:17.4278492Z",
    "last_login_date": "2020-09-06T22:13:40.7789925Z",
    "last_login_attempt_date": "2021-01-22T14:30:06.1450689Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-04-04T03:33:45.9486783Z",
        "modified_date": "2021-02-07T07:34:35.8265484Z",
        "customer_id": 1305,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Russ",
        "last_name": "Langosh",
        "company": "Schinner, Terry and Homenick",
        "address": "778 Alverta Haven",
        "address2": "West Zoeyville",
        "town": "Keelingshire",
        "county": "Bedfordshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "RS7 5XL",
        "telephone": "1-887-772-1179",
        "fax": "579-768-1545"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/search": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Searches customers based on search criteria",
        "operationId": "Customers_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customers based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1306,
      "email_address": "Stewart_Hansen57@hotmail.com",
      "first_name": "Kacie",
      "last_name": "Wolf",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-06-26T10:27:39.1676005Z",
      "modified_date": "2020-05-25T08:56:27.0449589Z",
      "last_login_date": "2020-11-30T08:48:49.2748543Z",
      "last_login_attempt_date": "2020-05-11T01:57:46.8807819Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-09-13T11:16:40.291905Z",
          "modified_date": "2020-11-05T17:49:36.9606287Z",
          "customer_id": 1306,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Estella",
          "last_name": "Gutmann",
          "company": "Nikolaus and Sons",
          "address": "721 Trevion Harbor",
          "address2": "Windlerbury",
          "town": "Hettieport",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "LA6 0XF",
          "telephone": "324.518.4009 x0667",
          "fax": "293.278.0232 x9030"
        }
      ]
    },
    {
      "id": 1307,
      "email_address": "Ismael35@gmail.com",
      "first_name": "Mathew",
      "last_name": "Durgan",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2020-10-26T18:39:19.2305393Z",
      "modified_date": "2021-02-25T03:34:36.8128575Z",
      "last_login_date": "2021-03-30T22:54:07.7808866Z",
      "last_login_attempt_date": "2020-11-18T20:47:55.9194926Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-09-25T15:52:36.1781876Z",
          "modified_date": "2021-03-24T12:51:47.1849396Z",
          "customer_id": 1307,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Mariane",
          "last_name": "Kovacek",
          "company": "Johns, Schamberger and Feest",
          "address": "508 Ebony Port",
          "address2": "New Gus",
          "town": "Alaynafort",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "NS4 1DS",
          "telephone": "768.617.2763",
          "fax": "1-722-488-2138 x944"
        }
      ]
    },
    {
      "id": 1308,
      "email_address": "Tammy32@gmail.com",
      "first_name": "Kariane",
      "last_name": "Romaguera",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-10-07T06:38:51.0188913Z",
      "modified_date": "2020-06-30T03:20:21.9840281Z",
      "last_login_date": "2020-04-09T21:00:50.867418Z",
      "last_login_attempt_date": "2020-12-10T20:35:45.1381202Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-09-09T06:06:05.441948Z",
          "modified_date": "2020-12-26T21:31:39.2805408Z",
          "customer_id": 1308,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Irma",
          "last_name": "Brown",
          "company": "Howell - Homenick",
          "address": "748 Jaskolski Terrace",
          "address2": "East Virginieborough",
          "town": "New Elbert",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "ZP5 3IC",
          "telephone": "(377) 510-9888 x612",
          "fax": "350-605-6631"
        }
      ]
    },
    {
      "id": 1309,
      "email_address": "Lula_Ward61@gmail.com",
      "first_name": "Kayley",
      "last_name": "Ziemann",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2020-06-17T11:48:28.488996Z",
      "modified_date": "2020-12-11T23:29:33.0263498Z",
      "last_login_date": "2020-09-23T14:42:15.0612581Z",
      "last_login_attempt_date": "2020-05-18T00:20:24.1985279Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-03-27T05:50:52.4282567Z",
          "modified_date": "2020-06-04T17:35:03.7125514Z",
          "customer_id": 1309,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Santiago",
          "last_name": "Rohan",
          "company": "Metz, Mann and Gutmann",
          "address": "12705 Hettinger Course",
          "address2": "East Destiney",
          "town": "Klingside",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "TQ6 0JS",
          "telephone": "615.299.3021 x371",
          "fax": "244.949.9643 x9073"
        }
      ]
    },
    {
      "id": 1310,
      "email_address": "Laurence.Bernhard@gmail.com",
      "first_name": "Travis",
      "last_name": "Feil",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2020-06-28T19:28:39.6790908Z",
      "modified_date": "2020-05-22T05:47:45.0226338Z",
      "last_login_date": "2020-08-19T14:17:49.4662657Z",
      "last_login_attempt_date": "2020-05-29T10:07:30.7261173Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-12-07T00:09:05.9061669Z",
          "modified_date": "2020-09-08T18:43:45.1471333Z",
          "customer_id": 1310,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Alyson",
          "last_name": "Rogahn",
          "company": "Keebler - Barrows",
          "address": "08196 Auer Divide",
          "address2": "Bryceview",
          "town": "West Kellyshire",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "TM4 6FX",
          "telephone": "677.886.9338",
          "fax": "(568) 988-3104 x728"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/settings/domains": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get the current Primary Domain",
        "operationId": "Domains_GetPrimaryDomain",
        "responses": {
          "200": {
            "description": "The primary domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1DomainName"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "primary_domain_name": "colten.org"
  }
}
              }
            }
          },
          "404": {
            "description": "No primary domain found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Domain not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v2/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get an order by ID",
        "operationId": "Orders_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The order ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV2Order"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 806,
    "order_number": "gaeobxd9nh9h8jgk",
    "order_date": "2010-10-03T17:24:56.7121242Z",
    "is_confirmed": true,
    "sub_total": 0.39485831809922045,
    "total_delivery": 0.888305676583343,
    "total_tax": 0.7302890437330534,
    "total_cost": 0.7770229474534387,
    "status": "COMPLETE",
    "payment_status": "UNKNOWN",
    "delivery_method": "",
    "transaction_id": "5756cae5-ddac-4328-a231-8a4bd054d3ad",
    "transaction_status": "",
    "order_type": "",
    "use_shipping_address": true,
    "shipping_address": {
      "first_name": "Abraham",
      "last_name": "Pacocha",
      "id": 1210236040,
      "created_date": "2021-01-15T11:21:18.2629123Z",
      "modified_date": "2020-09-12T16:38:29.5960156Z",
      "customer_id": 1817631220,
      "is_preferred_billing_address": false,
      "is_preferred_shipping_address": false,
      "company": "Hodkiewicz - Schimmel",
      "address": "860 Ida Plains",
      "address2": "East Jules",
      "town": "South Carolina",
      "county": "Borders",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": "YS6 2RI",
      "telephone": "777.604.7304 x92700",
      "fax": "(928) 454-8158"
    },
    "internal_notes": "This is an internal order note.\n\nThis is another internal order note.",
    "customer_facing_notes": "This is an order note.\n\nThis is another order note.",
    "emailed": false,
    "discounts": "",
    "discounts_total": 0.0,
    "shipping_company": "UPS",
    "ip_address": "127.0.0.1",
    "guid": "01082eb6-5f72-0884-8cc7-de5b93adea55",
    "last_updated": null,
    "delivery_tax_rate": null,
    "delivery_includes_tax": null,
    "custom_fields_total": null,
    "custom_fields_tax_total": null,
    "customer_details": {
      "customer_id": -477189192,
      "email_address": "Arne_Homenick@hotmail.com",
      "first_name": "Abraham",
      "last_name": "Pacocha",
      "company": "Leuschke - Frami",
      "address": "3639 Rachael Harbor",
      "address2": "Gislasonville",
      "town": "South Gaylord",
      "county": "Borders",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": "TF6 2PN",
      "telephone": "211-251-6624",
      "fax": "497.872.1738",
      "billing_address_verified": true
    },
    "custom_fields": null,
    "delivery_tracking_number": null,
    "delivery_tracking_company": null,
    "delivery_tracking_url": null
  }
}
              }
            }
          },
          "404": {
            "description": "No Order was found for the requested ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
[...]
