{
  "openapi": "3.0.1",
  "info": {
    "title": "EKM Partner API",
    "description": "Our new API allows partners to build significantly better integrations with the EKM platform.\r\n\r\nTo try out the below endpoints, or for full up to date representations of the request / response models, please see the [swagger page](https://api.ekm.net/swagger/index.html). (We display examples here, but the swagger page is guaranteed to show the complete model.)\r\n\r\nTo keep up to date with the latest updates, please see our [RSS feed](https://partners.ekm.net/ChangeLog/Feed) or the [partner dashboard](https://partners.ekm.net/).",
    "contact": {
      "name": "EKM",
      "url": "https://ekm.com",
      "email": "api-support@ekm.com"
    },
    "version": "Latest",
    "x-logo": {
      "url": "/images/ekm-logo-vector-RGB-1920x1080.png",
      "backgroundColor": "#fafafa"
    }
  },
  "servers": [
    {
      "url": "https://api.ekm.net"
    }
  ],
  "paths": {
    "/api/v1/categories/{id}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a category",
        "operationId": "Categories_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The chosen category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 754,
    "name": "EKM - nostrum",
    "description": "Sunt unde dignissimos eum voluptas. Aliquid temporibus reiciendis eum aut repudiandae nostrum alias. Beatae exercitationem aut commodi et voluptatem dolorem fugit nihil. Hic in qui qui sunt deleniti pariatur necessitatibus alias. Enim nisi dolorem fuga vitae exercitationem repellendus repellat quaerat.",
    "in_category_description": "Rerum dolore magnam ut odit. Non minima sequi maxime iusto voluptatem veritatis saepe illo fuga. Voluptate ut quaerat voluptatem nostrum tempora qui minus magni quaerat.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Categories"
        ],
        "summary": "Update a category",
        "operationId": "Categories_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 755,
    "name": "EKM - veniam",
    "description": "Eum at ex molestias veritatis. Deleniti omnis laudantium occaecati et. Nulla doloremque quo quia aut qui accusantium. Illum deserunt ex aut ut mollitia sit nam. Reiciendis nihil facilis voluptas repellendus sint culpa. Iste eum est ratione esse earum vel laboriosam.",
    "in_category_description": "Adipisci placeat velit accusantium non aliquam. Omnis labore dolores omnis ad. Enim vel voluptatem atque vel ad. Veritatis fugit quaerat expedita unde.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Delete a category",
        "operationId": "Categories_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of categories",
        "operationId": "Categories_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - ut",
      "description": "In est reiciendis totam qui voluptatem dolorem. Sed hic quia reprehenderit ab ut cum vitae fugit veniam. Velit sit qui praesentium error. Magni eum vitae.",
      "in_category_description": "Deleniti et hic possimus voluptatem officia occaecati vitae qui. Corrupti eveniet ut provident rerum. Ut dolorem iusto dolor perspiciatis ut provident necessitatibus adipisci consequatur. Velit ea est assumenda.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - quod",
      "description": "Rem unde odio nostrum vitae. Natus doloremque eum. Molestiae iusto dolores. Molestiae dolor eveniet iste est enim non non explicabo veritatis.",
      "in_category_description": "In aut cum omnis. Placeat totam sed veritatis sunt dignissimos earum. Ut et excepturi iusto deleniti delectus possimus excepturi. Atque tempora autem non sunt. Voluptatem voluptatem qui.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - vel",
      "description": "Est ducimus aliquid quasi molestias dolor delectus a et fugiat. A vel corporis eligendi optio est laborum explicabo. Quidem dolores et qui ut sit expedita aliquid eum. Rerum veritatis non aut distinctio ipsum neque consequatur ut. Temporibus omnis in est quos quo in temporibus nihil.",
      "in_category_description": "Quo quis molestiae corporis omnis qui. Aut dolor cupiditate et in et adipisci cum maxime consequatur. Cupiditate sed ea rerum enim perferendis vitae id. A magni recusandae et molestiae non enim et omnis quis.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - quas",
      "description": "Quaerat ut autem voluptatem quia. Suscipit blanditiis illum sunt reprehenderit ratione eveniet sint vitae velit. Voluptates eius illum nulla earum ut et expedita est facilis.",
      "in_category_description": "Eveniet blanditiis et sed dolor ad. Pariatur quae voluptas aut. Cupiditate qui eaque ut quisquam doloremque. Incidunt id et. Quis nostrum quas voluptatem ullam omnis. Atque suscipit qui inventore sint quidem necessitatibus.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - est",
      "description": "Rerum ut non quasi sed esse quia et. Cumque recusandae distinctio quidem cupiditate autem aspernatur beatae numquam dolore. A quo exercitationem iusto ex assumenda illum laudantium. Ea et aut enim. Veniam aliquam accusamus nemo dolorem.",
      "in_category_description": "Occaecati quis pariatur tempore. Cumque inventore ut illum iste cum commodi quae est. Ab quos quo. Animi eos in cupiditate ab. Aliquid ut labore ut tempora assumenda quae quis quos. Totam ducimus voluptas provident quasi possimus.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Add a category",
        "operationId": "Categories_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 761,
    "name": "EKM - adipisci",
    "description": "Aut placeat voluptatem soluta quia sed vel mollitia qui. Quia rerum nulla et pariatur. Et illum qui officia temporibus et. Omnis dolore rerum id qui sit minima voluptas nam dolorem.",
    "in_category_description": "Architecto dicta officia. Suscipit pariatur quia. Aspernatur ipsum dolores dolorum. Repudiandae illo quidem earum laudantium illum inventore nisi. Impedit et sed mollitia est velit ut et expedita.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/search": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Searches categories based on search criteria",
        "operationId": "Categories_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. live eq true",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - omnis",
      "description": "Est iure nulla facere reprehenderit id et ea. Eum facere voluptatem a illum consequuntur rerum ut velit ut. Minus voluptatem autem sequi non quod sed.",
      "in_category_description": "Libero sint porro qui molestiae eos libero autem. Architecto vitae odio earum. Voluptas cum sint rerum fugiat quis eveniet non blanditiis. Unde doloribus blanditiis aut est modi. Sed vero porro eius accusamus eaque similique aperiam. Praesentium pariatur quo consequuntur ut sit autem qui.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - ab",
      "description": "Aut consequatur voluptatum. Qui inventore quis et recusandae soluta distinctio aut delectus. Perspiciatis qui modi facilis praesentium rerum. Est sequi eum quae vel sit neque commodi velit consequatur.",
      "in_category_description": "Quia omnis dolorem vel. Beatae consequatur placeat distinctio aspernatur repellat et placeat placeat nihil. Mollitia similique aut deserunt quo et dolores numquam. Quod voluptas qui consequuntur ut id cum optio. Possimus officiis autem sed exercitationem similique est necessitatibus quis molestias. Doloremque ullam veritatis fuga.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - iusto",
      "description": "Velit quis autem eos illo hic minus amet. Vitae fuga sed commodi voluptatem aut vero asperiores fugiat. Qui ad labore earum rerum. Maiores veritatis dolorum dignissimos voluptatem aut est est aut. Voluptas sint et illum nihil totam. Vel similique ut.",
      "in_category_description": "Fugiat molestiae odio quasi. Sunt autem aliquid sapiente molestiae molestiae ea quasi necessitatibus. Quod corrupti reiciendis.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - recusandae",
      "description": "Voluptas est nisi autem sit. Molestiae neque nihil autem soluta laborum quo tempora eligendi consequatur. Enim animi in possimus. Ut dicta quaerat maxime provident ex consequatur.",
      "in_category_description": "Sit qui saepe asperiores sequi explicabo eligendi. Neque ducimus amet sed illo maxime maxime incidunt nam. Id exercitationem libero suscipit rerum dolores. Accusamus aliquam sed enim reprehenderit.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - sunt",
      "description": "Repellendus ut temporibus. Incidunt sed voluptates dolores sed iusto hic similique reiciendis pariatur. Excepturi excepturi et non harum. Et asperiores debitis. Nam veniam quo in et est. Qui odio ut in tenetur quis et necessitatibus dolorem quibusdam.",
      "in_category_description": "Asperiores non ut voluptatem sint id omnis non rerum neque. Et ex repudiandae. Similique magnam quasi et eaque nam quasi.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/subcategories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of subcategories",
        "operationId": "Categories_Subcategories",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of subcategories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1SubCategory"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "parent_category_id": 2,
      "category_id": 1,
      "name": "EKM - quia",
      "description": "Earum natus tempora et ipsa aut incidunt. Explicabo aut totam voluptatem voluptatem et aut quod et. Incidunt consequatur ea quae. Quod et quidem. Debitis explicabo labore et possimus consequatur dignissimos aut ipsa.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 4,
      "category_id": 2,
      "name": "EKM - provident",
      "description": "Ex voluptas architecto quaerat aperiam beatae magnam. Voluptatem rerum exercitationem quam fugiat earum ipsum dolor eveniet occaecati. Similique voluptate ab aliquid cumque vero.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 6,
      "category_id": 3,
      "name": "EKM - a",
      "description": "Qui hic non non voluptatem quidem debitis. Voluptas repellendus consequatur distinctio et facilis est. Quibusdam illum dicta vel quidem voluptatem architecto cupiditate quae non. Corporis corrupti autem ea. Consequatur quod ipsum.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 8,
      "category_id": 4,
      "name": "EKM - velit",
      "description": "Ut velit et. Pariatur fugit excepturi eum hic omnis dignissimos quam. Eaque accusamus eveniet officiis iste officiis ea dolorem fuga dignissimos.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 10,
      "category_id": 5,
      "name": "EKM - sunt",
      "description": "Eum recusandae nostrum debitis voluptatum voluptate repudiandae porro unde necessitatibus. Asperiores esse sapiente perferendis eius in et eos. Voluptatum commodi sed.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/categorymanaged/{childCategoryId}": {
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Set a category to be managed by another category",
        "operationId": "Categories_SetCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The added managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "parent_category_id": 1,
    "category_id": 10,
    "name": "Subcategory",
    "description": null,
    "order_location": 99999,
    "live": true,
    "is_category_managed": true
  }
}
              }
            }
          },
          "400": {
            "description": "A subcategory or managed category already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category or child category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Stops a category from being managed by another category",
        "operationId": "Categories_DeleteCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The removed managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No managed category found for that child category ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/filters": {
      "put": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_UpdateCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CategoryFilters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "get": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_GetCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CategoryFilters"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/{addressId}": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a single Customer Address by Id",
        "operationId": "CustomerAddresses_GetById",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-12-31T08:40:53.1303151Z",
    "modified_date": "2020-11-10T12:16:38.4506584Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Marina",
    "last_name": "Kuvalis",
    "company": "Fay - Kemmer",
    "address": "967 Hansen Plain",
    "address2": null,
    "town": "New Sofia",
    "county": "Buckinghamshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "620.251.4918 x193",
    "fax": "1-279-240-7808 x03791"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Update a Customer Address",
        "operationId": "CustomerAddresses_Update",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-11-12T03:02:41.1277902Z",
    "modified_date": "2020-08-04T03:45:11.4525166Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Graciela",
    "last_name": "Kovacek",
    "company": "Shanahan and Sons",
    "address": "239 Green Track",
    "address2": null,
    "town": "West Dahlia",
    "county": "Cambridgeshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "764.878.7049 x135",
    "fax": "966-592-5884 x11540"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Delete a Customer Address",
        "operationId": "CustomerAddresses_Delete",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer Address deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-05-21T17:59:51.878163Z",
    "modified_date": "2021-02-20T00:30:14.6488308Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Tina",
    "last_name": "Shanahan",
    "company": "Larson LLC",
    "address": "47839 McClure Vista",
    "address2": null,
    "town": "West Hillard",
    "county": "Borders",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "770-489-2253 x20021",
    "fax": "447.551.3311 x002"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a paginated set of Customer Addresses",
        "operationId": "CustomerAddresses_GetAll",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customer Addresses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 0,
      "created_date": "2020-10-27T16:06:55.9836821Z",
      "modified_date": "2020-10-27T17:41:24.2098348Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Angelo",
      "last_name": "Renner",
      "company": "Wiegand, Swaniawski and Daniel",
      "address": "89274 Mante Neck",
      "address2": null,
      "town": "Korbinberg",
      "county": "Berkshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "973.258.4978 x19621",
      "fax": "1-524-409-8162 x156"
    },
    {
      "id": 0,
      "created_date": "2021-01-30T00:52:57.040796Z",
      "modified_date": "2020-06-09T20:54:21.8093539Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Reanna",
      "last_name": "Ernser",
      "company": "Watsica, Cormier and Weissnat",
      "address": "7639 Reichel Glen",
      "address2": null,
      "town": "Port Lenna",
      "county": "Cambridgeshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "399-901-6637",
      "fax": "(443) 498-0072 x03771"
    },
    {
      "id": 0,
      "created_date": "2021-03-21T23:49:04.7320638Z",
      "modified_date": "2021-02-13T18:33:55.474413Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Rosina",
      "last_name": "Reilly",
      "company": "Reichert, Purdy and Wilderman",
      "address": "915 Terrill Dam",
      "address2": null,
      "town": "Effertzhaven",
      "county": "Avon",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "(394) 995-0926 x128",
      "fax": "845.294.0259 x99167"
    },
    {
      "id": 0,
      "created_date": "2020-08-27T04:54:02.3240549Z",
      "modified_date": "2021-01-03T11:28:08.2488102Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Jocelyn",
      "last_name": "Toy",
      "company": "Funk - Kuphal",
      "address": "02872 Monique Glens",
      "address2": null,
      "town": "Hammesport",
      "county": "Borders",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "939-640-5034 x1143",
      "fax": "(392) 293-4782 x301"
    },
    {
      "id": 0,
      "created_date": "2020-10-31T04:10:25.0711906Z",
      "modified_date": "2020-11-07T20:04:10.0513534Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Uriel",
      "last_name": "Klein",
      "company": "Howell, Morar and Lindgren",
      "address": "9103 Kilback Ridge",
      "address2": null,
      "town": "Lake Mozellemouth",
      "county": "Bedfordshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "1-925-424-8570",
      "fax": "410.596.9438 x05502"
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Add a Customer Address",
        "operationId": "CustomerAddresses_Create",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2021-03-02T22:23:24.2165399Z",
    "modified_date": "2021-03-29T12:52:45.9594993Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Jammie",
    "last_name": "Klocko",
    "company": "Brown, Sporer and Johnston",
    "address": "427 Ted Forges",
    "address2": null,
    "town": "West Nanniestad",
    "county": "Buckinghamshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "317.308.3886 x50048",
    "fax": "549.570.8770"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/search": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Searches customer addresses based on search criteria",
        "operationId": "CustomerAddresses_Search",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customer adresses based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1102,
      "email_address": "Justin38@yahoo.com",
      "first_name": "Rusty",
      "last_name": "Emmerich",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2021-01-01T11:53:50.8873851Z",
      "modified_date": "2020-06-22T10:26:43.6075793Z",
      "last_login_date": "2020-10-06T19:48:28.9513509Z",
      "last_login_attempt_date": "2020-11-27T21:26:46.291377Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-12-04T00:08:39.3205885Z",
          "modified_date": "2020-06-13T12:47:38.1479457Z",
          "customer_id": 1102,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Efren",
          "last_name": "Schowalter",
          "company": "Jerde Group",
          "address": "7338 Konopelski Mission",
          "address2": "Willville",
          "town": "Langview",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "NT1 5UY",
          "telephone": "1-362-298-3323 x750",
          "fax": "(892) 798-8527"
        }
      ]
    },
    {
      "id": 1103,
      "email_address": "Darlene_Glover@gmail.com",
      "first_name": "Katrine",
      "last_name": "Rogahn",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-08-18T13:03:12.3034635Z",
      "modified_date": "2020-12-05T06:06:00.0601227Z",
      "last_login_date": "2020-05-28T16:56:46.6116468Z",
      "last_login_attempt_date": "2021-02-03T22:14:02.7294174Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-04-19T03:22:51.7387131Z",
          "modified_date": "2020-07-01T04:16:49.4290203Z",
          "customer_id": 1103,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Ellis",
          "last_name": "Keeling",
          "company": "Muller Group",
          "address": "84192 Ortiz Harbors",
          "address2": "Murphymouth",
          "town": "Wiegandberg",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "NL2 4GJ",
          "telephone": "1-522-766-9414 x900",
          "fax": "238-325-1221"
        }
      ]
    },
    {
      "id": 1104,
      "email_address": "Heather.Mraz@hotmail.com",
      "first_name": "Fern",
      "last_name": "Schuppe",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2020-11-12T11:57:51.0633665Z",
      "modified_date": "2020-12-07T17:30:46.5359993Z",
      "last_login_date": "2020-08-01T04:22:03.454126Z",
      "last_login_attempt_date": "2021-01-18T23:51:44.5707896Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-05-22T03:27:04.6198529Z",
          "modified_date": "2021-01-26T21:52:53.1993465Z",
          "customer_id": 1104,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Leonora",
          "last_name": "Frami",
          "company": "Gutkowski, Cartwright and Schumm",
          "address": "78261 Elijah Ville",
          "address2": "Port Lurlinetown",
          "town": "Lake Aracelyfort",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "UA7 6EJ",
          "telephone": "863-625-6722",
          "fax": "426.965.1698 x14789"
        }
      ]
    },
    {
      "id": 1105,
      "email_address": "Joshua.Aufderhar37@hotmail.com",
      "first_name": "Alexandrine",
      "last_name": "Hodkiewicz",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-05-09T21:18:35.2719395Z",
      "modified_date": "2020-12-15T20:23:24.2897094Z",
      "last_login_date": "2020-11-28T13:48:07.9548095Z",
      "last_login_attempt_date": "2021-01-20T18:48:24.4277675Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-01-29T18:02:20.655352Z",
          "modified_date": "2021-01-02T07:47:51.7392013Z",
          "customer_id": 1105,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Chadrick",
          "last_name": "Sauer",
          "company": "Thompson - Jerde",
          "address": "2683 Keebler Stravenue",
          "address2": "Fishermouth",
          "town": "Jakubowskiview",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "WM5 6CE",
          "telephone": "619.787.1580",
          "fax": "(773) 321-2382 x532"
        }
      ]
    },
    {
      "id": 1106,
      "email_address": "Gordon.King12@hotmail.com",
      "first_name": "Perry",
      "last_name": "Prosacco",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-06-16T23:39:08.6874629Z",
      "modified_date": "2021-03-12T13:32:27.8523915Z",
      "last_login_date": "2021-01-13T10:44:37.4723289Z",
      "last_login_attempt_date": "2020-11-28T01:39:45.848469Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-03-18T22:52:35.938477Z",
          "modified_date": "2021-02-15T08:13:30.6050342Z",
          "customer_id": 1106,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Wilburn",
          "last_name": "Homenick",
          "company": "Halvorson - Kling",
          "address": "772 Braulio Creek",
          "address2": "Jarretbury",
          "town": "Whiteborough",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "DO0 1VZ",
          "telephone": "711.438.6140 x83523",
          "fax": "808.421.3788"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a single Customer by Id",
        "operationId": "Customers_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Customers Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customers Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1107,
    "email_address": "Darryl_Corkery@hotmail.com",
    "first_name": "Annabell",
    "last_name": "Ritchie",
    "order_count": 0,
    "loyalty_points": 0.0,
    "created_date": "2021-01-25T15:04:24.187698Z",
    "modified_date": "2020-12-29T12:17:44.148152Z",
    "last_login_date": "2020-12-12T14:18:50.7777837Z",
    "last_login_attempt_date": "2020-10-14T21:18:16.5518857Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": true,
    "addresses": [
      {
        "id": 0,
        "created_date": "2021-03-17T21:00:59.8725234Z",
        "modified_date": "2021-02-28T19:08:26.0111059Z",
        "customer_id": 1107,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Nova",
        "last_name": "Mertz",
        "company": "Legros, Mayer and Jacobs",
        "address": "9758 Rebekah Knolls",
        "address2": "West Blanca",
        "town": "New Lexistad",
        "county": "Bedfordshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "QE4 2IP",
        "telephone": "(667) 815-8947 x62977",
        "fax": "798.616.0105 x6611"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update a Customer",
        "operationId": "Customers_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1108,
    "email_address": "Jody.Metz@yahoo.com",
    "first_name": "Hipolito",
    "last_name": "Weimann",
    "order_count": 0,
    "loyalty_points": 1.0,
    "created_date": "2020-05-15T12:59:52.9431494Z",
    "modified_date": "2020-05-17T10:36:44.8109334Z",
    "last_login_date": "2021-01-15T11:41:59.1103361Z",
    "last_login_attempt_date": "2020-11-27T10:37:56.6410543Z",
    "locked": true,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2021-01-09T04:23:57.1096224Z",
        "modified_date": "2020-08-10T06:14:21.4134147Z",
        "customer_id": 1108,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Lulu",
        "last_name": "Steuber",
        "company": "Witting, Beahan and Batz",
        "address": "398 Keshawn Drive",
        "address2": "West Clarissaberg",
        "town": "Bernieceton",
        "county": "Borders",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "SQ4 2JI",
        "telephone": "842-620-0984 x85983",
        "fax": "384.869.4906 x74538"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete a Customer",
        "operationId": "Customers_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1109,
    "email_address": "Barry66@gmail.com",
    "first_name": "Evelyn",
    "last_name": "Metz",
    "order_count": 1,
    "loyalty_points": 0.0,
    "created_date": "2021-02-07T11:59:37.1972403Z",
    "modified_date": "2021-02-25T09:06:43.7179576Z",
    "last_login_date": "2020-12-29T14:12:19.0536791Z",
    "last_login_attempt_date": "2020-10-17T10:35:55.1961454Z",
    "locked": true,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-12-29T03:06:19.9428022Z",
        "modified_date": "2021-02-20T10:58:00.2258067Z",
        "customer_id": 1109,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "May",
        "last_name": "Howell",
        "company": "Lueilwitz Group",
        "address": "42090 Lauryn Pass",
        "address2": "West Giovani",
        "town": "New Creolamouth",
        "county": "Bedfordshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "OS7 3AK",
        "telephone": "308-773-8014",
        "fax": "(374) 817-9875 x734"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a paginated set of Customers",
        "operationId": "Customers_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1110,
      "email_address": "Ricky59@yahoo.com",
      "first_name": "Dean",
      "last_name": "Gaylord",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-01-10T17:38:55.770324Z",
      "modified_date": "2021-03-31T04:15:07.3825188Z",
      "last_login_date": "2020-04-09T12:45:37.7201956Z",
      "last_login_attempt_date": "2020-05-05T22:16:03.581361Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-12-20T02:40:24.933745Z",
          "modified_date": "2021-02-28T06:17:52.9649704Z",
          "customer_id": 1110,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Elyssa",
          "last_name": "Herman",
          "company": "Daugherty, Schneider and Hahn",
          "address": "93846 Fisher Rue",
          "address2": "Breanaton",
          "town": "Port Tristin",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "ZZ5 8NG",
          "telephone": "1-677-839-1633 x35821",
          "fax": "901-383-4888"
        }
      ]
    },
    {
      "id": 1111,
      "email_address": "Joyce_Batz31@yahoo.com",
      "first_name": "Blair",
      "last_name": "Hansen",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2020-07-31T04:24:23.3073784Z",
      "modified_date": "2021-01-19T22:23:55.981882Z",
      "last_login_date": "2020-11-15T05:53:09.0997116Z",
      "last_login_attempt_date": "2020-04-23T02:31:02.9965682Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-02-28T06:55:49.2135838Z",
          "modified_date": "2020-11-11T19:20:40.4299796Z",
          "customer_id": 1111,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Mitchel",
          "last_name": "Larkin",
          "company": "Rohan and Sons",
          "address": "1047 Ollie Ville",
          "address2": "Karleeborough",
          "town": "Bransonberg",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "HU6 8MF",
          "telephone": "758.430.1292 x18888",
          "fax": "985.231.3807 x3965"
        }
      ]
    },
    {
      "id": 1112,
      "email_address": "Terrell_Streich46@hotmail.com",
      "first_name": "Daisha",
      "last_name": "Hessel",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-09-19T08:23:53.8023854Z",
      "modified_date": "2020-05-15T10:20:55.976895Z",
      "last_login_date": "2021-01-23T17:21:20.2512463Z",
      "last_login_attempt_date": "2021-02-08T15:02:07.9355731Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-04-25T14:54:11.3976143Z",
          "modified_date": "2020-10-01T22:55:11.2244751Z",
          "customer_id": 1112,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Emory",
          "last_name": "Grady",
          "company": "Gulgowski Inc",
          "address": "7273 Hackett Path",
          "address2": "Mayerborough",
          "town": "Schambergershire",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "VI5 2XC",
          "telephone": "1-744-782-9565",
          "fax": "248-994-6337 x595"
        }
      ]
    },
    {
      "id": 1113,
      "email_address": "Misty.Vandervort88@hotmail.com",
      "first_name": "Danyka",
      "last_name": "Emmerich",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2021-01-30T22:41:26.285936Z",
      "modified_date": "2021-02-15T16:02:58.9015401Z",
      "last_login_date": "2020-06-27T01:54:21.9998904Z",
      "last_login_attempt_date": "2020-11-21T01:37:25.2317705Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-08-25T22:09:10.7664743Z",
          "modified_date": "2020-05-21T22:30:42.6839103Z",
          "customer_id": 1113,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Lexie",
          "last_name": "Walter",
          "company": "Runte, Block and Yundt",
          "address": "0064 Jamel Mall",
          "address2": "DuBuquemouth",
          "town": "North Greta",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "XN5 2CN",
          "telephone": "1-810-405-4444",
          "fax": "1-669-521-4271"
        }
      ]
    },
    {
      "id": 1114,
      "email_address": "Dwight2@hotmail.com",
      "first_name": "Albina",
      "last_name": "Ebert",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2021-01-24T18:07:26.8670379Z",
      "modified_date": "2020-08-16T05:51:41.0779708Z",
      "last_login_date": "2020-07-01T16:28:50.206863Z",
      "last_login_attempt_date": "2021-01-15T00:04:05.6107701Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-02-28T19:21:17.8382683Z",
          "modified_date": "2020-06-26T04:22:19.1961374Z",
          "customer_id": 1114,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Rossie",
          "last_name": "Runolfsdottir",
          "company": "Thompson, Jast and Harris",
          "address": "68821 Nicolas Mountain",
          "address2": "Hellerstad",
          "town": "West Mitchell",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "VN0 2EJ",
          "telephone": "1-959-973-6130",
          "fax": "841.816.5363"
        }
      ]
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Add a customer",
        "description": "Note: setting send_email to true will send an email to the customer prompting them to create a password",
        "operationId": "Customers_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1115,
    "email_address": "Regina.Hilpert31@yahoo.com",
    "first_name": "Jamar",
    "last_name": "Mueller",
    "order_count": 0,
    "loyalty_points": 0.0,
    "created_date": "2020-06-18T08:47:40.0257893Z",
    "modified_date": "2020-11-16T06:32:19.0001654Z",
    "last_login_date": "2020-04-05T09:20:13.9986199Z",
    "last_login_attempt_date": "2021-01-08T10:54:23.731982Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": true,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-07-08T19:15:56.6951019Z",
        "modified_date": "2020-04-30T17:49:11.3289674Z",
        "customer_id": 1115,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Aletha",
        "last_name": "Nitzsche",
        "company": "Bayer - Bayer",
        "address": "69623 Mike Glens",
        "address2": "Greenholtshire",
        "town": "Jazmynland",
        "county": "Bedfordshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "JT4 6FW",
        "telephone": "262-995-6554 x5130",
        "fax": "383-276-6163 x196"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/search": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Searches customers based on search criteria",
        "operationId": "Customers_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customers based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1116,
      "email_address": "Lucas_Dach89@gmail.com",
      "first_name": "Beaulah",
      "last_name": "Lubowitz",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2020-08-10T17:21:41.9034642Z",
      "modified_date": "2020-07-06T19:24:35.5601155Z",
      "last_login_date": "2020-06-05T08:46:52.9751203Z",
      "last_login_attempt_date": "2020-09-11T02:51:47.5842959Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-06-03T21:52:26.2494302Z",
          "modified_date": "2020-06-07T09:24:17.5231446Z",
          "customer_id": 1116,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Avis",
          "last_name": "D\u0027Amore",
          "company": "Marquardt - Ullrich",
          "address": "266 Vivianne Circle",
          "address2": "East Jovan",
          "town": "New Dakotahaven",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "KQ5 2YO",
          "telephone": "794.685.2761 x585",
          "fax": "804-446-5309"
        }
      ]
    },
    {
      "id": 1117,
      "email_address": "Kristi.Leuschke@gmail.com",
      "first_name": "Amir",
      "last_name": "Beahan",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2021-01-16T22:04:27.6343658Z",
      "modified_date": "2021-02-11T09:23:11.1628463Z",
      "last_login_date": "2020-10-24T18:46:03.1496562Z",
      "last_login_attempt_date": "2020-06-24T13:15:15.7543441Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-03-19T11:30:06.0998284Z",
          "modified_date": "2020-11-04T00:33:43.3281103Z",
          "customer_id": 1117,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Lorenz",
          "last_name": "Stark",
          "company": "Mitchell, Raynor and Schimmel",
          "address": "0049 Hand Road",
          "address2": "Mayerville",
          "town": "North Keshawn",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "YS1 2MB",
          "telephone": "966-271-6309",
          "fax": "(625) 683-2824"
        }
      ]
    },
    {
      "id": 1118,
      "email_address": "Raul93@gmail.com",
      "first_name": "Mara",
      "last_name": "Jenkins",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2020-04-19T05:17:03.4373123Z",
      "modified_date": "2020-11-06T12:48:02.5222324Z",
      "last_login_date": "2020-04-15T16:47:47.9068848Z",
      "last_login_attempt_date": "2020-06-29T08:25:06.6162336Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-04-29T17:32:25.2526329Z",
          "modified_date": "2020-06-20T20:57:58.4889426Z",
          "customer_id": 1118,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Madilyn",
          "last_name": "O\u0027Kon",
          "company": "Armstrong and Sons",
          "address": "54562 Langosh Terrace",
          "address2": "Lake Zachery",
          "town": "Port Alessandrostad",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "SF7 6NM",
          "telephone": "(275) 339-1410 x67546",
          "fax": "871-453-7419"
        }
      ]
    },
    {
      "id": 1119,
      "email_address": "Kay46@yahoo.com",
      "first_name": "Clarabelle",
      "last_name": "Medhurst",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-08-31T03:26:45.7656247Z",
      "modified_date": "2020-05-10T15:16:10.571023Z",
      "last_login_date": "2020-06-22T09:25:15.7557859Z",
      "last_login_attempt_date": "2021-02-27T04:08:28.8273012Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-03-27T03:03:39.1636681Z",
          "modified_date": "2021-02-02T19:11:41.8482905Z",
          "customer_id": 1119,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Bridgette",
          "last_name": "Waelchi",
          "company": "Von - Champlin",
          "address": "7709 Feil Corners",
          "address2": "MacGyverberg",
          "town": "Fritschfort",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "TT8 0DA",
          "telephone": "920-266-7984 x638",
          "fax": "1-401-283-4273 x638"
        }
      ]
    },
    {
      "id": 1120,
      "email_address": "Rochelle.Hackett@gmail.com",
      "first_name": "Faustino",
      "last_name": "Schmitt",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-10-10T12:48:07.0042107Z",
      "modified_date": "2020-12-19T17:22:30.9137239Z",
      "last_login_date": "2020-11-12T18:37:31.4269945Z",
      "last_login_attempt_date": "2020-04-30T05:17:21.3645783Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-05-18T20:38:39.053562Z",
          "modified_date": "2020-06-11T05:44:47.6911286Z",
          "customer_id": 1120,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Donnie",
          "last_name": "Kerluke",
          "company": "Balistreri Inc",
          "address": "86774 Eloise Cliffs",
          "address2": "Klingshire",
          "town": "Port Corbin",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "DA5 2PT",
          "telephone": "(604) 276-3785 x47684",
          "fax": "1-901-443-7714 x636"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/settings/domains": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get the current Primary Domain",
        "operationId": "Domains_GetPrimaryDomain",
        "responses": {
          "200": {
            "description": "The primary domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1DomainName"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "primary_domain_name": "marty.info"
  }
}
              }
            }
          },
          "404": {
            "description": "No primary domain found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Domain not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v2/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get an order by ID",
        "operationId": "Orders_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The order ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV2Order"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 741,
    "order_number": "ctzby191r3zf96u1",
    "order_date": "2017-10-15T03:58:49.9716143Z",
    "is_confirmed": true,
    "sub_total": 0.2582789749178472,
    "total_delivery": 0.3419119782475345,
    "total_tax": 0.2646393330137429,
    "total_cost": 0.9470757082789557,
    "status": "FAILED",
    "payment_status": "FAILED",
    "delivery_method": "",
    "transaction_id": "5756cae5-ddac-4328-a231-8a4bd054d3ad",
    "transaction_status": "",
    "order_type": "",
    "use_shipping_address": true,
    "shipping_address": {
      "first_name": "Rene",
      "last_name": "Schuppe",
      "id": 1692525315,
      "created_date": "2020-10-21T02:50:26.4092385Z",
      "modified_date": "2021-01-13T15:30:33.126776Z",
      "customer_id": -805769717,
      "is_preferred_billing_address": false,
      "is_preferred_shipping_address": false,
      "company": "Quitzon LLC",
      "address": "42068 Lubowitz Isle",
      "address2": "Tamaraberg",
      "town": "West Michelport",
      "county": "Bedfordshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": "RD1 6XG",
      "telephone": "635-262-6837 x6725",
      "fax": "820-474-4008 x02148"
    },
    "internal_notes": "This is an internal order note.\n\nThis is another internal order note.",
    "customer_facing_notes": "This is an order note.\n\nThis is another order note.",
    "emailed": false,
    "discounts": "",
    "discounts_total": 0.0,
    "shipping_company": "UPS",
    "ip_address": "127.0.0.1",
    "guid": "637ae642-2f13-488e-f21f-c8da582e9ce2",
    "last_updated": null,
    "delivery_tax_rate": null,
    "delivery_includes_tax": null,
    "custom_fields_total": null,
    "custom_fields_tax_total": null,
    "customer_details": {
      "customer_id": -679145048,
      "email_address": "Viola_Barton@yahoo.com",
      "first_name": "Rene",
      "last_name": "Schuppe",
      "company": "Reilly - Jaskolski",
      "address": "3481 Gerhold Park",
      "address2": "Sofiaburgh",
      "town": "Ezekielstad",
      "county": "Berkshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": "LQ5 0IJ",
      "telephone": "(991) 428-1574 x4002",
      "fax": "826.667.9012",
      "billing_address_verified": false
    },
    "custom_fields": null,
    "delivery_tracking_number": null,
    "delivery_tracking_company": null,
    "delivery_tracking_url": null
  }
}
              }
            }
          },
          "404": {
[...]
