{
  "openapi": "3.0.1",
  "info": {
    "title": "EKM Partner API",
    "description": "Our new API allows partners to build significantly better integrations with the EKM platform.\r\n\r\nTo try out the below endpoints, or for full up to date representations of the request / response models, please see the [swagger page](https://api.ekm.net/swagger/index.html). (We display examples here, but the swagger page is guaranteed to show the complete model.)\r\n\r\nTo keep up to date with the latest updates, please see our [RSS feed](https://partners.ekm.net/ChangeLog/Feed) or the [partner dashboard](https://partners.ekm.net/).",
    "contact": {
      "name": "EKM",
      "url": "https://ekm.com",
      "email": "api-support@ekm.com"
    },
    "version": "Latest",
    "x-logo": {
      "url": "/images/ekm-logo-vector-RGB-1920x1080.png",
      "backgroundColor": "#fafafa"
    }
  },
  "servers": [
    {
      "url": "https://api.ekm.net"
    }
  ],
  "paths": {
    "/api/v1/categories/{id}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a category",
        "operationId": "Categories_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The chosen category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 208,
    "name": "EKM - sunt",
    "description": "Commodi cumque voluptatem dolores expedita et sit. Nemo deleniti amet vel aspernatur. Cupiditate beatae libero est.",
    "in_category_description": "Recusandae est aut molestias quia voluptatem totam illum. Vel et quam dolorem. Sint nihil corporis iure suscipit. Ullam iste et cum corrupti.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Categories"
        ],
        "summary": "Update a category",
        "operationId": "Categories_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 209,
    "name": "EKM - qui",
    "description": "Molestiae distinctio totam sed. Unde rerum cum est consequatur sapiente harum animi. Qui non cum voluptas est est tempora. Est minima reprehenderit odit quis autem aperiam ullam voluptatem. Sit modi iure.",
    "in_category_description": "Soluta maxime et nobis et reiciendis quos molestiae cumque impedit. Velit est repellat quisquam dolores sint sit est rerum. Qui similique dolor voluptatem. Molestiae temporibus non ullam autem consequuntur tempore perferendis.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Delete a category",
        "operationId": "Categories_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of categories",
        "operationId": "Categories_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - repellat",
      "description": "Dicta voluptatibus nulla. Pariatur est in qui sapiente. Corporis ullam sed esse quia.",
      "in_category_description": "Est tenetur dolor iusto quam id omnis. Et ea suscipit distinctio quod impedit alias cumque. Fugiat eaque voluptas id laboriosam eaque. Mollitia corporis sit quia. Reprehenderit rerum ipsum nisi sunt nostrum. Voluptas mollitia nam.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - vel",
      "description": "Aliquid veniam et et modi animi ullam. Quasi culpa dolorem sit voluptatibus iure sint. Voluptas sed enim. Eius odit occaecati dolorem ipsam est.",
      "in_category_description": "Vero accusamus dolorem expedita rem accusantium doloribus facere aut tempore. Minus dolorem rerum. Corporis alias voluptas odit ut. Fugiat facere unde odit.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - et",
      "description": "Voluptas eveniet est sunt. Laboriosam quod sed esse. Perspiciatis a in neque et ipsum eaque. Id sit repellendus numquam neque doloribus perspiciatis.",
      "in_category_description": "Accusantium fugit dolorum unde id nam maxime maiores sed. Quas iste atque. Sed necessitatibus corrupti dolor. Quas sapiente molestiae qui. Sunt voluptatem accusantium praesentium unde minus et.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - doloremque",
      "description": "Porro dicta autem sapiente earum nostrum et. Cumque aut sed voluptatibus. Amet nam voluptas. Non reprehenderit perferendis accusamus aspernatur provident fugit reiciendis. Rerum quis iusto totam ducimus.",
      "in_category_description": "Aut molestiae aperiam explicabo non voluptas eos pariatur temporibus modi. Ut officia qui voluptas autem modi. Voluptate quidem facilis. Et iste soluta voluptatibus animi est consequatur id.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - ut",
      "description": "Vitae ratione possimus. Incidunt ratione quis provident neque vitae officiis ab. Iure velit et quos. Voluptate ipsa quo aliquam. Vel deleniti esse perspiciatis et.",
      "in_category_description": "Ab doloribus dolorem repudiandae molestias asperiores. Nesciunt asperiores repudiandae. Odit deleniti omnis.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Add a category",
        "operationId": "Categories_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 215,
    "name": "EKM - quod",
    "description": "Mollitia in pariatur debitis cupiditate dolorem et. Eum consequatur rerum sequi. Id magni voluptatem nobis doloremque rerum tempora incidunt aut. Porro sit eius dolores. Qui omnis repellendus.",
    "in_category_description": "Officiis hic voluptas ea id non dolorem quia est soluta. Eos consequatur quia enim. Temporibus quibusdam occaecati vero ad enim quo adipisci dolores perspiciatis.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/search": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Searches categories based on search criteria",
        "operationId": "Categories_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. live eq true",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - corporis",
      "description": "Dolores illo voluptatem accusamus dolor earum et. A beatae quas porro voluptatem. Sed sit culpa voluptas quae amet explicabo. Reiciendis voluptatem eius cumque error ut est tempora veritatis tempora.",
      "in_category_description": "Adipisci fuga dolorem ut dolorem ut expedita. Eum porro sit eos aliquam assumenda excepturi. Omnis eius quaerat qui. Iste architecto omnis et deleniti autem esse. Minus sit minima debitis molestiae ut in at. Et consequatur non totam aut.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - quaerat",
      "description": "Ducimus quibusdam est. Tempore nulla delectus cumque quasi rerum. Voluptate laborum ut vero labore doloribus aspernatur.",
      "in_category_description": "Voluptatem dolorem quam recusandae quia et porro ducimus. Ab dignissimos vel excepturi in doloremque culpa. Nesciunt inventore ipsum enim dolor ex impedit accusantium. Optio sequi tenetur quis deleniti perferendis. Quas illum fuga autem autem voluptatem et.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - magni",
      "description": "Voluptatem adipisci id. Eaque ipsam ad unde eum eaque non molestiae dicta totam. Voluptates debitis perspiciatis natus dolores quia sunt molestiae. Aut omnis voluptate sed eveniet. Et ipsa autem.",
      "in_category_description": "Excepturi quis omnis distinctio voluptas. Quod est reiciendis accusantium architecto minus sequi nam. Enim rerum similique accusantium voluptas ducimus assumenda deleniti rerum minima.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - et",
      "description": "Qui velit corrupti quidem asperiores magni velit dolorum. Rerum quisquam illum qui et. Tempora recusandae doloremque aliquam ut perferendis.",
      "in_category_description": "Voluptatum voluptas quia necessitatibus quod aut libero vel. Est sunt eum similique ut odio id voluptatem totam voluptatem. Alias pariatur non sit non quia aliquam hic magnam et. Quidem vitae libero aut accusamus tempore et. Illum expedita quas temporibus quia quos.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - sunt",
      "description": "Quos exercitationem incidunt quasi facere temporibus quod et. Qui commodi quam omnis porro magni minima. Blanditiis maxime eveniet. Similique veritatis dolor perferendis ducimus nostrum dolores. Alias est iusto. Similique blanditiis tenetur nihil laudantium aut.",
      "in_category_description": "Eum ipsam non aut aperiam voluptatem itaque quis molestias dolores. Nisi maiores sequi. Incidunt ducimus illo corporis dolores et similique iste qui molestiae. Maiores quaerat dolor at laborum sunt qui ut ratione aliquam.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/subcategories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of subcategories",
        "operationId": "Categories_Subcategories",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of subcategories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1SubCategory"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "parent_category_id": 2,
      "category_id": 1,
      "name": "EKM - sed",
      "description": "Sit ex quia omnis et et sunt qui velit provident. Aut voluptate culpa et nobis illum possimus beatae. Ab minima cum adipisci expedita cupiditate laudantium saepe sit consequatur. Optio omnis architecto sed qui sed sit est. Fugiat non sunt qui qui debitis sed asperiores et. Sit dolores blanditiis earum non.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 4,
      "category_id": 2,
      "name": "EKM - et",
      "description": "Eveniet nisi amet velit iusto voluptate eos doloremque nihil suscipit. Distinctio error et quasi minima sed. Impedit hic maxime omnis voluptatem rem et. Cum quia labore est qui numquam laudantium consectetur. Nisi laborum quidem.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 6,
      "category_id": 3,
      "name": "EKM - explicabo",
      "description": "Quam qui et sed doloribus quisquam provident molestiae dolor. Voluptate adipisci qui amet sed accusantium porro tenetur cumque. Nobis autem illum consectetur et adipisci quis soluta.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 8,
      "category_id": 4,
      "name": "EKM - est",
      "description": "Molestiae perspiciatis beatae quia quia qui. Magnam perferendis qui placeat inventore repellendus id sit minus consequatur. Voluptatem saepe nobis. Iusto amet fuga quidem cum nostrum. Ut at cumque excepturi laboriosam reiciendis et est eos.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 10,
      "category_id": 5,
      "name": "EKM - quibusdam",
      "description": "Cumque est qui recusandae minus aperiam blanditiis modi laudantium. Cum ea omnis quibusdam eaque. Saepe cumque est. Rerum blanditiis nam nostrum quae unde dignissimos possimus consequatur. Ratione quia placeat.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/categorymanaged/{childCategoryId}": {
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Set a category to be managed by another category",
        "operationId": "Categories_SetCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The added managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "parent_category_id": 1,
    "category_id": 10,
    "name": "Subcategory",
    "description": null,
    "order_location": 99999,
    "live": true,
    "is_category_managed": true
  }
}
              }
            }
          },
          "400": {
            "description": "A subcategory or managed category already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category or child category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Stops a category from being managed by another category",
        "operationId": "Categories_DeleteCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The removed managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No managed category found for that child category ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/filters": {
      "put": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_UpdateCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CategoryFilters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "get": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_GetCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CategoryFilters"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/settings/currency": {
      "get": {
        "tags": [
          "Currency"
        ],
        "summary": "Gets the current Currency Settings",
        "operationId": "Currency_GetCurrency",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseCurrencySettings"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "currency_code": "GBP",
    "country_code": null,
    "currency_symbol": "£",
    "current_html_symbol": "\u0026pound;"
  }
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Currency Settings not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/{addressId}": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a single Customer Address by Id",
        "operationId": "CustomerAddresses_GetById",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2021-11-07T00:08:30.8955006Z",
    "modified_date": "2021-04-18T02:05:45.2937184Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Stephanie",
    "last_name": "Schultz",
    "company": "Rogahn Group",
    "address": "862 Stanton Forges",
    "address2": null,
    "town": "West Willyville",
    "county": "Bedfordshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "1-657-911-7120 x2815",
    "fax": "(824) 566-8326 x8055"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Update a Customer Address",
        "operationId": "CustomerAddresses_Update",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2021-04-25T14:55:28.8206241Z",
    "modified_date": "2021-04-09T21:07:48.1747059Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Alisa",
    "last_name": "Herzog",
    "company": "Braun Inc",
    "address": "97653 Boyle Villages",
    "address2": null,
    "town": "Adellaport",
    "county": "Bedfordshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "860.776.2130 x25131",
    "fax": "1-580-702-3760"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Delete a Customer Address",
        "operationId": "CustomerAddresses_Delete",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer Address deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2021-02-20T03:40:32.9468523Z",
    "modified_date": "2021-05-17T18:18:00.9798715Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Jaida",
    "last_name": "Harber",
    "company": "Wunsch and Sons",
    "address": "125 Bernadette Run",
    "address2": null,
    "town": "New Arianechester",
    "county": "Berkshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "423-536-1953 x9369",
    "fax": "891.329.4706 x565"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a paginated set of Customer Addresses",
        "operationId": "CustomerAddresses_GetAll",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customer Addresses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 0,
      "created_date": "2021-12-07T06:08:28.8120321Z",
      "modified_date": "2021-04-21T07:06:53.6582347Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Kathlyn",
      "last_name": "Klein",
      "company": "Gislason, Zboncak and Jaskolski",
      "address": "12301 Romaguera Knoll",
      "address2": null,
      "town": "South Dimitri",
      "county": "Cambridgeshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "551.369.6168",
      "fax": "790.290.1627 x41706"
    },
    {
      "id": 0,
      "created_date": "2021-01-27T02:07:41.1185252Z",
      "modified_date": "2021-07-31T03:48:26.1034326Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Jamarcus",
      "last_name": "McGlynn",
      "company": "Hermann LLC",
      "address": "47809 Bell Square",
      "address2": null,
      "town": "South Corine",
      "county": "Berkshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "(336) 466-9971",
      "fax": "834.985.1678 x49315"
    },
    {
      "id": 0,
      "created_date": "2021-04-28T18:45:17.2243805Z",
      "modified_date": "2021-03-17T21:12:57.7089884Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Rafael",
      "last_name": "Hessel",
      "company": "Moen LLC",
      "address": "8832 O\u0027Hara Shores",
      "address2": null,
      "town": "Trentonfort",
      "county": "Borders",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "618.735.7173 x9417",
      "fax": "1-765-423-6417 x274"
    },
    {
      "id": 0,
      "created_date": "2021-06-23T00:41:49.937442Z",
      "modified_date": "2021-06-09T21:14:45.9207793Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Hailie",
      "last_name": "Rogahn",
      "company": "Morissette - Cole",
      "address": "84967 Bria Trace",
      "address2": null,
      "town": "Lake Breanna",
      "county": "Buckinghamshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "1-422-448-1901 x835",
      "fax": "1-483-437-5856 x48784"
    },
    {
      "id": 0,
      "created_date": "2021-05-07T09:02:11.2417669Z",
      "modified_date": "2021-01-27T05:38:12.9872943Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Alivia",
      "last_name": "Cole",
      "company": "Runolfsdottir, Keebler and Bergnaum",
      "address": "13005 Jettie Oval",
      "address2": null,
      "town": "Wunschbury",
      "county": "Berkshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "(509) 847-5851 x355",
      "fax": "335.759.5982 x454"
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Add a Customer Address",
        "operationId": "CustomerAddresses_Create",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2021-11-28T13:35:46.1851499Z",
    "modified_date": "2021-03-13T11:39:22.0818141Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Laury",
    "last_name": "Ondricka",
    "company": "Koepp and Sons",
    "address": "7483 Valentin Walks",
    "address2": null,
    "town": "New Quintenview",
    "county": "Cambridgeshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "683-594-9849 x29953",
    "fax": "543.611.5520 x04087"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/search": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Searches customer addresses based on search criteria",
        "operationId": "CustomerAddresses_Search",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customer adresses based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 304,
      "email_address": "Cesar15@gmail.com",
      "first_name": "Osbaldo",
      "last_name": "Waelchi",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2021-10-07T22:47:48.2290555Z",
      "modified_date": "2021-12-20T21:26:29.3310488Z",
      "last_login_date": "2021-02-24T00:59:44.3264312Z",
      "last_login_attempt_date": "2021-08-15T06:17:35.3268304Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-04-23T13:20:55.1637414Z",
          "modified_date": "2021-10-26T02:53:53.9866937Z",
          "customer_id": 304,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Veda",
          "last_name": "Hirthe",
          "company": "Jacobi, Connelly and DuBuque",
          "address": "47350 Shaun Forks",
          "address2": "Waelchifort",
          "town": "Koeppshire",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "ZX5 1TD",
          "telephone": "224.493.3838 x954",
          "fax": "481-702-2978"
        }
      ]
    },
    {
      "id": 305,
      "email_address": "Denise.Bartell1@gmail.com",
      "first_name": "Anastasia",
      "last_name": "Sauer",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2021-04-22T21:12:49.6682095Z",
      "modified_date": "2021-04-26T12:22:06.3427063Z",
      "last_login_date": "2021-04-16T03:11:09.0265228Z",
      "last_login_attempt_date": "2021-04-29T06:18:31.1721091Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-03-13T09:51:21.8892726Z",
          "modified_date": "2021-01-01T11:42:12.9993281Z",
          "customer_id": 305,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Luis",
          "last_name": "Turcotte",
          "company": "Franecki - Hettinger",
          "address": "05350 Orin Island",
          "address2": "Lake Shanelleport",
          "town": "Gutkowskitown",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "ZT3 8KF",
          "telephone": "870.624.1227 x2791",
          "fax": "1-401-835-5399 x7799"
        }
      ]
    },
    {
      "id": 306,
      "email_address": "Michele.Luettgen@gmail.com",
      "first_name": "Ford",
      "last_name": "Ruecker",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2021-06-21T06:45:51.9147514Z",
      "modified_date": "2021-07-15T15:59:56.9831679Z",
      "last_login_date": "2021-07-13T07:01:50.5503109Z",
      "last_login_attempt_date": "2021-07-24T23:01:38.8784112Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-06-19T22:47:32.3333249Z",
          "modified_date": "2021-08-18T13:56:25.8479393Z",
          "customer_id": 306,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Hannah",
          "last_name": "Hickle",
          "company": "Eichmann, Monahan and Keebler",
          "address": "4446 Joshua Valleys",
          "address2": "Lake Andreview",
          "town": "North Zenaton",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "RV1 0UR",
          "telephone": "377-323-5834",
          "fax": "261-731-6332 x5080"
        }
      ]
    },
    {
      "id": 307,
      "email_address": "Norma.Hessel44@gmail.com",
      "first_name": "Felton",
      "last_name": "Greenholt",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2021-06-23T18:51:11.1527552Z",
      "modified_date": "2021-07-02T02:37:03.2646442Z",
      "last_login_date": "2021-05-08T11:45:02.8569898Z",
      "last_login_attempt_date": "2021-05-26T16:22:55.8117853Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-03-06T14:42:27.9575334Z",
          "modified_date": "2021-01-12T22:13:27.2201912Z",
          "customer_id": 307,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Athena",
          "last_name": "Daugherty",
          "company": "Stamm, Murray and Brown",
          "address": "83643 Audrey Pines",
          "address2": "West Cadenstad",
          "town": "Kayliburgh",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "EJ4 1MK",
          "telephone": "1-224-618-8978",
          "fax": "227-544-0355 x778"
        }
      ]
    },
    {
      "id": 308,
      "email_address": "May31@hotmail.com",
      "first_name": "Eloisa",
      "last_name": "Leffler",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2021-02-14T15:00:23.8291226Z",
      "modified_date": "2021-05-21T20:25:43.7076748Z",
      "last_login_date": "2021-07-17T05:29:50.6828148Z",
      "last_login_attempt_date": "2021-05-18T19:53:16.4865338Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-02-06T15:59:02.8878229Z",
          "modified_date": "2021-01-02T16:10:12.6961002Z",
          "customer_id": 308,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Edwin",
          "last_name": "Zulauf",
          "company": "Batz - Wiza",
          "address": "0928 Little Camp",
          "address2": "Deshaunland",
          "town": "Port Noemiehaven",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "HW2 8LL",
          "telephone": "1-558-617-4168 x0019",
          "fax": "332.767.3596 x775"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a single Customer by Id",
        "operationId": "Customers_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Customers Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customers Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 309,
    "email_address": "Stewart.Jacobi@hotmail.com",
    "first_name": "Isac",
    "last_name": "Collins",
    "order_count": 0,
    "loyalty_points": 1.0,
    "created_date": "2021-02-21T19:59:16.094902Z",
    "modified_date": "2021-05-14T15:11:03.4930861Z",
    "last_login_date": "2021-11-02T07:16:03.2473908Z",
    "last_login_attempt_date": "2021-03-31T22:37:04.2287778Z",
    "locked": true,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2021-07-23T15:05:22.3455943Z",
        "modified_date": "2021-01-05T19:24:00.4066059Z",
        "customer_id": 309,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Jeffery",
        "last_name": "Harris",
        "company": "Terry, Ebert and Roob",
        "address": "5099 Jacobs Court",
        "address2": "North Elinor",
        "town": "West Britneystad",
        "county": "Berkshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "TT6 3OV",
        "telephone": "(771) 524-0028 x88860",
        "fax": "1-755-792-0187 x3470"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update a Customer",
        "operationId": "Customers_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 310,
    "email_address": "William.Bradtke63@gmail.com",
    "first_name": "Aryanna",
    "last_name": "Hermiston",
    "order_count": 0,
    "loyalty_points": 0.0,
    "created_date": "2021-11-02T20:37:25.3634218Z",
    "modified_date": "2021-07-23T09:50:42.6927114Z",
    "last_login_date": "2021-01-02T19:58:43.7042406Z",
    "last_login_attempt_date": "2021-01-02T17:50:11.5185497Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": true,
    "addresses": [
      {
        "id": 0,
        "created_date": "2021-01-20T12:37:22.3212786Z",
        "modified_date": "2021-01-01T23:09:50.0880279Z",
        "customer_id": 310,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Haylie",
        "last_name": "Flatley",
        "company": "Feest Group",
        "address": "3149 Gulgowski Corners",
        "address2": "Lindgrenville",
        "town": "Jadonland",
        "county": "Avon",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "WJ5 4PY",
        "telephone": "1-906-481-2566 x6098",
        "fax": "1-964-504-1477"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete a Customer",
        "operationId": "Customers_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 311,
    "email_address": "Lindsay_Gerhold44@yahoo.com",
    "first_name": "Leslie",
    "last_name": "Leannon",
    "order_count": 1,
    "loyalty_points": 0.0,
    "created_date": "2021-01-24T10:23:54.329777Z",
    "modified_date": "2021-09-20T04:39:19.9702407Z",
    "last_login_date": "2021-12-03T02:51:13.4949526Z",
    "last_login_attempt_date": "2021-12-10T03:43:58.839323Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2021-11-20T04:36:14.3247303Z",
        "modified_date": "2021-02-14T05:06:58.1362158Z",
        "customer_id": 311,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Yasmeen",
        "last_name": "Beier",
        "company": "Blick Group",
        "address": "6668 Fisher Crossroad",
        "address2": "Rogahnfort",
        "town": "South Jordonfort",
        "county": "Buckinghamshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "HX6 0VW",
        "telephone": "687-216-6336 x759",
        "fax": "895.284.4327 x163"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a paginated set of Customers",
        "operationId": "Customers_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 312,
      "email_address": "Fredrick6@hotmail.com",
      "first_name": "Michele",
      "last_name": "Bosco",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2021-12-01T03:16:00.0937672Z",
      "modified_date": "2021-02-16T10:56:24.6541038Z",
      "last_login_date": "2021-02-05T00:42:02.6479136Z",
      "last_login_attempt_date": "2021-03-10T18:40:58.3655736Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-02-22T19:50:56.6646464Z",
          "modified_date": "2021-01-10T04:51:25.1859321Z",
          "customer_id": 312,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Aurelio",
          "last_name": "Stanton",
          "company": "Adams, Balistreri and Lowe",
          "address": "69019 Madalyn Forest",
          "address2": "Katlynborough",
          "town": "Lake Sigurdside",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "MT6 8PL",
          "telephone": "1-361-428-7151",
          "fax": "521.815.0374"
        }
      ]
    },
    {
      "id": 313,
      "email_address": "Teri_Torphy@hotmail.com",
      "first_name": "Thelma",
      "last_name": "Cummings",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-04-27T11:26:45.7027884Z",
      "modified_date": "2021-08-17T18:12:27.3010466Z",
      "last_login_date": "2021-04-06T10:51:11.8802056Z",
      "last_login_attempt_date": "2021-11-22T19:46:22.7493132Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-01-26T20:26:39.6417478Z",
          "modified_date": "2021-07-01T13:43:05.6136594Z",
          "customer_id": 313,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Markus",
          "last_name": "Bashirian",
          "company": "Harber, Kerluke and Dietrich",
          "address": "169 Waelchi Harbor",
          "address2": "Runolfssonfort",
          "town": "Justenside",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "FV3 2YW",
          "telephone": "344.838.9470",
          "fax": "(455) 779-0140 x70087"
        }
      ]
    },
    {
      "id": 314,
      "email_address": "Sherman27@gmail.com",
      "first_name": "Maeve",
      "last_name": "Fritsch",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2021-07-03T12:19:39.2054486Z",
      "modified_date": "2021-02-12T09:10:28.4077198Z",
      "last_login_date": "2021-11-30T16:10:37.8722021Z",
      "last_login_attempt_date": "2021-09-07T21:37:50.1416143Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-09-09T01:43:08.9554108Z",
          "modified_date": "2021-02-09T14:57:59.1055029Z",
          "customer_id": 314,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Shane",
          "last_name": "Rosenbaum",
          "company": "Marks - Heidenreich",
          "address": "39059 Gilbert Stravenue",
          "address2": "Lake Katherynfurt",
          "town": "East Zacheryton",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "XB2 8DQ",
          "telephone": "524-795-0973",
          "fax": "1-499-270-2689 x5307"
        }
      ]
    },
    {
      "id": 315,
      "email_address": "Delores27@gmail.com",
      "first_name": "Sabina",
      "last_name": "Rodriguez",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-04-09T20:58:12.522383Z",
      "modified_date": "2021-11-10T08:51:02.3683638Z",
      "last_login_date": "2021-05-07T21:05:01.1123666Z",
      "last_login_attempt_date": "2021-11-05T09:37:13.1549891Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-12-02T20:01:34.3064167Z",
          "modified_date": "2021-10-05T05:57:53.835266Z",
          "customer_id": 315,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Sheldon",
          "last_name": "Koelpin",
          "company": "Swaniawski, Kreiger and Bernhard",
          "address": "8990 Donnelly Gateway",
          "address2": "West Mavisborough",
          "town": "West Jefferyton",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "MI2 3FK",
          "telephone": "999.209.3496 x970",
          "fax": "543-234-0935"
        }
      ]
    },
    {
      "id": 316,
      "email_address": "Isaac39@yahoo.com",
      "first_name": "Alexanne",
      "last_name": "Dach",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2021-03-05T09:46:22.4228173Z",
      "modified_date": "2021-07-03T23:34:36.9808849Z",
      "last_login_date": "2021-05-05T03:25:30.6561014Z",
      "last_login_attempt_date": "2021-08-16T14:23:18.9378785Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-03-08T14:08:51.9292851Z",
          "modified_date": "2021-08-18T05:48:19.9621613Z",
          "customer_id": 316,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Kaylah",
          "last_name": "Klocko",
          "company": "Buckridge - Padberg",
          "address": "99069 Doyle Camp",
          "address2": "Morissetteview",
          "town": "Port Jeffrystad",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "AQ6 5XO",
          "telephone": "1-608-973-2066",
          "fax": "915.861.8804"
        }
      ]
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Add a customer",
        "description": "Note: setting send_email to true will send an email to the customer prompting them to create a password",
        "operationId": "Customers_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 317,
    "email_address": "Clint_Lang94@gmail.com",
    "first_name": "Elvie",
    "last_name": "Kub",
    "order_count": 0,
    "loyalty_points": 1.0,
    "created_date": "2021-11-22T08:26:54.4646102Z",
    "modified_date": "2021-10-26T13:28:15.842053Z",
    "last_login_date": "2021-03-23T21:10:40.8468488Z",
    "last_login_attempt_date": "2021-09-19T20:07:07.4812799Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2021-12-11T12:38:58.5555646Z",
        "modified_date": "2021-08-23T22:09:09.2448835Z",
        "customer_id": 317,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Jaylon",
        "last_name": "Toy",
        "company": "Haag, Murray and Terry",
        "address": "51833 Lucinda Trail",
        "address2": "New Dulce",
        "town": "Arelyville",
        "county": "Berkshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "RE0 3LR",
        "telephone": "(847) 317-1704 x3150",
        "fax": "504.357.9265 x4010"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/search": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Searches customers based on search criteria",
        "operationId": "Customers_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customers based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 318,
      "email_address": "Cesar_Klein23@gmail.com",
      "first_name": "Jamal",
      "last_name": "Langosh",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-04-30T08:05:56.9332642Z",
      "modified_date": "2021-05-24T14:49:50.5228953Z",
      "last_login_date": "2021-04-20T16:33:52.1373244Z",
      "last_login_attempt_date": "2021-05-03T12:38:07.2938641Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-12-24T02:04:19.4766772Z",
          "modified_date": "2021-08-16T05:10:18.2805588Z",
          "customer_id": 318,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Trevion",
          "last_name": "Cremin",
          "company": "Blick, Eichmann and Bartell",
          "address": "1875 Libbie Tunnel",
          "address2": "West Maurice",
          "town": "Chynachester",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "RV1 2DT",
          "telephone": "406-620-9439 x6251",
          "fax": "513-658-4106"
        }
      ]
    },
    {
      "id": 319,
      "email_address": "Jimmie53@gmail.com",
      "first_name": "Karl",
      "last_name": "Botsford",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2021-10-01T21:21:37.4185638Z",
      "modified_date": "2021-08-04T08:02:50.3484275Z",
      "last_login_date": "2021-07-09T03:18:02.2273476Z",
      "last_login_attempt_date": "2021-02-17T02:18:50.4165696Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-12-31T10:41:06.0420278Z",
          "modified_date": "2021-10-24T14:08:34.1950229Z",
          "customer_id": 319,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Kayden",
          "last_name": "Wisozk",
          "company": "Wiegand Group",
          "address": "39608 Alexandrine Isle",
          "address2": "Ubaldotown",
          "town": "Elvisstad",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "LP3 6QN",
          "telephone": "553-720-7614",
          "fax": "726.543.1223"
        }
      ]
    },
    {
      "id": 320,
      "email_address": "Joshua76@hotmail.com",
      "first_name": "Avery",
      "last_name": "Wunsch",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2021-02-12T13:27:03.3560454Z",
      "modified_date": "2021-08-09T06:36:37.051216Z",
      "last_login_date": "2021-10-26T17:59:25.8122822Z",
      "last_login_attempt_date": "2021-02-12T22:08:03.252089Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-01-18T20:53:34.299347Z",
          "modified_date": "2021-01-29T23:43:47.8962576Z",
          "customer_id": 320,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Desmond",
          "last_name": "Gorczany",
          "company": "Tremblay LLC",
          "address": "0292 Gaylord Causeway",
          "address2": "Turnerbury",
          "town": "Hammesborough",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "QJ6 0QM",
          "telephone": "456-257-4792",
          "fax": "215-487-4407 x35962"
        }
      ]
    },
    {
      "id": 321,
      "email_address": "Marty_Bogisich@hotmail.com",
      "first_name": "Estefania",
      "last_name": "Boyer",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-10-04T12:21:03.0748797Z",
      "modified_date": "2021-05-10T08:11:27.0047881Z",
      "last_login_date": "2020-12-30T17:38:45.948009Z",
      "last_login_attempt_date": "2021-12-02T09:31:34.1303292Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-12-10T22:34:53.6614327Z",
          "modified_date": "2021-04-21T23:33:31.6584754Z",
          "customer_id": 321,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Micaela",
          "last_name": "Lockman",
          "company": "Lehner - Hoeger",
          "address": "6929 Daija Point",
          "address2": "North Simeon",
          "town": "Port Lindamouth",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "PC4 3XZ",
          "telephone": "890.744.8901 x01651",
          "fax": "729.749.8616"
        }
      ]
    },
    {
      "id": 322,
      "email_address": "Patti78@hotmail.com",
      "first_name": "Mattie",
      "last_name": "Heathcote",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-12-14T15:58:47.6078875Z",
      "modified_date": "2021-11-27T00:44:54.6447296Z",
      "last_login_date": "2021-12-10T23:47:45.8840872Z",
      "last_login_attempt_date": "2021-10-07T11:27:25.6513663Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-12-14T23:54:07.4710087Z",
          "modified_date": "2021-09-30T14:07:51.655742Z",
          "customer_id": 322,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Barry",
          "last_name": "Lakin",
          "company": "Klocko, Olson and Bayer",
          "address": "37400 Cruickshank Brooks",
          "address2": "Jalenmouth",
          "town": "Virgilside",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "RQ8 7OT",
          "telephone": "223.949.0212 x734",
          "fax": "320.928.7258 x6038"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/settings/domains": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get the current Primary Domain",
        "operationId": "Domains_GetPrimaryDomain",
        "responses": {
          "200": {
            "description": "The primary domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1DomainName"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "primary_domain_name": "sophie.net"
  }
}
              }
            }
          },
          "404": {
            "description": "No primary domain found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Domain not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v2/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get an order by ID",
        "operationId": "Orders_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The order ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV2Order"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 154,
    "order_number": "wp4r7inqkxavmkr3",
    "order_date": "1982-01-01T17:40:45.9189121Z",
    "is_confirmed": true,
    "sub_total": 0.44643288359345534,
    "total_delivery": 0.7582562494828627,
    "total_tax": 0.406367175004616,
    "total_cost": 0.5686474277491902,
    "status": "DECLINED",
    "payment_status": "SUCCESS",
    "delivery_method": "",
    "transaction_id": "a9ce8149-bddd-4119-85bc-75fca3b7dd79",
    "transaction_status": "",
    "order_type": "",
    "use_shipping_address": true,
    "shipping_address": {
      "first_name": "Angel",
      "last_name": "Tillman",
      "id": -2090171209,
      "created_date": "2021-11-03T23:51:27.2499859Z",
      "modified_date": "2021-04-10T09:47:29.6167073Z",
      "customer_id": 928531818,
      "is_preferred_billing_address": false,
      "is_preferred_shipping_address": true,
      "company": "Dickinson Group",
      "address": "2979 Mraz Shoal",
      "address2": "Littleland",
      "town": "Vernieton",
      "county": "Berkshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": "VN5 5GI",
      "telephone": "695-951-3804",
      "fax": "802.806.2849 x519"
    },
    "internal_notes": "This is an internal order note.\n\nThis is another internal order note.",
    "customer_facing_notes": "This is an order note.\n\nThis is another order note.",
    "emailed": false,
    "discounts": "",
    "discounts_total": 0.0,
    "shipping_company": "UPS",
[...]
