{
  "openapi": "3.0.1",
  "info": {
    "title": "EKM Partner API",
    "description": "Our new API allows partners to build significantly better integrations with the EKM platform.\r\n\r\nTo try out the below endpoints, or for full up to date representations of the request / response models, please see the [swagger page](https://api.ekm.net/swagger/index.html). (We display examples here, but the swagger page is guaranteed to show the complete model.)\r\n\r\nTo keep up to date with the latest updates, please see our [RSS feed](https://partners.ekm.net/ChangeLog/Feed) or the [partner dashboard](https://partners.ekm.net/).",
    "contact": {
      "name": "EKM",
      "url": "https://ekm.com",
      "email": "api-support@ekm.com"
    },
    "version": "Latest",
    "x-logo": {
      "url": "/images/ekm-logo-vector-RGB-1920x1080.png",
      "backgroundColor": "#fafafa"
    }
  },
  "servers": [
    {
      "url": "https://api.ekm.net"
    }
  ],
  "paths": {
    "/api/v1/categories/{id}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a category",
        "operationId": "Categories_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The chosen category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 221,
    "name": "EKM - iusto",
    "description": "Aut et eum. Assumenda cumque harum est error eius quia voluptas. Officiis voluptatem ipsa illum et temporibus. Dolorem quaerat repudiandae ratione. Laboriosam ut natus culpa sit ex.",
    "in_category_description": "Et voluptas animi fugit minima magni ducimus sed nisi reiciendis. Voluptas ea praesentium necessitatibus omnis ut sunt quod. Quia pariatur at voluptatem nobis minima molestiae et. Doloremque incidunt et.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Categories"
        ],
        "summary": "Update a category",
        "operationId": "Categories_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 222,
    "name": "EKM - saepe",
    "description": "Unde unde molestiae sed et. Est dolorem minima consectetur vel. Debitis vel consequatur est omnis et quidem fuga eius voluptatum. Et repellat cumque perferendis totam enim. Vero officiis officia consequuntur laboriosam consequatur ipsa aperiam. Corporis harum voluptatem sunt.",
    "in_category_description": "Ullam unde illo veritatis quam. Dolore quaerat consectetur fugit architecto aspernatur. Ut quibusdam sit modi excepturi provident. Molestias reprehenderit facere eaque alias. Est autem suscipit asperiores adipisci ut corrupti. Cumque voluptatem a ea.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Delete a category",
        "operationId": "Categories_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of categories",
        "operationId": "Categories_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - necessitatibus",
      "description": "Laborum qui perferendis ut et omnis dolores. Aut voluptate excepturi ipsa et quibusdam. Quibusdam sit veritatis at placeat officiis molestiae velit sint quia. Commodi quo est quis qui dolorum magnam.",
      "in_category_description": "Repellat id est explicabo perferendis tempora recusandae commodi qui nobis. Eos sit autem aliquid itaque laboriosam eaque non id. Velit aspernatur explicabo exercitationem amet expedita autem animi. Saepe temporibus ut ut voluptates veritatis dolore. Voluptas occaecati itaque error et incidunt ipsam facere doloremque quae.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - exercitationem",
      "description": "Qui quisquam doloribus sed et quidem. Et dolorem similique eos omnis asperiores autem quasi. Molestiae rerum nostrum eligendi quis velit aut quibusdam consequuntur culpa. Dolor perspiciatis nesciunt laborum et dolorem odit nemo et.",
      "in_category_description": "Aut nihil similique dolorem perferendis tenetur et et. Odio et autem animi neque alias quod. Iure quo adipisci. Eius est eveniet. Libero tenetur rerum deserunt necessitatibus. Alias quae qui est accusamus quia.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - quia",
      "description": "Asperiores quia a. Sed placeat iste qui dolores molestiae. Et aliquid porro dolorum saepe et libero voluptates nisi repellat.",
      "in_category_description": "Minus a labore placeat. Iure dolores et ut sed expedita velit facere quaerat. Commodi molestias fugit quas qui.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - dolorem",
      "description": "Est voluptas aut aut numquam qui exercitationem. Inventore fugiat fugit tempora totam exercitationem alias nobis veritatis. Consequatur explicabo porro optio occaecati. Harum nemo nemo in tempora dolores voluptatem ipsa quo. Officia quam omnis molestias et neque. Commodi animi commodi quidem doloremque debitis et.",
      "in_category_description": "Odio omnis ex quibusdam nulla tenetur. Et magnam voluptates ratione saepe laborum error vel architecto. Beatae nihil culpa et iste dignissimos. Corrupti ex explicabo sequi incidunt animi molestiae labore. Autem illo et nobis ipsa perspiciatis quidem laborum occaecati quaerat.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - aut",
      "description": "Placeat eaque omnis error rerum et ea non. Aut suscipit impedit enim quos eos et. Est deleniti et.",
      "in_category_description": "Molestias sunt iure aliquid provident quasi delectus in ullam. Harum est est inventore id nam. Et aut sapiente veniam ipsum et reiciendis qui illo omnis.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Add a category",
        "operationId": "Categories_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 228,
    "name": "EKM - a",
    "description": "Provident aut impedit non non reiciendis quia. Enim quis delectus aut culpa. Beatae sed rerum et ab ut nobis pariatur accusantium ipsa. Suscipit nam voluptate dolorum voluptatum exercitationem consequatur. Est eveniet occaecati et cum provident fuga quos libero ea.",
    "in_category_description": "Ipsum deserunt alias ut consectetur ipsum aut et neque et. Vitae libero reprehenderit consectetur ipsam voluptas libero autem. A eius necessitatibus consequatur iste rem quia enim molestiae at. Quos iusto ipsa. Maxime distinctio molestias et nemo.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/search": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Searches categories based on search criteria",
        "operationId": "Categories_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. live eq true",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - quia",
      "description": "Assumenda numquam odio qui veniam laboriosam nemo est. Error animi ipsa. Cumque repellat nisi porro delectus nihil deleniti nemo et consectetur.",
      "in_category_description": "Accusantium dignissimos expedita quaerat labore corrupti libero. Quos quia temporibus sed beatae et non sed consequuntur. Molestiae fugiat alias. Quae distinctio neque quo nisi et. Nihil eos accusantium temporibus est aliquam saepe.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - et",
      "description": "Beatae non amet praesentium in quia tempora rerum ipsa. Ea dolor necessitatibus voluptatem vel fuga laborum in asperiores. Non qui ab. Quasi voluptatem voluptas voluptas.",
      "in_category_description": "Aperiam totam distinctio aliquam pariatur et illum a. Blanditiis recusandae architecto ullam nulla quaerat. Ut omnis reiciendis voluptatem. Dolores expedita autem ut recusandae debitis hic reprehenderit.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - enim",
      "description": "Suscipit vel id necessitatibus occaecati harum esse et aut expedita. Ut nesciunt qui nulla quia reiciendis dolorem exercitationem consequatur ut. Voluptatem ut consequatur quis. Repudiandae accusantium accusamus.",
      "in_category_description": "Aut aperiam quod et. Consequatur est suscipit. Quasi nisi maiores sunt sed. Dolor sunt tempore aut. Sit odio omnis dolor ex velit vitae.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - ut",
      "description": "Aut itaque sunt voluptas non quia. Et aspernatur est aut a expedita minima vel. Delectus est quasi. Dolorem ex eveniet repellat. Sunt atque error error.",
      "in_category_description": "Corrupti est nulla consectetur voluptate. Consequatur deserunt sunt et ipsum sunt commodi laudantium inventore dolor. Commodi quia incidunt reprehenderit neque. Cum cupiditate eaque sunt dolorum. Rerum voluptatem ex consectetur voluptatem laborum ut consequatur sunt voluptate. Nesciunt aspernatur reiciendis quia.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - expedita",
      "description": "Sed dicta autem non velit et cum. Quia ex ipsum nam consequatur et consectetur quidem qui sint. Vel quae pariatur dolorem ut sit a sit quasi. Amet adipisci sit id molestias. Provident neque molestiae hic fugit excepturi nihil. Aut quidem nihil eaque suscipit.",
      "in_category_description": "Cupiditate quaerat nulla voluptate corrupti nobis. Qui doloremque et inventore est. Eos nesciunt sequi non eos dolore expedita. Accusantium delectus optio et fuga error. Sit omnis et pariatur aspernatur fugiat distinctio recusandae quia sit. Accusamus enim nisi.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/subcategories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of subcategories",
        "operationId": "Categories_Subcategories",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of subcategories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1SubCategory"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "parent_category_id": 2,
      "category_id": 1,
      "name": "EKM - in",
      "description": "Et illum voluptatem. Atque dolores quia sunt ipsam maiores et exercitationem. Ut eos quia voluptatem. Ut quia quia molestias assumenda voluptatum. Reiciendis mollitia voluptas vel.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 4,
      "category_id": 2,
      "name": "EKM - eum",
      "description": "Aliquam rerum sapiente aut velit modi pariatur. Maxime omnis repellendus pariatur neque. Doloremque autem nesciunt maxime tenetur at magni iure.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 6,
      "category_id": 3,
      "name": "EKM - pariatur",
      "description": "Tempore dolores molestias. Suscipit impedit non pariatur debitis eaque molestias in illo impedit. Rerum alias culpa. Est et ipsam qui hic aut.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 8,
      "category_id": 4,
      "name": "EKM - soluta",
      "description": "Minima quos accusamus temporibus error possimus. Est laboriosam consequatur voluptate ab vero repellat quis. Occaecati numquam aut eaque vero numquam magni. In tempore quia ea repudiandae iste explicabo et beatae. Sunt eum ipsum porro perferendis ullam.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 10,
      "category_id": 5,
      "name": "EKM - ut",
      "description": "Harum ipsum in et molestiae. Voluptatibus molestiae officia. Mollitia in et commodi inventore reprehenderit necessitatibus. Vel consequatur repellendus enim possimus ut ea nihil.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/categorymanaged/{childCategoryId}": {
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Set a category to be managed by another category",
        "operationId": "Categories_SetCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The added managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "parent_category_id": 1,
    "category_id": 10,
    "name": "Subcategory",
    "description": null,
    "order_location": 99999,
    "live": true,
    "is_category_managed": true
  }
}
              }
            }
          },
          "400": {
            "description": "A subcategory or managed category already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category or child category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Stops a category from being managed by another category",
        "operationId": "Categories_DeleteCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The removed managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No managed category found for that child category ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/filters": {
      "put": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_UpdateCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CategoryFilters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "get": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_GetCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CategoryFilters"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/settings/currency": {
      "get": {
        "tags": [
          "Currency"
        ],
        "summary": "Gets the current Currency Settings",
        "operationId": "Currency_GetCurrency",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseCurrencySettings"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "currency_code": "GBP",
    "country_code": null,
    "currency_symbol": "£",
    "current_html_symbol": "\u0026pound;"
  }
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Currency Settings not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/{addressId}": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a single Customer Address by Id",
        "operationId": "CustomerAddresses_GetById",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2021-06-03T06:52:45.7452952Z",
    "modified_date": "2021-05-08T22:50:22.8785414Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Aurore",
    "last_name": "Corwin",
    "company": "Ryan - Lehner",
    "address": "0494 Douglas Station",
    "address2": null,
    "town": "Aaronfort",
    "county": "Bedfordshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "1-950-349-5013",
    "fax": "1-755-634-4551"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Update a Customer Address",
        "operationId": "CustomerAddresses_Update",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2021-04-17T01:34:22.6972906Z",
    "modified_date": "2021-02-11T07:54:31.9266505Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Annabell",
    "last_name": "McClure",
    "company": "Reynolds - Weissnat",
    "address": "0867 Arthur Lights",
    "address2": null,
    "town": "Jedidiahview",
    "county": "Cambridgeshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "(401) 549-3125 x26235",
    "fax": "1-483-916-9025"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Delete a Customer Address",
        "operationId": "CustomerAddresses_Delete",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer Address deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2021-07-22T20:33:28.614909Z",
    "modified_date": "2021-06-27T06:29:10.0473801Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Maybell",
    "last_name": "Davis",
    "company": "Fritsch and Sons",
    "address": "01772 Elouise Point",
    "address2": null,
    "town": "Schadenmouth",
    "county": "Cambridgeshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "1-335-765-7650 x992",
    "fax": "1-662-519-1386 x866"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a paginated set of Customer Addresses",
        "operationId": "CustomerAddresses_GetAll",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customer Addresses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 0,
      "created_date": "2021-11-15T17:23:57.5954902Z",
      "modified_date": "2021-07-13T16:29:04.2222779Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Uriah",
      "last_name": "Russel",
      "company": "Rolfson - Littel",
      "address": "056 Gustave Lock",
      "address2": null,
      "town": "Domenicchester",
      "county": "Avon",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "1-371-356-8378 x76993",
      "fax": "1-542-808-5127"
    },
    {
      "id": 0,
      "created_date": "2021-07-26T04:45:56.1793524Z",
      "modified_date": "2021-09-27T06:46:23.6542975Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Elmira",
      "last_name": "Beatty",
      "company": "Kris, Lakin and Kling",
      "address": "6888 Orin Viaduct",
      "address2": null,
      "town": "Brownfurt",
      "county": "Buckinghamshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "(241) 342-8836 x597",
      "fax": "1-502-878-2503 x405"
    },
    {
      "id": 0,
      "created_date": "2021-05-23T11:30:02.5747018Z",
      "modified_date": "2021-07-05T09:11:30.7354144Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Colt",
      "last_name": "Bartell",
      "company": "Leannon Inc",
      "address": "88962 Berge Ports",
      "address2": null,
      "town": "Watersborough",
      "county": "Berkshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "989.824.1173 x74641",
      "fax": "(642) 574-2194"
    },
    {
      "id": 0,
      "created_date": "2021-05-12T21:39:49.551245Z",
      "modified_date": "2021-06-01T01:20:38.5317738Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Arden",
      "last_name": "Wisozk",
      "company": "Moore and Sons",
      "address": "05198 Nitzsche Oval",
      "address2": null,
      "town": "Terrancebury",
      "county": "Bedfordshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "1-544-381-2457 x978",
      "fax": "(925) 343-4449 x3808"
    },
    {
      "id": 0,
      "created_date": "2021-08-31T23:36:10.6342784Z",
      "modified_date": "2021-11-24T17:31:45.8363623Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Tomas",
      "last_name": "Champlin",
      "company": "Moore Group",
      "address": "06086 Hamill Summit",
      "address2": null,
      "town": "New Jammie",
      "county": "Avon",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "(597) 500-7509 x0370",
      "fax": "486.691.5263 x835"
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Add a Customer Address",
        "operationId": "CustomerAddresses_Create",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2021-03-13T02:15:47.4060628Z",
    "modified_date": "2021-03-23T23:22:15.5823519Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Shaylee",
    "last_name": "Stehr",
    "company": "Lueilwitz - White",
    "address": "255 Alexys Viaduct",
    "address2": null,
    "town": "Lake Lorine",
    "county": "Buckinghamshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "478-470-5813",
    "fax": "311-707-4589 x760"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/search": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Searches customer addresses based on search criteria",
        "operationId": "CustomerAddresses_Search",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customer adresses based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 323,
      "email_address": "Tim.Shields@yahoo.com",
      "first_name": "Claudine",
      "last_name": "Hayes",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-08-09T14:46:34.9499228Z",
      "modified_date": "2021-01-25T14:38:57.8967736Z",
      "last_login_date": "2021-08-14T06:42:18.7548707Z",
      "last_login_attempt_date": "2021-04-18T14:04:58.6166966Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-08-19T18:03:24.0360491Z",
          "modified_date": "2021-05-22T01:56:08.878791Z",
          "customer_id": 323,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Hazle",
          "last_name": "Bailey",
          "company": "Leffler - Reilly",
          "address": "24455 Carter Plains",
          "address2": "Candidomouth",
          "town": "Mayershire",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "VX3 3CB",
          "telephone": "(214) 201-1851 x37362",
          "fax": "(542) 294-6706 x802"
        }
      ]
    },
    {
      "id": 324,
      "email_address": "Alberta89@gmail.com",
      "first_name": "Ofelia",
      "last_name": "Boyle",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2021-06-29T12:43:47.1811058Z",
      "modified_date": "2021-01-31T05:49:34.2281225Z",
      "last_login_date": "2021-03-26T10:02:56.9659075Z",
      "last_login_attempt_date": "2021-10-01T05:57:16.4426245Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-10-17T15:48:27.7968317Z",
          "modified_date": "2021-01-12T12:13:50.6044038Z",
          "customer_id": 324,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Gracie",
          "last_name": "Thompson",
          "company": "Veum LLC",
          "address": "718 Jaime River",
          "address2": "Port Garetthaven",
          "town": "Port Abelstad",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "KZ8 5OJ",
          "telephone": "613.621.4025",
          "fax": "(809) 661-9224"
        }
      ]
    },
    {
      "id": 325,
      "email_address": "Josephine1@yahoo.com",
      "first_name": "Jennings",
      "last_name": "Skiles",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-02-25T12:33:50.5381515Z",
      "modified_date": "2021-12-19T00:13:23.0348325Z",
      "last_login_date": "2021-03-04T21:32:57.3531024Z",
      "last_login_attempt_date": "2021-05-27T05:23:28.3846091Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-04-23T08:22:08.9529038Z",
          "modified_date": "2021-10-05T00:52:33.2895134Z",
          "customer_id": 325,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Tanya",
          "last_name": "Beer",
          "company": "Fadel, Zieme and Ferry",
          "address": "1234 Isom Summit",
          "address2": "Inesview",
          "town": "Corineshire",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "XC2 1NJ",
          "telephone": "467.604.6788 x5903",
          "fax": "276.262.4792 x443"
        }
      ]
    },
    {
      "id": 326,
      "email_address": "Ebony.Gleichner65@gmail.com",
      "first_name": "Aliyah",
      "last_name": "Dare",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2021-11-06T21:33:13.3490446Z",
      "modified_date": "2021-12-07T11:07:26.5280621Z",
      "last_login_date": "2021-07-23T12:31:05.595137Z",
      "last_login_attempt_date": "2021-09-09T16:38:32.4697142Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-08-10T23:44:26.7695626Z",
          "modified_date": "2021-10-02T01:10:32.2553692Z",
          "customer_id": 326,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Catharine",
          "last_name": "Will",
          "company": "VonRueden, Schroeder and Mayert",
          "address": "0855 Simonis Parkways",
          "address2": "Port Tristian",
          "town": "Port Malika",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "HA5 6SX",
          "telephone": "(818) 357-4923",
          "fax": "(843) 518-5103 x1258"
        }
      ]
    },
    {
      "id": 327,
      "email_address": "Vicky.Larkin2@gmail.com",
      "first_name": "Celine",
      "last_name": "Gottlieb",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2021-03-09T09:58:36.6776707Z",
      "modified_date": "2021-07-23T13:55:09.0882349Z",
      "last_login_date": "2021-02-14T01:03:15.4031233Z",
      "last_login_attempt_date": "2021-01-21T18:54:06.5265096Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-10-31T20:54:42.870736Z",
          "modified_date": "2021-09-23T23:34:09.4817246Z",
          "customer_id": 327,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Kobe",
          "last_name": "Stokes",
          "company": "Bruen - Becker",
          "address": "18093 Sylvan Isle",
          "address2": "Bernitaland",
          "town": "North Milesfurt",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "KE5 5ED",
          "telephone": "1-846-595-1590",
          "fax": "1-900-904-0605"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a single Customer by Id",
        "operationId": "Customers_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Customers Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customers Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 328,
    "email_address": "Judy.Roberts@gmail.com",
    "first_name": "Antonette",
    "last_name": "Marvin",
    "order_count": 0,
    "loyalty_points": 0.0,
    "created_date": "2021-12-01T14:22:07.0401105Z",
    "modified_date": "2021-12-08T17:54:09.5760598Z",
    "last_login_date": "2021-07-11T11:03:06.4832977Z",
    "last_login_attempt_date": "2021-03-16T08:03:09.1493541Z",
    "locked": true,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2021-03-05T11:05:05.1271535Z",
        "modified_date": "2021-04-06T14:32:28.1828115Z",
        "customer_id": 328,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Maddison",
        "last_name": "Prohaska",
        "company": "Moore - Funk",
        "address": "38984 Stoltenberg Prairie",
        "address2": "North Scotshire",
        "town": "Desmondborough",
        "county": "Bedfordshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "OD6 8IC",
        "telephone": "269-282-4423",
        "fax": "(749) 789-4381 x01853"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update a Customer",
        "operationId": "Customers_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 329,
    "email_address": "Harriet.Fahey62@hotmail.com",
    "first_name": "Madeline",
    "last_name": "Crooks",
    "order_count": 0,
    "loyalty_points": 1.0,
    "created_date": "2021-10-08T21:02:45.2494689Z",
    "modified_date": "2021-02-15T17:07:21.7012594Z",
    "last_login_date": "2021-10-06T03:20:38.6316717Z",
    "last_login_attempt_date": "2021-01-12T03:33:22.8749344Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": true,
    "addresses": [
      {
        "id": 0,
        "created_date": "2021-03-24T23:04:17.809758Z",
        "modified_date": "2021-11-03T05:01:52.1663026Z",
        "customer_id": 329,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Lorenzo",
        "last_name": "O\u0027Reilly",
        "company": "Ferry LLC",
        "address": "29676 Monahan Manors",
        "address2": "North Feliciaville",
        "town": "Mallorytown",
        "county": "Avon",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "MZ4 6UL",
        "telephone": "1-437-925-5799 x614",
        "fax": "684.992.9805"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete a Customer",
        "operationId": "Customers_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 330,
    "email_address": "Gordon_Lindgren9@yahoo.com",
    "first_name": "Lavon",
    "last_name": "Prohaska",
    "order_count": 1,
    "loyalty_points": 1.0,
    "created_date": "2021-01-27T13:59:38.3673419Z",
    "modified_date": "2021-06-10T19:11:20.8006801Z",
    "last_login_date": "2021-12-11T17:22:13.5508272Z",
    "last_login_attempt_date": "2021-11-17T08:06:48.1843175Z",
    "locked": true,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2021-04-09T11:00:40.962815Z",
        "modified_date": "2021-11-17T03:27:14.0766308Z",
        "customer_id": 330,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Daniela",
        "last_name": "Bashirian",
        "company": "Jacobson - White",
        "address": "39682 Feil Well",
        "address2": "Julienton",
        "town": "Hermannfurt",
        "county": "Borders",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "UN6 5NR",
        "telephone": "(477) 982-3549 x254",
        "fax": "1-312-245-5397 x56040"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a paginated set of Customers",
        "operationId": "Customers_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 331,
      "email_address": "Drew.Zboncak98@hotmail.com",
      "first_name": "Moses",
      "last_name": "Dach",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2021-11-20T13:58:02.1114831Z",
      "modified_date": "2021-09-11T13:39:51.5132846Z",
      "last_login_date": "2021-06-12T23:27:11.3715259Z",
      "last_login_attempt_date": "2021-02-06T13:55:42.2711275Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-09-25T23:09:35.6996171Z",
          "modified_date": "2021-06-07T05:46:33.3273115Z",
          "customer_id": 331,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Chester",
          "last_name": "Cronin",
          "company": "O\u0027Hara LLC",
          "address": "748 Howe Turnpike",
          "address2": "West Donnell",
          "town": "North Tyrique",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "MC5 7TA",
          "telephone": "351.354.3336",
          "fax": "(616) 751-2988 x56341"
        }
      ]
    },
    {
      "id": 332,
      "email_address": "Bobbie_Jerde7@gmail.com",
      "first_name": "Vincent",
      "last_name": "Corkery",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2021-09-08T16:49:23.4820569Z",
      "modified_date": "2021-11-24T17:26:09.6497875Z",
      "last_login_date": "2021-10-25T02:46:16.5989489Z",
      "last_login_attempt_date": "2021-11-05T13:47:33.3637752Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-03-19T11:14:15.1243457Z",
          "modified_date": "2021-12-01T10:49:58.6983696Z",
          "customer_id": 332,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Verona",
          "last_name": "Effertz",
          "company": "Nolan - Thompson",
          "address": "0803 Ferry Burg",
          "address2": "New Regan",
          "town": "Hansfurt",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "DC1 3ZY",
          "telephone": "885.881.6556",
          "fax": "1-987-874-1571"
        }
      ]
    },
    {
      "id": 333,
      "email_address": "Geraldine.Haley@gmail.com",
      "first_name": "Salma",
      "last_name": "Goyette",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2021-01-14T11:55:56.3606739Z",
      "modified_date": "2021-11-11T02:01:00.5650576Z",
      "last_login_date": "2021-09-22T15:22:53.0830222Z",
      "last_login_attempt_date": "2021-06-23T04:39:40.8098131Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-08-27T10:05:56.3832846Z",
          "modified_date": "2021-02-17T16:21:32.1024333Z",
          "customer_id": 333,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Wayne",
          "last_name": "Lebsack",
          "company": "Balistreri, Renner and Koepp",
          "address": "3261 Quentin Common",
          "address2": "South Dulce",
          "town": "Elvachester",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "LV7 7CL",
          "telephone": "(969) 824-6442 x615",
          "fax": "461.812.0186"
        }
      ]
    },
    {
      "id": 334,
      "email_address": "Olivia50@yahoo.com",
      "first_name": "Isaias",
      "last_name": "Christiansen",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2021-01-11T15:14:17.1103213Z",
      "modified_date": "2021-04-15T10:00:13.570266Z",
      "last_login_date": "2021-10-12T17:20:04.1328285Z",
      "last_login_attempt_date": "2021-04-29T02:15:07.121621Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-12-02T17:50:18.7647278Z",
          "modified_date": "2021-06-16T06:15:54.4589228Z",
          "customer_id": 334,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Emanuel",
          "last_name": "Macejkovic",
          "company": "Casper LLC",
          "address": "107 Gerald Rapid",
          "address2": "Franciscaborough",
          "town": "Lake Alek",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "SY6 2RO",
          "telephone": "(911) 350-9324 x07278",
          "fax": "(608) 991-0668 x391"
        }
      ]
    },
    {
      "id": 335,
      "email_address": "Wanda_Ernser85@yahoo.com",
      "first_name": "Flo",
      "last_name": "Vandervort",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2021-10-03T22:37:55.8203259Z",
      "modified_date": "2021-07-24T15:39:17.7405857Z",
      "last_login_date": "2021-12-15T04:02:23.6146164Z",
      "last_login_attempt_date": "2021-10-26T06:51:26.9987387Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-01-16T04:48:45.9420376Z",
          "modified_date": "2021-06-13T20:43:41.9374127Z",
          "customer_id": 335,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Kameron",
          "last_name": "Wiza",
          "company": "Johns - Brakus",
          "address": "27047 Cleve Groves",
          "address2": "West Armando",
          "town": "Wymanland",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "XP2 2XE",
          "telephone": "(230) 397-5620 x85299",
          "fax": "647.383.0651 x3568"
        }
      ]
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Add a customer",
        "description": "Note: setting send_email to true will send an email to the customer prompting them to create a password",
        "operationId": "Customers_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 336,
    "email_address": "Wendell76@gmail.com",
    "first_name": "Marshall",
    "last_name": "Glover",
    "order_count": 1,
    "loyalty_points": 0.0,
    "created_date": "2021-08-28T16:50:22.1569448Z",
    "modified_date": "2021-04-08T17:57:32.7224543Z",
    "last_login_date": "2021-09-01T19:21:58.4955439Z",
    "last_login_attempt_date": "2021-04-15T15:59:03.9929965Z",
    "locked": true,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2021-12-09T15:49:43.7325831Z",
        "modified_date": "2021-01-02T14:50:24.4741576Z",
        "customer_id": 336,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Crystal",
        "last_name": "Brown",
        "company": "Wyman, Zemlak and Nolan",
        "address": "29561 Runte Shoals",
        "address2": "Domingoview",
        "town": "Emmaleeborough",
        "county": "Borders",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "GU6 8CB",
        "telephone": "1-771-682-9221 x5480",
        "fax": "(532) 598-4017"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/search": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Searches customers based on search criteria",
        "operationId": "Customers_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customers based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 337,
      "email_address": "Maurice28@hotmail.com",
      "first_name": "Kendra",
      "last_name": "Dach",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-12-31T22:24:40.6080086Z",
      "modified_date": "2021-11-23T21:34:01.718075Z",
      "last_login_date": "2021-03-20T14:10:07.8263579Z",
      "last_login_attempt_date": "2021-06-10T21:02:03.1852Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-12-13T14:01:47.6607606Z",
          "modified_date": "2021-01-05T16:43:22.4906596Z",
          "customer_id": 337,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Alanna",
          "last_name": "Nolan",
          "company": "Renner Inc",
          "address": "11269 Albert Plains",
          "address2": "West Rodrickmouth",
          "town": "Port Anabelleland",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "OS3 5UF",
          "telephone": "1-992-792-0723 x256",
          "fax": "(256) 337-8255 x4653"
        }
      ]
    },
    {
      "id": 338,
      "email_address": "Glen.Barton70@hotmail.com",
      "first_name": "Berta",
      "last_name": "Abshire",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-11-18T03:33:48.9692485Z",
      "modified_date": "2021-07-28T12:38:30.3898962Z",
      "last_login_date": "2021-02-19T08:16:25.8003987Z",
      "last_login_attempt_date": "2021-10-15T11:15:25.0140801Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-06-26T00:55:48.6163998Z",
          "modified_date": "2021-10-04T23:57:45.0190406Z",
          "customer_id": 338,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Bria",
          "last_name": "Wunsch",
          "company": "Larkin LLC",
          "address": "623 O\u0027Connell Spring",
          "address2": "Medhurstshire",
          "town": "North Stacy",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "XA8 4GZ",
          "telephone": "1-452-938-0373",
          "fax": "614.796.8282"
        }
      ]
    },
    {
      "id": 339,
      "email_address": "Wilson_Kihn@gmail.com",
      "first_name": "Darion",
      "last_name": "Ebert",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2021-06-01T21:24:35.8821181Z",
      "modified_date": "2021-10-09T20:55:28.3802314Z",
      "last_login_date": "2021-11-15T09:37:42.8195058Z",
      "last_login_attempt_date": "2021-12-12T14:26:55.935449Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-12-23T13:54:03.5033845Z",
          "modified_date": "2021-02-18T18:36:15.5648822Z",
          "customer_id": 339,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Misael",
          "last_name": "Hintz",
          "company": "Pouros, Bradtke and Farrell",
          "address": "19573 Ardella Roads",
          "address2": "New Alexandre",
          "town": "Sanfordmouth",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "QZ3 2XO",
          "telephone": "(856) 701-8063 x979",
          "fax": "519.485.9294"
        }
      ]
    },
    {
      "id": 340,
      "email_address": "Doris_Dietrich@yahoo.com",
      "first_name": "Esperanza",
      "last_name": "Hand",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2021-05-29T09:54:14.8485413Z",
      "modified_date": "2021-01-01T10:29:08.3852194Z",
      "last_login_date": "2021-10-16T21:34:18.9212746Z",
      "last_login_attempt_date": "2021-01-09T22:41:49.0562312Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-12-20T20:33:17.587578Z",
          "modified_date": "2021-12-01T17:47:07.6124024Z",
          "customer_id": 340,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Pauline",
          "last_name": "Collier",
          "company": "Collins - Predovic",
          "address": "1723 Emard Village",
          "address2": "Zoieshire",
          "town": "South Colt",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "XG4 0YE",
          "telephone": "1-525-929-0578",
          "fax": "1-301-311-8317 x519"
        }
      ]
    },
    {
      "id": 341,
      "email_address": "Nellie26@yahoo.com",
      "first_name": "Juana",
      "last_name": "Johnson",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-07-17T15:41:44.4635779Z",
      "modified_date": "2021-07-16T22:35:12.696039Z",
      "last_login_date": "2021-07-04T17:00:14.662577Z",
      "last_login_attempt_date": "2021-02-15T07:25:06.6358263Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-09-25T05:02:05.969945Z",
          "modified_date": "2021-10-17T16:03:53.1066733Z",
          "customer_id": 341,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Evalyn",
          "last_name": "Bogan",
          "company": "Keebler, Mueller and Crona",
          "address": "28349 Ramona Lane",
          "address2": "Shakiraton",
          "town": "North Clark",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "UX1 0FF",
          "telephone": "(378) 330-3365",
          "fax": "(924) 572-9971 x21625"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/settings/domains": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get the current Primary Domain",
        "operationId": "Domains_GetPrimaryDomain",
        "responses": {
          "200": {
            "description": "The primary domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1DomainName"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "primary_domain_name": "dariana.name"
  }
}
              }
            }
          },
          "404": {
            "description": "No primary domain found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Domain not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v2/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get an order by ID",
        "operationId": "Orders_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The order ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV2Order"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 168,
    "order_number": "i3nbh3maghh9fdue",
    "order_date": "2017-08-02T00:14:52.2689456Z",
    "is_confirmed": true,
    "sub_total": 0.9519451982117935,
    "total_delivery": 0.1169421012126571,
    "total_tax": 0.14398160676657298,
    "total_cost": 0.6758632895889987,
    "status": "FAILED",
    "payment_status": "UNKNOWN",
    "delivery_method": "",
    "transaction_id": "a9ce8149-bddd-4119-85bc-75fca3b7dd79",
    "transaction_status": "",
    "order_type": "",
    "use_shipping_address": true,
    "shipping_address": {
      "first_name": "Barry",
      "last_name": "Goldner",
      "id": -1026979366,
      "created_date": "2021-11-07T23:36:42.8187522Z",
      "modified_date": "2021-07-25T01:36:49.0826958Z",
      "customer_id": 174336908,
      "is_preferred_billing_address": false,
      "is_preferred_shipping_address": true,
      "company": "Sporer, Deckow and Rau",
      "address": "27720 Raynor Mills",
      "address2": "Donnellyland",
      "town": "Diamondton",
      "county": "Bedfordshire",
      "country": "GB",
[...]
