{
  "openapi": "3.0.1",
  "info": {
    "title": "EKM Partner API",
    "description": "Our new API allows partners to build significantly better integrations with the EKM platform.\r\n\r\nTo try out the below endpoints, or for full up to date representations of the request / response models, please see the [swagger page](https://api.ekm.net/swagger/index.html). (We display examples here, but the swagger page is guaranteed to show the complete model.)\r\n\r\nTo keep up to date with the latest updates, please see our [RSS feed](https://partners.ekm.net/ChangeLog/Feed) or the [partner dashboard](https://partners.ekm.net/).",
    "contact": {
      "name": "EKM",
      "url": "https://ekm.com",
      "email": "api-support@ekm.com"
    },
    "version": "Latest",
    "x-logo": {
      "url": "/images/ekm-logo-vector-RGB-1920x1080.png",
      "backgroundColor": "#fafafa"
    }
  },
  "servers": [
    {
      "url": "https://api.ekm.net"
    }
  ],
  "paths": {
    "/api/v1/categories/{id}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a category",
        "operationId": "Categories_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The chosen category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 962,
    "name": "EKM - itaque",
    "description": "Qui quia sint tenetur laudantium ex impedit occaecati. Animi quasi dolor nihil. Inventore tempora quis distinctio nam sit.",
    "in_category_description": "A tenetur nihil voluptas illum ipsa consequatur reprehenderit ullam mollitia. Facilis quia placeat at aut aliquid. Eos id laudantium officiis neque dolorem aliquam nostrum. Inventore quo pariatur enim asperiores vero deleniti dolore sapiente. Fuga ut libero excepturi assumenda ullam voluptatum. Veritatis aut nemo autem voluptate nemo delectus nesciunt sed.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Categories"
        ],
        "summary": "Update a category",
        "operationId": "Categories_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 963,
    "name": "EKM - ducimus",
    "description": "Animi officia non tempora hic cum ducimus voluptas reprehenderit. Voluptas quas necessitatibus aliquid qui nesciunt consectetur tempora optio. Est doloremque consectetur amet quas nobis corporis.",
    "in_category_description": "Quo id aperiam nesciunt quia. Aperiam perferendis odio natus sunt at ratione ea ad voluptatem. Atque inventore culpa consequatur delectus saepe placeat sint aut. Qui laboriosam est ut quis et voluptatem. Quae consequatur nisi porro quam eligendi ratione.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Delete a category",
        "operationId": "Categories_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of categories",
        "operationId": "Categories_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - facere",
      "description": "Quisquam ut et sint et cumque velit. Sapiente dolores officiis nulla. Facilis quasi ea rerum tempore. Exercitationem porro rerum consequuntur nulla tempora blanditiis praesentium. Quidem rerum distinctio non tempora eos autem natus earum.",
      "in_category_description": "Voluptatem quasi consequuntur earum non nobis. Cupiditate cumque facilis veritatis. Voluptatum eaque quis. Est esse dolor est totam et molestiae est beatae fugiat.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - distinctio",
      "description": "Pariatur excepturi esse neque. Eligendi modi officia consequatur mollitia. Accusantium non possimus quia. Fugiat amet ipsum vero dolore voluptatem ratione. Autem tenetur dolor rerum.",
      "in_category_description": "Optio voluptatem officia vel pariatur dolores facilis necessitatibus modi. Ratione corporis assumenda qui dolorum. Sed atque nemo aperiam et facilis quos omnis. Eum commodi quaerat quis ullam repudiandae qui quasi eos ut. Odio omnis voluptates maiores.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - non",
      "description": "Dolorem impedit earum magnam voluptas sed magni esse exercitationem sit. Dolorum ab provident dolorem deleniti sit. Eum sint et iusto error incidunt et sint atque. Voluptatibus in voluptatem odit. Cum libero ab a culpa. Quisquam et rerum.",
      "in_category_description": "Officia occaecati pariatur id laborum. Necessitatibus numquam perspiciatis. Quae iure ratione impedit fuga voluptate. Et et quisquam. Vel quia quis.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - et",
      "description": "Odio minus nam ad aperiam qui enim. Aut quasi debitis laborum voluptates nobis aut natus. Harum minima et magnam tenetur harum libero suscipit qui. Labore non adipisci voluptatum quod quo omnis ducimus atque aut. Aut similique quo et. Laboriosam dolor exercitationem cupiditate eaque voluptates illum.",
      "in_category_description": "Officia accusamus enim atque aspernatur repellat itaque qui. Architecto et repudiandae deserunt dolores est ea labore dolorum soluta. Dolorum impedit quasi sit dignissimos exercitationem corrupti ipsa. Vero sit qui maxime minus sequi ut minima sapiente iure.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - rerum",
      "description": "Facilis voluptas harum animi maxime ipsa. Neque et quis eos minus quia debitis. Dicta ipsa aut molestias eveniet expedita quasi quod eaque.",
      "in_category_description": "Voluptatibus et vitae ad incidunt quibusdam quas consectetur et. Omnis voluptas omnis dignissimos sint. Inventore ipsa aliquam aut laborum ad ipsum consectetur sint.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Add a category",
        "operationId": "Categories_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 969,
    "name": "EKM - qui",
    "description": "Est sunt voluptatem mollitia et. Veritatis quisquam vitae cupiditate inventore nisi incidunt recusandae vel quos. Sed aliquam et vel necessitatibus perferendis cumque. Nesciunt dolore nihil harum saepe ea est quam amet.",
    "in_category_description": "Veniam tenetur velit nam vel quibusdam. Provident maiores repudiandae omnis soluta laudantium cum et. Sit nemo recusandae aut natus voluptatem illum enim. Ex dicta amet neque voluptate et ipsa excepturi.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/search": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Searches categories based on search criteria",
        "operationId": "Categories_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. live eq true",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - voluptatem",
      "description": "Autem officia nobis qui quia deleniti porro. Vel similique et a labore facilis voluptatem aut aliquam. Non delectus dolores eos accusantium accusantium impedit.",
      "in_category_description": "Culpa doloribus id dolorem qui. Quasi molestiae quod fuga aliquid tempore. Id hic necessitatibus. Aut consequuntur hic.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - occaecati",
      "description": "Temporibus aut iure et ducimus et error expedita officiis. Aut eos debitis facilis in aut quos ipsum. Culpa corrupti ut et pariatur ea amet magnam.",
      "in_category_description": "Culpa unde pariatur quos dolor hic adipisci facere modi dolorum. Quia delectus voluptatum delectus aut. Architecto dolore tempore aut quidem omnis. Molestias quia rerum aut ut rerum voluptatem ea laborum. Nostrum neque voluptatem facilis optio eligendi quia ut. Omnis ducimus ea cupiditate nihil.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - ut",
      "description": "Fugit alias veniam ut rerum assumenda quae maiores vero et. Numquam suscipit ea. Error modi sit et impedit dolorem vel omnis laudantium. Consequatur tempora ex aut et praesentium non distinctio. Voluptatem in sit voluptas ut qui numquam distinctio quo et. Magni recusandae consectetur.",
      "in_category_description": "Corporis et aspernatur dolorem et minus qui illum labore. Ut est aut inventore id officiis iste. Quia totam ut vel quo. Dolores neque ut et nisi sed. Aperiam omnis ut et eius aut.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - dolores",
      "description": "Rerum excepturi id assumenda at non. Omnis accusantium dolore in deserunt voluptatibus aut id et. Eligendi tempore et adipisci non rem. Ratione quas repudiandae et natus iure voluptas veritatis. Autem cupiditate quisquam est quasi omnis. Eum omnis eveniet explicabo a quo ab libero distinctio in.",
      "in_category_description": "Qui accusantium eius quam ipsa ut. Ut laborum dolorem eius quidem atque sint. Consectetur officia aut ratione. Eos nihil occaecati et harum. Maxime nemo qui dolore tenetur voluptatibus. Ut labore iure sunt aut soluta officiis.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - ducimus",
      "description": "Eius perspiciatis quaerat laborum dignissimos. Eos beatae omnis molestiae deleniti minima sed quas. Repellendus nam nesciunt ipsam saepe consequatur non ut et.",
      "in_category_description": "Autem et atque sed ad. Recusandae aliquid corporis necessitatibus quis voluptas ullam est deserunt dolorem. Iste explicabo et quia.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/subcategories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of subcategories",
        "operationId": "Categories_Subcategories",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of subcategories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1SubCategory"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "parent_category_id": 2,
      "category_id": 1,
      "name": "EKM - aut",
      "description": "Sit porro magni enim maiores. Nemo adipisci voluptatum. Eos et mollitia in. Officia nisi voluptas velit. Esse eveniet vero nam corporis velit eaque soluta aut quasi. Repudiandae fugiat dolorem sit.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 4,
      "category_id": 2,
      "name": "EKM - iste",
      "description": "Commodi ullam qui dolor nostrum dolores repellendus. Similique mollitia in quas est. Soluta rerum ut sed vero. Aut temporibus ut fuga eius ea. Hic velit et. Mollitia fugiat quisquam in ut ipsam.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 6,
      "category_id": 3,
      "name": "EKM - labore",
      "description": "Debitis tenetur et odio veniam rem ut et. Rerum voluptatem veritatis optio. Et in sit a a. Quia quo itaque eos sed aut libero alias tenetur dolor. Distinctio excepturi dolores officia illo nesciunt non.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 8,
      "category_id": 4,
      "name": "EKM - nisi",
      "description": "Non quisquam laudantium. Voluptas eveniet ut odit. Sunt ex veniam est id ipsa sit quos ut. Et nisi nulla ducimus autem id. Error cumque natus quam et et quia.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 10,
      "category_id": 5,
      "name": "EKM - dolorem",
      "description": "Rem aut officiis. Consequuntur eveniet magni quia eius vel temporibus provident unde eaque. Exercitationem et hic quo consequatur enim sunt error. Suscipit voluptas perspiciatis voluptate est id architecto eveniet eligendi. Perspiciatis occaecati ea sunt tempore ducimus quo labore sequi modi. Doloremque sequi occaecati placeat quas placeat quaerat fugit ut.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/categorymanaged/{childCategoryId}": {
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Set a category to be managed by another category",
        "operationId": "Categories_SetCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The added managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "parent_category_id": 1,
    "category_id": 10,
    "name": "Subcategory",
    "description": null,
    "order_location": 99999,
    "live": true,
    "is_category_managed": true
  }
}
              }
            }
          },
          "400": {
            "description": "A subcategory or managed category already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category or child category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Stops a category from being managed by another category",
        "operationId": "Categories_DeleteCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The removed managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No managed category found for that child category ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/filters": {
      "put": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_UpdateCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CategoryFilters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "get": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_GetCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CategoryFilters"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/{addressId}": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a single Customer Address by Id",
        "operationId": "CustomerAddresses_GetById",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-07-30T15:55:09.8730633Z",
    "modified_date": "2020-05-03T18:23:53.8583072Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Lazaro",
    "last_name": "Mann",
    "company": "Dicki, Lesch and Balistreri",
    "address": "2374 Ayana Parkway",
    "address2": null,
    "town": "West Sincere",
    "county": "Cambridgeshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "592-322-6093 x0360",
    "fax": "(487) 910-1129 x3098"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Update a Customer Address",
        "operationId": "CustomerAddresses_Update",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-09-21T10:27:20.5509293Z",
    "modified_date": "2020-06-03T21:42:03.2372267Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Alta",
    "last_name": "Dare",
    "company": "Gleichner, Gorczany and Rau",
    "address": "400 Torp Station",
    "address2": null,
    "town": "New Erich",
    "county": "Avon",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "516.553.0628",
    "fax": "724.311.1907"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Delete a Customer Address",
        "operationId": "CustomerAddresses_Delete",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer Address deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2021-03-08T23:20:45.5567021Z",
    "modified_date": "2020-04-06T04:27:35.2302948Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Elmore",
    "last_name": "Kulas",
    "company": "Moen - Cremin",
    "address": "147 Von Points",
    "address2": null,
    "town": "Zorachester",
    "county": "Borders",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "(362) 251-6914 x30496",
    "fax": "569.445.1475"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a paginated set of Customer Addresses",
        "operationId": "CustomerAddresses_GetAll",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customer Addresses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 0,
      "created_date": "2020-09-03T02:21:19.0426846Z",
      "modified_date": "2020-05-05T02:20:56.6445812Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Laurine",
      "last_name": "Gibson",
      "company": "Hettinger, MacGyver and Bogisich",
      "address": "6532 Gibson Cape",
      "address2": null,
      "town": "Estefaniaview",
      "county": "Cambridgeshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "350.870.5359",
      "fax": "(516) 955-2056"
    },
    {
      "id": 0,
      "created_date": "2020-06-30T15:42:19.7539408Z",
      "modified_date": "2021-03-24T08:52:05.6849163Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Peter",
      "last_name": "Crist",
      "company": "Schiller, Metz and Farrell",
      "address": "827 Stark Lakes",
      "address2": null,
      "town": "Hankberg",
      "county": "Cambridgeshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "895-874-7600 x435",
      "fax": "871-799-1523 x6524"
    },
    {
      "id": 0,
      "created_date": "2020-07-02T11:52:07.8106572Z",
      "modified_date": "2020-04-22T20:00:03.6581958Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Katelin",
      "last_name": "Mosciski",
      "company": "Hahn Inc",
      "address": "597 Pagac Summit",
      "address2": null,
      "town": "Janniehaven",
      "county": "Bedfordshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "222.892.1569",
      "fax": "1-399-416-7287"
    },
    {
      "id": 0,
      "created_date": "2021-03-13T05:43:01.9086072Z",
      "modified_date": "2021-01-01T22:36:02.0415257Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Anya",
      "last_name": "Conn",
      "company": "Ruecker and Sons",
      "address": "062 Mario Circles",
      "address2": null,
      "town": "Kayliefurt",
      "county": "Cambridgeshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "677-355-6959 x6536",
      "fax": "898.975.0884"
    },
    {
      "id": 0,
      "created_date": "2021-02-06T22:58:17.7202499Z",
      "modified_date": "2021-01-07T11:10:34.8628442Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Gertrude",
      "last_name": "Hilll",
      "company": "Weber, Eichmann and Bahringer",
      "address": "67586 Joelle Curve",
      "address2": null,
      "town": "Swiftview",
      "county": "Avon",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "1-537-468-1053 x9242",
      "fax": "385.221.5862"
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Add a Customer Address",
        "operationId": "CustomerAddresses_Create",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-11-12T00:42:37.5986519Z",
    "modified_date": "2021-01-12T02:36:35.3118435Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Maxwell",
    "last_name": "Lang",
    "company": "Thompson Group",
    "address": "431 Geo Shoal",
    "address2": null,
    "town": "New Carlosville",
    "county": "Berkshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "(447) 608-8684",
    "fax": "(553) 503-3581 x4383"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/search": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Searches customer addresses based on search criteria",
        "operationId": "CustomerAddresses_Search",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customer adresses based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1406,
      "email_address": "Emilio_Kuhn@hotmail.com",
      "first_name": "Eveline",
      "last_name": "Von",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-12-04T19:40:56.263086Z",
      "modified_date": "2020-06-09T10:52:06.9753362Z",
      "last_login_date": "2020-07-13T02:42:38.3638303Z",
      "last_login_attempt_date": "2020-04-14T10:53:02.0899869Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-06-05T12:03:48.4505088Z",
          "modified_date": "2020-10-13T00:14:15.4023905Z",
          "customer_id": 1406,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Alexandra",
          "last_name": "McClure",
          "company": "Hessel - King",
          "address": "8544 Hegmann Corners",
          "address2": "Anguschester",
          "town": "South Gabrielle",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "BD3 0PT",
          "telephone": "391-682-9867",
          "fax": "(826) 243-8620 x3312"
        }
      ]
    },
    {
      "id": 1407,
      "email_address": "Sandra_Fisher46@gmail.com",
      "first_name": "Carmen",
      "last_name": "Morar",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-11-27T15:50:35.9284681Z",
      "modified_date": "2020-09-14T06:19:16.5524361Z",
      "last_login_date": "2020-08-23T07:18:44.9349747Z",
      "last_login_attempt_date": "2020-05-06T14:55:19.9591182Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-08-20T16:22:24.6197809Z",
          "modified_date": "2020-07-08T00:31:36.8634439Z",
          "customer_id": 1407,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Christa",
          "last_name": "O\u0027Conner",
          "company": "Lynch, Stamm and Kreiger",
          "address": "9852 Mark Mission",
          "address2": "Reidport",
          "town": "Lemuelmouth",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "UE1 3II",
          "telephone": "(953) 842-0104 x2533",
          "fax": "(377) 218-4816 x705"
        }
      ]
    },
    {
      "id": 1408,
      "email_address": "Maxine33@hotmail.com",
      "first_name": "Elvis",
      "last_name": "Glover",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2021-01-18T17:20:56.6414229Z",
      "modified_date": "2020-11-12T17:25:33.0494606Z",
      "last_login_date": "2020-08-31T02:58:30.6454582Z",
      "last_login_attempt_date": "2020-08-23T15:38:55.1296947Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-09-21T23:09:29.1345137Z",
          "modified_date": "2020-10-30T04:03:51.6548657Z",
          "customer_id": 1408,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Katlyn",
          "last_name": "Skiles",
          "company": "Altenwerth, Gulgowski and Sauer",
          "address": "6998 Maggio Mission",
          "address2": "West Sylvia",
          "town": "Brennanmouth",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "KI7 8CO",
          "telephone": "1-678-293-9185 x61655",
          "fax": "322-726-0086 x74212"
        }
      ]
    },
    {
      "id": 1409,
      "email_address": "Simon_Friesen30@hotmail.com",
      "first_name": "Lew",
      "last_name": "Klocko",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-05-01T20:31:50.6896907Z",
      "modified_date": "2021-03-08T11:57:22.4297624Z",
      "last_login_date": "2020-06-19T06:59:43.252583Z",
      "last_login_attempt_date": "2021-03-02T13:01:02.6255811Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-01-03T13:24:08.7191728Z",
          "modified_date": "2021-01-17T17:35:25.7620049Z",
          "customer_id": 1409,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Addison",
          "last_name": "Grady",
          "company": "Hudson, Ziemann and Mitchell",
          "address": "190 Waelchi Village",
          "address2": "Padbergfort",
          "town": "Port Audrey",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "FH3 3UM",
          "telephone": "748-910-7311 x933",
          "fax": "1-813-861-9684 x144"
        }
      ]
    },
    {
      "id": 1410,
      "email_address": "Jill80@hotmail.com",
      "first_name": "Tracy",
      "last_name": "Donnelly",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2020-10-16T13:36:17.7595008Z",
      "modified_date": "2021-01-12T20:18:54.6739213Z",
      "last_login_date": "2020-06-24T00:18:13.4391652Z",
      "last_login_attempt_date": "2020-06-26T20:14:36.2409956Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-03-19T14:44:52.7140452Z",
          "modified_date": "2020-07-19T23:09:33.4058093Z",
          "customer_id": 1410,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Walker",
          "last_name": "Koch",
          "company": "Roberts - Roob",
          "address": "156 Rocio Mills",
          "address2": "Dickensfort",
          "town": "New Edwardport",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "BT4 8KS",
          "telephone": "232.470.0218",
          "fax": "(855) 300-0414"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a single Customer by Id",
        "operationId": "Customers_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Customers Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customers Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1411,
    "email_address": "Shawn.Kilback60@gmail.com",
    "first_name": "Benjamin",
    "last_name": "Kirlin",
    "order_count": 0,
    "loyalty_points": 1.0,
    "created_date": "2020-05-19T13:30:19.2125389Z",
    "modified_date": "2020-07-28T15:04:27.6449926Z",
    "last_login_date": "2020-04-04T10:16:56.3410519Z",
    "last_login_attempt_date": "2020-05-15T06:59:00.4981199Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": true,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-11-17T05:53:53.8973391Z",
        "modified_date": "2020-05-27T07:23:52.957687Z",
        "customer_id": 1411,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Ransom",
        "last_name": "Klocko",
        "company": "Gerlach - Zemlak",
        "address": "8722 Chase Plains",
        "address2": "Huelland",
        "town": "South Kolehaven",
        "county": "Berkshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "HG8 7EN",
        "telephone": "(668) 637-2868 x71115",
        "fax": "1-202-349-1057 x2744"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update a Customer",
        "operationId": "Customers_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1412,
    "email_address": "Santiago_Johns@gmail.com",
    "first_name": "Vance",
    "last_name": "Mayert",
    "order_count": 0,
    "loyalty_points": 0.0,
    "created_date": "2020-04-09T08:44:03.9212743Z",
    "modified_date": "2020-12-16T08:04:57.6752326Z",
    "last_login_date": "2020-06-16T07:00:57.5434037Z",
    "last_login_attempt_date": "2020-06-17T16:46:24.379566Z",
    "locked": true,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2021-02-10T20:04:15.448016Z",
        "modified_date": "2021-02-19T03:32:19.4101962Z",
        "customer_id": 1412,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Golden",
        "last_name": "Powlowski",
        "company": "Buckridge - Gutmann",
        "address": "580 Kshlerin Grove",
        "address2": "Rodriguezshire",
        "town": "New Anastasialand",
        "county": "Cambridgeshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "QT2 1BY",
        "telephone": "886-373-6480 x297",
        "fax": "(682) 281-6190"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete a Customer",
        "operationId": "Customers_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1413,
    "email_address": "Courtney.Gerhold@gmail.com",
    "first_name": "Ila",
    "last_name": "Marvin",
    "order_count": 0,
    "loyalty_points": 0.0,
    "created_date": "2020-08-12T05:06:11.9398744Z",
    "modified_date": "2021-01-09T06:18:04.0764284Z",
    "last_login_date": "2020-06-28T18:07:29.6958912Z",
    "last_login_attempt_date": "2020-09-20T12:00:42.6773292Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-09-04T00:52:58.0313794Z",
        "modified_date": "2020-09-01T00:21:44.8818539Z",
        "customer_id": 1413,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Ceasar",
        "last_name": "Willms",
        "company": "Harber - Sawayn",
        "address": "059 Hailey Pines",
        "address2": "Clarabelletown",
        "town": "Lake Joany",
        "county": "Cambridgeshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "MW3 4WH",
        "telephone": "492.824.4960",
        "fax": "463-698-8936"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a paginated set of Customers",
        "operationId": "Customers_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1414,
      "email_address": "Sam.Howell@gmail.com",
      "first_name": "Litzy",
      "last_name": "McClure",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-01-31T14:11:23.986101Z",
      "modified_date": "2021-03-28T23:36:39.9951845Z",
      "last_login_date": "2021-01-29T22:08:30.6638365Z",
      "last_login_attempt_date": "2020-10-02T18:36:51.9716039Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-01-03T12:21:47.2894545Z",
          "modified_date": "2020-04-28T09:45:27.3725033Z",
          "customer_id": 1414,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Braden",
          "last_name": "Sipes",
          "company": "Nolan, Bernhard and Treutel",
          "address": "880 Witting Wall",
          "address2": "North Norberto",
          "town": "Lake Marley",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "SW2 1JB",
          "telephone": "1-230-758-5428",
          "fax": "1-245-485-5481 x066"
        }
      ]
    },
    {
      "id": 1415,
      "email_address": "Elmer32@hotmail.com",
      "first_name": "Gabriel",
      "last_name": "Berge",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2020-08-01T00:38:49.0528299Z",
      "modified_date": "2020-09-24T06:50:32.7239399Z",
      "last_login_date": "2020-12-07T01:30:01.4958067Z",
      "last_login_attempt_date": "2021-04-02T06:55:06.1779004Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-07-11T17:52:09.5898074Z",
          "modified_date": "2021-01-11T14:37:01.2782256Z",
          "customer_id": 1415,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Braeden",
          "last_name": "Kirlin",
          "company": "Flatley, Kris and Mann",
          "address": "4398 Carlo Station",
          "address2": "Dorotheaville",
          "town": "North Kiarramouth",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "SR2 7AV",
          "telephone": "875-896-2905 x436",
          "fax": "(399) 790-1884"
        }
      ]
    },
    {
      "id": 1416,
      "email_address": "Evan_Rohan@hotmail.com",
      "first_name": "Dagmar",
      "last_name": "Langosh",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-01-18T05:16:45.9095129Z",
      "modified_date": "2021-03-31T20:01:40.2339333Z",
      "last_login_date": "2020-05-02T04:03:43.818485Z",
      "last_login_attempt_date": "2020-05-11T04:57:00.5936244Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-04-09T17:16:19.1374354Z",
          "modified_date": "2020-11-04T22:04:59.0717557Z",
          "customer_id": 1416,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Ansley",
          "last_name": "Howe",
          "company": "Leffler Group",
          "address": "1646 Brekke Port",
          "address2": "Larkinhaven",
          "town": "Kertzmannside",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "GW7 4CC",
          "telephone": "316.326.9647",
          "fax": "(634) 916-9864 x910"
        }
      ]
    },
    {
      "id": 1417,
      "email_address": "Angie.Smitham@gmail.com",
      "first_name": "Norbert",
      "last_name": "Barton",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2021-02-08T15:37:31.9104187Z",
      "modified_date": "2020-08-01T06:36:10.4511695Z",
      "last_login_date": "2021-02-21T12:57:28.0358946Z",
      "last_login_attempt_date": "2021-01-12T23:29:03.6509247Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-01-09T11:58:01.895433Z",
          "modified_date": "2020-10-18T21:57:49.6910258Z",
          "customer_id": 1417,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Jeffery",
          "last_name": "Welch",
          "company": "Farrell Inc",
          "address": "66375 Domenica Skyway",
          "address2": "East Demario",
          "town": "Port Lauretta",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "KP1 2HJ",
          "telephone": "(766) 201-7809",
          "fax": "856.230.2744"
        }
      ]
    },
    {
      "id": 1418,
      "email_address": "Milton50@hotmail.com",
      "first_name": "Stuart",
      "last_name": "Nienow",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-06-01T23:30:30.6854466Z",
      "modified_date": "2021-02-04T12:06:38.9743442Z",
      "last_login_date": "2021-01-19T09:54:52.8199607Z",
      "last_login_attempt_date": "2020-05-01T12:11:55.1757174Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-08-11T07:48:13.1791795Z",
          "modified_date": "2020-06-16T11:38:31.1789506Z",
          "customer_id": 1418,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Hubert",
          "last_name": "Farrell",
          "company": "Thompson - Anderson",
          "address": "079 Prohaska Prairie",
          "address2": "Herzogberg",
          "town": "West Mariettastad",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "HA2 3WY",
          "telephone": "696-584-8143 x4845",
          "fax": "1-720-888-7822 x5413"
        }
      ]
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Add a customer",
        "description": "Note: setting send_email to true will send an email to the customer prompting them to create a password",
        "operationId": "Customers_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1419,
    "email_address": "Charlotte_Padberg62@yahoo.com",
    "first_name": "Golden",
    "last_name": "Lakin",
    "order_count": 1,
    "loyalty_points": 1.0,
    "created_date": "2020-10-28T03:06:58.9797566Z",
    "modified_date": "2020-04-14T11:39:28.1305787Z",
    "last_login_date": "2020-07-24T19:08:36.5717489Z",
    "last_login_attempt_date": "2020-09-28T01:20:26.1131944Z",
    "locked": true,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2021-02-06T20:46:54.8963729Z",
        "modified_date": "2020-04-20T02:15:42.2927289Z",
        "customer_id": 1419,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Zula",
        "last_name": "Mann",
        "company": "Leannon Group",
        "address": "116 Conner Grove",
        "address2": "Aileenchester",
        "town": "New Glennieburgh",
        "county": "Buckinghamshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "AN8 1FO",
        "telephone": "(350) 299-4879 x773",
        "fax": "969-943-0186 x759"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/search": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Searches customers based on search criteria",
        "operationId": "Customers_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customers based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1420,
      "email_address": "Sadie.Hudson60@yahoo.com",
      "first_name": "Colleen",
      "last_name": "Zemlak",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-11-07T23:17:32.5383831Z",
      "modified_date": "2020-05-19T04:42:48.4703871Z",
      "last_login_date": "2021-03-26T04:51:09.0111587Z",
      "last_login_attempt_date": "2021-03-28T18:22:02.4731216Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-02-10T02:07:30.3370048Z",
          "modified_date": "2020-05-21T01:29:39.3951766Z",
          "customer_id": 1420,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Misty",
          "last_name": "Schuppe",
          "company": "Gerlach - Pollich",
          "address": "337 Morar Road",
          "address2": "New Harleystad",
          "town": "Port Anderson",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "MD7 7CM",
          "telephone": "(888) 525-8297 x13884",
          "fax": "1-460-983-6512"
        }
      ]
    },
    {
      "id": 1421,
      "email_address": "Ronnie31@yahoo.com",
      "first_name": "Curt",
      "last_name": "Littel",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-12-14T06:38:00.4617766Z",
      "modified_date": "2021-03-25T20:24:13.9194461Z",
      "last_login_date": "2020-07-10T08:49:38.6417835Z",
      "last_login_attempt_date": "2020-10-01T01:46:47.9412836Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-12-14T19:59:32.3396369Z",
          "modified_date": "2020-04-14T15:15:24.9230519Z",
          "customer_id": 1421,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Timmothy",
          "last_name": "Bednar",
          "company": "Doyle, Ebert and Friesen",
          "address": "134 White Cliffs",
          "address2": "Mayertport",
          "town": "Wymanside",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "EU6 3YF",
          "telephone": "416-450-6822",
          "fax": "203.871.4000"
        }
      ]
    },
    {
      "id": 1422,
      "email_address": "Omar66@gmail.com",
      "first_name": "Savanah",
      "last_name": "West",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2021-03-20T12:11:52.9463025Z",
      "modified_date": "2020-10-15T23:20:44.0884046Z",
      "last_login_date": "2020-06-17T03:04:00.4596035Z",
      "last_login_attempt_date": "2020-04-04T03:34:56.0716688Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-10-30T20:26:54.4542606Z",
          "modified_date": "2020-09-04T19:50:28.0135638Z",
          "customer_id": 1422,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Willis",
          "last_name": "Blanda",
          "company": "Roberts Group",
          "address": "0003 Ignacio Viaduct",
          "address2": "Schinnerbury",
          "town": "Fayfurt",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "DA6 3DG",
          "telephone": "(926) 341-6996 x0718",
          "fax": "236.374.5990"
        }
      ]
    },
    {
      "id": 1423,
      "email_address": "Cecil.Hagenes21@yahoo.com",
      "first_name": "Lavinia",
      "last_name": "Marquardt",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-02-20T11:31:11.6017159Z",
      "modified_date": "2020-09-21T19:00:42.5443018Z",
      "last_login_date": "2021-02-08T20:13:26.5105884Z",
      "last_login_attempt_date": "2020-10-18T01:23:54.3376505Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-05-12T11:44:36.4086506Z",
          "modified_date": "2021-03-22T14:25:52.7173583Z",
          "customer_id": 1423,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Donald",
          "last_name": "Carter",
          "company": "Grant and Sons",
          "address": "92763 Irma Green",
          "address2": "Breitenbergstad",
          "town": "Port Damaris",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "EK5 8WI",
          "telephone": "(604) 780-6403 x543",
          "fax": "675.365.6685 x700"
        }
      ]
    },
    {
      "id": 1424,
      "email_address": "Myron19@gmail.com",
      "first_name": "Colleen",
      "last_name": "Ledner",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2021-02-09T15:53:54.4096916Z",
      "modified_date": "2020-06-19T23:03:40.0274254Z",
      "last_login_date": "2020-06-22T20:55:50.0830663Z",
      "last_login_attempt_date": "2020-10-01T02:06:51.6644154Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-11-02T15:21:06.655144Z",
          "modified_date": "2020-09-25T10:36:24.0932261Z",
          "customer_id": 1424,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Litzy",
          "last_name": "Corkery",
          "company": "Renner LLC",
          "address": "880 Hahn Mews",
          "address2": "Lake Davidshire",
          "town": "Lake Conorborough",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "VH7 3VM",
          "telephone": "611-477-9815 x0515",
          "fax": "583.619.0416"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/settings/domains": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get the current Primary Domain",
        "operationId": "Domains_GetPrimaryDomain",
        "responses": {
          "200": {
            "description": "The primary domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1DomainName"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "primary_domain_name": "prudence.biz"
  }
}
              }
            }
          },
          "404": {
            "description": "No primary domain found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Domain not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v2/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get an order by ID",
        "operationId": "Orders_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The order ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV2Order"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 884,
    "order_number": "75h12vcmnaxilpse",
    "order_date": "1989-04-25T01:31:54.4516776Z",
    "is_confirmed": false,
    "sub_total": 0.2224059175804285,
    "total_delivery": 0.6308738480465831,
    "total_tax": 0.5404617653882419,
    "total_cost": 0.9095983574677251,
    "status": "PENDING",
    "payment_status": "UNKNOWN",
    "delivery_method": "",
    "transaction_id": "5756cae5-ddac-4328-a231-8a4bd054d3ad",
    "transaction_status": "",
    "order_type": "",
    "use_shipping_address": true,
    "shipping_address": {
      "first_name": "Casey",
      "last_name": "Corkery",
      "id": -1860123487,
      "created_date": "2020-08-08T06:44:34.4474512Z",
      "modified_date": "2020-12-01T14:34:40.2816129Z",
      "customer_id": -781677891,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": false,
      "company": "Ryan - Hills",
      "address": "2015 Aimee Islands",
      "address2": "Aufderharborough",
      "town": "Mayertfort",
      "county": "Avon",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": "YB5 2ZZ",
      "telephone": "(456) 689-3613 x7538",
      "fax": "307-726-4655"
    },
    "internal_notes": "This is an internal order note.\n\nThis is another internal order note.",
    "customer_facing_notes": "This is an order note.\n\nThis is another order note.",
    "emailed": false,
    "discounts": "",
    "discounts_total": 0.0,
    "shipping_company": "UPS",
    "ip_address": "127.0.0.1",
    "guid": "340709b0-657d-278a-07db-c8dcb536f609",
    "last_updated": null,
    "delivery_tax_rate": null,
    "delivery_includes_tax": null,
    "custom_fields_total": null,
    "custom_fields_tax_total": null,
    "customer_details": {
      "customer_id": -1923900038,
      "email_address": "London.Bartoletti@hotmail.com",
      "first_name": "Casey",
      "last_name": "Corkery",
      "company": "Orn and Sons",
      "address": "83240 Welch Mount",
      "address2": "Lake Tyriqueborough",
      "town": "Rosamondshire",
      "county": "Bedfordshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": "FN4 5DN",
      "telephone": "610-655-5015",
      "fax": "(624) 996-4688",
      "billing_address_verified": false
    },
    "custom_fields": null,
    "delivery_tracking_number": null,
    "delivery_tracking_company": null,
    "delivery_tracking_url": null
  }
}
[...]
