{
  "openapi": "3.0.1",
  "info": {
    "title": "EKM Partner API",
    "description": "Our new API allows partners to build significantly better integrations with the EKM platform.\r\n\r\nTo try out the below endpoints, or for full up to date representations of the request / response models, please see the [swagger page](https://api.ekm.net/swagger/index.html). (We display examples here, but the swagger page is guaranteed to show the complete model.)\r\n\r\nTo keep up to date with the latest updates, please see our [RSS feed](https://partners.ekm.net/ChangeLog/Feed) or the [partner dashboard](https://partners.ekm.net/).",
    "contact": {
      "name": "EKM",
      "url": "https://ekm.com",
      "email": "api-support@ekm.com"
    },
    "version": "Latest",
    "x-logo": {
      "url": "/images/ekm-logo-vector-RGB-1920x1080.png",
      "backgroundColor": "#fafafa"
    }
  },
  "servers": [
    {
      "url": "https://api.ekm.net"
    }
  ],
  "paths": {
    "/api/v1/categories/{id}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a category",
        "operationId": "Categories_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The chosen category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 871,
    "name": "EKM - maxime",
    "description": "Voluptatibus autem error beatae delectus aliquid dolorem magni. Perspiciatis explicabo veritatis. Ut aliquid facilis mollitia ut laudantium voluptates sit velit. Earum et delectus omnis. Officiis sint voluptas dolor exercitationem.",
    "in_category_description": "Illum autem inventore nulla odio labore. Consequatur eos veniam dolor et alias saepe dolorem dolor blanditiis. Soluta in dolor incidunt fuga. Alias deserunt fugiat quaerat. Cumque enim voluptas ullam.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Categories"
        ],
        "summary": "Update a category",
        "operationId": "Categories_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 872,
    "name": "EKM - iste",
    "description": "Sed reprehenderit accusantium tempore sit fugiat consequatur expedita quia. Possimus odio impedit quod eum quas et dolorem harum qui. Rerum voluptas pariatur ea. Tempora iusto aut sit assumenda ducimus ea ipsam. Veritatis aliquam aut et hic modi delectus ab.",
    "in_category_description": "Qui omnis in ipsam consequatur voluptatem magni et hic. Est omnis dolor ut officia est similique nobis. Consequuntur enim vitae.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Delete a category",
        "operationId": "Categories_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of categories",
        "operationId": "Categories_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - reprehenderit",
      "description": "Magnam id aspernatur nobis commodi. Quo minus sit aut. Dolorem sed dolorem accusamus.",
      "in_category_description": "Voluptate quidem doloribus excepturi beatae quod deleniti. Expedita veniam rerum reiciendis occaecati. Nesciunt ullam repellat iste perspiciatis. Ut officia voluptatum. Illum nesciunt aliquam qui dolor ducimus sint ut quos.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - repellendus",
      "description": "Aut consequatur quia eos dolorum nisi nihil et necessitatibus. Dolores optio doloremque non quia est quia id quis. Neque dolor optio sint atque dicta natus quia voluptas. Corrupti minus rerum voluptate consectetur amet eum soluta. Saepe aut iste et veritatis nam.",
      "in_category_description": "Aliquam quia voluptates repudiandae rerum. Pariatur officia recusandae aut aliquam autem. Repellendus et sequi dolor ut voluptas illo. Suscipit itaque modi facilis adipisci qui itaque. Aliquam quidem magnam molestiae quisquam corporis aut.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - vero",
      "description": "Ut autem illum quaerat beatae magni corporis. Odit eum in maxime autem ut molestias quod sint iure. Ut est aut voluptates voluptatibus cum voluptatum alias. Illum atque et ullam vel nam. Quaerat aut beatae vero explicabo laboriosam voluptatem. Iste quia excepturi voluptas aliquid.",
      "in_category_description": "Eum quos ipsum non repudiandae dolores aut quo culpa animi. At inventore fuga. Aut commodi magni quis dolore itaque voluptas provident deserunt. Quis consequatur ex est dolorem harum et eaque quo aspernatur.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - quia",
      "description": "Placeat qui vel delectus dolores aliquam ut corrupti quaerat. Autem odit voluptatem impedit voluptatibus dolorem ipsa perspiciatis. Culpa animi perspiciatis quia non veritatis velit delectus voluptatum illum.",
      "in_category_description": "Rerum aut excepturi eum reiciendis accusamus ut. Ad dolorum dignissimos aut qui. Nam sit molestiae libero accusamus autem iste.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - neque",
      "description": "Quia quasi at ut vitae. Dolores tempore aperiam eos voluptatem. Rerum voluptas consequatur ullam. Velit est a. Et dolor delectus in.",
      "in_category_description": "Aut rerum et. Deleniti nihil quaerat quia et sit et quaerat maiores consequuntur. Architecto consequatur velit provident vel mollitia nam similique porro. Rem deserunt explicabo est saepe.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Add a category",
        "operationId": "Categories_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 878,
    "name": "EKM - rerum",
    "description": "Dolore est est id ipsum tempore quo vel. Aut veniam aut itaque. Eum iure ex quia iste et sit dignissimos. Vel quo laborum consequatur. Dolorem ea aut magni natus sunt id iusto quae.",
    "in_category_description": "Quod qui repellat dignissimos natus veniam impedit quam assumenda. Impedit esse quisquam sit rerum libero et unde nisi. Iste nam aut numquam placeat sunt sequi ducimus consequatur delectus. Laboriosam rerum laboriosam illum quae voluptatem.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/search": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Searches categories based on search criteria",
        "operationId": "Categories_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. live eq true",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - repellat",
      "description": "Consequatur adipisci ut. Blanditiis maiores nostrum. Et et itaque necessitatibus cumque qui minima architecto itaque. Optio rem magni quaerat ab aut quis consequatur provident. Sint deserunt est et ut magnam.",
      "in_category_description": "Et illum possimus voluptas quibusdam. Non laudantium accusantium quas quidem. Inventore quod odit labore corporis. Delectus placeat ratione. Eligendi dicta qui repudiandae veniam voluptas. Dolores sint qui cumque et.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - facilis",
      "description": "Non tempore est. Officia omnis accusamus minus incidunt voluptatem est corrupti. Et eos veniam dolores numquam alias.",
      "in_category_description": "Enim rerum architecto sed quia saepe qui amet. Eos aspernatur maiores eius quis iusto consectetur. Iste et dolorem.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - ex",
      "description": "Excepturi voluptas pariatur quidem inventore dolorem error. Facilis repellat aliquid et repellendus cumque non eum. Veniam unde fuga sit tempore et amet consequuntur nihil sunt.",
      "in_category_description": "Aliquid ullam ipsam sunt exercitationem error commodi ex. Non sit eaque molestiae blanditiis. Et possimus et quos corrupti quia voluptas ut consequatur mollitia.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - voluptate",
      "description": "Distinctio excepturi harum architecto dignissimos. Exercitationem optio eaque. Corrupti eos dolorem accusantium harum possimus non. Facere eius excepturi quia quis est animi. Atque qui omnis quas quos necessitatibus est voluptatem. Maxime saepe earum mollitia vel neque nostrum eum.",
      "in_category_description": "Aliquid quia ratione magni. Veniam aut expedita et dolorem laboriosam eos vero voluptatum. Similique impedit itaque provident eaque animi velit qui sit.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - rerum",
      "description": "Doloribus autem illo modi quos qui laborum. Corporis suscipit blanditiis aut. Deleniti ut odit velit. Id eaque totam dolor consequatur. Aliquid ullam amet natus itaque sit. Et molestiae eligendi voluptatem minima error animi nulla repellat.",
      "in_category_description": "Excepturi ut aliquam sapiente. Natus consequatur corporis earum aut. Dolorem quia non error animi.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/subcategories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of subcategories",
        "operationId": "Categories_Subcategories",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of subcategories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1SubCategory"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "parent_category_id": 2,
      "category_id": 1,
      "name": "EKM - officiis",
      "description": "Ab enim quia sint non ab non blanditiis tenetur perspiciatis. Molestias est autem labore ut sunt sed. Doloribus et adipisci harum labore voluptas.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 4,
      "category_id": 2,
      "name": "EKM - sapiente",
      "description": "Consequatur quo sapiente qui et eaque adipisci. Reprehenderit porro ipsa repudiandae dolor aut esse omnis ut laudantium. Aperiam aut earum asperiores qui atque quia sit.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 6,
      "category_id": 3,
      "name": "EKM - vero",
      "description": "Tempore dolore hic a est labore culpa accusamus vero similique. Voluptas debitis at nesciunt voluptatum non cupiditate. Officiis saepe autem quis et eligendi et quisquam similique. Dignissimos impedit laboriosam labore. Quae quibusdam sapiente dolorem blanditiis quia dolor.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 8,
      "category_id": 4,
      "name": "EKM - voluptatum",
      "description": "Iusto iste et. Labore consequatur asperiores aut. Aut doloribus exercitationem. Aut voluptatem dolor occaecati perferendis fuga velit eos quaerat dicta. Consequatur commodi excepturi iure quasi.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 10,
      "category_id": 5,
      "name": "EKM - id",
      "description": "Assumenda dolor harum eos et qui. Labore qui ut voluptatem iusto. Placeat fugiat vitae natus tempore expedita dolorem. Adipisci et dolor totam optio voluptas debitis dolores est. Rem aut sunt cupiditate dolor magnam consequuntur voluptatibus.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/categorymanaged/{childCategoryId}": {
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Set a category to be managed by another category",
        "operationId": "Categories_SetCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The added managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "parent_category_id": 1,
    "category_id": 10,
    "name": "Subcategory",
    "description": null,
    "order_location": 99999,
    "live": true,
    "is_category_managed": true
  }
}
              }
            }
          },
          "400": {
            "description": "A subcategory or managed category already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category or child category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Stops a category from being managed by another category",
        "operationId": "Categories_DeleteCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The removed managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No managed category found for that child category ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/filters": {
      "put": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_UpdateCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CategoryFilters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "get": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_GetCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CategoryFilters"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/{addressId}": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a single Customer Address by Id",
        "operationId": "CustomerAddresses_GetById",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-06-10T15:21:59.0123707Z",
    "modified_date": "2020-05-29T20:46:49.9520922Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Otho",
    "last_name": "Hauck",
    "company": "Heidenreich Inc",
    "address": "968 Vincenza Vista",
    "address2": null,
    "town": "South Holliefort",
    "county": "Berkshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "1-659-646-1247 x81739",
    "fax": "246-874-4221"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Update a Customer Address",
        "operationId": "CustomerAddresses_Update",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-04-10T18:27:26.2259313Z",
    "modified_date": "2020-06-09T23:01:48.1070852Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Bernadine",
    "last_name": "Kuhic",
    "company": "Flatley Group",
    "address": "7486 Uriah Streets",
    "address2": null,
    "town": "New Bonniefort",
    "county": "Bedfordshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "1-946-837-2003",
    "fax": "(429) 816-0827 x9220"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Delete a Customer Address",
        "operationId": "CustomerAddresses_Delete",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer Address deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2021-01-23T13:41:51.5168631Z",
    "modified_date": "2020-04-15T05:48:40.8752649Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Aiden",
    "last_name": "Langosh",
    "company": "Armstrong LLC",
    "address": "4362 Jones Trafficway",
    "address2": null,
    "town": "Thaddeusstad",
    "county": "Bedfordshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "1-661-690-9959 x525",
    "fax": "982-321-2335 x226"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a paginated set of Customer Addresses",
        "operationId": "CustomerAddresses_GetAll",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customer Addresses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 0,
      "created_date": "2020-08-07T23:29:12.8612564Z",
      "modified_date": "2020-12-30T09:06:39.2783542Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Liana",
      "last_name": "Hand",
      "company": "Harris - Rath",
      "address": "05099 Bernice Track",
      "address2": null,
      "town": "Mohrside",
      "county": "Cambridgeshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "1-263-702-2319 x7379",
      "fax": "920.906.8631"
    },
    {
      "id": 0,
      "created_date": "2020-09-03T14:12:09.8111152Z",
      "modified_date": "2020-10-05T17:51:28.50865Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Clemens",
      "last_name": "Von",
      "company": "Lockman Group",
      "address": "3921 Kutch Island",
      "address2": null,
      "town": "Fisherville",
      "county": "Avon",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "750-293-8902 x0213",
      "fax": "842.947.3185 x52787"
    },
    {
      "id": 0,
      "created_date": "2020-09-12T13:02:27.2530436Z",
      "modified_date": "2020-11-16T15:12:16.5775398Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Jacky",
      "last_name": "Kub",
      "company": "Kihn - Mraz",
      "address": "354 Jaydon Row",
      "address2": null,
      "town": "North Loganburgh",
      "county": "Berkshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "1-879-949-6431 x00275",
      "fax": "678-566-0999"
    },
    {
      "id": 0,
      "created_date": "2021-04-01T10:33:44.3392855Z",
      "modified_date": "2020-04-28T04:04:52.959332Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Doug",
      "last_name": "Towne",
      "company": "Morissette - Senger",
      "address": "522 Lowe Plain",
      "address2": null,
      "town": "Hirtheland",
      "county": "Berkshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "390-851-5521 x8794",
      "fax": "494.965.3994"
    },
    {
      "id": 0,
      "created_date": "2020-09-23T05:55:09.6153391Z",
      "modified_date": "2021-03-31T05:35:26.5405691Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Olaf",
      "last_name": "Jakubowski",
      "company": "Powlowski LLC",
      "address": "4949 Quigley Landing",
      "address2": null,
      "town": "Mosciskimouth",
      "county": "Buckinghamshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "789.294.6707 x8065",
      "fax": "249-992-6668"
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Add a Customer Address",
        "operationId": "CustomerAddresses_Create",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-12-05T00:11:56.520631Z",
    "modified_date": "2021-01-10T06:09:29.5597044Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Julia",
    "last_name": "Hansen",
    "company": "Blick - Roob",
    "address": "698 Soledad Ranch",
    "address2": null,
    "town": "Lake Edwardtown",
    "county": "Buckinghamshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "819-501-6650 x310",
    "fax": "513.694.7913"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/search": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Searches customer addresses based on search criteria",
        "operationId": "CustomerAddresses_Search",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customer adresses based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1273,
      "email_address": "Robyn29@yahoo.com",
      "first_name": "Murphy",
      "last_name": "Koepp",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2021-01-27T06:50:42.7616477Z",
      "modified_date": "2020-08-11T22:52:58.6729249Z",
      "last_login_date": "2021-01-28T13:16:22.8748542Z",
      "last_login_attempt_date": "2020-09-03T17:02:49.980956Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-08-19T18:28:02.1798398Z",
          "modified_date": "2021-02-02T21:27:28.1613336Z",
          "customer_id": 1273,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Zella",
          "last_name": "Kertzmann",
          "company": "Schiller Inc",
          "address": "31665 Maggio Valley",
          "address2": "West Alenemouth",
          "town": "Sigridfort",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "XZ2 1BP",
          "telephone": "(478) 274-7195",
          "fax": "1-629-665-0115 x398"
        }
      ]
    },
    {
      "id": 1274,
      "email_address": "Eddie13@gmail.com",
      "first_name": "Elian",
      "last_name": "Bogan",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-07-12T11:25:07.7901985Z",
      "modified_date": "2021-02-03T03:54:16.176237Z",
      "last_login_date": "2020-08-12T09:04:49.9258986Z",
      "last_login_attempt_date": "2020-10-03T17:00:32.4812561Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-10-25T16:13:48.5098804Z",
          "modified_date": "2021-02-04T04:44:00.4835386Z",
          "customer_id": 1274,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Judson",
          "last_name": "Kohler",
          "company": "Satterfield - Ruecker",
          "address": "089 Gutmann Wells",
          "address2": "Lake Nicolette",
          "town": "Port Geovanniland",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "VY6 3SR",
          "telephone": "(773) 638-7596",
          "fax": "1-773-648-1099 x2813"
        }
      ]
    },
    {
      "id": 1275,
      "email_address": "Dwayne.Weissnat@gmail.com",
      "first_name": "Bessie",
      "last_name": "Kub",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2021-02-18T15:32:38.1016933Z",
      "modified_date": "2020-09-08T21:06:07.946126Z",
      "last_login_date": "2020-05-18T14:05:22.9038463Z",
      "last_login_attempt_date": "2021-02-07T10:18:51.0067451Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-10-06T19:15:39.2774444Z",
          "modified_date": "2020-12-13T22:04:42.2477536Z",
          "customer_id": 1275,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Toy",
          "last_name": "Dicki",
          "company": "Stanton - Walker",
          "address": "61449 Schoen Tunnel",
          "address2": "West Chanelle",
          "town": "New Reannaview",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "IJ4 5EU",
          "telephone": "624-771-9186",
          "fax": "263-352-4351 x2977"
        }
      ]
    },
    {
      "id": 1276,
      "email_address": "Sadie_Mosciski11@hotmail.com",
      "first_name": "Caleb",
      "last_name": "Mante",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-09-15T18:26:08.9626741Z",
      "modified_date": "2020-05-24T08:16:46.4242229Z",
      "last_login_date": "2020-09-11T20:34:57.9975231Z",
      "last_login_attempt_date": "2020-09-16T07:30:31.4006515Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-11-23T02:51:53.3656494Z",
          "modified_date": "2021-01-10T12:04:00.0107285Z",
          "customer_id": 1276,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Brett",
          "last_name": "Walter",
          "company": "Gorczany, Cronin and Monahan",
          "address": "4356 Makenna Estate",
          "address2": "Vandervortland",
          "town": "Kassulkefort",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "MM1 7FH",
          "telephone": "887-235-1484 x353",
          "fax": "850-789-2008"
        }
      ]
    },
    {
      "id": 1277,
      "email_address": "Jessica3@yahoo.com",
      "first_name": "Junius",
      "last_name": "Borer",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-04-02T02:15:00.0595646Z",
      "modified_date": "2020-04-22T09:22:05.36094Z",
      "last_login_date": "2021-01-13T05:14:41.8849498Z",
      "last_login_attempt_date": "2021-03-04T02:09:17.6167789Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-10-13T21:38:25.1392015Z",
          "modified_date": "2020-11-17T22:00:00.6596475Z",
          "customer_id": 1277,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Aylin",
          "last_name": "King",
          "company": "Pagac - Bradtke",
          "address": "2209 Volkman Points",
          "address2": "North Americoton",
          "town": "Franciscomouth",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "ES7 5JO",
          "telephone": "(857) 428-9592 x209",
          "fax": "(960) 685-9763 x6589"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a single Customer by Id",
        "operationId": "Customers_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Customers Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customers Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1278,
    "email_address": "Cynthia.Goyette@gmail.com",
    "first_name": "Edythe",
    "last_name": "Cassin",
    "order_count": 1,
    "loyalty_points": 0.0,
    "created_date": "2020-11-13T20:42:01.3641596Z",
    "modified_date": "2020-08-31T13:30:51.7158023Z",
    "last_login_date": "2020-07-22T14:48:48.4725749Z",
    "last_login_attempt_date": "2021-03-29T14:17:02.1817682Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-08-02T14:32:50.0903397Z",
        "modified_date": "2020-06-09T21:39:40.7982704Z",
        "customer_id": 1278,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Elizabeth",
        "last_name": "Hane",
        "company": "Block Group",
        "address": "96514 Crist Loop",
        "address2": "North Anjaliport",
        "town": "Kraigland",
        "county": "Avon",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "PI6 2LP",
        "telephone": "836-928-4463 x035",
        "fax": "639-783-0212"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update a Customer",
        "operationId": "Customers_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1279,
    "email_address": "Sandy20@yahoo.com",
    "first_name": "Damaris",
    "last_name": "Greenholt",
    "order_count": 1,
    "loyalty_points": 0.0,
    "created_date": "2020-07-05T01:33:47.8140182Z",
    "modified_date": "2021-01-18T18:21:54.496479Z",
    "last_login_date": "2021-01-05T03:26:05.5522653Z",
    "last_login_attempt_date": "2020-12-23T12:13:35.9974254Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-04-20T03:31:52.1521664Z",
        "modified_date": "2020-10-04T07:25:14.3975291Z",
        "customer_id": 1279,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Madisen",
        "last_name": "Osinski",
        "company": "Lockman and Sons",
        "address": "63991 DuBuque Meadow",
        "address2": "Blancheburgh",
        "town": "East Claraville",
        "county": "Borders",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "NZ7 6YJ",
        "telephone": "(304) 440-3311",
        "fax": "(952) 468-3823 x368"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete a Customer",
        "operationId": "Customers_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1280,
    "email_address": "Genevieve80@gmail.com",
    "first_name": "Brittany",
    "last_name": "Wisozk",
    "order_count": 1,
    "loyalty_points": 0.0,
    "created_date": "2020-07-24T10:18:28.3554206Z",
    "modified_date": "2020-12-02T20:42:04.9530654Z",
    "last_login_date": "2020-10-01T11:02:23.3160677Z",
    "last_login_attempt_date": "2020-08-27T11:11:47.2154444Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": true,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-12-12T00:12:23.0533809Z",
        "modified_date": "2021-02-26T04:07:43.6391599Z",
        "customer_id": 1280,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Orville",
        "last_name": "Yundt",
        "company": "Balistreri LLC",
        "address": "8311 Sylvia Ferry",
        "address2": "Shainashire",
        "town": "Schaeferland",
        "county": "Borders",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "YN2 7PG",
        "telephone": "205.206.8305 x960",
        "fax": "627-588-3473 x546"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a paginated set of Customers",
        "operationId": "Customers_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1281,
      "email_address": "Megan.Lemke@yahoo.com",
      "first_name": "Fernando",
      "last_name": "Medhurst",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2021-03-14T06:19:34.5388617Z",
      "modified_date": "2020-04-20T04:57:09.5733564Z",
      "last_login_date": "2020-12-30T09:15:01.5816702Z",
      "last_login_attempt_date": "2020-06-27T12:12:21.1661595Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-10-15T19:17:22.0011865Z",
          "modified_date": "2020-10-20T11:58:43.7098092Z",
          "customer_id": 1281,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Omer",
          "last_name": "Weimann",
          "company": "Kunde LLC",
          "address": "76913 Johnson Fork",
          "address2": "Tremblayhaven",
          "town": "Hahnland",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "JF0 5CQ",
          "telephone": "(862) 899-6495 x946",
          "fax": "759-244-4433 x3582"
        }
      ]
    },
    {
      "id": 1282,
      "email_address": "Jody.Schuppe20@hotmail.com",
      "first_name": "Annalise",
      "last_name": "Windler",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-12-31T06:09:33.6602663Z",
      "modified_date": "2020-08-21T22:18:19.282806Z",
      "last_login_date": "2020-04-23T15:52:57.9825385Z",
      "last_login_attempt_date": "2020-10-14T14:03:00.8602829Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-01-14T14:22:47.8588494Z",
          "modified_date": "2020-09-07T11:42:37.0074445Z",
          "customer_id": 1282,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Sam",
          "last_name": "Toy",
          "company": "Weimann, Kutch and Bednar",
          "address": "61936 Adrien Loaf",
          "address2": "East Celestine",
          "town": "West Coleman",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "IB6 8YJ",
          "telephone": "285.420.2230 x4318",
          "fax": "866-229-4246 x9312"
        }
      ]
    },
    {
      "id": 1283,
      "email_address": "Bruce.Kuhn@yahoo.com",
      "first_name": "Pattie",
      "last_name": "Borer",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2021-03-28T01:25:03.0434317Z",
      "modified_date": "2020-10-05T20:09:14.3077701Z",
      "last_login_date": "2021-03-23T06:25:38.9709637Z",
      "last_login_attempt_date": "2020-10-09T13:11:40.1069835Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-11-30T12:33:09.1842342Z",
          "modified_date": "2020-08-06T06:49:04.6734588Z",
          "customer_id": 1283,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Ocie",
          "last_name": "Kerluke",
          "company": "Gleichner LLC",
          "address": "1871 Wiegand Orchard",
          "address2": "East Lewland",
          "town": "South Edgardo",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "SG5 2WK",
          "telephone": "1-614-382-2279 x6860",
          "fax": "595-731-9123 x59910"
        }
      ]
    },
    {
      "id": 1284,
      "email_address": "Wilfred_Davis32@gmail.com",
      "first_name": "Melyssa",
      "last_name": "Moore",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-12-09T14:37:15.3999418Z",
      "modified_date": "2020-05-07T13:29:45.6641809Z",
      "last_login_date": "2020-09-19T02:05:18.1289188Z",
      "last_login_attempt_date": "2021-03-20T17:41:31.8375858Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-05-05T01:49:11.8091208Z",
          "modified_date": "2021-02-18T15:24:13.0332315Z",
          "customer_id": 1284,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Emory",
          "last_name": "Kuphal",
          "company": "Volkman, Brown and Von",
          "address": "9241 Noel Union",
          "address2": "Terrellshire",
          "town": "New Paula",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "XC8 8BE",
          "telephone": "206.926.6110",
          "fax": "(351) 875-5565"
        }
      ]
    },
    {
      "id": 1285,
      "email_address": "Belinda_Abbott@hotmail.com",
      "first_name": "Paige",
      "last_name": "Brekke",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2021-02-15T01:30:12.5540338Z",
      "modified_date": "2020-06-27T22:49:16.6433681Z",
      "last_login_date": "2020-07-11T04:14:16.7021231Z",
      "last_login_attempt_date": "2020-09-03T02:24:56.8643162Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-10-28T10:44:23.0370432Z",
          "modified_date": "2020-09-04T04:38:26.2787486Z",
          "customer_id": 1285,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Summer",
          "last_name": "Dare",
          "company": "Metz and Sons",
          "address": "152 Mante Manors",
          "address2": "South Suzannefurt",
          "town": "Lake Yesseniafort",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "XU5 7XR",
          "telephone": "(681) 317-1096 x63843",
          "fax": "(494) 580-3286 x7945"
        }
      ]
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Add a customer",
        "description": "Note: setting send_email to true will send an email to the customer prompting them to create a password",
        "operationId": "Customers_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1286,
    "email_address": "Lionel_Mante@gmail.com",
    "first_name": "Itzel",
    "last_name": "Zieme",
    "order_count": 1,
    "loyalty_points": 1.0,
    "created_date": "2021-02-22T01:28:38.9877954Z",
    "modified_date": "2020-12-13T19:23:43.7452556Z",
    "last_login_date": "2020-09-14T17:21:48.969992Z",
    "last_login_attempt_date": "2020-08-22T16:41:12.7913344Z",
    "locked": true,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": true,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-07-17T06:19:44.8298813Z",
        "modified_date": "2021-02-13T00:45:59.8396499Z",
        "customer_id": 1286,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Alf",
        "last_name": "Friesen",
        "company": "Nitzsche - Labadie",
        "address": "6644 Manuel Mission",
        "address2": "North Loisburgh",
        "town": "South Una",
        "county": "Avon",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "BH1 5FE",
        "telephone": "701.323.2366 x2463",
        "fax": "(596) 237-0000"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/search": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Searches customers based on search criteria",
        "operationId": "Customers_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customers based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1287,
      "email_address": "Rose.DAmore6@gmail.com",
      "first_name": "Isaias",
      "last_name": "Sporer",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-11-04T15:17:33.7117155Z",
      "modified_date": "2021-01-23T08:18:57.9081065Z",
      "last_login_date": "2020-04-15T10:56:28.5665978Z",
      "last_login_attempt_date": "2020-08-02T13:36:59.9226111Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-04-30T04:13:57.1284443Z",
          "modified_date": "2020-07-13T13:52:46.8737818Z",
          "customer_id": 1287,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Aniyah",
          "last_name": "Shanahan",
          "company": "Leffler, Hagenes and Gleichner",
          "address": "9115 Jacobson Neck",
          "address2": "Odaville",
          "town": "Ritachester",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "MA2 1XK",
          "telephone": "407.320.0740 x716",
          "fax": "965.597.1639 x4979"
        }
      ]
    },
    {
      "id": 1288,
      "email_address": "Ashley_Weissnat68@hotmail.com",
      "first_name": "Fernando",
      "last_name": "Kertzmann",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-09-08T00:14:53.7537632Z",
      "modified_date": "2020-06-07T01:27:05.7276968Z",
      "last_login_date": "2020-08-20T04:33:45.5757056Z",
      "last_login_attempt_date": "2021-02-02T07:22:35.235043Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-09-05T10:18:11.3003554Z",
          "modified_date": "2020-08-04T11:27:12.7600528Z",
          "customer_id": 1288,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Shirley",
          "last_name": "Stanton",
          "company": "Jaskolski - Lockman",
          "address": "824 Ivah Parks",
          "address2": "Boylefort",
          "town": "Port Jaylenport",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "VO0 4YR",
          "telephone": "494.459.3256",
          "fax": "714.699.3333 x96866"
        }
      ]
    },
    {
      "id": 1289,
      "email_address": "Andrew81@gmail.com",
      "first_name": "Conner",
      "last_name": "Glover",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-10-20T03:16:51.2065425Z",
      "modified_date": "2020-11-08T17:33:12.7151316Z",
      "last_login_date": "2020-05-12T08:25:52.0547724Z",
      "last_login_attempt_date": "2020-06-04T13:52:24.4326815Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-08-31T14:13:52.5796943Z",
          "modified_date": "2020-06-16T10:28:24.2437745Z",
          "customer_id": 1289,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Trever",
          "last_name": "Hills",
          "company": "Pfeffer, Marvin and Runolfsdottir",
          "address": "84842 Betsy Port",
          "address2": "Wellingtonmouth",
          "town": "Streichhaven",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "US6 7YM",
          "telephone": "924-566-9668 x6406",
          "fax": "687.465.6037 x33186"
        }
      ]
    },
    {
      "id": 1290,
      "email_address": "Edna69@hotmail.com",
      "first_name": "Vella",
      "last_name": "Donnelly",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-01-03T12:43:35.8566355Z",
      "modified_date": "2020-05-27T09:28:29.7709313Z",
      "last_login_date": "2020-08-05T05:33:41.2750239Z",
      "last_login_attempt_date": "2020-06-01T23:57:50.0336038Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-05-16T22:36:18.1712239Z",
          "modified_date": "2020-04-18T08:06:32.0384903Z",
          "customer_id": 1290,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Malachi",
          "last_name": "Spinka",
          "company": "Lakin, Fritsch and Hagenes",
          "address": "950 Upton Crest",
          "address2": "East Emmamouth",
          "town": "New Dayanaborough",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "JK1 7QH",
          "telephone": "(444) 988-7298 x76994",
          "fax": "(891) 911-8093"
        }
      ]
    },
    {
      "id": 1291,
      "email_address": "Ruby37@yahoo.com",
      "first_name": "Ike",
      "last_name": "Block",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-06-27T19:27:41.2900075Z",
      "modified_date": "2020-10-19T07:53:15.5965351Z",
      "last_login_date": "2020-09-12T17:05:07.1525804Z",
      "last_login_attempt_date": "2020-04-09T20:12:14.7180012Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-10-16T15:07:30.1337801Z",
          "modified_date": "2020-09-08T05:20:07.977345Z",
          "customer_id": 1291,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Gerda",
          "last_name": "Collins",
          "company": "Mitchell LLC",
          "address": "88428 Taurean Course",
          "address2": "New Daphnee",
          "town": "Lake Hipolitoshire",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "BM1 0XR",
          "telephone": "490-339-4197 x891",
          "fax": "258-425-7127"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/settings/domains": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get the current Primary Domain",
        "operationId": "Domains_GetPrimaryDomain",
        "responses": {
          "200": {
            "description": "The primary domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1DomainName"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "primary_domain_name": "ethelyn.name"
  }
}
              }
            }
          },
          "404": {
            "description": "No primary domain found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Domain not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v2/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get an order by ID",
        "operationId": "Orders_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The order ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV2Order"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 793,
    "order_number": "5ora50ynnumfu5m7",
    "order_date": "2018-03-04T23:12:02.4255831Z",
    "is_confirmed": false,
    "sub_total": 0.1661844161181638,
    "total_delivery": 0.3721803814974522,
    "total_tax": 0.6201629129332318,
    "total_cost": 0.12279420212041317,
    "status": "PROCESSING",
    "payment_status": "FAILED",
    "delivery_method": "",
    "transaction_id": "5756cae5-ddac-4328-a231-8a4bd054d3ad",
    "transaction_status": "",
    "order_type": "",
    "use_shipping_address": true,
    "shipping_address": {
      "first_name": "Joyce",
      "last_name": "Funk",
      "id": -332553900,
      "created_date": "2020-06-18T04:36:33.4057959Z",
      "modified_date": "2020-08-01T21:03:34.48501Z",
      "customer_id": 700179829,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": false,
      "company": "Veum Inc",
      "address": "00524 Schaefer Island",
      "address2": "Port Euna",
      "town": "Hesselfort",
      "county": "Bedfordshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": "GD0 3TV",
      "telephone": "822.256.6349 x312",
      "fax": "1-491-508-6115"
    },
    "internal_notes": "This is an internal order note.\n\nThis is another internal order note.",
    "customer_facing_notes": "This is an order note.\n\nThis is another order note.",
    "emailed": false,
    "discounts": "",
    "discounts_total": 0.0,
    "shipping_company": "UPS",
    "ip_address": "127.0.0.1",
    "guid": "b8d7632f-5d80-1eaa-2347-9c6ceb6656c6",
    "last_updated": null,
    "delivery_tax_rate": null,
    "delivery_includes_tax": null,
    "custom_fields_total": null,
    "custom_fields_tax_total": null,
    "customer_details": {
      "customer_id": 1189395500,
      "email_address": "Henry_Heller@yahoo.com",
      "first_name": "Joyce",
      "last_name": "Funk",
      "company": "Kuhlman, Altenwerth and Mitchell",
      "address": "5167 Nakia Summit",
      "address2": "East Cora",
      "town": "Port Genevievestad",
      "county": "Borders",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": "EU1 4DN",
      "telephone": "266.371.2052 x490",
      "fax": "755.704.8885",
      "billing_address_verified": false
    },
    "custom_fields": null,
    "delivery_tracking_number": null,
    "delivery_tracking_company": null,
    "delivery_tracking_url": null
  }
}
              }
            }
          },
          "404": {
            "description": "No Order was found for the requested ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Order \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
[...]
