{
  "openapi": "3.0.1",
  "info": {
    "title": "EKM Partner API",
    "description": "Our new API allows partners to build significantly better integrations with the EKM platform.\r\n\r\nTo try out the below endpoints, or for full up to date representations of the request / response models, please see the [swagger page](https://api.ekm.net/swagger/index.html). (We display examples here, but the swagger page is guaranteed to show the complete model.)\r\n\r\nTo keep up to date with the latest updates, please see our [RSS feed](https://partners.ekm.net/ChangeLog/Feed) or the [partner dashboard](https://partners.ekm.net/).",
    "contact": {
      "name": "EKM",
      "url": "https://ekm.com",
      "email": "api-support@ekm.com"
    },
    "version": "Latest",
    "x-logo": {
      "url": "/images/ekm-logo-vector-RGB-1920x1080.png",
      "backgroundColor": "#fafafa"
    }
  },
  "servers": [
    {
      "url": "https://api.ekm.net"
    }
  ],
  "paths": {
    "/api/v1/categories/{id}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a category",
        "operationId": "Categories_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The chosen category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 78,
    "name": "EKM - adipisci",
    "description": "Libero nesciunt perspiciatis. Autem ut atque. Asperiores et est esse pariatur est. Aliquam quia alias dolor cumque. Sint voluptatem itaque fugiat tempore. Voluptatibus autem doloribus ea.",
    "in_category_description": "Ad sed repudiandae mollitia. Non corporis inventore sint blanditiis. Et perspiciatis voluptas. Eum eos labore reiciendis sit. Voluptas placeat voluptas id. Nihil magni quas et alias.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Categories"
        ],
        "summary": "Update a category",
        "operationId": "Categories_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 79,
    "name": "EKM - error",
    "description": "Sunt expedita voluptate distinctio. Autem debitis facilis laboriosam praesentium numquam architecto quis eum. Animi recusandae facere vel sint consequatur et consequatur architecto doloribus. Molestias ipsum omnis. Qui sed aut exercitationem enim. Reiciendis sed ea sit eos excepturi quas nostrum.",
    "in_category_description": "Voluptatibus officiis non et quisquam dolore amet. Et qui nostrum sit libero assumenda quis nihil sunt. Consequatur soluta sapiente. Natus veniam dolorum qui aliquid adipisci omnis dolores non architecto. Praesentium dicta harum sapiente est unde.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Delete a category",
        "operationId": "Categories_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of categories",
        "operationId": "Categories_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - quia",
      "description": "Illo magni ut facilis sed. Eveniet iusto quam et veniam rerum similique doloribus. Non veniam doloribus eveniet doloribus. Maxime non numquam.",
      "in_category_description": "Soluta et maxime dignissimos. Et voluptas est itaque et recusandae aut. Porro ullam nisi beatae. Autem quas saepe aspernatur ipsam doloremque. Iste nemo commodi numquam nemo. Magni voluptas quia tenetur et eligendi aut et deleniti et.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - debitis",
      "description": "Asperiores nemo autem dolor eligendi porro nam porro quam autem. Qui laboriosam quo beatae ut. Delectus rem harum excepturi et non.",
      "in_category_description": "Illo est aut deserunt ipsam rerum perferendis ab et. Inventore omnis magni. Et facilis velit impedit iure consequatur consequatur et. Eveniet itaque maiores et ea esse quis consectetur explicabo molestiae. Quidem et error consequuntur odit corrupti. Provident et cum sit quia.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - commodi",
      "description": "Doloribus enim sunt qui eos qui ratione libero sed expedita. Ut est harum inventore voluptas. Quo porro doloremque et beatae architecto id eveniet nihil fugiat. Corporis aut qui.",
      "in_category_description": "Et molestiae inventore aut ad. Sit quos qui. Rem dolor aliquam optio ut. Quo illo consequatur est voluptatem ut voluptates ut corrupti. Nesciunt error ratione consequatur quia molestiae nihil officiis dolor sed.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - repellat",
      "description": "Omnis cumque ut aperiam quisquam id dolorem rerum. Recusandae sequi totam. Ea aut explicabo necessitatibus occaecati qui laborum aliquid ut. Nisi doloremque eaque perspiciatis architecto eum. Cumque pariatur explicabo commodi deserunt hic est.",
      "in_category_description": "Harum nam veniam voluptatem. Asperiores ut dolores error qui dolor quis soluta. Magni laboriosam debitis dolore. Consequatur soluta veritatis placeat. Quos ut corporis quis praesentium.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - assumenda",
      "description": "Eum sit consectetur hic et. Dolorem aliquid consequuntur ut reiciendis nisi animi incidunt. Tempore delectus accusantium.",
      "in_category_description": "Non et molestias sunt repudiandae voluptatem distinctio qui. Non aperiam quibusdam nihil voluptate ut aliquid maiores. Enim consequuntur nihil nulla. Eos vitae ea distinctio quaerat eius harum voluptate iusto illo. Nulla rerum qui dolorum aperiam.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Add a category",
        "operationId": "Categories_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 85,
    "name": "EKM - quae",
    "description": "Distinctio animi molestias sit rerum consectetur. Nam est repellendus facere officia. Soluta dolorum consequatur quos molestias.",
    "in_category_description": "Dolor inventore quia mollitia maxime vel. Sit non commodi qui modi eaque asperiores. Minima harum eveniet voluptas. Recusandae omnis rerum dolorum soluta laudantium.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/search": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Searches categories based on search criteria",
        "operationId": "Categories_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. live eq true",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - quae",
      "description": "Blanditiis magni non nobis est. Id deleniti voluptates odio. Et enim dolores quia facilis.",
      "in_category_description": "Quis dolores laboriosam id deserunt maxime saepe. Et fugit et sint minima suscipit. Placeat architecto incidunt et ut aliquid. Culpa et quisquam praesentium et voluptas fuga esse. Reiciendis sequi sint omnis nam molestiae porro.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - ut",
      "description": "Modi fuga quos voluptatibus asperiores neque non modi natus. Explicabo accusantium doloribus. Ut repudiandae ut perferendis. Et illo voluptas non. Occaecati voluptas commodi sunt id dolorem. Eligendi fugiat placeat magni quia.",
      "in_category_description": "Qui exercitationem sunt et et ex cupiditate tenetur neque. Eius facere eum cumque ea ut minus vel. Repellat praesentium incidunt quibusdam ex atque.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - id",
      "description": "Adipisci et quasi quam dolorem quisquam. Quo tempore odio omnis vero. Similique animi facilis ex maiores odio expedita nostrum exercitationem perferendis. Impedit explicabo ea dolores et numquam magni sit. Consequuntur possimus et est et non nam esse.",
      "in_category_description": "Exercitationem id iste accusantium saepe et sequi repellat et. Quae aut eveniet tempora voluptatem. Qui commodi temporibus laboriosam blanditiis nemo ducimus quia. Consequatur soluta repellat iste inventore omnis et quisquam molestiae. Qui sequi et laudantium accusamus nisi eius harum.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - aperiam",
      "description": "Vero eligendi voluptas. Velit corporis fuga. Voluptate maiores nesciunt ut. Vitae hic nesciunt dignissimos. Occaecati aut iure rem molestias dolor.",
      "in_category_description": "Eveniet et asperiores labore cum velit id dolorem. Maiores libero laudantium eos rem et dolores sit minus maiores. Aut vel sint amet est adipisci excepturi autem et. Amet voluptatem sed sed voluptate cumque. Ipsum enim maxime quod.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - ea",
      "description": "Corrupti reiciendis culpa quae consectetur saepe qui est consectetur maxime. Sint consequatur consequatur laudantium deleniti ut consequatur velit error. Occaecati molestiae quia et sint voluptatem pariatur nihil labore.",
      "in_category_description": "Dolore a optio autem et laudantium id. Itaque esse a autem possimus necessitatibus optio nihil. Eum nulla non neque sunt neque ut ab.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/subcategories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of subcategories",
        "operationId": "Categories_Subcategories",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of subcategories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1SubCategory"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "parent_category_id": 2,
      "category_id": 1,
      "name": "EKM - aliquam",
      "description": "Et animi ut hic tempore. Ut quae aut libero et. Quia laudantium fuga eum natus dolores. Dolor eius quo qui deserunt qui eos. Cum autem qui maxime ea. Sit odit suscipit et aut sed.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 4,
      "category_id": 2,
      "name": "EKM - dolores",
      "description": "Ipsam aperiam delectus velit est cumque rerum dolor. Sint eligendi et illo autem blanditiis. Iste sed ut officia aliquam vel molestiae molestias hic. Ex quis ipsam omnis perferendis quasi omnis similique occaecati. Et voluptatibus esse.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 6,
      "category_id": 3,
      "name": "EKM - expedita",
      "description": "Ipsam dolorem libero. Minima enim aut enim qui qui deserunt aperiam. Recusandae aut blanditiis laudantium pariatur nisi. Laudantium eos et dolorum magnam atque enim ut. Sunt sed dolore eos.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 8,
      "category_id": 4,
      "name": "EKM - et",
      "description": "Quo voluptatem mollitia. Voluptate alias aspernatur. Voluptatum occaecati quia officia repellat ipsum.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 10,
      "category_id": 5,
      "name": "EKM - occaecati",
      "description": "Quasi unde blanditiis sint quae. Autem ipsa provident amet aut laudantium. Ipsum voluptatem accusamus consequatur dolorum. Aliquam ullam magnam laudantium. Deleniti ratione qui nemo nobis aliquid tenetur ab omnis.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/categorymanaged/{childCategoryId}": {
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Set a category to be managed by another category",
        "operationId": "Categories_SetCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The added managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "parent_category_id": 1,
    "category_id": 10,
    "name": "Subcategory",
    "description": null,
    "order_location": 99999,
    "live": true,
    "is_category_managed": true
  }
}
              }
            }
          },
          "400": {
            "description": "A subcategory or managed category already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category or child category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Stops a category from being managed by another category",
        "operationId": "Categories_DeleteCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The removed managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No managed category found for that child category ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/filters": {
      "put": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_UpdateCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CategoryFilters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "get": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_GetCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CategoryFilters"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/{addressId}": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a single Customer Address by Id",
        "operationId": "CustomerAddresses_GetById",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-06-11T17:05:29.1802156Z",
    "modified_date": "2020-11-26T03:59:13.6116763Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Lyda",
    "last_name": "Little",
    "company": "Grimes - Hintz",
    "address": "788 Moen Estates",
    "address2": null,
    "town": "Port Rasheedberg",
    "county": "Cambridgeshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "1-479-253-3080",
    "fax": "(574) 931-2894 x3428"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Update a Customer Address",
        "operationId": "CustomerAddresses_Update",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-06-07T05:34:55.6664518Z",
    "modified_date": "2020-12-02T05:43:30.5819637Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Brionna",
    "last_name": "O\u0027Connell",
    "company": "Watsica Inc",
    "address": "33729 Earlene Walk",
    "address2": null,
    "town": "Mooreside",
    "county": "Buckinghamshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "(366) 453-0795 x41798",
    "fax": "1-519-583-2388 x0644"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Delete a Customer Address",
        "operationId": "CustomerAddresses_Delete",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer Address deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-04-12T19:16:32.1361171Z",
    "modified_date": "2020-10-23T20:15:03.4277602Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Samson",
    "last_name": "Murray",
    "company": "Ullrich - Kuphal",
    "address": "47516 Jameson Groves",
    "address2": null,
    "town": "Hoppeville",
    "county": "Borders",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "808.812.8723",
    "fax": "600-777-7073"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a paginated set of Customer Addresses",
        "operationId": "CustomerAddresses_GetAll",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customer Addresses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 0,
      "created_date": "2020-05-23T21:02:49.8380582Z",
      "modified_date": "2020-12-28T19:27:32.700786Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Bo",
      "last_name": "Hilpert",
      "company": "Parisian, Wintheiser and Bayer",
      "address": "65294 Edwin Trail",
      "address2": null,
      "town": "West Prestonborough",
      "county": "Cambridgeshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "(294) 808-0617",
      "fax": "848-463-2590 x96058"
    },
    {
      "id": 0,
      "created_date": "2021-01-16T12:09:21.2718316Z",
      "modified_date": "2020-07-26T23:08:05.1285939Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Marques",
      "last_name": "Jakubowski",
      "company": "Jaskolski, Robel and Gottlieb",
      "address": "22611 King Mountains",
      "address2": null,
      "town": "Schroederside",
      "county": "Berkshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "1-557-999-1189 x207",
      "fax": "576.899.8097 x27475"
    },
    {
      "id": 0,
      "created_date": "2020-11-12T09:44:27.9702446Z",
      "modified_date": "2020-11-02T20:43:01.4240182Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Ashlee",
      "last_name": "Flatley",
      "company": "Feest Group",
      "address": "65224 Emilie Throughway",
      "address2": null,
      "town": "Mathildeborough",
      "county": "Avon",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "963.608.4153",
      "fax": "735-306-7344 x6694"
    },
    {
      "id": 0,
      "created_date": "2021-02-20T10:22:18.3577489Z",
      "modified_date": "2020-06-07T19:18:24.7274788Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Michael",
      "last_name": "Rosenbaum",
      "company": "Jenkins - Rohan",
      "address": "9658 Sven Center",
      "address2": null,
      "town": "Port Trentberg",
      "county": "Cambridgeshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "1-949-799-6728",
      "fax": "(844) 796-2356 x2697"
    },
    {
      "id": 0,
      "created_date": "2021-03-18T01:34:25.7978797Z",
      "modified_date": "2021-04-07T12:17:58.1629848Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Magnus",
      "last_name": "Cole",
      "company": "Luettgen, Murphy and Mohr",
      "address": "81358 Enid Station",
      "address2": null,
      "town": "Anabellebury",
      "county": "Avon",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "301.568.4660 x42700",
      "fax": "1-693-359-1181"
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Add a Customer Address",
        "operationId": "CustomerAddresses_Create",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-06-22T15:14:46.3697917Z",
    "modified_date": "2021-02-06T11:41:42.7297062Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Freeman",
    "last_name": "Quigley",
    "company": "Shields, Larkin and Hane",
    "address": "90383 Kristopher Circles",
    "address2": null,
    "town": "New Garry",
    "county": "Bedfordshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "(694) 364-1393 x574",
    "fax": "285-563-8990 x03117"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/search": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Searches customer addresses based on search criteria",
        "operationId": "CustomerAddresses_Search",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customer adresses based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 114,
      "email_address": "Jeff_Lynch51@yahoo.com",
      "first_name": "Joaquin",
      "last_name": "Purdy",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2021-03-28T17:53:37.2521098Z",
      "modified_date": "2020-04-19T09:52:16.1430508Z",
      "last_login_date": "2021-01-01T03:46:32.2267137Z",
      "last_login_attempt_date": "2020-06-05T22:21:27.9727198Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-12-21T22:47:13.5666239Z",
          "modified_date": "2020-11-22T01:00:31.1752305Z",
          "customer_id": 114,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Carlos",
          "last_name": "Padberg",
          "company": "Windler - Bergstrom",
          "address": "346 Auer Mill",
          "address2": "Madisenchester",
          "town": "Lake Winifredtown",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "MP8 4YF",
          "telephone": "1-699-844-7267 x7064",
          "fax": "520.637.6429 x875"
        }
      ]
    },
    {
      "id": 115,
      "email_address": "Chelsea.Smitham11@yahoo.com",
      "first_name": "Easter",
      "last_name": "Lesch",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-10-17T02:32:32.8699251Z",
      "modified_date": "2020-10-17T08:56:03.1498768Z",
      "last_login_date": "2021-03-12T12:45:53.2719594Z",
      "last_login_attempt_date": "2021-03-31T05:47:51.6371905Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-03-30T08:43:58.0890094Z",
          "modified_date": "2021-02-10T13:11:22.4196667Z",
          "customer_id": 115,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Yasmeen",
          "last_name": "McCullough",
          "company": "Ullrich, Pouros and Leannon",
          "address": "76204 Robel Course",
          "address2": "Port Lonnie",
          "town": "South Emma",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "XJ6 4EM",
          "telephone": "268-841-1442 x9179",
          "fax": "(409) 797-7489"
        }
      ]
    },
    {
      "id": 116,
      "email_address": "Stella_Lockman40@yahoo.com",
      "first_name": "Jasper",
      "last_name": "Cummings",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-09-17T11:49:25.6485246Z",
      "modified_date": "2020-09-27T17:17:49.6175003Z",
      "last_login_date": "2021-01-01T19:33:45.5249182Z",
      "last_login_attempt_date": "2020-05-21T06:59:36.1044596Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-09-19T17:30:15.3667554Z",
          "modified_date": "2021-03-10T14:14:11.1650729Z",
          "customer_id": 116,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Clement",
          "last_name": "Lowe",
          "company": "Hills - Swaniawski",
          "address": "877 Hettinger Groves",
          "address2": "Lake Rebecca",
          "town": "East Theron",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "CT2 0NN",
          "telephone": "433.313.2629",
          "fax": "1-246-234-3719"
        }
      ]
    },
    {
      "id": 117,
      "email_address": "Jimmy.Hyatt@hotmail.com",
      "first_name": "Moriah",
      "last_name": "Blick",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-11-22T12:33:33.5625009Z",
      "modified_date": "2020-09-29T08:05:53.1192398Z",
      "last_login_date": "2020-11-06T06:22:03.6225218Z",
      "last_login_attempt_date": "2020-11-11T01:50:39.8029739Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-05-07T09:08:04.0431732Z",
          "modified_date": "2021-02-28T20:29:43.9507526Z",
          "customer_id": 117,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Miguel",
          "last_name": "Mann",
          "company": "Collins, Stark and Torphy",
          "address": "88424 Schuppe Villages",
          "address2": "Mertieborough",
          "town": "Gloverville",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "HH5 4QZ",
          "telephone": "(910) 950-6059",
          "fax": "1-386-489-7716"
        }
      ]
    },
    {
      "id": 118,
      "email_address": "Adrian91@hotmail.com",
      "first_name": "Corbin",
      "last_name": "Nolan",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-10-03T14:48:02.4129366Z",
      "modified_date": "2020-04-15T16:37:41.7291762Z",
      "last_login_date": "2020-10-15T01:19:58.5739445Z",
      "last_login_attempt_date": "2020-08-18T02:57:34.7220675Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-08-16T08:48:03.1999017Z",
          "modified_date": "2020-07-13T17:29:44.3698283Z",
          "customer_id": 118,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Magnus",
          "last_name": "Pacocha",
          "company": "Will and Sons",
          "address": "1769 Shawna Unions",
          "address2": "Jamarstad",
          "town": "East Matteo",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "CP7 2YH",
          "telephone": "464-777-9562 x45471",
          "fax": "813.896.9842 x390"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a single Customer by Id",
        "operationId": "Customers_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Customers Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customers Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 119,
    "email_address": "Jesus.Tremblay2@yahoo.com",
    "first_name": "Lisandro",
    "last_name": "Hane",
    "order_count": 1,
    "loyalty_points": 0.0,
    "created_date": "2020-10-30T06:41:08.2233823Z",
    "modified_date": "2020-09-26T16:14:20.7593531Z",
    "last_login_date": "2021-02-18T20:37:46.2761383Z",
    "last_login_attempt_date": "2020-10-08T12:55:04.139472Z",
    "locked": true,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": true,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-04-20T08:27:40.3631909Z",
        "modified_date": "2020-11-11T21:25:23.9849956Z",
        "customer_id": 119,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Judson",
        "last_name": "Crona",
        "company": "Ledner, Baumbach and Ledner",
        "address": "70450 Fahey Rapids",
        "address2": "Mayertstad",
        "town": "South Gradytown",
        "county": "Cambridgeshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "MG7 7TX",
        "telephone": "485-643-0046 x5729",
        "fax": "619.860.1827 x7667"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update a Customer",
        "operationId": "Customers_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 120,
    "email_address": "Freda.Will33@yahoo.com",
    "first_name": "Larissa",
    "last_name": "Walker",
    "order_count": 1,
    "loyalty_points": 0.0,
    "created_date": "2020-10-31T01:49:49.6232938Z",
    "modified_date": "2021-03-18T04:15:55.2285051Z",
    "last_login_date": "2020-05-06T08:29:09.7084293Z",
    "last_login_attempt_date": "2020-05-21T07:21:28.4631086Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-04-18T18:38:39.6194427Z",
        "modified_date": "2020-05-15T11:14:55.1217613Z",
        "customer_id": 120,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Bailey",
        "last_name": "Kunze",
        "company": "Lehner, Auer and D\u0027Amore",
        "address": "25524 Glennie Falls",
        "address2": "Kielchester",
        "town": "Lake Sylviatown",
        "county": "Avon",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "OC2 7QF",
        "telephone": "823.517.0862 x8311",
        "fax": "272-307-3763 x97446"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete a Customer",
        "operationId": "Customers_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 121,
    "email_address": "Bill97@hotmail.com",
    "first_name": "Garrett",
    "last_name": "Doyle",
    "order_count": 0,
    "loyalty_points": 1.0,
    "created_date": "2020-04-26T04:05:43.6811013Z",
    "modified_date": "2020-07-23T14:11:30.8460352Z",
    "last_login_date": "2020-09-18T09:21:02.4887815Z",
    "last_login_attempt_date": "2020-11-26T12:07:41.4300197Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-12-25T11:48:31.6403379Z",
        "modified_date": "2020-04-10T20:17:47.7283975Z",
        "customer_id": 121,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Alta",
        "last_name": "Hettinger",
        "company": "Schuppe - Johnston",
        "address": "6832 Considine Flats",
        "address2": "Olenfurt",
        "town": "East Johnniemouth",
        "county": "Avon",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "XV6 2LD",
        "telephone": "857.434.8145",
        "fax": "589.694.0267"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a paginated set of Customers",
        "operationId": "Customers_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 122,
      "email_address": "Geoffrey3@gmail.com",
      "first_name": "Jerrold",
      "last_name": "Murazik",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-11-19T22:25:46.3762105Z",
      "modified_date": "2020-11-10T02:42:46.5390121Z",
      "last_login_date": "2020-07-27T05:39:03.9572739Z",
      "last_login_attempt_date": "2020-12-06T01:16:52.2784185Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-03-13T06:10:50.9186481Z",
          "modified_date": "2020-09-02T21:16:13.7400472Z",
          "customer_id": 122,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Jermain",
          "last_name": "Davis",
          "company": "Dach, Steuber and Fahey",
          "address": "432 Schmidt Center",
          "address2": "Port Caleigh",
          "town": "Judefurt",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "OY0 0ZH",
          "telephone": "1-625-263-5741 x5690",
          "fax": "1-641-366-4480"
        }
      ]
    },
    {
      "id": 123,
      "email_address": "Marshall.Doyle37@hotmail.com",
      "first_name": "Hillary",
      "last_name": "Greenholt",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-11-23T10:49:36.911276Z",
      "modified_date": "2020-10-27T18:54:39.3717866Z",
      "last_login_date": "2020-05-01T01:18:21.1187736Z",
      "last_login_attempt_date": "2020-12-16T08:56:30.8213145Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-08-11T18:08:45.0390156Z",
          "modified_date": "2020-12-11T12:25:05.8437174Z",
          "customer_id": 123,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Kirstin",
          "last_name": "Kuhic",
          "company": "Becker Inc",
          "address": "17520 Macejkovic Manor",
          "address2": "West Annieland",
          "town": "Port Dixie",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "MA8 8KI",
          "telephone": "836-530-9429",
          "fax": "776.696.7017"
        }
      ]
    },
    {
      "id": 124,
      "email_address": "Penny_Harvey@gmail.com",
      "first_name": "Gustave",
      "last_name": "Conroy",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-11-08T17:14:46.5012105Z",
      "modified_date": "2020-12-31T13:27:26.6686921Z",
      "last_login_date": "2021-02-28T18:53:22.5353519Z",
      "last_login_attempt_date": "2020-05-23T19:52:39.8792341Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-07-15T07:10:49.0490073Z",
          "modified_date": "2021-02-25T12:14:40.8475437Z",
          "customer_id": 124,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Judy",
          "last_name": "Hackett",
          "company": "Becker - Schaden",
          "address": "415 Welch Throughway",
          "address2": "Candelariobury",
          "town": "East Tremayneville",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "JP4 4BX",
          "telephone": "(978) 403-5303 x26724",
          "fax": "652.520.5776 x3065"
        }
      ]
    },
    {
      "id": 125,
      "email_address": "Kathleen_Swift@hotmail.com",
      "first_name": "Giles",
      "last_name": "Mante",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-03-05T00:07:01.9486607Z",
      "modified_date": "2021-03-31T11:13:52.8333589Z",
      "last_login_date": "2020-08-15T19:01:09.6708791Z",
      "last_login_attempt_date": "2020-12-20T00:20:38.176787Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-02-11T14:30:36.1823539Z",
          "modified_date": "2021-04-03T14:36:03.536151Z",
          "customer_id": 125,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Elisabeth",
          "last_name": "Senger",
          "company": "Lind, Bartoletti and Dare",
          "address": "4750 Jakubowski Passage",
          "address2": "South Neoma",
          "town": "Lake Guillermoside",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "SG8 2NL",
          "telephone": "1-820-344-7116 x2787",
          "fax": "829-753-9608 x0453"
        }
      ]
    },
    {
      "id": 126,
      "email_address": "Joshua76@hotmail.com",
      "first_name": "Marcella",
      "last_name": "Carter",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-06-30T02:47:22.4635714Z",
      "modified_date": "2020-08-16T02:29:45.3639359Z",
      "last_login_date": "2020-05-03T23:17:42.858456Z",
      "last_login_attempt_date": "2020-07-07T20:19:42.0710823Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-04-19T00:09:48.2521972Z",
          "modified_date": "2020-11-12T07:41:12.741646Z",
          "customer_id": 126,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Perry",
          "last_name": "Mohr",
          "company": "Russel, Herman and Beier",
          "address": "4793 Destin Bridge",
          "address2": "Dianaside",
          "town": "Paulastad",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "GM6 3OU",
          "telephone": "886-973-2654",
          "fax": "1-576-966-0246 x5306"
        }
      ]
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Add a customer",
        "description": "Note: setting send_email to true will send an email to the customer prompting them to create a password",
        "operationId": "Customers_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 127,
    "email_address": "Diana43@gmail.com",
    "first_name": "Sydney",
    "last_name": "Will",
    "order_count": 1,
    "loyalty_points": 1.0,
    "created_date": "2020-08-21T14:05:10.9166403Z",
    "modified_date": "2021-02-11T13:57:53.8909428Z",
    "last_login_date": "2020-12-17T14:04:54.3119993Z",
    "last_login_attempt_date": "2020-11-26T06:48:31.9145545Z",
    "locked": true,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-06-03T15:22:17.114564Z",
        "modified_date": "2020-05-30T02:14:17.3131806Z",
        "customer_id": 127,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Carter",
        "last_name": "Stanton",
        "company": "Kassulke Inc",
        "address": "502 Herta Islands",
        "address2": "East Stanleymouth",
        "town": "Conormouth",
        "county": "Cambridgeshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "GU1 6TZ",
        "telephone": "(887) 443-7444 x805",
        "fax": "799.873.9681"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/search": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Searches customers based on search criteria",
        "operationId": "Customers_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customers based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 128,
      "email_address": "Andy.Jones15@gmail.com",
      "first_name": "Ericka",
      "last_name": "Dach",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2021-01-22T09:02:54.0679667Z",
      "modified_date": "2020-09-03T05:10:54.8902607Z",
      "last_login_date": "2020-09-20T22:49:11.2514163Z",
      "last_login_attempt_date": "2020-09-03T05:26:43.9438572Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-12-19T23:11:24.024231Z",
          "modified_date": "2020-11-04T18:43:53.2873054Z",
          "customer_id": 128,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Winfield",
          "last_name": "Fay",
          "company": "Shields - Kozey",
          "address": "761 Herzog Port",
          "address2": "New Lonnymouth",
          "town": "North Noechester",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "GM2 4KT",
          "telephone": "1-617-544-5266",
          "fax": "(833) 472-1988 x0311"
        }
      ]
    },
    {
      "id": 129,
      "email_address": "Esther.Friesen@hotmail.com",
      "first_name": "Cyril",
      "last_name": "Weissnat",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-06-15T06:23:29.832888Z",
      "modified_date": "2020-11-29T23:27:35.7197613Z",
      "last_login_date": "2021-01-09T06:20:58.7318916Z",
      "last_login_attempt_date": "2021-01-26T08:07:43.5579878Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-08-14T00:22:42.8222452Z",
          "modified_date": "2020-08-31T12:51:59.7657449Z",
          "customer_id": 129,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Tyra",
          "last_name": "Parker",
          "company": "Murazik - Metz",
          "address": "387 Muller Port",
          "address2": "North Blaketown",
          "town": "Madisonstad",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "YQ6 8LA",
          "telephone": "(955) 503-4273",
          "fax": "769.813.4747 x583"
        }
      ]
    },
    {
      "id": 130,
      "email_address": "Lena_Braun22@yahoo.com",
      "first_name": "Jada",
      "last_name": "Rolfson",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-07-18T19:16:52.4146383Z",
      "modified_date": "2021-01-24T16:28:33.9558432Z",
      "last_login_date": "2021-02-12T00:50:22.6412289Z",
      "last_login_attempt_date": "2021-01-15T08:04:37.2521232Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-04-14T03:14:34.528526Z",
          "modified_date": "2021-03-04T15:53:53.8005353Z",
          "customer_id": 130,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Madelynn",
          "last_name": "Dicki",
          "company": "Greenfelder - Fisher",
          "address": "68967 Minnie Stream",
          "address2": "West Alphonsomouth",
          "town": "Anaisborough",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "TL7 7QF",
          "telephone": "(217) 602-6545 x969",
          "fax": "1-265-235-9844"
        }
      ]
    },
    {
      "id": 131,
      "email_address": "Tim.Feest@gmail.com",
      "first_name": "Chelsie",
      "last_name": "Paucek",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-05-03T23:33:23.5380722Z",
      "modified_date": "2020-11-08T18:06:32.3077763Z",
      "last_login_date": "2020-12-19T04:32:18.7364082Z",
      "last_login_attempt_date": "2020-04-15T05:38:07.7500224Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-08-16T19:16:16.7831699Z",
          "modified_date": "2020-05-28T00:52:46.4108266Z",
          "customer_id": 131,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Geovanni",
          "last_name": "Reynolds",
          "company": "Monahan and Sons",
          "address": "3679 Swaniawski Station",
          "address2": "Robertschester",
          "town": "New Lorena",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "DF3 5TN",
          "telephone": "1-401-785-1842 x051",
          "fax": "1-331-200-0175"
        }
      ]
    },
    {
      "id": 132,
      "email_address": "Juana.Rau@gmail.com",
      "first_name": "Ashley",
      "last_name": "Huels",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2020-06-20T19:57:03.1429525Z",
      "modified_date": "2020-06-10T19:19:29.8827949Z",
      "last_login_date": "2021-03-17T16:40:54.4119856Z",
      "last_login_attempt_date": "2020-11-04T00:02:59.9908344Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-05-31T04:45:39.6965146Z",
          "modified_date": "2020-05-23T00:07:17.3801819Z",
          "customer_id": 132,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Axel",
          "last_name": "Padberg",
          "company": "Quigley Inc",
          "address": "434 Rempel Drive",
          "address2": "Mavisbury",
          "town": "Armstrongstad",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "QB4 1RP",
          "telephone": "483-607-7995 x1280",
          "fax": "1-786-431-7545"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/settings/domains": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get the current Primary Domain",
        "operationId": "Domains_GetPrimaryDomain",
        "responses": {
          "200": {
            "description": "The primary domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1DomainName"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "primary_domain_name": "vada.com"
  }
}
              }
            }
          },
          "404": {
            "description": "No primary domain found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Domain not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v2/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get an order by ID",
        "operationId": "Orders_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The order ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV2Order"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 78,
    "order_number": "f774zp3oslb5imdp",
    "order_date": "2010-04-10T23:22:02.8722782Z",
    "is_confirmed": true,
    "sub_total": 0.2738037115306611,
    "total_delivery": 0.5017849507284281,
    "total_tax": 0.6006046904253796,
    "total_cost": 0.11336725955520163,
    "status": "PENDING",
    "payment_status": "SUCCESS",
    "delivery_method": "",
    "transaction_id": "ee374a2d-12b3-49b9-99e8-4c365910754e",
    "transaction_status": "",
    "order_type": "",
    "use_shipping_address": true,
    "shipping_address": {
      "first_name": "Linda",
      "last_name": "Fisher",
      "id": 447218507,
      "created_date": "2020-06-09T13:09:15.1953695Z",
      "modified_date": "2020-12-22T12:31:07.7963225Z",
      "customer_id": -1939092392,
      "is_preferred_billing_address": false,
      "is_preferred_shipping_address": true,
      "company": "Franecki, Kirlin and Wolf",
      "address": "827 Beier Pass",
      "address2": "East Quentin",
      "town": "South Dashawnfort",
      "county": "Borders",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": "FR7 4FO",
      "telephone": "(816) 458-5908",
      "fax": "783.276.4658"
    },
    "internal_notes": "This is an internal order note.\n\nThis is another internal order note.",
    "customer_facing_notes": "This is an order note.\n\nThis is another order note.",
    "emailed": false,
    "discounts": "",
    "discounts_total": 0.0,
    "shipping_company": "UPS",
    "ip_address": "127.0.0.1",
    "guid": "7a1933b9-98e8-fed8-2508-bb07495c9163",
    "last_updated": null,
    "delivery_tax_rate": null,
    "delivery_includes_tax": null,
    "custom_fields_total": null,
    "custom_fields_tax_total": null,
    "customer_details": {
      "customer_id": -1444957981,
      "email_address": "Marielle.Russel@gmail.com",
      "first_name": "Linda",
      "last_name": "Fisher",
      "company": "Herman, Bruen and Baumbach",
      "address": "241 Mosciski Ways",
      "address2": "Faheyview",
      "town": "Lake Chelsey",
      "county": "Cambridgeshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": "QF7 2KW",
      "telephone": "(580) 784-3085",
      "fax": "(338) 660-2995 x316",
      "billing_address_verified": false
    },
    "custom_fields": null,
    "delivery_tracking_number": null,
    "delivery_tracking_company": null,
    "delivery_tracking_url": null
  }
}
              }
            }
          },
          "404": {
            "description": "No Order was found for the requested ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
[...]
