{
  "openapi": "3.0.1",
  "info": {
    "title": "EKM Partner API",
    "description": "Our new API allows partners to build significantly better integrations with the EKM platform.\r\n\r\nTo try out the below endpoints, or for full up to date representations of the request / response models, please see the [swagger page](https://api.ekm.net/swagger/index.html). (We display examples here, but the swagger page is guaranteed to show the complete model.)\r\n\r\nTo keep up to date with the latest updates, please see our [RSS feed](https://partners.ekm.net/ChangeLog/Feed) or the [partner dashboard](https://partners.ekm.net/).",
    "contact": {
      "name": "EKM",
      "url": "https://ekm.com",
      "email": "api-support@ekm.com"
    },
    "version": "Latest",
    "x-logo": {
      "url": "/images/ekm-logo-vector-RGB-1920x1080.png",
      "backgroundColor": "#fafafa"
    }
  },
  "servers": [
    {
      "url": "https://api.ekm.net"
    }
  ],
  "paths": {
    "/api/v1/categories/{id}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a category",
        "operationId": "Categories_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The chosen category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 975,
    "name": "EKM - quis",
    "description": "Error qui maxime ut velit nobis aut voluptatum molestias aliquam. Sunt delectus blanditiis ab officiis. Nam expedita quam. Magnam quia dolore itaque. Cumque sit atque illo sed.",
    "in_category_description": "Quaerat laboriosam cum ducimus repellat sed dicta ipsum quia dolores. Cupiditate inventore alias et pariatur delectus. Maxime et aut dolor ipsam voluptatem dolores sit earum. Rerum doloribus blanditiis ab est sit nihil sed quis molestiae. Consequuntur similique dolore. Fugit voluptas est debitis aliquam dicta deleniti occaecati et praesentium.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Categories"
        ],
        "summary": "Update a category",
        "operationId": "Categories_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 976,
    "name": "EKM - consequuntur",
    "description": "Accusantium esse hic libero deserunt odit. Eius cum et repudiandae officiis exercitationem dolores. Ut id et inventore et eos. Quam assumenda qui nobis. Neque rem non deserunt deleniti reprehenderit tempora sunt a voluptatum. Provident laudantium quo cumque odio voluptate.",
    "in_category_description": "Sapiente officia alias. Molestias voluptas et non et eum asperiores sit numquam voluptates. Quis maxime totam voluptas. Atque et voluptate cupiditate veritatis sit. Mollitia voluptatem neque. Perferendis a dignissimos est enim nesciunt quos nihil facere.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Delete a category",
        "operationId": "Categories_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of categories",
        "operationId": "Categories_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - esse",
      "description": "Quaerat sapiente exercitationem amet fuga quaerat nisi. Aut similique vel occaecati eveniet dolor deleniti sint quia facere. Dolor blanditiis quasi voluptatibus modi est. Saepe non magnam omnis.",
      "in_category_description": "Voluptatem blanditiis ratione. Assumenda qui laudantium suscipit aut sed repellendus. Culpa et dolorem magni soluta in.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - provident",
      "description": "Soluta sequi consectetur voluptatibus quasi esse odio commodi dolores nihil. Deleniti ea et odio. Sint ratione doloremque.",
      "in_category_description": "Aut magnam veniam provident. Pariatur ea omnis non cum incidunt dicta architecto. Ullam a culpa optio est. Ut tempore et.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - in",
      "description": "Nihil iure aspernatur voluptas. Et impedit consequatur impedit ut et. Molestiae similique vitae id id doloremque. Qui quis sequi eos architecto suscipit qui corporis enim dolorem. Facere impedit error molestiae nihil. Distinctio voluptas dolore qui autem ut quidem in ab magni.",
      "in_category_description": "Itaque consequatur quasi totam. Sunt non enim dolore accusantium molestiae reiciendis. Odio facilis voluptate voluptatem. Rerum repellat ratione aut.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - earum",
      "description": "Aliquam voluptatem voluptatem sint quod accusantium sed dolor ratione. Quibusdam incidunt veniam fugit asperiores. Sequi est quidem suscipit ut provident. Fuga incidunt dolore at dolore enim aut eum nihil incidunt. Laboriosam unde voluptates facere quas alias tempora et. Aut nulla quia.",
      "in_category_description": "Necessitatibus quas asperiores. Nemo et sint quisquam dicta in. Quos ipsum tenetur et eos. Autem alias animi omnis dignissimos qui in. Quidem aut totam atque. Omnis inventore eum assumenda ex assumenda sit odio sed.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - qui",
      "description": "Laudantium excepturi laudantium perferendis eum enim saepe. Est rem quia voluptatem nemo ducimus sint deserunt dolorem libero. Ab labore quaerat dolorum incidunt aut.",
      "in_category_description": "Dolores sed inventore aliquam enim iusto nesciunt. Quasi recusandae quia consequatur quo sunt similique numquam nemo aut. Praesentium voluptates pariatur. Enim qui laboriosam fugit vel sed.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Add a category",
        "operationId": "Categories_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 982,
    "name": "EKM - saepe",
    "description": "Nihil tempore possimus autem unde numquam et eum voluptatem laudantium. Expedita sapiente eos omnis voluptatum libero ipsa enim ut. Rerum est veniam optio repellendus aut recusandae voluptatem dolor omnis.",
    "in_category_description": "Corporis eum dolorem vel omnis libero explicabo reiciendis. Nemo dignissimos consequatur voluptas enim. Repellendus rerum impedit nesciunt culpa rerum repudiandae.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/search": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Searches categories based on search criteria",
        "operationId": "Categories_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. live eq true",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - deleniti",
      "description": "Aspernatur omnis velit ut molestias quis. Libero a expedita voluptatum iure distinctio saepe autem. Quis optio quidem et. Non voluptatum numquam ratione soluta. Et mollitia vel. Et sit laboriosam soluta et soluta.",
      "in_category_description": "Itaque possimus suscipit consequatur et fugit in reiciendis illum. Commodi sint numquam voluptas maxime adipisci dolorem quis adipisci. Dolorem ullam architecto quasi qui ut similique quia quia.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - numquam",
      "description": "Commodi repudiandae optio atque rerum quia qui. Placeat nihil aliquam. Ut ullam quia veritatis iusto ratione excepturi et corrupti. A rerum nobis ut.",
      "in_category_description": "Perspiciatis adipisci expedita id enim eum. Corporis ratione quaerat dolore. Laudantium explicabo architecto. Ipsa labore quo. Sunt quas assumenda quia cumque at ab dolor tenetur.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - inventore",
      "description": "Blanditiis iusto iste omnis ab et cupiditate voluptate. Accusamus sint dolor eveniet. Sequi reprehenderit aut quo mollitia ducimus. Qui exercitationem ipsa molestiae deleniti ut. Omnis reiciendis aliquid sunt blanditiis sunt. Doloremque ut occaecati architecto iure quo et.",
      "in_category_description": "Officia officia ad incidunt. Distinctio quasi sed praesentium ex magnam harum eos. Consequuntur similique placeat et et ipsum occaecati. Quisquam voluptas aut quia pariatur officia omnis quia minus. Quia architecto qui quo quia libero possimus sed et incidunt.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - et",
      "description": "Tenetur necessitatibus accusantium reprehenderit quas. Est et non nihil omnis accusamus rerum aliquid. Consequatur deleniti ex aliquam fuga magnam molestias.",
      "in_category_description": "Nostrum ea beatae. Molestias voluptatem quis velit dolorum. Molestiae incidunt qui.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - adipisci",
      "description": "Vitae adipisci mollitia quis est ut voluptatem. Dolor enim molestiae debitis autem. Quasi dignissimos dolorem delectus aut ratione. Laboriosam exercitationem ut esse natus dolore itaque.",
      "in_category_description": "Maiores veniam aspernatur nobis ut. Repudiandae optio quis. Aspernatur omnis magni velit fugiat. Dolorem qui itaque deleniti voluptate vero.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/subcategories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of subcategories",
        "operationId": "Categories_Subcategories",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of subcategories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1SubCategory"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "parent_category_id": 2,
      "category_id": 1,
      "name": "EKM - explicabo",
      "description": "Maxime ut sit. Magni quisquam quia saepe fugiat quia qui omnis est recusandae. Provident consequuntur deserunt.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 4,
      "category_id": 2,
      "name": "EKM - dolor",
      "description": "Non explicabo et consequatur id odit alias rerum itaque. Consectetur doloribus cum quibusdam. Qui maxime et id.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 6,
      "category_id": 3,
      "name": "EKM - omnis",
      "description": "Debitis eligendi harum eos quia. Hic minima voluptatem ipsam et numquam provident aut eveniet rerum. Laborum quia rerum eveniet adipisci tenetur. Perferendis eos vero rerum eum aliquid quia enim molestiae. Eius quod autem animi eveniet beatae asperiores expedita et debitis. Laudantium ut ut nobis quibusdam pariatur doloribus blanditiis et qui.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 8,
      "category_id": 4,
      "name": "EKM - nobis",
      "description": "Quia quasi et alias eveniet repudiandae eos autem quis. Officia sequi sunt autem porro et hic. Voluptas architecto et unde. Molestias voluptatem officia quas amet illum alias cupiditate provident. Non voluptatum dolorem.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 10,
      "category_id": 5,
      "name": "EKM - aut",
      "description": "Tenetur quod consequuntur dolor et omnis non tempora illo. Non ut sequi ex nam. Sunt velit natus quod nemo velit hic reiciendis veniam sunt. Sequi ipsa voluptatem. Ut sapiente deleniti autem suscipit id quis eius placeat minus. Ducimus repudiandae id doloremque consequatur.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/categorymanaged/{childCategoryId}": {
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Set a category to be managed by another category",
        "operationId": "Categories_SetCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The added managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "parent_category_id": 1,
    "category_id": 10,
    "name": "Subcategory",
    "description": null,
    "order_location": 99999,
    "live": true,
    "is_category_managed": true
  }
}
              }
            }
          },
          "400": {
            "description": "A subcategory or managed category already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category or child category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Stops a category from being managed by another category",
        "operationId": "Categories_DeleteCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The removed managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No managed category found for that child category ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/filters": {
      "put": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_UpdateCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CategoryFilters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "get": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_GetCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CategoryFilters"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/{addressId}": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a single Customer Address by Id",
        "operationId": "CustomerAddresses_GetById",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-08-31T07:31:34.8604735Z",
    "modified_date": "2020-10-11T01:44:28.4819046Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Chauncey",
    "last_name": "Ratke",
    "company": "Baumbach - Hermann",
    "address": "4245 Tromp Plaza",
    "address2": null,
    "town": "Cormierhaven",
    "county": "Borders",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "1-573-390-6932 x2980",
    "fax": "1-932-278-8442 x77085"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Update a Customer Address",
        "operationId": "CustomerAddresses_Update",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2021-02-07T23:06:41.3820746Z",
    "modified_date": "2020-10-14T05:47:10.8644584Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Raymundo",
    "last_name": "Smith",
    "company": "Fritsch - Schaefer",
    "address": "0366 Matilda Extension",
    "address2": null,
    "town": "Daxport",
    "county": "Borders",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "888.756.3113 x6176",
    "fax": "1-467-825-7206 x8176"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Delete a Customer Address",
        "operationId": "CustomerAddresses_Delete",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer Address deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-12-16T15:33:46.7276234Z",
    "modified_date": "2020-09-28T14:28:19.4034325Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Napoleon",
    "last_name": "Gulgowski",
    "company": "Nitzsche, McDermott and Langosh",
    "address": "44700 Kub Keys",
    "address2": null,
    "town": "New Wilbertborough",
    "county": "Cambridgeshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "720.448.1755 x408",
    "fax": "1-988-945-8280"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a paginated set of Customer Addresses",
        "operationId": "CustomerAddresses_GetAll",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customer Addresses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 0,
      "created_date": "2020-06-10T14:35:20.9926202Z",
      "modified_date": "2020-12-09T08:15:04.2835945Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Lisette",
      "last_name": "Bernhard",
      "company": "Dach Group",
      "address": "740 VonRueden Mountains",
      "address2": null,
      "town": "North Vivianfort",
      "county": "Cambridgeshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "912-980-8374 x417",
      "fax": "(810) 582-7939 x40444"
    },
    {
      "id": 0,
      "created_date": "2021-02-26T22:26:56.761323Z",
      "modified_date": "2020-04-04T04:36:11.4904013Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Filomena",
      "last_name": "Borer",
      "company": "Goyette, Swift and Weimann",
      "address": "9134 O\u0027Conner Mall",
      "address2": null,
      "town": "North Jude",
      "county": "Bedfordshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "897.969.5177 x638",
      "fax": "1-308-527-0832 x77705"
    },
    {
      "id": 0,
      "created_date": "2021-01-28T13:12:34.6759811Z",
      "modified_date": "2020-08-31T09:16:29.7075337Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Muhammad",
      "last_name": "Schmeler",
      "company": "Lowe, Schroeder and Lowe",
      "address": "58011 Kulas Haven",
      "address2": null,
      "town": "East Zackaryborough",
      "county": "Bedfordshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "(506) 679-8156",
      "fax": "(809) 797-3565 x2624"
    },
    {
      "id": 0,
      "created_date": "2021-03-30T21:33:11.1445172Z",
      "modified_date": "2021-03-03T13:07:04.1792352Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Willa",
      "last_name": "Goodwin",
      "company": "Bayer and Sons",
      "address": "343 Scotty Roads",
      "address2": null,
      "town": "Theronchester",
      "county": "Cambridgeshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "1-412-246-8561",
      "fax": "1-854-315-7099 x02600"
    },
    {
      "id": 0,
      "created_date": "2020-06-25T07:32:59.1074489Z",
      "modified_date": "2020-04-09T23:25:35.6940172Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Kasey",
      "last_name": "Fisher",
      "company": "Hammes - Block",
      "address": "399 MacGyver Gateway",
      "address2": null,
      "town": "North Luisbury",
      "county": "Avon",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "1-819-216-0138 x413",
      "fax": "768-495-8786 x3310"
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Add a Customer Address",
        "operationId": "CustomerAddresses_Create",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2021-01-12T00:41:44.6186601Z",
    "modified_date": "2020-10-09T23:36:49.8456907Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Reyna",
    "last_name": "Tromp",
    "company": "Hansen Group",
    "address": "22561 Ceasar Island",
    "address2": null,
    "town": "North Dovieville",
    "county": "Cambridgeshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "846.501.5684",
    "fax": "421.408.3725 x65362"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/search": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Searches customer addresses based on search criteria",
        "operationId": "CustomerAddresses_Search",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customer adresses based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1425,
      "email_address": "Clint85@hotmail.com",
      "first_name": "Loy",
      "last_name": "Thompson",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2021-02-22T22:32:15.8626207Z",
      "modified_date": "2020-11-06T02:11:03.6861331Z",
      "last_login_date": "2020-11-05T10:39:02.4796714Z",
      "last_login_attempt_date": "2020-05-07T11:09:33.6455092Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-06-21T10:47:20.1090831Z",
          "modified_date": "2020-06-30T18:23:01.2646396Z",
          "customer_id": 1425,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Reece",
          "last_name": "Maggio",
          "company": "Tremblay, Ryan and Jacobson",
          "address": "8721 Mueller Station",
          "address2": "Lake Bettiefurt",
          "town": "South Reece",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "RI6 5XU",
          "telephone": "1-229-898-9304",
          "fax": "(969) 565-7374"
        }
      ]
    },
    {
      "id": 1426,
      "email_address": "Justin.McGlynn82@hotmail.com",
      "first_name": "Efren",
      "last_name": "Shields",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-12-25T10:09:32.528732Z",
      "modified_date": "2020-08-25T21:08:19.0033029Z",
      "last_login_date": "2020-10-04T01:00:30.7405381Z",
      "last_login_attempt_date": "2020-06-24T06:57:08.2122571Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-06-24T14:00:47.6407605Z",
          "modified_date": "2021-01-03T00:59:52.5152541Z",
          "customer_id": 1426,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Rodrick",
          "last_name": "Legros",
          "company": "Crist, Beer and Bergstrom",
          "address": "3972 Marks Turnpike",
          "address2": "Bauchmouth",
          "town": "New Emie",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "PL6 6PO",
          "telephone": "880-698-4506",
          "fax": "1-885-234-0365 x42846"
        }
      ]
    },
    {
      "id": 1427,
      "email_address": "Gloria95@hotmail.com",
      "first_name": "John",
      "last_name": "Ullrich",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-08-11T00:50:56.9855811Z",
      "modified_date": "2020-07-06T00:52:34.5574538Z",
      "last_login_date": "2020-12-17T00:55:15.8232177Z",
      "last_login_attempt_date": "2020-05-26T20:02:24.344901Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-05-14T11:20:33.0231138Z",
          "modified_date": "2021-02-02T19:26:28.4494694Z",
          "customer_id": 1427,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Greta",
          "last_name": "Emmerich",
          "company": "Reinger - Hickle",
          "address": "069 Mills Circles",
          "address2": "North Perry",
          "town": "Marcellusstad",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "WR5 1HS",
          "telephone": "307-905-1407",
          "fax": "1-918-529-8967 x60766"
        }
      ]
    },
    {
      "id": 1428,
      "email_address": "Danielle78@gmail.com",
      "first_name": "Coby",
      "last_name": "Schamberger",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2021-03-13T22:28:37.0409802Z",
      "modified_date": "2020-06-28T18:17:11.3587983Z",
      "last_login_date": "2020-10-16T18:08:50.3104199Z",
      "last_login_attempt_date": "2021-01-12T20:58:29.3793052Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-09-26T22:22:41.056314Z",
          "modified_date": "2020-11-18T08:18:58.4809127Z",
          "customer_id": 1428,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Michele",
          "last_name": "Dach",
          "company": "Harris, Bahringer and Hayes",
          "address": "316 Verda Wells",
          "address2": "East Isabellaside",
          "town": "North Sabryna",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "MA4 3NB",
          "telephone": "1-511-776-3713 x968",
          "fax": "228-361-2267 x192"
        }
      ]
    },
    {
      "id": 1429,
      "email_address": "Norma73@gmail.com",
      "first_name": "Kathleen",
      "last_name": "Hermann",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-09-24T21:42:22.2698777Z",
      "modified_date": "2021-03-05T12:32:31.6954893Z",
      "last_login_date": "2020-12-28T11:15:20.6827474Z",
      "last_login_attempt_date": "2020-05-29T10:43:23.3912241Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-03-14T08:57:19.5977175Z",
          "modified_date": "2020-09-27T02:50:42.9236467Z",
          "customer_id": 1429,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Sam",
          "last_name": "Rowe",
          "company": "Lowe Group",
          "address": "1987 Sandy Trail",
          "address2": "East Tabithatown",
          "town": "Kerlukeview",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "FK6 4AU",
          "telephone": "602.984.5578 x319",
          "fax": "(596) 228-4674 x958"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a single Customer by Id",
        "operationId": "Customers_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Customers Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customers Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1430,
    "email_address": "Corey.Hane@yahoo.com",
    "first_name": "Vicenta",
    "last_name": "Goodwin",
    "order_count": 1,
    "loyalty_points": 1.0,
    "created_date": "2021-03-14T23:18:20.5129797Z",
    "modified_date": "2020-09-03T05:01:12.2125422Z",
    "last_login_date": "2020-07-06T11:12:31.9622763Z",
    "last_login_attempt_date": "2020-04-25T12:38:02.7956044Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2021-02-17T02:34:23.0074042Z",
        "modified_date": "2020-05-02T03:18:26.9150823Z",
        "customer_id": 1430,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Demarcus",
        "last_name": "Wuckert",
        "company": "Ernser Group",
        "address": "97670 Toney Estates",
        "address2": "Howemouth",
        "town": "East Titusfurt",
        "county": "Berkshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "KO4 7TK",
        "telephone": "213-746-4873",
        "fax": "726-655-5624 x91964"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update a Customer",
        "operationId": "Customers_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1431,
    "email_address": "Ethel.Pouros40@gmail.com",
    "first_name": "Shyann",
    "last_name": "Eichmann",
    "order_count": 1,
    "loyalty_points": 1.0,
    "created_date": "2020-09-07T21:00:32.538725Z",
    "modified_date": "2021-03-08T15:55:17.5453744Z",
    "last_login_date": "2021-03-26T04:31:53.5438253Z",
    "last_login_attempt_date": "2020-05-29T10:56:34.8502143Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-10-16T21:39:05.0769469Z",
        "modified_date": "2020-07-04T01:58:22.8229855Z",
        "customer_id": 1431,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Enola",
        "last_name": "Moore",
        "company": "Quitzon - Conroy",
        "address": "49506 Maybelle Fork",
        "address2": "Boganfort",
        "town": "Leohaven",
        "county": "Bedfordshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "MJ2 8EU",
        "telephone": "(771) 205-0785",
        "fax": "1-644-205-8693"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete a Customer",
        "operationId": "Customers_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1432,
    "email_address": "Herman_Reynolds@gmail.com",
    "first_name": "Cristian",
    "last_name": "Schuppe",
    "order_count": 0,
    "loyalty_points": 0.0,
    "created_date": "2020-12-08T10:24:42.9435198Z",
    "modified_date": "2020-12-20T02:04:10.8668539Z",
    "last_login_date": "2020-04-25T06:22:18.9493279Z",
    "last_login_attempt_date": "2020-06-15T14:27:36.1447787Z",
    "locked": true,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2021-03-24T05:47:58.5344941Z",
        "modified_date": "2020-09-26T15:41:27.0397286Z",
        "customer_id": 1432,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Burnice",
        "last_name": "O\u0027Reilly",
        "company": "MacGyver and Sons",
        "address": "9276 Shad Spurs",
        "address2": "Beerville",
        "town": "Heidenreichland",
        "county": "Cambridgeshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "DY6 8MV",
        "telephone": "676.317.8448",
        "fax": "1-850-942-2562 x9575"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a paginated set of Customers",
        "operationId": "Customers_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1433,
      "email_address": "Kristin48@yahoo.com",
      "first_name": "Mitchell",
      "last_name": "Runolfsdottir",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2020-12-11T04:51:46.6716959Z",
      "modified_date": "2021-01-01T03:29:04.553892Z",
      "last_login_date": "2020-11-29T22:41:43.2532766Z",
      "last_login_attempt_date": "2020-05-01T23:32:05.6773885Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-07-07T02:54:31.9024137Z",
          "modified_date": "2020-08-20T17:26:07.2561631Z",
          "customer_id": 1433,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Denis",
          "last_name": "Kub",
          "company": "Schiller and Sons",
          "address": "4192 Tracy Viaduct",
          "address2": "Jefferyfort",
          "town": "Port Myles",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "DZ5 5XE",
          "telephone": "(566) 821-6421 x501",
          "fax": "495-597-3820"
        }
      ]
    },
    {
      "id": 1434,
      "email_address": "Wilbert.Hirthe55@yahoo.com",
      "first_name": "Opal",
      "last_name": "Schuppe",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-06-09T11:04:36.0806718Z",
      "modified_date": "2020-10-28T10:05:59.9248612Z",
      "last_login_date": "2020-11-03T17:02:14.7466813Z",
      "last_login_attempt_date": "2020-11-17T05:04:30.7254459Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-03-07T15:57:29.2720457Z",
          "modified_date": "2020-10-27T10:47:48.2542145Z",
          "customer_id": 1434,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Jackie",
          "last_name": "Kirlin",
          "company": "Lubowitz Group",
          "address": "59189 Effertz Motorway",
          "address2": "Port Maxime",
          "town": "Greenfelderstad",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "EG7 6JN",
          "telephone": "1-973-429-4922",
          "fax": "(866) 403-1145 x382"
        }
      ]
    },
    {
      "id": 1435,
      "email_address": "Dale_Abernathy98@gmail.com",
      "first_name": "Johnny",
      "last_name": "Gutkowski",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2020-08-03T08:27:36.4701382Z",
      "modified_date": "2020-04-12T08:56:48.7990389Z",
      "last_login_date": "2021-03-22T11:55:34.4424292Z",
      "last_login_attempt_date": "2020-04-20T22:00:18.9914317Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-08-13T15:47:23.7871863Z",
          "modified_date": "2020-06-03T22:43:57.3584123Z",
          "customer_id": 1435,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Kayli",
          "last_name": "Quigley",
          "company": "Lakin and Sons",
          "address": "2493 Rodriguez Shore",
          "address2": "South Gunnar",
          "town": "New Thorahaven",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "BB3 7JB",
          "telephone": "565.221.8318 x5000",
          "fax": "(735) 740-5236"
        }
      ]
    },
    {
      "id": 1436,
      "email_address": "Hazel.Koepp@yahoo.com",
      "first_name": "Thalia",
      "last_name": "Luettgen",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-08-28T14:06:53.60859Z",
      "modified_date": "2020-09-05T09:01:06.8780428Z",
      "last_login_date": "2020-10-30T06:52:52.5094063Z",
      "last_login_attempt_date": "2020-07-21T21:02:09.9544879Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-02-21T06:43:35.7405255Z",
          "modified_date": "2020-09-11T11:38:41.9488891Z",
          "customer_id": 1436,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Dwight",
          "last_name": "Boyle",
          "company": "Casper and Sons",
          "address": "239 Lesly Manor",
          "address2": "South Antoinetteberg",
          "town": "South Marjolaineport",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "CB8 1QX",
          "telephone": "904-399-8282",
          "fax": "1-223-944-2867"
        }
      ]
    },
    {
      "id": 1437,
      "email_address": "Ivan.Klocko37@gmail.com",
      "first_name": "Karelle",
      "last_name": "Grimes",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2020-06-13T17:21:07.3901866Z",
      "modified_date": "2021-01-20T22:19:14.6964459Z",
      "last_login_date": "2021-03-20T15:18:38.3526102Z",
      "last_login_attempt_date": "2021-02-13T17:43:13.1379908Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-12-15T17:36:55.8701579Z",
          "modified_date": "2021-01-13T16:11:29.2832787Z",
          "customer_id": 1437,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Matilde",
          "last_name": "Kuvalis",
          "company": "Ruecker - Daniel",
          "address": "00080 Dietrich Village",
          "address2": "New Margarete",
          "town": "Port Bertrandchester",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "MP7 6IP",
          "telephone": "1-915-614-4199 x9941",
          "fax": "1-504-527-7247 x868"
        }
      ]
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Add a customer",
        "description": "Note: setting send_email to true will send an email to the customer prompting them to create a password",
        "operationId": "Customers_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1438,
    "email_address": "Raquel.Baumbach16@gmail.com",
    "first_name": "Rubie",
    "last_name": "Muller",
    "order_count": 1,
    "loyalty_points": 1.0,
    "created_date": "2020-12-31T14:01:48.8139868Z",
    "modified_date": "2020-11-17T16:41:28.4738819Z",
    "last_login_date": "2020-05-26T20:57:50.8408559Z",
    "last_login_attempt_date": "2020-07-06T14:37:43.6633387Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-12-10T14:29:30.9562439Z",
        "modified_date": "2020-05-12T12:31:47.7603426Z",
        "customer_id": 1438,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Toney",
        "last_name": "Breitenberg",
        "company": "O\u0027Keefe, Pouros and Gutmann",
        "address": "03594 Art Bridge",
        "address2": "South Dariusborough",
        "town": "MacGyverton",
        "county": "Buckinghamshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "JG8 8KB",
        "telephone": "1-776-788-0027 x38251",
        "fax": "428-771-5087 x833"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/search": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Searches customers based on search criteria",
        "operationId": "Customers_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customers based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1439,
      "email_address": "Roosevelt91@hotmail.com",
      "first_name": "Valentina",
      "last_name": "Goldner",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-09-03T07:50:13.2229658Z",
      "modified_date": "2020-12-07T12:28:28.2020365Z",
      "last_login_date": "2020-11-19T00:44:45.0186869Z",
      "last_login_attempt_date": "2020-08-12T11:05:54.4626098Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-09-29T13:57:36.564901Z",
          "modified_date": "2020-07-20T15:09:47.0922906Z",
          "customer_id": 1439,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Prince",
          "last_name": "Brown",
          "company": "Prosacco Group",
          "address": "15115 Henderson Heights",
          "address2": "Port Litzy",
          "town": "New Ophelia",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "FV5 2QM",
          "telephone": "467.464.2070 x528",
          "fax": "708-432-9903"
        }
      ]
    },
    {
      "id": 1440,
      "email_address": "Wade_McKenzie@yahoo.com",
      "first_name": "Ada",
      "last_name": "Rolfson",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-08-28T15:06:15.2334675Z",
      "modified_date": "2020-12-05T00:43:34.5384304Z",
      "last_login_date": "2020-08-02T02:17:48.2204901Z",
      "last_login_attempt_date": "2020-11-08T00:27:44.1882858Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-07-05T19:26:59.5350719Z",
          "modified_date": "2020-06-01T03:19:38.6908602Z",
          "customer_id": 1440,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Dino",
          "last_name": "McLaughlin",
          "company": "Feeney - Prohaska",
          "address": "857 Jazlyn Heights",
          "address2": "Lake Jerod",
          "town": "Reynoldsstad",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "PV0 6VC",
          "telephone": "(991) 282-1203",
          "fax": "761-531-2498"
        }
      ]
    },
    {
      "id": 1441,
      "email_address": "Candace.Grimes42@hotmail.com",
      "first_name": "Greyson",
      "last_name": "Raynor",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-11-15T16:06:32.7611351Z",
      "modified_date": "2021-01-03T13:00:33.848494Z",
      "last_login_date": "2020-06-04T07:59:47.374483Z",
      "last_login_attempt_date": "2020-08-27T22:45:09.7979776Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-01-11T09:27:14.1774707Z",
          "modified_date": "2020-12-18T23:00:38.0207263Z",
          "customer_id": 1441,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Lafayette",
          "last_name": "Bode",
          "company": "Windler and Sons",
          "address": "748 Wayne Tunnel",
          "address2": "South Camrynbury",
          "town": "Bartonfort",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "JG5 5VK",
          "telephone": "1-733-753-0572 x88702",
          "fax": "(731) 311-3452 x04017"
        }
      ]
    },
    {
      "id": 1442,
      "email_address": "Priscilla.Witting@hotmail.com",
      "first_name": "Jamil",
      "last_name": "Jast",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-06-16T22:57:13.2088356Z",
      "modified_date": "2020-05-08T06:39:48.8690045Z",
      "last_login_date": "2020-06-04T19:08:59.5359338Z",
      "last_login_attempt_date": "2020-11-28T22:09:08.2450171Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-09-11T23:43:55.7097602Z",
          "modified_date": "2020-12-17T00:33:46.8401204Z",
          "customer_id": 1442,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Karianne",
          "last_name": "Hickle",
          "company": "Russel, Wisozk and Ward",
          "address": "25710 Oberbrunner Cliffs",
          "address2": "Bauchtown",
          "town": "Gustport",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "XY2 5CI",
          "telephone": "960.274.7948",
          "fax": "701-664-5591 x2345"
        }
      ]
    },
    {
      "id": 1443,
      "email_address": "Bruce48@hotmail.com",
      "first_name": "Dewayne",
      "last_name": "Feeney",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-06-09T05:59:51.690345Z",
      "modified_date": "2021-01-01T12:37:36.4705217Z",
      "last_login_date": "2021-03-02T13:46:14.5459549Z",
      "last_login_attempt_date": "2021-03-01T11:05:45.160121Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-07-05T18:13:01.3477669Z",
          "modified_date": "2020-11-22T00:36:12.66372Z",
          "customer_id": 1443,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Robin",
          "last_name": "Frami",
          "company": "Crist and Sons",
          "address": "53100 Ines Ville",
          "address2": "Greenborough",
          "town": "Klingview",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "IL8 2ID",
          "telephone": "568.633.1580",
          "fax": "720-593-9402 x14213"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/settings/domains": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get the current Primary Domain",
        "operationId": "Domains_GetPrimaryDomain",
        "responses": {
          "200": {
            "description": "The primary domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1DomainName"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "primary_domain_name": "andreanne.net"
  }
}
              }
            }
          },
          "404": {
            "description": "No primary domain found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Domain not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v2/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get an order by ID",
        "operationId": "Orders_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The order ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV2Order"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 897,
    "order_number": "htuoq9fmaccpn9ca",
    "order_date": "1968-07-28T12:30:22.660615Z",
    "is_confirmed": true,
    "sub_total": 0.9016773458112392,
    "total_delivery": 0.2559909984730142,
    "total_tax": 0.2049364541680256,
    "total_cost": 0.44491043661018387,
    "status": "DECLINED",
    "payment_status": "UNKNOWN",
    "delivery_method": "",
    "transaction_id": "5756cae5-ddac-4328-a231-8a4bd054d3ad",
    "transaction_status": "",
    "order_type": "",
    "use_shipping_address": true,
    "shipping_address": {
      "first_name": "Kim",
      "last_name": "O\u0027Kon",
      "id": 874878026,
      "created_date": "2020-04-28T14:29:14.648123Z",
      "modified_date": "2020-04-16T01:55:43.7669561Z",
      "customer_id": -1808274673,
      "is_preferred_billing_address": false,
      "is_preferred_shipping_address": true,
      "company": "Kutch, Carroll and Steuber",
      "address": "08033 Alda Fork",
      "address2": "Kamronville",
      "town": "Lake Nyasia",
      "county": "Borders",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": "OE5 3RO",
      "telephone": "342-693-1717",
      "fax": "1-954-979-1423 x266"
    },
    "internal_notes": "This is an internal order note.\n\nThis is another internal order note.",
    "customer_facing_notes": "This is an order note.\n\nThis is another order note.",
    "emailed": false,
    "discounts": "",
    "discounts_total": 0.0,
    "shipping_company": "UPS",
    "ip_address": "127.0.0.1",
    "guid": "5b004b6a-fdf8-96d8-7d1e-c32993358835",
    "last_updated": null,
    "delivery_tax_rate": null,
    "delivery_includes_tax": null,
    "custom_fields_total": null,
    "custom_fields_tax_total": null,
    "customer_details": {
      "customer_id": -480551878,
      "email_address": "Maggie62@gmail.com",
      "first_name": "Kim",
      "last_name": "O\u0027Kon",
      "company": "Grimes and Sons",
      "address": "42941 Etha River",
      "address2": "Strackemouth",
      "town": "Ewaldfort",
      "county": "Buckinghamshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": "JV3 4PV",
      "telephone": "422.639.2255 x23806",
      "fax": "249-774-6882 x1453",
      "billing_address_verified": true
    },
    "custom_fields": null,
    "delivery_tracking_number": null,
    "delivery_tracking_company": null,
    "delivery_tracking_url": null
  }
}
              }
            }
          },
          "404": {
            "description": "No Order was found for the requested ID",
            "content": {
              "application/json": {
                "schema": {
[...]
