{
  "openapi": "3.0.1",
  "info": {
    "title": "EKM Partner API",
    "description": "Our new API allows partners to build significantly better integrations with the EKM platform.\r\n\r\nTo try out the below endpoints, or for full up to date representations of the request / response models, please see the [swagger page](https://api.ekm.net/swagger/index.html). (We display examples here, but the swagger page is guaranteed to show the complete model.)\r\n\r\nTo keep up to date with the latest updates, please see our [RSS feed](https://partners.ekm.net/ChangeLog/Feed) or the [partner dashboard](https://partners.ekm.net/).",
    "contact": {
      "name": "EKM",
      "url": "https://ekm.com",
      "email": "api-support@ekm.com"
    },
    "version": "Latest",
    "x-logo": {
      "url": "/images/ekm-logo-vector-RGB-1920x1080.png",
      "backgroundColor": "#fafafa"
    }
  },
  "servers": [
    {
      "url": "https://api.ekm.net"
    }
  ],
  "paths": {
    "/api/v1/categories/{id}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a category",
        "operationId": "Categories_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The chosen category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 130,
    "name": "EKM - ducimus",
    "description": "Suscipit libero repudiandae fugit tenetur. Eum ea animi et dolores maxime. Laborum possimus fuga qui qui. Esse tenetur porro recusandae aliquid cupiditate consectetur consectetur sint. Et reiciendis sit maiores perferendis vel sint. Tempora perferendis sint ea repudiandae minus consectetur ut inventore.",
    "in_category_description": "Aut in eos incidunt harum. Ex et minus natus officia voluptas. Enim eum cum cupiditate.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Categories"
        ],
        "summary": "Update a category",
        "operationId": "Categories_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 131,
    "name": "EKM - ipsam",
    "description": "Incidunt quo consequatur deserunt vel. Inventore ipsa maiores quod ducimus totam aspernatur officiis esse repellat. Placeat omnis natus. Voluptas amet magnam quidem magnam porro quae dicta. Nam officia ullam. Dicta voluptatem voluptas ut pariatur minus quis ipsam harum.",
    "in_category_description": "Quia nam voluptas. Eum et omnis omnis velit est totam et iste tenetur. Sit aut tenetur molestiae. Vero ipsum ad. Voluptatem ut autem eveniet illum consectetur nisi magni consectetur. Sint qui reprehenderit voluptatem.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Delete a category",
        "operationId": "Categories_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of categories",
        "operationId": "Categories_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - aliquam",
      "description": "Eum aspernatur numquam dolorum laborum quia ipsam est omnis commodi. Nihil sint aliquam tenetur reprehenderit. Placeat mollitia qui aut earum aut voluptatem. Praesentium quam iusto ut temporibus.",
      "in_category_description": "Atque amet doloremque quasi inventore ipsum ut accusantium. Ipsum ut eum maiores molestiae ad. Error adipisci at ea distinctio dolorum consequatur rerum sunt hic. Voluptatem temporibus debitis sit omnis. Distinctio eius qui modi aut sit consequatur. Similique nisi impedit cum.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - sit",
      "description": "Sit sed accusamus ut itaque blanditiis eaque et sit ratione. Odit rerum iure labore animi doloribus molestias voluptas quia quia. Expedita nobis eos corrupti adipisci explicabo ad. Non voluptates tempore autem ut.",
      "in_category_description": "Quo dolorem quae. Aliquid unde beatae ut tempora deleniti qui. Maxime quisquam dolorem at tenetur.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - cumque",
      "description": "Amet atque qui voluptatem rerum deserunt rerum itaque quasi iusto. Quam doloribus deserunt voluptatem nobis veniam cumque. Asperiores culpa dolor quidem consequatur quis voluptas provident sunt. Illo porro cum. Quis illum ex quis dolor.",
      "in_category_description": "Nam qui fugiat autem ut ea suscipit voluptatem sunt. Sunt aliquam nulla facilis ullam voluptate. Dignissimos saepe dolor inventore enim saepe sit porro fugiat. Dolorum est quibusdam. Et voluptatem explicabo sit odio.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - hic",
      "description": "Delectus molestiae vel. Iste deleniti laudantium. Nobis quasi velit molestias non rerum et cumque aliquid. Vel architecto dolores ipsam. Autem omnis quia quasi incidunt facere ipsam eos. Consequatur voluptate non placeat cum enim.",
      "in_category_description": "Magnam consequatur voluptate unde commodi quis eum. Cupiditate reprehenderit reiciendis consectetur dolores assumenda ut. Quo consequatur modi vel voluptate ut architecto consequatur. Tenetur quas occaecati a.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - placeat",
      "description": "Voluptates minima dolorem. Voluptates dolorem perferendis corrupti. Blanditiis nihil commodi suscipit libero quia ut molestias minima.",
      "in_category_description": "Dicta a magni sit non eaque suscipit voluptate. Eos distinctio est consequatur itaque veniam vero earum assumenda. Perspiciatis doloribus id officia tenetur non quo aperiam.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Add a category",
        "operationId": "Categories_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 137,
    "name": "EKM - perspiciatis",
    "description": "Perferendis cum quo aliquid tenetur. Ratione consequatur sed officiis fugiat id cumque recusandae autem recusandae. In iure totam nostrum id ut dolores nobis aliquid quis. Corrupti eius alias autem. Occaecati nulla maiores veritatis perferendis voluptatibus voluptas impedit dolores.",
    "in_category_description": "Quo eum aperiam et nesciunt mollitia porro harum sequi. Aut minima dolores numquam. Id culpa aut voluptatem voluptatibus accusamus eaque eum. Sunt consequatur accusamus voluptatibus. Inventore possimus sequi dolorem tempore dolor.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/search": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Searches categories based on search criteria",
        "operationId": "Categories_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. live eq true",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - ullam",
      "description": "Sit saepe quas consequatur rerum et perspiciatis error. Nulla ut autem placeat id illum qui repellat tempore. Pariatur error aliquid qui minus numquam explicabo. Illum fugit laudantium et consequatur quis.",
      "in_category_description": "Nihil deleniti et in non quidem cupiditate a voluptatem quidem. Enim voluptatem laboriosam. Tempore aut maxime totam sequi libero dolorem. Voluptatem perspiciatis non qui qui iure velit voluptatibus sunt. Dolor reprehenderit odit et ad nisi numquam ipsa reprehenderit impedit. Dolor repellendus eum.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - deleniti",
      "description": "Quia dolorum qui quo quis quaerat quo ut vero. Voluptates quasi sunt. Et hic molestiae et rerum voluptatum quia. In magnam aut minima praesentium tempore aut omnis dolorem. Sint animi sunt ea.",
      "in_category_description": "Quos dolores reprehenderit voluptatem. Nisi nemo ut illum aspernatur dignissimos. Ex qui sed inventore. Corrupti eius similique animi aut et eaque.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - quis",
      "description": "Distinctio sequi aut sint. Cum quaerat facere consequatur vitae. Esse inventore rerum.",
      "in_category_description": "Ea tempora placeat ea nobis quo. Maiores animi eos nihil sunt deleniti sit ex omnis. Dolorem facilis vel nulla culpa.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - voluptatem",
      "description": "Reprehenderit est reiciendis. Quasi neque dolorum praesentium omnis dignissimos vel. Eligendi quos hic exercitationem maiores sint sequi aut. Enim deleniti qui magnam explicabo saepe ullam voluptas. Omnis architecto adipisci corporis exercitationem maiores aut.",
      "in_category_description": "Reiciendis vitae fugit molestiae necessitatibus ut voluptatem. Tempore optio occaecati eos nam repellat culpa velit. Dolore magnam suscipit. Enim quia magni itaque nam id et iure velit sapiente.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - esse",
      "description": "Dolor necessitatibus sunt ut officia amet. Totam eius animi. Possimus aut beatae et saepe quia quod et quasi. Impedit omnis voluptatibus doloribus tempora et quisquam. Voluptatum id aut minima.",
      "in_category_description": "Est quo est distinctio veritatis ut molestias ab quisquam. Sit omnis distinctio vel dolores. Eius repellendus excepturi. Totam magni deserunt ex commodi eum vel tempora maxime.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/subcategories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of subcategories",
        "operationId": "Categories_Subcategories",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of subcategories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1SubCategory"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "parent_category_id": 2,
      "category_id": 1,
      "name": "EKM - eos",
      "description": "Fugiat quaerat molestiae illo ea vitae. Fugiat quae expedita eaque expedita consequatur tempore. Voluptates maxime qui sint. Voluptas ducimus aliquid natus dolore. Ullam cum vero minima nemo eos.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 4,
      "category_id": 2,
      "name": "EKM - et",
      "description": "Ea rerum odio dolorum eos eius soluta dolor. Sunt recusandae unde est et rem atque exercitationem nisi. Quo eum et consequatur consequatur doloribus. Necessitatibus reiciendis assumenda aliquid dolor ipsa aut hic quod. Corporis fugiat vel.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 6,
      "category_id": 3,
      "name": "EKM - aspernatur",
      "description": "Sed totam enim et est iusto eum quibusdam. Sint modi doloribus. Dolores occaecati harum et ex.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 8,
      "category_id": 4,
      "name": "EKM - voluptas",
      "description": "Laudantium repudiandae saepe. Quod quas ducimus dolor praesentium delectus. Et porro consequatur eveniet dolores. Quia blanditiis deserunt. Laboriosam distinctio illum fugit laborum et quas libero sed voluptatem.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 10,
      "category_id": 5,
      "name": "EKM - est",
      "description": "Architecto iste quam quam et recusandae itaque et. Unde non commodi dolorum magni dolorum eos. Sit accusamus odit ipsa consequuntur aliquam architecto. Magni quaerat earum molestias quaerat.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/categorymanaged/{childCategoryId}": {
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Set a category to be managed by another category",
        "operationId": "Categories_SetCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The added managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "parent_category_id": 1,
    "category_id": 10,
    "name": "Subcategory",
    "description": null,
    "order_location": 99999,
    "live": true,
    "is_category_managed": true
  }
}
              }
            }
          },
          "400": {
            "description": "A subcategory or managed category already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category or child category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Stops a category from being managed by another category",
        "operationId": "Categories_DeleteCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The removed managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No managed category found for that child category ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/filters": {
      "put": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_UpdateCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CategoryFilters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "get": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_GetCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CategoryFilters"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/{addressId}": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a single Customer Address by Id",
        "operationId": "CustomerAddresses_GetById",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-12-24T12:27:54.4114241Z",
    "modified_date": "2021-03-14T09:58:07.7315464Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Marquise",
    "last_name": "Hauck",
    "company": "Swaniawski, Heathcote and Kirlin",
    "address": "3073 Aniya Glens",
    "address2": null,
    "town": "Madisenborough",
    "county": "Buckinghamshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "1-991-785-6892",
    "fax": "930-476-9126 x4158"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Update a Customer Address",
        "operationId": "CustomerAddresses_Update",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2021-02-26T09:07:05.3572647Z",
    "modified_date": "2020-10-06T16:10:18.9067602Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Elissa",
    "last_name": "Kunde",
    "company": "Hand Inc",
    "address": "09516 Connelly Crossroad",
    "address2": null,
    "town": "Klingborough",
    "county": "Avon",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "1-686-624-5464 x2648",
    "fax": "696.811.5559 x17471"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Delete a Customer Address",
        "operationId": "CustomerAddresses_Delete",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer Address deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-10-10T14:23:22.4858109Z",
    "modified_date": "2020-06-28T01:00:43.283845Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Sheridan",
    "last_name": "Okuneva",
    "company": "Kling - Lubowitz",
    "address": "9784 Murray River",
    "address2": null,
    "town": "Makenzieland",
    "county": "Avon",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "1-685-719-3717",
    "fax": "737-531-7600"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a paginated set of Customer Addresses",
        "operationId": "CustomerAddresses_GetAll",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customer Addresses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 0,
      "created_date": "2020-04-11T14:30:52.8219973Z",
      "modified_date": "2020-10-21T18:56:52.9595001Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Louie",
      "last_name": "Harvey",
      "company": "Aufderhar, Armstrong and Jacobs",
      "address": "0573 Fermin Roads",
      "address2": null,
      "town": "Archborough",
      "county": "Bedfordshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "(460) 243-0039",
      "fax": "(209) 231-5062 x466"
    },
    {
      "id": 0,
      "created_date": "2020-05-28T09:31:11.7385923Z",
      "modified_date": "2021-01-17T03:59:19.8185176Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Julio",
      "last_name": "Feil",
      "company": "Schaefer - Gleichner",
      "address": "405 Maryam Unions",
      "address2": null,
      "town": "Goldenburgh",
      "county": "Avon",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "(758) 906-5258 x83900",
      "fax": "293-211-1824 x6450"
    },
    {
      "id": 0,
      "created_date": "2020-04-25T09:05:14.3221174Z",
      "modified_date": "2020-09-11T04:38:12.694552Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Maybelle",
      "last_name": "Marquardt",
      "company": "Kub, Fisher and Kirlin",
      "address": "31339 Carter Corners",
      "address2": null,
      "town": "North Shanna",
      "county": "Borders",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "1-476-886-5590",
      "fax": "(568) 917-5380 x1107"
    },
    {
      "id": 0,
      "created_date": "2020-08-31T03:15:33.8504144Z",
      "modified_date": "2020-11-26T03:22:17.5342595Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Monte",
      "last_name": "Stokes",
      "company": "Metz Group",
      "address": "766 Becker Radial",
      "address2": null,
      "town": "Lake Aurelia",
      "county": "Berkshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "357.765.4621 x66880",
      "fax": "259.784.7010 x771"
    },
    {
      "id": 0,
      "created_date": "2020-04-24T18:51:30.1139839Z",
      "modified_date": "2021-01-28T06:10:37.3990975Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Tito",
      "last_name": "Frami",
      "company": "Stiedemann, Romaguera and Greenfelder",
      "address": "927 Veum Falls",
      "address2": null,
      "town": "West Pearlinehaven",
      "county": "Borders",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "1-554-217-9465",
      "fax": "767.650.1121 x3167"
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Add a Customer Address",
        "operationId": "CustomerAddresses_Create",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2021-01-30T14:47:23.9985098Z",
    "modified_date": "2020-10-03T00:50:17.7532267Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Amelie",
    "last_name": "Dietrich",
    "company": "Lynch LLC",
    "address": "69890 Kristin Court",
    "address2": null,
    "town": "Croninport",
    "county": "Berkshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "926.773.0098 x716",
    "fax": "628.944.4599 x41313"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/search": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Searches customer addresses based on search criteria",
        "operationId": "CustomerAddresses_Search",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customer adresses based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 190,
      "email_address": "Miguel.Reilly9@yahoo.com",
      "first_name": "Terrance",
      "last_name": "Ebert",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-11-20T04:21:55.018325Z",
      "modified_date": "2020-05-21T16:41:06.8872449Z",
      "last_login_date": "2020-06-04T03:41:38.8006035Z",
      "last_login_attempt_date": "2020-11-23T10:42:17.2773329Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-01-17T06:33:53.4153904Z",
          "modified_date": "2021-01-05T17:55:21.3893273Z",
          "customer_id": 190,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Emilia",
          "last_name": "Altenwerth",
          "company": "Gislason - Ziemann",
          "address": "4815 Rau Manor",
          "address2": "Carolinechester",
          "town": "West Drewville",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "GH0 3PV",
          "telephone": "(929) 522-9626",
          "fax": "1-814-848-6547 x1649"
        }
      ]
    },
    {
      "id": 191,
      "email_address": "Charlene_Robel@gmail.com",
      "first_name": "Stephanie",
      "last_name": "Stark",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-06-02T03:40:27.2210127Z",
      "modified_date": "2020-09-27T19:32:21.4385491Z",
      "last_login_date": "2020-05-04T23:26:29.8430253Z",
      "last_login_attempt_date": "2020-07-30T12:05:39.6379463Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-01-17T09:35:59.3314231Z",
          "modified_date": "2021-02-25T14:03:13.4014533Z",
          "customer_id": 191,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Camryn",
          "last_name": "Torphy",
          "company": "Johnson - Koss",
          "address": "550 Murazik Lodge",
          "address2": "New Sarinaberg",
          "town": "Bahringerchester",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "DX8 2NZ",
          "telephone": "300.610.3478",
          "fax": "230-881-1861 x618"
        }
      ]
    },
    {
      "id": 192,
      "email_address": "Mandy.Tromp@hotmail.com",
      "first_name": "Everett",
      "last_name": "Pfannerstill",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-09-25T08:06:51.8036522Z",
      "modified_date": "2021-03-17T13:23:23.0232972Z",
      "last_login_date": "2021-03-12T13:34:30.4344842Z",
      "last_login_attempt_date": "2021-01-30T13:50:58.733772Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-10-14T05:14:26.5662316Z",
          "modified_date": "2020-10-12T15:21:23.9655412Z",
          "customer_id": 192,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Kaya",
          "last_name": "Conroy",
          "company": "Rodriguez - Green",
          "address": "0484 Trinity Port",
          "address2": "South Felicitahaven",
          "town": "Hillltown",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "QJ7 8QW",
          "telephone": "1-586-370-0238 x71410",
          "fax": "496-346-3003"
        }
      ]
    },
    {
      "id": 193,
      "email_address": "Dana28@yahoo.com",
      "first_name": "Dwight",
      "last_name": "Yost",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-05-20T23:18:37.3879205Z",
      "modified_date": "2021-01-22T17:15:53.5315608Z",
      "last_login_date": "2020-07-23T05:36:12.4649713Z",
      "last_login_attempt_date": "2020-04-16T11:29:11.0793779Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-03-12T05:17:35.5960959Z",
          "modified_date": "2021-01-19T10:52:54.758916Z",
          "customer_id": 193,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Bridgette",
          "last_name": "Frami",
          "company": "Davis, Green and Feil",
          "address": "9773 Rempel Bridge",
          "address2": "Grahamtown",
          "town": "New Leonorchester",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "FN5 3ES",
          "telephone": "1-517-835-2991 x23298",
          "fax": "1-411-615-1456 x18370"
        }
      ]
    },
    {
      "id": 194,
      "email_address": "Ebony.Mosciski46@yahoo.com",
      "first_name": "Alfonzo",
      "last_name": "Baumbach",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-12-20T02:25:36.6002415Z",
      "modified_date": "2020-04-11T05:42:09.7334543Z",
      "last_login_date": "2020-08-18T22:04:42.0975679Z",
      "last_login_attempt_date": "2020-10-13T11:45:54.3300349Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-05-22T12:51:00.0970733Z",
          "modified_date": "2020-04-19T06:33:46.4715309Z",
          "customer_id": 194,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Jerald",
          "last_name": "Williamson",
          "company": "Jakubowski, Schowalter and Roberts",
          "address": "7320 Kunze Shores",
          "address2": "Horaceview",
          "town": "West Shanamouth",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "LC2 1UQ",
          "telephone": "(717) 673-2191 x206",
          "fax": "1-872-471-3651 x03212"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a single Customer by Id",
        "operationId": "Customers_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Customers Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customers Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 195,
    "email_address": "Norma_Watsica@yahoo.com",
    "first_name": "Deshaun",
    "last_name": "Johnson",
    "order_count": 1,
    "loyalty_points": 1.0,
    "created_date": "2020-07-30T18:20:03.693989Z",
    "modified_date": "2020-09-28T01:44:25.9274593Z",
    "last_login_date": "2020-10-15T20:29:16.2230985Z",
    "last_login_attempt_date": "2020-08-21T17:12:41.2766098Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-06-28T18:43:23.3291786Z",
        "modified_date": "2021-03-24T15:07:05.7482794Z",
        "customer_id": 195,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Bernie",
        "last_name": "Muller",
        "company": "Parisian, Abernathy and Bergstrom",
        "address": "7045 Marquise Roads",
        "address2": "Linaborough",
        "town": "Runteshire",
        "county": "Cambridgeshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "XQ4 4XN",
        "telephone": "1-599-661-1972",
        "fax": "380.877.7981 x243"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update a Customer",
        "operationId": "Customers_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 196,
    "email_address": "Freda.Erdman@yahoo.com",
    "first_name": "Salma",
    "last_name": "Cassin",
    "order_count": 1,
    "loyalty_points": 1.0,
    "created_date": "2020-05-26T04:52:03.8348516Z",
    "modified_date": "2021-03-06T11:50:52.0529159Z",
    "last_login_date": "2020-06-02T11:05:37.9163083Z",
    "last_login_attempt_date": "2020-04-09T05:03:35.2315894Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-05-08T16:36:49.2725116Z",
        "modified_date": "2021-01-07T13:00:51.6490574Z",
        "customer_id": 196,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Dayana",
        "last_name": "Gerhold",
        "company": "Hermiston and Sons",
        "address": "441 Haley Crest",
        "address2": "North Colten",
        "town": "Gaylordfurt",
        "county": "Borders",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "YA2 7BM",
        "telephone": "962.968.2076 x401",
        "fax": "(735) 280-7700"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete a Customer",
        "operationId": "Customers_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 197,
    "email_address": "Malcolm.Corkery@yahoo.com",
    "first_name": "Stanton",
    "last_name": "Collins",
    "order_count": 0,
    "loyalty_points": 0.0,
    "created_date": "2020-10-20T16:47:43.9679672Z",
    "modified_date": "2020-05-14T11:41:59.770057Z",
    "last_login_date": "2020-09-11T08:52:29.0362438Z",
    "last_login_attempt_date": "2020-09-11T17:47:30.021064Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": true,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-12-08T03:50:36.7569602Z",
        "modified_date": "2020-07-02T14:10:49.449833Z",
        "customer_id": 197,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Lempi",
        "last_name": "Volkman",
        "company": "Macejkovic LLC",
        "address": "07267 Tillman Bypass",
        "address2": "Dedricfurt",
        "town": "West Maxime",
        "county": "Avon",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "IN1 3GL",
        "telephone": "1-672-330-7643 x11518",
        "fax": "1-526-620-1893"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a paginated set of Customers",
        "operationId": "Customers_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 198,
      "email_address": "Rochelle44@yahoo.com",
      "first_name": "Billie",
      "last_name": "Johnston",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-03-31T16:49:28.1568797Z",
      "modified_date": "2020-09-03T16:44:44.4671312Z",
      "last_login_date": "2020-09-12T03:37:50.1475443Z",
      "last_login_attempt_date": "2021-04-01T22:37:38.9394974Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-08-10T21:28:25.2432628Z",
          "modified_date": "2020-12-14T11:11:23.2768177Z",
          "customer_id": 198,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Quentin",
          "last_name": "Romaguera",
          "company": "Schoen LLC",
          "address": "020 Kling Springs",
          "address2": "Timmothyton",
          "town": "Samirberg",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "YN7 3RM",
          "telephone": "759-498-3265 x7745",
          "fax": "1-224-335-2451 x146"
        }
      ]
    },
    {
      "id": 199,
      "email_address": "Fernando.Runolfsson@yahoo.com",
      "first_name": "Connie",
      "last_name": "Batz",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2021-01-04T20:53:46.4052076Z",
      "modified_date": "2020-09-16T08:48:55.8665804Z",
      "last_login_date": "2020-07-08T19:41:58.897883Z",
      "last_login_attempt_date": "2021-03-28T14:23:52.178389Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-10-23T18:51:32.6231518Z",
          "modified_date": "2020-11-27T15:38:46.2771252Z",
          "customer_id": 199,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Fae",
          "last_name": "Dibbert",
          "company": "Schmitt, Frami and Champlin",
          "address": "095 Mariam Bypass",
          "address2": "Cassinland",
          "town": "Port Adriel",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "NU1 2XM",
          "telephone": "(623) 290-8530 x768",
          "fax": "222-820-8785"
        }
      ]
    },
    {
      "id": 200,
      "email_address": "Lois29@gmail.com",
      "first_name": "Hollis",
      "last_name": "O\u0027Keefe",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-04-17T19:03:31.4581708Z",
      "modified_date": "2020-09-21T01:24:57.6900319Z",
      "last_login_date": "2020-04-23T12:02:59.7780012Z",
      "last_login_attempt_date": "2020-11-21T07:28:24.2655195Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-06-21T10:30:46.1022905Z",
          "modified_date": "2020-06-19T16:08:55.7141967Z",
          "customer_id": 200,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Makayla",
          "last_name": "Kihn",
          "company": "Brown Inc",
          "address": "5445 Gussie Village",
          "address2": "Aurelioburgh",
          "town": "Port Emilmouth",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "PA0 3JW",
          "telephone": "(656) 629-3733 x32101",
          "fax": "311.897.3625 x9765"
        }
      ]
    },
    {
      "id": 201,
      "email_address": "Willie83@gmail.com",
      "first_name": "Annamarie",
      "last_name": "Erdman",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2021-02-04T14:32:09.5669848Z",
      "modified_date": "2020-12-24T23:09:10.9965668Z",
      "last_login_date": "2021-03-29T20:38:11.2414275Z",
      "last_login_attempt_date": "2020-11-25T08:37:17.4095657Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-05-21T01:22:46.8087679Z",
          "modified_date": "2020-10-20T00:49:57.3489621Z",
          "customer_id": 201,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Muriel",
          "last_name": "Rath",
          "company": "Roob and Sons",
          "address": "23579 Dortha Bypass",
          "address2": "Borerbury",
          "town": "Luciechester",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "LF4 3ZQ",
          "telephone": "478.757.9925 x05455",
          "fax": "1-947-447-4644"
        }
      ]
    },
    {
      "id": 202,
      "email_address": "Barry.Grant@hotmail.com",
      "first_name": "Quincy",
      "last_name": "O\u0027Kon",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-11-03T18:36:28.0260545Z",
      "modified_date": "2020-10-13T23:57:15.3993054Z",
      "last_login_date": "2020-08-03T04:24:30.810989Z",
      "last_login_attempt_date": "2020-04-17T22:30:35.3127649Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-07-09T18:57:42.9841759Z",
          "modified_date": "2020-10-12T02:11:36.1164501Z",
          "customer_id": 202,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Lela",
          "last_name": "Keeling",
          "company": "Barrows - Botsford",
          "address": "58100 Brice Squares",
          "address2": "South Odaport",
          "town": "Elfriedafurt",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "PJ3 1DR",
          "telephone": "(636) 848-3792 x525",
          "fax": "1-251-863-8914"
        }
      ]
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Add a customer",
        "description": "Note: setting send_email to true will send an email to the customer prompting them to create a password",
        "operationId": "Customers_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 203,
    "email_address": "Karl_Wisozk47@hotmail.com",
    "first_name": "Giovanny",
    "last_name": "Eichmann",
    "order_count": 0,
    "loyalty_points": 1.0,
    "created_date": "2020-09-01T09:10:34.379855Z",
    "modified_date": "2020-08-22T00:06:02.0774784Z",
    "last_login_date": "2021-02-06T20:32:34.3459899Z",
    "last_login_attempt_date": "2020-06-05T21:51:28.7671759Z",
    "locked": true,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2021-03-22T09:18:45.2532701Z",
        "modified_date": "2020-07-27T09:10:53.9887071Z",
        "customer_id": 203,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Otto",
        "last_name": "Williamson",
        "company": "Kshlerin - Metz",
        "address": "94899 Maggio Lodge",
        "address2": "Ivachester",
        "town": "Pourosshire",
        "county": "Cambridgeshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "NA7 7EG",
        "telephone": "367-835-4993 x31259",
        "fax": "1-301-383-9666 x9150"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/search": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Searches customers based on search criteria",
        "operationId": "Customers_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customers based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 204,
      "email_address": "Donald_Leffler63@yahoo.com",
      "first_name": "Astrid",
      "last_name": "Wolf",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-11-18T12:24:36.678941Z",
      "modified_date": "2020-10-11T15:48:58.342504Z",
      "last_login_date": "2020-07-16T22:08:50.6248034Z",
      "last_login_attempt_date": "2020-07-11T22:31:45.1967095Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-08-30T07:55:16.4339435Z",
          "modified_date": "2020-05-26T17:27:05.5979769Z",
          "customer_id": 204,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Ubaldo",
          "last_name": "Shanahan",
          "company": "Jenkins - Kub",
          "address": "674 Lloyd Row",
          "address2": "Port Pasqualechester",
          "town": "Grimesberg",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "UM8 0YC",
          "telephone": "1-811-474-6850 x72440",
          "fax": "792-366-1470"
        }
      ]
    },
    {
      "id": 205,
      "email_address": "Theodore56@hotmail.com",
      "first_name": "Lexi",
      "last_name": "Hyatt",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-12-13T15:12:54.5901987Z",
      "modified_date": "2020-05-24T20:47:26.1361666Z",
      "last_login_date": "2020-06-18T08:34:28.3018629Z",
      "last_login_attempt_date": "2020-09-22T12:33:10.6047127Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-12-09T11:32:05.9531485Z",
          "modified_date": "2020-04-08T02:59:39.8963953Z",
          "customer_id": 205,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Stewart",
          "last_name": "Hand",
          "company": "Jaskolski, Pacocha and Quigley",
          "address": "23762 Kenyon Prairie",
          "address2": "Collinsmouth",
          "town": "Ewaldshire",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "KQ0 7GB",
          "telephone": "(614) 845-4244 x72579",
          "fax": "797.666.8757"
        }
      ]
    },
    {
      "id": 206,
      "email_address": "Rose.Kiehn@yahoo.com",
      "first_name": "Kim",
      "last_name": "Quitzon",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-10-11T09:57:26.6999545Z",
      "modified_date": "2021-03-10T11:37:50.5017374Z",
      "last_login_date": "2020-07-01T02:19:51.5619588Z",
      "last_login_attempt_date": "2020-06-02T00:13:55.3230381Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-04-26T23:56:57.4886514Z",
          "modified_date": "2020-10-31T00:29:19.4785745Z",
          "customer_id": 206,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Moses",
          "last_name": "Gerhold",
          "company": "McKenzie Inc",
          "address": "00877 Melvina Course",
          "address2": "Rueckerport",
          "town": "Jeromehaven",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "JY1 3ZB",
          "telephone": "(224) 670-4276 x96994",
          "fax": "1-963-763-7482 x23416"
        }
      ]
    },
    {
      "id": 207,
      "email_address": "Wilfred87@yahoo.com",
      "first_name": "Rocio",
      "last_name": "Fay",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2020-10-19T18:25:47.3367774Z",
      "modified_date": "2020-10-16T23:01:49.1057763Z",
      "last_login_date": "2020-09-26T18:44:16.5657673Z",
      "last_login_attempt_date": "2021-02-02T12:10:29.5710907Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-10-05T07:38:08.2830093Z",
          "modified_date": "2020-10-16T13:43:25.6798509Z",
          "customer_id": 207,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Saige",
          "last_name": "Boyle",
          "company": "Homenick - Runolfsdottir",
          "address": "1308 Wilfredo Parks",
          "address2": "Lake Piercestad",
          "town": "Abshirefort",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "ZP4 1VH",
          "telephone": "976-578-3628 x5568",
          "fax": "209-909-2791"
        }
      ]
    },
    {
      "id": 208,
      "email_address": "Luther.Gutmann@yahoo.com",
      "first_name": "Mittie",
      "last_name": "McCullough",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-11-05T14:05:02.1052612Z",
      "modified_date": "2020-10-19T14:30:15.1804891Z",
      "last_login_date": "2020-07-07T02:43:28.1152963Z",
      "last_login_attempt_date": "2020-08-17T12:15:22.1807711Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-06-23T20:56:23.3142681Z",
          "modified_date": "2021-02-26T21:56:34.1872337Z",
          "customer_id": 208,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Sammy",
          "last_name": "Mayert",
          "company": "Gleason Group",
          "address": "524 Heaven Locks",
          "address2": "New Gersonshire",
          "town": "South Petra",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "BK6 3UX",
          "telephone": "(932) 677-1728 x7003",
          "fax": "888.609.4675"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/settings/domains": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get the current Primary Domain",
        "operationId": "Domains_GetPrimaryDomain",
        "responses": {
          "200": {
            "description": "The primary domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1DomainName"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "primary_domain_name": "fernando.net"
  }
}
              }
            }
          },
          "404": {
            "description": "No primary domain found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Domain not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v2/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get an order by ID",
        "operationId": "Orders_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The order ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV2Order"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 91,
    "order_number": "h6a7r1cm9qee5875",
    "order_date": "2019-07-16T13:27:24.3809818Z",
    "is_confirmed": false,
    "sub_total": 0.7066375197407965,
    "total_delivery": 0.6918045122603906,
    "total_tax": 0.5574299998383178,
    "total_cost": 0.9063932164136289,
    "status": "DISPATCHED",
    "payment_status": "SUCCESS",
    "delivery_method": "",
    "transaction_id": "e4842d47-25a6-4dd3-98b4-51fffb2b1ffc",
    "transaction_status": "",
    "order_type": "",
    "use_shipping_address": true,
    "shipping_address": {
      "first_name": "Patty",
      "last_name": "Kunde",
      "id": -1845995561,
      "created_date": "2020-07-22T19:11:05.8367094Z",
      "modified_date": "2020-07-07T06:19:22.788704Z",
      "customer_id": 764208922,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": false,
      "company": "Ryan LLC",
      "address": "960 Kunze Fields",
      "address2": "Michaleborough",
      "town": "Lynchburgh",
      "county": "Cambridgeshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": "QT7 7PW",
      "telephone": "1-676-367-6832",
      "fax": "1-490-277-5236 x09264"
    },
    "internal_notes": "This is an internal order note.\n\nThis is another internal order note.",
    "customer_facing_notes": "This is an order note.\n\nThis is another order note.",
    "emailed": false,
    "discounts": "",
    "discounts_total": 0.0,
    "shipping_company": "UPS",
    "ip_address": "127.0.0.1",
    "guid": "47cfe23c-6de4-ac6b-7969-8c877ab4f92e",
    "last_updated": null,
    "delivery_tax_rate": null,
    "delivery_includes_tax": null,
    "custom_fields_total": null,
    "custom_fields_tax_total": null,
    "customer_details": {
      "customer_id": -1492704517,
      "email_address": "Talon12@gmail.com",
      "first_name": "Patty",
      "last_name": "Kunde",
      "company": "Keebler - Frami",
      "address": "04817 McDermott Island",
      "address2": "North Marge",
      "town": "Marciamouth",
      "county": "Berkshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": "WK2 3YJ",
      "telephone": "(699) 837-7377",
      "fax": "1-935-684-4303 x96491",
      "billing_address_verified": true
    },
    "custom_fields": null,
    "delivery_tracking_number": null,
    "delivery_tracking_company": null,
    "delivery_tracking_url": null
  }
}
              }
            }
          },
          "404": {
            "description": "No Order was found for the requested ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
[...]
