{
  "openapi": "3.0.1",
  "info": {
    "title": "EKM Partner API",
    "description": "Our new API allows partners to build significantly better integrations with the EKM platform.\r\n\r\nTo try out the below endpoints, or for full up to date representations of the request / response models, please see the [swagger page](https://api.ekm.net/swagger/index.html). (We display examples here, but the swagger page is guaranteed to show the complete model.)\r\n\r\nTo keep up to date with the latest updates, please see our [RSS feed](https://partners.ekm.net/ChangeLog/Feed) or the [partner dashboard](https://partners.ekm.net/).",
    "contact": {
      "name": "EKM",
      "url": "https://ekm.com",
      "email": "api-support@ekm.com"
    },
    "version": "Latest",
    "x-logo": {
      "url": "/images/ekm-logo-vector-RGB-1920x1080.png",
      "backgroundColor": "#fafafa"
    }
  },
  "servers": [
    {
      "url": "https://api.ekm.net"
    }
  ],
  "paths": {
    "/api/v1/categories/{id}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a category",
        "operationId": "Categories_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The chosen category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 494,
    "name": "EKM - dignissimos",
    "description": "Nostrum quaerat consequatur numquam ut qui maiores et eos beatae. Perferendis est praesentium quibusdam harum dignissimos officiis cum cupiditate. Placeat provident ut atque iusto delectus voluptate. Nihil aut minus. Magni facere consequatur eligendi.",
    "in_category_description": "Non consequatur omnis voluptatem. In ut voluptatem vel et odit. Id voluptas quia atque ut. Perspiciatis minus fugiat corrupti in nulla et ad. Aut deleniti nihil.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Categories"
        ],
        "summary": "Update a category",
        "operationId": "Categories_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 495,
    "name": "EKM - autem",
    "description": "Facilis voluptatem nesciunt sapiente animi dolores accusamus rerum veniam. Corrupti ut quis quasi. Dicta est non minima voluptatem recusandae qui eaque temporibus impedit. Quia voluptatem minus tempore odit consequuntur dolorem iste. Et delectus cupiditate. Deserunt tempore repellendus unde suscipit dicta officiis veritatis quia fugit.",
    "in_category_description": "Quos sint autem nulla dolore aut consequatur aliquam aut. Unde non laborum. Ea aut vel. Ut quia consequuntur enim nobis voluptatum ratione pariatur nihil nihil. Expedita sint sed perferendis nulla laborum laborum autem impedit.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Delete a category",
        "operationId": "Categories_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of categories",
        "operationId": "Categories_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - voluptas",
      "description": "Ut veritatis qui consequuntur in itaque quis. Quasi dolore tempora assumenda animi nihil modi eum. Cumque in voluptate distinctio quam. Explicabo nisi velit voluptas. Placeat et odit dolores nulla occaecati.",
      "in_category_description": "Aut ut sunt repudiandae. Reiciendis omnis voluptate est iusto esse. Reprehenderit dolor inventore aut. Explicabo itaque pariatur quo corrupti dolor. Ipsum at reiciendis rerum qui explicabo. Beatae nulla perferendis qui delectus magni atque doloribus nobis distinctio.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - illum",
      "description": "Repellendus fuga ipsa delectus quis explicabo eligendi placeat qui aut. Laborum similique adipisci maxime error. Sed voluptatem mollitia sint laboriosam exercitationem vel illo sunt debitis. Odit magnam amet sit vitae officiis deserunt perspiciatis vel perferendis.",
      "in_category_description": "In quia quos. Rerum fugit in recusandae id molestiae nobis ut omnis. Reprehenderit ducimus sit distinctio voluptates minima numquam qui facilis. Qui ex provident eligendi id.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - sed",
      "description": "Pariatur eius adipisci nisi pariatur blanditiis quod itaque eligendi rerum. Soluta error est totam. Deleniti ratione non voluptatem aut. Eum libero non nesciunt perferendis veniam culpa impedit voluptas sed. Cumque est suscipit et ab animi debitis et. Officia enim molestias sapiente assumenda quia rerum voluptatem non praesentium.",
      "in_category_description": "Aut eos iure cupiditate vel eligendi odio. Ea voluptatibus et est consequatur et. Dolores et molestiae unde suscipit incidunt magni in natus neque. Iure voluptas in ipsam dolores accusamus perspiciatis. Qui eum hic. Labore voluptates iusto.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - laudantium",
      "description": "Et qui a et eius facere laborum. Repudiandae expedita consequatur placeat praesentium dolorem ea dolore corporis. Inventore ipsa corrupti placeat qui non ipsa. Sit natus consectetur rerum. Voluptas occaecati quibusdam voluptates nisi est atque dolorum facilis nihil.",
      "in_category_description": "Necessitatibus nihil quasi quis quia minus asperiores id quo voluptate. Sed ut soluta doloremque eos explicabo similique. Deserunt ad possimus. Incidunt nam repudiandae sit rerum illum reiciendis. Laboriosam assumenda quibusdam magnam modi ut.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - possimus",
      "description": "Velit aperiam veritatis ea rerum cum consequatur nam culpa. Non architecto est consequuntur cum dolores aut. Nihil quia porro aliquid temporibus vero asperiores incidunt ut.",
      "in_category_description": "Aut necessitatibus suscipit molestias tempora reprehenderit. Optio et veniam doloribus. Aliquid veritatis consectetur ducimus laboriosam est facilis sed fugit sed.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Add a category",
        "operationId": "Categories_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 501,
    "name": "EKM - magni",
    "description": "Aut nulla et sed commodi porro voluptas ut ut. Id consectetur error quam minus iusto odio vero natus. Ullam commodi nostrum mollitia velit expedita perspiciatis nihil.",
    "in_category_description": "Nobis omnis quis distinctio sed. Repellat quos aut similique distinctio consequatur sed. Blanditiis quaerat est ut repudiandae. Cum voluptatem similique suscipit omnis placeat omnis est. Impedit ipsum fuga repudiandae et sunt aut et et. Sit iusto rerum reiciendis asperiores.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/search": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Searches categories based on search criteria",
        "operationId": "Categories_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. live eq true",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - illo",
      "description": "Consequatur eos voluptatem aut. Temporibus nemo quidem nihil consectetur. Odit quis repellat aliquid cumque quia qui eaque sunt adipisci. Deleniti aliquid et sapiente.",
      "in_category_description": "Minus veniam in minima. Et perspiciatis molestias rerum dolorem. Fugiat est quis nam repellendus tenetur quibusdam recusandae amet dicta. Aut mollitia perferendis sed. Consequatur expedita et.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - sit",
      "description": "Veritatis ut eos. Tempore at accusamus qui voluptas inventore aliquid. Quia atque voluptates provident optio in quasi. Perspiciatis nesciunt corrupti.",
      "in_category_description": "Voluptatem ab qui id at voluptas consequatur culpa assumenda unde. Non ipsum veniam rerum veritatis minus. Amet qui explicabo consequatur. Qui ad sapiente in hic veniam sint et.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - velit",
      "description": "Voluptate et esse quo doloribus eius perspiciatis molestiae. Recusandae occaecati consequatur non fugit quia. Consequatur voluptates corporis accusantium rerum blanditiis voluptas enim praesentium necessitatibus. Eos exercitationem aliquam facilis aut accusamus. Debitis qui facilis sit aliquam delectus voluptates.",
      "in_category_description": "Temporibus dolorum enim et quis. Ipsam nihil asperiores aut harum maxime hic rem odit. Aspernatur omnis soluta et sit.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - nostrum",
      "description": "Doloribus labore voluptatibus quia. Expedita suscipit fugit quisquam dicta ut est consectetur praesentium. Aperiam voluptatibus unde est. Ut temporibus molestiae libero ut voluptas nesciunt consectetur tempora. Amet dolores quasi dolores dignissimos quae voluptas.",
      "in_category_description": "Suscipit omnis sint accusantium eos recusandae esse veritatis rerum fuga. Est quidem rerum est ut sed enim enim. Accusantium et ratione rerum dolor eveniet quae et inventore. Odit adipisci maiores. Ipsam dicta porro omnis et id quia cumque. Similique culpa necessitatibus omnis vero eum incidunt.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - et",
      "description": "Non saepe quo harum et pariatur sapiente. Quibusdam consequatur fuga sint qui distinctio consequatur voluptas animi sit. Dolore in distinctio quia voluptatibus in. Quis ut consectetur ut dolorem. Quis nam omnis id voluptatum blanditiis sunt repudiandae aut.",
      "in_category_description": "Optio saepe illo magni incidunt. Non dolor quae et corrupti tenetur unde. Vero illo voluptas natus et optio error. Pariatur qui temporibus aut. At ratione explicabo cupiditate qui. Laboriosam fuga dicta cupiditate quia inventore et distinctio.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/subcategories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of subcategories",
        "operationId": "Categories_Subcategories",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of subcategories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1SubCategory"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "parent_category_id": 2,
      "category_id": 1,
      "name": "EKM - qui",
      "description": "Aut quo tempora dolorem et in voluptas ex corrupti voluptatem. Sint ipsa voluptates laboriosam ut minima cum quidem tenetur. Ut tempora non rerum assumenda. Voluptatem quas vel eaque fugit in debitis. Beatae expedita aspernatur labore maxime. Ipsum expedita sunt culpa aut.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 4,
      "category_id": 2,
      "name": "EKM - quae",
      "description": "Impedit occaecati maiores illum dolorem optio sed atque sit. Nulla officiis laborum pariatur. Fugit facilis fugit neque facilis voluptatem eligendi sit. Necessitatibus dolorum aut est et harum. Est repudiandae ipsam autem nostrum ab exercitationem sunt sit.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 6,
      "category_id": 3,
      "name": "EKM - qui",
      "description": "Officiis reprehenderit officiis porro quia voluptatibus praesentium recusandae. Aut ut sunt sit laboriosam unde molestiae quia deserunt nulla. Eum iure quia a ullam inventore eum et ut. Voluptatibus sint tempore illo nemo quae perferendis. Dolor impedit adipisci cumque quo voluptas earum quod omnis hic.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 8,
      "category_id": 4,
      "name": "EKM - quas",
      "description": "Officia aut omnis aliquam corrupti. Repudiandae quam voluptatem mollitia reprehenderit. Blanditiis ut ab ut sapiente aperiam et. Corporis vel eos quidem nobis unde veniam sit iste minima.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 10,
      "category_id": 5,
      "name": "EKM - et",
      "description": "Quia qui eaque voluptates et qui omnis aspernatur atque sint. Et fugit eum. Necessitatibus voluptas illum sint alias blanditiis et omnis maxime quia. Itaque maiores eveniet eos maiores dolorem eum. Veniam molestias perferendis doloribus nesciunt non quisquam.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/categorymanaged/{childCategoryId}": {
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Set a category to be managed by another category",
        "operationId": "Categories_SetCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The added managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "parent_category_id": 1,
    "category_id": 10,
    "name": "Subcategory",
    "description": null,
    "order_location": 99999,
    "live": true,
    "is_category_managed": true
  }
}
              }
            }
          },
          "400": {
            "description": "A subcategory or managed category already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category or child category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Stops a category from being managed by another category",
        "operationId": "Categories_DeleteCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The removed managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No managed category found for that child category ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/filters": {
      "put": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_UpdateCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CategoryFilters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "get": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_GetCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CategoryFilters"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/{addressId}": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a single Customer Address by Id",
        "operationId": "CustomerAddresses_GetById",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-12-25T17:43:51.7687749Z",
    "modified_date": "2020-04-09T22:36:32.7061162Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Josue",
    "last_name": "O\u0027Hara",
    "company": "Oberbrunner, Russel and Corkery",
    "address": "513 Aleen Street",
    "address2": null,
    "town": "Lake Jalynport",
    "county": "Borders",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "1-227-628-7265 x995",
    "fax": "1-586-972-6247"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Update a Customer Address",
        "operationId": "CustomerAddresses_Update",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-07-16T14:07:04.902255Z",
    "modified_date": "2020-11-20T07:46:26.5218537Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Mitchel",
    "last_name": "Nicolas",
    "company": "Bartoletti - Bechtelar",
    "address": "29396 Sigrid Roads",
    "address2": null,
    "town": "Lake Arnaldohaven",
    "county": "Avon",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "(988) 482-8815",
    "fax": "1-314-240-2649 x516"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Delete a Customer Address",
        "operationId": "CustomerAddresses_Delete",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer Address deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2021-03-09T10:30:52.7967385Z",
    "modified_date": "2020-12-20T19:47:50.8208087Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Cletus",
    "last_name": "Gusikowski",
    "company": "Jaskolski - Veum",
    "address": "278 Rice Motorway",
    "address2": null,
    "town": "Douglasburgh",
    "county": "Buckinghamshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "1-727-717-7716",
    "fax": "1-420-249-8849"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a paginated set of Customer Addresses",
        "operationId": "CustomerAddresses_GetAll",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customer Addresses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 0,
      "created_date": "2020-10-18T10:37:47.8567115Z",
      "modified_date": "2020-11-01T14:58:03.7622572Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Rick",
      "last_name": "Baumbach",
      "company": "Sipes Group",
      "address": "090 Letha Spurs",
      "address2": null,
      "town": "South Rowanborough",
      "county": "Cambridgeshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "453-440-6403 x53263",
      "fax": "554-434-4550 x20239"
    },
    {
      "id": 0,
      "created_date": "2020-05-19T15:25:20.1383668Z",
      "modified_date": "2021-01-28T14:51:12.8584767Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Laura",
      "last_name": "Baumbach",
      "company": "Okuneva - Turner",
      "address": "81473 Armstrong Port",
      "address2": null,
      "town": "Franciscoville",
      "county": "Borders",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "679-507-3751 x63091",
      "fax": "537.937.3854 x1293"
    },
    {
      "id": 0,
      "created_date": "2020-08-28T16:50:35.5890051Z",
      "modified_date": "2021-03-20T15:25:10.5784732Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Estella",
      "last_name": "Mueller",
      "company": "Kuhlman, Stark and Adams",
      "address": "089 Casper Hill",
      "address2": null,
      "town": "Ardenport",
      "county": "Buckinghamshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "1-388-547-1936 x608",
      "fax": "493-505-7320"
    },
    {
      "id": 0,
      "created_date": "2020-12-10T00:39:51.1134804Z",
      "modified_date": "2021-02-17T05:09:38.8742885Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Antonia",
      "last_name": "Kiehn",
      "company": "Boyle, Pacocha and Moen",
      "address": "6214 Jimmie Inlet",
      "address2": null,
      "town": "New Breannastad",
      "county": "Avon",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "(845) 675-1891 x713",
      "fax": "733-304-4071"
    },
    {
      "id": 0,
      "created_date": "2020-05-15T19:21:12.9770856Z",
      "modified_date": "2020-04-19T18:46:18.2932968Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Talia",
      "last_name": "Goodwin",
      "company": "Stokes, Konopelski and Mante",
      "address": "4614 Weber Junction",
      "address2": null,
      "town": "Constanceborough",
      "county": "Borders",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "879-238-6707 x732",
      "fax": "713.213.7817 x796"
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Add a Customer Address",
        "operationId": "CustomerAddresses_Create",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-11-13T21:25:13.0272282Z",
    "modified_date": "2021-03-19T08:27:26.0591726Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Brandy",
    "last_name": "Mayer",
    "company": "Lang, West and Gerhold",
    "address": "8750 Goldner Forges",
    "address2": null,
    "town": "North Charlieton",
    "county": "Berkshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "522.970.9013",
    "fax": "1-719-737-3297"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/search": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Searches customer addresses based on search criteria",
        "operationId": "CustomerAddresses_Search",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customer adresses based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 722,
      "email_address": "Cary.Gibson53@gmail.com",
      "first_name": "Jace",
      "last_name": "Monahan",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-05-09T04:25:14.8010187Z",
      "modified_date": "2020-09-07T09:45:24.4203525Z",
      "last_login_date": "2020-10-27T15:59:53.165131Z",
      "last_login_attempt_date": "2020-11-11T20:37:15.3476542Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-10-19T06:23:04.3656353Z",
          "modified_date": "2021-02-05T07:11:25.7269797Z",
          "customer_id": 722,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Diana",
          "last_name": "Mohr",
          "company": "Larson and Sons",
          "address": "86188 Kurtis Stream",
          "address2": "Mayraborough",
          "town": "New Lavinaborough",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "JY4 8AQ",
          "telephone": "971-866-3237 x18661",
          "fax": "815-902-8852 x155"
        }
      ]
    },
    {
      "id": 723,
      "email_address": "Elaine89@gmail.com",
      "first_name": "Sheridan",
      "last_name": "Marks",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2021-02-08T15:29:54.0874913Z",
      "modified_date": "2020-08-19T13:11:01.5002454Z",
      "last_login_date": "2020-12-01T04:15:50.9856977Z",
      "last_login_attempt_date": "2020-07-14T18:34:12.6134244Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-11-17T04:54:54.591379Z",
          "modified_date": "2020-11-09T20:33:55.2588954Z",
          "customer_id": 723,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Gina",
          "last_name": "Pacocha",
          "company": "Mueller, Mraz and Witting",
          "address": "94490 Jarret Islands",
          "address2": "South Pascale",
          "town": "Darrenshire",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "IA2 8EG",
          "telephone": "1-532-902-2104",
          "fax": "740.977.0883"
        }
      ]
    },
    {
      "id": 724,
      "email_address": "Adrienne19@hotmail.com",
      "first_name": "Conner",
      "last_name": "Cronin",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-11-04T18:56:34.2804617Z",
      "modified_date": "2020-06-03T14:14:14.7890618Z",
      "last_login_date": "2021-02-06T18:14:19.7350478Z",
      "last_login_attempt_date": "2020-05-28T22:47:53.0022042Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-06-19T06:30:02.0926116Z",
          "modified_date": "2021-01-23T19:01:07.5953007Z",
          "customer_id": 724,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Johann",
          "last_name": "Schimmel",
          "company": "Greenholt - Mertz",
          "address": "64475 Jordyn Pass",
          "address2": "Coramouth",
          "town": "Solonview",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "FN5 6OQ",
          "telephone": "(843) 527-1455",
          "fax": "(846) 306-6882"
        }
      ]
    },
    {
      "id": 725,
      "email_address": "Rosemary.Jenkins@hotmail.com",
      "first_name": "Iliana",
      "last_name": "Oberbrunner",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2020-11-01T20:05:42.3282267Z",
      "modified_date": "2020-11-04T00:08:23.6612837Z",
      "last_login_date": "2020-11-06T14:06:17.0144929Z",
      "last_login_attempt_date": "2021-02-15T04:48:10.1833586Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-08-06T19:19:16.4872025Z",
          "modified_date": "2021-01-26T17:57:06.9657308Z",
          "customer_id": 725,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Amelia",
          "last_name": "Herman",
          "company": "Hilll - Hamill",
          "address": "2622 Rex Circles",
          "address2": "Cecilhaven",
          "town": "Kerlukeborough",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "WZ4 7BE",
          "telephone": "(401) 424-3909",
          "fax": "990.495.2015"
        }
      ]
    },
    {
      "id": 726,
      "email_address": "Roger_Conn83@hotmail.com",
      "first_name": "Yadira",
      "last_name": "Kautzer",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-11-03T08:21:40.8060117Z",
      "modified_date": "2020-05-05T20:37:03.7072725Z",
      "last_login_date": "2020-06-14T01:50:20.0729237Z",
      "last_login_attempt_date": "2021-01-08T20:24:56.8530126Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-02-06T09:42:09.7658271Z",
          "modified_date": "2020-09-21T12:28:12.112348Z",
          "customer_id": 726,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Clara",
          "last_name": "Koelpin",
          "company": "Hirthe Group",
          "address": "28634 Rubie Spring",
          "address2": "Connellyview",
          "town": "Quintenhaven",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "VL0 8QP",
          "telephone": "1-644-741-6173",
          "fax": "418-687-6410"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a single Customer by Id",
        "operationId": "Customers_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Customers Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customers Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 727,
    "email_address": "Hazel24@hotmail.com",
    "first_name": "Alivia",
    "last_name": "Abbott",
    "order_count": 0,
    "loyalty_points": 1.0,
    "created_date": "2021-01-31T17:11:12.3051691Z",
    "modified_date": "2020-09-17T04:32:34.6195002Z",
    "last_login_date": "2020-07-20T12:44:31.2277914Z",
    "last_login_attempt_date": "2021-01-29T05:46:28.2525584Z",
    "locked": true,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-07-12T02:50:58.563092Z",
        "modified_date": "2020-07-20T07:33:07.2942115Z",
        "customer_id": 727,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Arjun",
        "last_name": "Rolfson",
        "company": "Friesen, Kilback and Hayes",
        "address": "52985 Boyer Green",
        "address2": "Houstonburgh",
        "town": "South Rosalinda",
        "county": "Avon",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "LV6 1YD",
        "telephone": "(950) 500-9371 x469",
        "fax": "1-702-261-2266 x81185"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update a Customer",
        "operationId": "Customers_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 728,
    "email_address": "Judy.Leffler7@hotmail.com",
    "first_name": "Cale",
    "last_name": "Schuppe",
    "order_count": 0,
    "loyalty_points": 0.0,
    "created_date": "2021-03-08T03:34:35.0174549Z",
    "modified_date": "2020-07-09T10:33:49.3947579Z",
    "last_login_date": "2020-06-01T11:19:04.609405Z",
    "last_login_attempt_date": "2020-11-20T03:55:34.46752Z",
    "locked": true,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-09-01T21:56:07.5696196Z",
        "modified_date": "2020-06-21T20:26:42.0555315Z",
        "customer_id": 728,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Corene",
        "last_name": "Senger",
        "company": "Kris and Sons",
        "address": "3384 Keara Bridge",
        "address2": "Wilhelmville",
        "town": "Noahmouth",
        "county": "Avon",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "PH1 6KY",
        "telephone": "(952) 468-6726 x48480",
        "fax": "668-430-7440 x1848"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete a Customer",
        "operationId": "Customers_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 729,
    "email_address": "Mamie.Welch@hotmail.com",
    "first_name": "Rachael",
    "last_name": "Lubowitz",
    "order_count": 0,
    "loyalty_points": 0.0,
    "created_date": "2020-10-14T14:08:20.3882512Z",
    "modified_date": "2020-08-04T18:36:12.1185083Z",
    "last_login_date": "2020-12-05T22:35:00.9977171Z",
    "last_login_attempt_date": "2020-11-05T23:22:57.385256Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2021-03-18T23:41:27.8741603Z",
        "modified_date": "2021-02-24T18:32:48.6412283Z",
        "customer_id": 729,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Cloyd",
        "last_name": "Homenick",
        "company": "Yundt, Rolfson and Russel",
        "address": "9513 Gianni Park",
        "address2": "North Nathanburgh",
        "town": "Tillmanchester",
        "county": "Avon",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "UN6 6IV",
        "telephone": "(943) 404-9367 x269",
        "fax": "200.439.4527 x26826"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a paginated set of Customers",
        "operationId": "Customers_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 730,
      "email_address": "Lowell95@hotmail.com",
      "first_name": "Gunner",
      "last_name": "McClure",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-08-06T16:33:50.5618117Z",
      "modified_date": "2020-05-19T19:37:37.2679725Z",
      "last_login_date": "2020-10-18T15:22:13.8735515Z",
      "last_login_attempt_date": "2021-01-06T21:04:07.7938904Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-06-04T18:44:13.1499806Z",
          "modified_date": "2020-05-23T22:15:01.9811583Z",
          "customer_id": 730,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Vida",
          "last_name": "Bauch",
          "company": "Hackett - Heidenreich",
          "address": "508 Miller Spurs",
          "address2": "North Armanifurt",
          "town": "Millsfurt",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "JA4 6YE",
          "telephone": "1-767-987-8466",
          "fax": "373.985.7371 x69015"
        }
      ]
    },
    {
      "id": 731,
      "email_address": "Emmett65@hotmail.com",
      "first_name": "Loma",
      "last_name": "Langosh",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-05-16T02:32:20.3288913Z",
      "modified_date": "2020-08-26T03:07:38.4512215Z",
      "last_login_date": "2021-01-16T01:33:50.7597282Z",
      "last_login_attempt_date": "2020-06-13T06:55:07.735996Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-02-25T08:57:15.5742799Z",
          "modified_date": "2021-01-25T08:21:21.1251732Z",
          "customer_id": 731,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Isobel",
          "last_name": "Auer",
          "company": "Prohaska, Willms and Pagac",
          "address": "07295 Wisozk Prairie",
          "address2": "Malloryport",
          "town": "Jillianborough",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "LM7 2DO",
          "telephone": "376.260.6016",
          "fax": "791-985-6553 x244"
        }
      ]
    },
    {
      "id": 732,
      "email_address": "Beth79@hotmail.com",
      "first_name": "Myrtle",
      "last_name": "Altenwerth",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-07-27T03:54:03.159922Z",
      "modified_date": "2020-09-11T18:40:20.7253833Z",
      "last_login_date": "2021-01-30T16:12:57.2285194Z",
      "last_login_attempt_date": "2021-02-09T03:07:30.0673006Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-11-17T23:14:16.9318914Z",
          "modified_date": "2020-12-28T14:22:53.4261993Z",
          "customer_id": 732,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Landen",
          "last_name": "Sawayn",
          "company": "West - Trantow",
          "address": "516 Roxanne Avenue",
          "address2": "Lake Cortez",
          "town": "Sidneyfort",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "OK3 6OJ",
          "telephone": "1-538-282-0575 x96550",
          "fax": "998.801.2243"
        }
      ]
    },
    {
      "id": 733,
      "email_address": "Tricia.Stark@yahoo.com",
      "first_name": "Shaylee",
      "last_name": "Maggio",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-08-16T06:22:40.818478Z",
      "modified_date": "2021-01-10T08:15:38.56069Z",
      "last_login_date": "2020-11-28T23:36:13.9316462Z",
      "last_login_attempt_date": "2020-12-07T08:14:28.5068775Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-07-14T19:30:21.2227216Z",
          "modified_date": "2020-09-27T03:54:01.5573916Z",
          "customer_id": 733,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Flo",
          "last_name": "Lind",
          "company": "Sanford, Boyle and Prosacco",
          "address": "242 Cummerata Circle",
          "address2": "Tillmanstad",
          "town": "D\u0027Amoretown",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "NA5 4DH",
          "telephone": "468.787.2319 x7870",
          "fax": "704.443.8653 x92843"
        }
      ]
    },
    {
      "id": 734,
      "email_address": "Allan.Mitchell85@hotmail.com",
      "first_name": "Cordell",
      "last_name": "Nolan",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2020-04-29T06:58:36.1893427Z",
      "modified_date": "2020-10-03T14:32:18.5647751Z",
      "last_login_date": "2020-05-19T14:55:03.0777538Z",
      "last_login_attempt_date": "2020-11-02T16:37:20.2293935Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-10-24T15:56:14.6613811Z",
          "modified_date": "2020-04-25T10:34:53.0308541Z",
          "customer_id": 734,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Nels",
          "last_name": "Simonis",
          "company": "Orn - Orn",
          "address": "4044 Wilfrid Ramp",
          "address2": "Americaside",
          "town": "Schusterside",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "MC5 4CN",
          "telephone": "(755) 886-5599",
          "fax": "651-666-0217"
        }
      ]
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Add a customer",
        "description": "Note: setting send_email to true will send an email to the customer prompting them to create a password",
        "operationId": "Customers_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 735,
    "email_address": "Hope.Bergstrom76@hotmail.com",
    "first_name": "Felicia",
    "last_name": "Ondricka",
    "order_count": 1,
    "loyalty_points": 1.0,
    "created_date": "2020-10-30T07:04:09.5849291Z",
    "modified_date": "2020-11-27T06:03:13.2820502Z",
    "last_login_date": "2020-07-02T17:21:36.735632Z",
    "last_login_attempt_date": "2021-02-07T14:30:08.7182179Z",
    "locked": true,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-04-25T22:40:25.087261Z",
        "modified_date": "2020-11-04T12:28:12.044857Z",
        "customer_id": 735,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Alessia",
        "last_name": "Walter",
        "company": "Kris, Gislason and Sipes",
        "address": "38511 Will Vista",
        "address2": "South Dimitri",
        "town": "Bartelltown",
        "county": "Borders",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "LD1 2OP",
        "telephone": "(972) 641-2811",
        "fax": "951.392.9980 x9279"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/search": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Searches customers based on search criteria",
        "operationId": "Customers_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customers based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 736,
      "email_address": "Sadie.Powlowski94@yahoo.com",
      "first_name": "Kristian",
      "last_name": "Marquardt",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-09-16T04:01:47.1566338Z",
      "modified_date": "2020-04-10T16:02:00.774325Z",
      "last_login_date": "2021-02-06T11:31:01.3133772Z",
      "last_login_attempt_date": "2020-07-17T00:11:25.8293458Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-01-10T09:25:14.6245238Z",
          "modified_date": "2021-01-05T22:09:43.1820295Z",
          "customer_id": 736,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Baron",
          "last_name": "Williamson",
          "company": "Rippin - Roob",
          "address": "280 Barrows Fords",
          "address2": "Tyriqueside",
          "town": "West Emilie",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "CR7 5UL",
          "telephone": "463.783.1946 x41027",
          "fax": "1-331-692-9644 x112"
        }
      ]
    },
    {
      "id": 737,
      "email_address": "Misty42@yahoo.com",
      "first_name": "Zakary",
      "last_name": "Carroll",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2020-11-20T17:23:40.1057445Z",
      "modified_date": "2020-04-28T05:58:47.8595611Z",
      "last_login_date": "2020-10-18T21:10:53.0897718Z",
      "last_login_attempt_date": "2020-08-01T03:58:42.5753666Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-06-23T01:25:16.0316692Z",
          "modified_date": "2020-08-26T13:15:54.4552952Z",
          "customer_id": 737,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Audreanne",
          "last_name": "Kuhic",
          "company": "Skiles LLC",
          "address": "0419 Dariana Flats",
          "address2": "Blicktown",
          "town": "Lake Alexzanderstad",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "GG1 5EA",
          "telephone": "(797) 686-7143 x248",
          "fax": "286.402.1644"
        }
      ]
    },
    {
      "id": 738,
      "email_address": "Anita86@yahoo.com",
      "first_name": "Mylene",
      "last_name": "King",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2021-03-05T07:21:45.0340852Z",
      "modified_date": "2021-02-11T22:24:36.6217549Z",
      "last_login_date": "2020-12-21T12:05:06.3385Z",
      "last_login_attempt_date": "2020-07-31T08:33:19.763107Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-09-15T09:32:58.2462329Z",
          "modified_date": "2020-05-23T23:10:40.1732629Z",
          "customer_id": 738,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Rubye",
          "last_name": "Schiller",
          "company": "Grant, Conroy and Hayes",
          "address": "082 Abelardo Square",
          "address2": "South Alexandrealand",
          "town": "Framiborough",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "OB8 3EI",
          "telephone": "884.577.6083 x71893",
          "fax": "567-262-1834 x34822"
        }
      ]
    },
    {
      "id": 739,
      "email_address": "Samuel_Hickle57@gmail.com",
      "first_name": "Simone",
      "last_name": "Veum",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-07-25T04:16:58.4052714Z",
      "modified_date": "2021-04-04T08:23:36.3281935Z",
      "last_login_date": "2021-01-09T21:49:57.3265198Z",
      "last_login_attempt_date": "2020-12-23T05:11:10.3831431Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-02-07T14:31:26.2428781Z",
          "modified_date": "2020-05-15T06:51:54.5799323Z",
          "customer_id": 739,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Orlando",
          "last_name": "Bernier",
          "company": "Barrows, Weber and Zulauf",
          "address": "849 Kadin Extensions",
          "address2": "New Jazmynchester",
          "town": "Yostland",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "GV8 2HW",
          "telephone": "834-951-5018 x69474",
          "fax": "622-735-6255"
        }
      ]
    },
    {
      "id": 740,
      "email_address": "Alyssa_Kiehn81@hotmail.com",
      "first_name": "Hipolito",
      "last_name": "Wiza",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2021-01-30T07:14:58.9710651Z",
      "modified_date": "2021-01-10T03:25:54.4103266Z",
      "last_login_date": "2020-05-26T19:06:28.2011243Z",
      "last_login_attempt_date": "2021-01-14T15:23:04.4041495Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-03-06T09:35:50.3833789Z",
          "modified_date": "2020-08-14T00:24:59.0827616Z",
          "customer_id": 740,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Arlie",
          "last_name": "Predovic",
          "company": "Marvin, Champlin and Kerluke",
          "address": "65319 Leo Ridges",
          "address2": "Merlemouth",
          "town": "South Autumnstad",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "QY3 3WZ",
          "telephone": "430.705.6713",
          "fax": "(928) 391-8823 x3195"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/settings/domains": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get the current Primary Domain",
        "operationId": "Domains_GetPrimaryDomain",
        "responses": {
          "200": {
            "description": "The primary domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1DomainName"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "primary_domain_name": "michelle.org"
  }
}
              }
            }
          },
          "404": {
            "description": "No primary domain found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Domain not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v2/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get an order by ID",
        "operationId": "Orders_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The order ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV2Order"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 403,
    "order_number": "ua4g02yezi2ehwi0",
    "order_date": "2009-05-21T03:47:56.2374347Z",
    "is_confirmed": true,
    "sub_total": 0.819111856547702,
    "total_delivery": 0.9709919593161865,
    "total_tax": 0.5240113611910545,
    "total_cost": 0.42795283181031835,
    "status": "DISPATCHED",
    "payment_status": "SUCCESS",
    "delivery_method": "",
    "transaction_id": "a6fe0bf4-b573-4c5d-8e8c-5049cf7e8267",
    "transaction_status": "",
    "order_type": "",
    "use_shipping_address": true,
    "shipping_address": {
      "first_name": "Mildred",
      "last_name": "Kerluke",
      "id": -1185671942,
      "created_date": "2020-11-05T09:54:57.7535218Z",
      "modified_date": "2021-01-08T09:06:15.5690903Z",
      "customer_id": -901917806,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": false,
      "company": "Wintheiser - Corwin",
      "address": "16524 Jeffery Gateway",
      "address2": "North Marina",
      "town": "Lake Cleora",
      "county": "Avon",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": "KI7 7PW",
      "telephone": "(605) 362-2979 x18892",
      "fax": "290.308.3893"
    },
    "internal_notes": "This is an internal order note.\n\nThis is another internal order note.",
    "customer_facing_notes": "This is an order note.\n\nThis is another order note.",
    "emailed": false,
    "discounts": "",
    "discounts_total": 0.0,
    "shipping_company": "UPS",
    "ip_address": "127.0.0.1",
    "guid": "4cad6c05-0f1c-5eba-24ee-e7b82550f491",
    "last_updated": null,
    "delivery_tax_rate": null,
    "delivery_includes_tax": null,
    "custom_fields_total": null,
    "custom_fields_tax_total": null,
    "customer_details": {
[...]
