{
  "openapi": "3.0.1",
  "info": {
    "title": "EKM Partner API",
    "description": "Our new API allows partners to build significantly better integrations with the EKM platform.\r\n\r\nTo try out the below endpoints, or for full up to date representations of the request / response models, please see the [swagger page](https://api.ekm.net/swagger/index.html). (We display examples here, but the swagger page is guaranteed to show the complete model.)\r\n\r\nTo keep up to date with the latest updates, please see our [RSS feed](https://partners.ekm.net/ChangeLog/Feed) or the [partner dashboard](https://partners.ekm.net/).",
    "contact": {
      "name": "EKM",
      "url": "https://ekm.com",
      "email": "api-support@ekm.com"
    },
    "version": "Latest",
    "x-logo": {
      "url": "/images/ekm-logo-vector-RGB-1920x1080.png",
      "backgroundColor": "#fafafa"
    }
  },
  "servers": [
    {
      "url": "https://api.ekm.net"
    }
  ],
  "paths": {
    "/api/v1/categories/{id}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a category",
        "operationId": "Categories_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The chosen category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 897,
    "name": "EKM - enim",
    "description": "Laudantium et atque cumque est in sed debitis nisi. Consequuntur ipsum rerum assumenda. Eum repudiandae rerum voluptatem eaque sunt et tempore dolor. Enim a sapiente temporibus veniam quia. Minima hic dolor aut et. Aut aut et odio non modi maiores minus.",
    "in_category_description": "Aut illo autem. Neque vel magnam doloremque consectetur nihil voluptas praesentium odio. Sunt veritatis quo aut saepe est doloribus. Doloremque dolore alias dolor quam dolores et qui. Facilis nam sint doloribus minus quos qui neque laudantium.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Categories"
        ],
        "summary": "Update a category",
        "operationId": "Categories_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 898,
    "name": "EKM - cumque",
    "description": "Explicabo laboriosam quam provident ipsa aliquid accusamus iure dolor quo. Illo corporis voluptatem perspiciatis et maiores qui sed non quod. Soluta quibusdam cupiditate qui ex sunt eum facilis et doloribus. Possimus itaque voluptates qui. Autem repellendus harum veritatis laborum consequatur impedit eos. Impedit rerum qui quia et culpa modi quia.",
    "in_category_description": "Dolorum aut praesentium asperiores exercitationem alias sed ea. Illum unde dicta harum veniam laboriosam voluptatem suscipit saepe soluta. Officiis sunt distinctio ut est.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Delete a category",
        "operationId": "Categories_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of categories",
        "operationId": "Categories_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - fuga",
      "description": "Consequatur voluptate perferendis culpa facere aliquam. Harum sint temporibus laboriosam inventore beatae ea quod quae eos. Enim corporis fugiat quae dolore voluptas dolores. Repellendus provident ut iste nisi libero sed et eaque natus. Delectus sit vel quia impedit aut perspiciatis iste dolorum. Rem aliquid et omnis.",
      "in_category_description": "Dolores quidem voluptatem nesciunt est. Accusamus rem molestiae. Ea dignissimos libero vero aut.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - commodi",
      "description": "Ipsum quis recusandae voluptatibus. Rerum nihil assumenda debitis. Ipsam sit minus autem voluptatem ex impedit et.",
      "in_category_description": "Fugit rerum laudantium voluptates saepe quam. Aspernatur necessitatibus voluptas quia odit ipsum quis deserunt. Vel excepturi molestias autem blanditiis sint sed sed. Dolore omnis error consequuntur. Ratione culpa facilis dolor consequuntur.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - veniam",
      "description": "Sunt nihil sed. Aut fugit blanditiis quia perferendis ea sed. Aut adipisci molestiae ut earum adipisci soluta. Facere facilis accusamus dolor ut. Et et praesentium iure et nemo repudiandae. Nihil et quia at eaque.",
      "in_category_description": "Hic ut consectetur commodi unde suscipit tenetur expedita. Voluptas recusandae id natus enim. Quo voluptatem harum corporis et eum.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - maxime",
      "description": "Saepe nam et. Quia ipsum sunt sequi deserunt occaecati et velit cum. Quam labore nam aut neque unde enim nihil ex. Voluptatibus delectus voluptatem. Id deserunt sint sed.",
      "in_category_description": "Totam rerum porro. Provident consequuntur placeat omnis. Ipsa rem doloremque. Non non veritatis fugiat. Qui vitae aut consectetur nemo sed repellendus sequi voluptatem.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - officiis",
      "description": "Id animi aut. Nisi sed cupiditate deleniti odio aperiam quibusdam. Eligendi ipsam laborum tenetur consequatur itaque consequatur. Possimus veritatis et cupiditate enim minima culpa sit.",
      "in_category_description": "Odit debitis ex aut iusto accusamus. Omnis et cum ut. Esse unde veniam ut dolores. Et fugiat ut vitae accusamus maxime et perspiciatis voluptatibus minima.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Add a category",
        "operationId": "Categories_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 904,
    "name": "EKM - sit",
    "description": "Laboriosam dicta veritatis non et dolor soluta debitis quod qui. Quasi voluptas dolores ea facilis. Et alias dolor.",
    "in_category_description": "Natus doloremque voluptatem aut est. Saepe necessitatibus earum modi aut quisquam sed ut aliquid. Commodi sunt illum fugit dolor aut sunt. Ut laborum voluptas. Repudiandae eaque voluptas minima quis architecto cupiditate doloremque voluptates repudiandae.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/search": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Searches categories based on search criteria",
        "operationId": "Categories_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. live eq true",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - similique",
      "description": "At repellendus aperiam ut est recusandae eos exercitationem ducimus debitis. Delectus rem dicta blanditiis itaque aut rem repellat molestiae repellat. Et saepe cupiditate aliquid consequuntur quod voluptatem quo qui occaecati. Magni quia voluptatem inventore maxime non cum nihil animi totam. Esse enim eveniet doloribus. Explicabo eveniet odio.",
      "in_category_description": "Maiores debitis aut qui maxime quaerat consequatur qui aut id. Reprehenderit et nisi omnis eos aut. Ut quia eius qui molestias. Voluptatum non qui dolores cum tempora vel aut. Voluptates ratione ducimus iusto sint alias tempore accusamus enim et.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - qui",
      "description": "Dolore omnis incidunt. Numquam harum ut dolore assumenda officia quis dolores nam provident. Tempore quisquam maxime et quam dignissimos nesciunt velit enim. Sapiente ut accusamus qui voluptates assumenda omnis sit. Delectus ut et placeat perferendis sit.",
      "in_category_description": "Eos iste beatae corporis aliquam totam et velit. Aut consequatur enim culpa dicta ex sint. Magnam consequatur aperiam quibusdam.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - eos",
      "description": "Sed non similique et voluptas ut minus. Enim quod sit rerum ut ea impedit quibusdam. Aliquam voluptatem necessitatibus. Nihil officiis debitis perspiciatis doloribus cupiditate omnis illum architecto et. Id corrupti sit quae eveniet. Et dolorum ratione quasi alias quo quasi quo soluta qui.",
      "in_category_description": "Doloremque ut ut recusandae dolorum esse suscipit. Ea omnis dignissimos ut et ut fugiat id. Placeat eius nam eveniet ipsa qui optio quod eveniet nihil. Aut eum nemo. Eius dolore quae consequatur quod aut et assumenda.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - impedit",
      "description": "Expedita quia dolor ratione voluptas alias sit. Recusandae id aut libero doloribus porro voluptas consectetur est. Exercitationem rerum provident rem quod facere cum consectetur.",
      "in_category_description": "Aspernatur rerum ducimus tenetur eligendi odio dolorem cupiditate error facere. Aperiam rem sit quis aspernatur laboriosam in illo est eveniet. Eos inventore velit quia quasi amet et. Rem in sed suscipit impedit quae.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - sequi",
      "description": "Unde omnis voluptatem et ut assumenda voluptatem velit excepturi aspernatur. Esse aspernatur dolores qui aut corrupti maxime iure. Quis quis voluptatibus sunt eos veniam commodi. Eos nemo quia rerum velit animi. Explicabo culpa voluptatibus ipsum nostrum voluptatem voluptates. Dicta temporibus aut quis odio porro ut.",
      "in_category_description": "Voluptas iure est dolor sunt. Corrupti est voluptate voluptas. Sed est optio alias et.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/subcategories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of subcategories",
        "operationId": "Categories_Subcategories",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of subcategories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1SubCategory"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "parent_category_id": 2,
      "category_id": 1,
      "name": "EKM - et",
      "description": "Quas in aspernatur reprehenderit praesentium vel saepe. Consequuntur voluptates et dolor et. Voluptatem dolor accusantium. Voluptas cupiditate aliquid dolores deleniti aut eum quidem aliquid ipsam. Consequatur officiis vel.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 4,
      "category_id": 2,
      "name": "EKM - doloribus",
      "description": "Qui libero repellat ratione commodi cum non ea. Atque voluptatibus quis sed placeat occaecati reiciendis molestias ullam. Ipsum aut explicabo numquam. Dolorem laudantium culpa. Quia eaque aut autem.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 6,
      "category_id": 3,
      "name": "EKM - consectetur",
      "description": "Molestias accusantium voluptas delectus nulla. Dolores cumque in ea voluptatem ut. Sunt doloremque commodi excepturi repellendus ut impedit. Qui doloribus quia ut aspernatur quisquam labore quod.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 8,
      "category_id": 4,
      "name": "EKM - quis",
      "description": "Facere blanditiis aut hic. Suscipit ex placeat debitis reprehenderit illum id natus. Sit harum sunt cum.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 10,
      "category_id": 5,
      "name": "EKM - animi",
      "description": "Expedita nam inventore aperiam occaecati veritatis placeat cumque. Sapiente accusantium numquam dicta atque aut error beatae optio quia. Temporibus fugiat labore harum iure omnis.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/categorymanaged/{childCategoryId}": {
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Set a category to be managed by another category",
        "operationId": "Categories_SetCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The added managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "parent_category_id": 1,
    "category_id": 10,
    "name": "Subcategory",
    "description": null,
    "order_location": 99999,
    "live": true,
    "is_category_managed": true
  }
}
              }
            }
          },
          "400": {
            "description": "A subcategory or managed category already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category or child category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Stops a category from being managed by another category",
        "operationId": "Categories_DeleteCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The removed managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No managed category found for that child category ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/filters": {
      "put": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_UpdateCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CategoryFilters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "get": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_GetCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CategoryFilters"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/{addressId}": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a single Customer Address by Id",
        "operationId": "CustomerAddresses_GetById",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2021-02-03T09:41:20.2387814Z",
    "modified_date": "2020-09-14T18:35:39.8101822Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Rae",
    "last_name": "Spinka",
    "company": "Senger, Robel and Stanton",
    "address": "71507 Calista Centers",
    "address2": null,
    "town": "Volkmanland",
    "county": "Bedfordshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "247-934-7900 x9458",
    "fax": "567-536-6782 x05336"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Update a Customer Address",
        "operationId": "CustomerAddresses_Update",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-08-25T00:52:42.8441366Z",
    "modified_date": "2020-06-10T15:23:13.5384151Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Unique",
    "last_name": "Bogan",
    "company": "Kautzer, Tremblay and Carter",
    "address": "10366 D\u0027Amore Bridge",
    "address2": null,
    "town": "West Juliana",
    "county": "Bedfordshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "942.955.3935",
    "fax": "(857) 519-6564 x446"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Delete a Customer Address",
        "operationId": "CustomerAddresses_Delete",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer Address deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-05-04T23:06:52.0739358Z",
    "modified_date": "2021-03-18T04:16:54.9151624Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Kirsten",
    "last_name": "Herman",
    "company": "Cronin Inc",
    "address": "62363 Shemar Groves",
    "address2": null,
    "town": "Kristianmouth",
    "county": "Bedfordshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "(852) 879-6944 x8676",
    "fax": "1-263-392-5883 x32018"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a paginated set of Customer Addresses",
        "operationId": "CustomerAddresses_GetAll",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customer Addresses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 0,
      "created_date": "2020-08-31T09:07:29.191057Z",
      "modified_date": "2020-12-15T12:13:46.4184434Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Zachary",
      "last_name": "Runolfsson",
      "company": "Mann, Wolff and Stroman",
      "address": "64495 Dudley Fort",
      "address2": null,
      "town": "Melynaborough",
      "county": "Bedfordshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "1-333-497-9466 x75573",
      "fax": "664.442.6994 x337"
    },
    {
      "id": 0,
      "created_date": "2020-08-07T13:12:44.5836039Z",
      "modified_date": "2020-06-29T10:11:18.7111652Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Jimmie",
      "last_name": "O\u0027Kon",
      "company": "Lehner Group",
      "address": "4640 Tromp Square",
      "address2": null,
      "town": "Paucekfurt",
      "county": "Cambridgeshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "494.796.3453",
      "fax": "1-630-295-9377 x705"
    },
    {
      "id": 0,
      "created_date": "2020-11-21T16:07:06.9113006Z",
      "modified_date": "2020-04-28T08:12:00.9487766Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Wilhelmine",
      "last_name": "Johns",
      "company": "Bergnaum Group",
      "address": "649 Tyler Common",
      "address2": null,
      "town": "West Frida",
      "county": "Avon",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "433-341-3732",
      "fax": "648-716-8507 x786"
    },
    {
      "id": 0,
      "created_date": "2020-06-24T03:43:21.9146119Z",
      "modified_date": "2020-05-04T08:38:00.5786194Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Liam",
      "last_name": "Auer",
      "company": "Smith, Jacobson and Fadel",
      "address": "360 Connelly Manors",
      "address2": null,
      "town": "Brennanhaven",
      "county": "Berkshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "242.467.6579 x553",
      "fax": "983.673.7088 x2380"
    },
    {
      "id": 0,
      "created_date": "2020-09-12T11:55:08.0244422Z",
      "modified_date": "2020-07-20T19:32:10.3003001Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Concepcion",
      "last_name": "Berge",
      "company": "Dickinson and Sons",
      "address": "96725 Deonte Glens",
      "address2": null,
      "town": "New Lydiamouth",
      "county": "Cambridgeshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "289-246-9296 x78061",
      "fax": "1-307-985-0841"
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Add a Customer Address",
        "operationId": "CustomerAddresses_Create",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-10-23T15:01:50.7197949Z",
    "modified_date": "2021-01-29T21:47:06.5062183Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Melisa",
    "last_name": "Orn",
    "company": "Russel, Dicki and Kozey",
    "address": "580 Harold Plains",
    "address2": null,
    "town": "West Lawsonville",
    "county": "Buckinghamshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "1-694-565-0969 x9530",
    "fax": "(235) 779-9775"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/search": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Searches customer addresses based on search criteria",
        "operationId": "CustomerAddresses_Search",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customer adresses based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1311,
      "email_address": "Genevieve.Wisozk@yahoo.com",
      "first_name": "Dasia",
      "last_name": "Haley",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-05-21T17:36:01.8811313Z",
      "modified_date": "2021-01-10T03:15:39.9962454Z",
      "last_login_date": "2020-09-13T13:25:57.507474Z",
      "last_login_attempt_date": "2020-08-22T15:29:46.410415Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-08-13T19:33:00.3922255Z",
          "modified_date": "2020-11-22T05:38:49.4286511Z",
          "customer_id": 1311,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Nyasia",
          "last_name": "Volkman",
          "company": "Osinski, Braun and Weissnat",
          "address": "59954 Emmerich Camp",
          "address2": "Gloverland",
          "town": "Lake Daren",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "HL4 5UR",
          "telephone": "(452) 371-4931 x69405",
          "fax": "(655) 692-5395"
        }
      ]
    },
    {
      "id": 1312,
      "email_address": "Francis_Bergstrom@gmail.com",
      "first_name": "Salvador",
      "last_name": "Durgan",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2020-05-29T05:22:31.9938763Z",
      "modified_date": "2020-04-15T23:52:28.0452008Z",
      "last_login_date": "2020-10-01T13:03:56.1114844Z",
      "last_login_attempt_date": "2020-06-25T11:55:36.2890622Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-03-01T04:49:41.3481848Z",
          "modified_date": "2020-08-12T17:46:19.4511891Z",
          "customer_id": 1312,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Burnice",
          "last_name": "Hayes",
          "company": "Becker, Koelpin and Skiles",
          "address": "92962 Audra Cape",
          "address2": "Murazikton",
          "town": "West Maynardstad",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "VW1 6WF",
          "telephone": "337-366-2241 x714",
          "fax": "(549) 631-8763 x025"
        }
      ]
    },
    {
      "id": 1313,
      "email_address": "Janie67@gmail.com",
      "first_name": "Elton",
      "last_name": "Lehner",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-11-30T22:47:45.8193336Z",
      "modified_date": "2020-12-20T22:45:28.149191Z",
      "last_login_date": "2020-05-20T12:29:37.4333918Z",
      "last_login_attempt_date": "2020-12-05T06:23:57.9047189Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-10-26T03:03:24.8891939Z",
          "modified_date": "2020-09-02T13:07:45.3078103Z",
          "customer_id": 1313,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Makenzie",
          "last_name": "Volkman",
          "company": "Cremin - Kihn",
          "address": "447 Kshlerin Field",
          "address2": "Meghanview",
          "town": "North Christelle",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "QX6 1SB",
          "telephone": "896.934.0759 x61206",
          "fax": "1-281-942-6075"
        }
      ]
    },
    {
      "id": 1314,
      "email_address": "Mercedes.OReilly46@gmail.com",
      "first_name": "Viola",
      "last_name": "Hammes",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-08-02T15:49:32.1711079Z",
      "modified_date": "2021-02-04T16:30:25.7873857Z",
      "last_login_date": "2021-01-10T17:35:05.0023161Z",
      "last_login_attempt_date": "2021-02-06T23:21:38.1456691Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-11-08T06:13:42.2135228Z",
          "modified_date": "2020-12-19T16:42:24.1166816Z",
          "customer_id": 1314,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Marcellus",
          "last_name": "Davis",
          "company": "Pfannerstill LLC",
          "address": "4717 Abagail Plains",
          "address2": "Lake Kathryneshire",
          "town": "Kelleybury",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "VA5 8CJ",
          "telephone": "(616) 523-1762",
          "fax": "1-583-918-7894 x31697"
        }
      ]
    },
    {
      "id": 1315,
      "email_address": "Orville17@gmail.com",
      "first_name": "Travon",
      "last_name": "Rowe",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-06-03T00:53:44.0573022Z",
      "modified_date": "2020-08-06T11:52:45.7910256Z",
      "last_login_date": "2020-09-15T01:02:50.0568383Z",
      "last_login_attempt_date": "2020-12-11T13:17:39.9579791Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-01-01T04:20:24.9914022Z",
          "modified_date": "2020-12-15T00:15:18.6961488Z",
          "customer_id": 1315,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Theodore",
          "last_name": "Larson",
          "company": "Funk LLC",
          "address": "00989 Nader Parkway",
          "address2": "South Reed",
          "town": "West Libby",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "JL7 6RC",
          "telephone": "(811) 669-7375",
          "fax": "(521) 808-5489"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a single Customer by Id",
        "operationId": "Customers_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Customers Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customers Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1316,
    "email_address": "Lula92@hotmail.com",
    "first_name": "Talia",
    "last_name": "Streich",
    "order_count": 1,
    "loyalty_points": 1.0,
    "created_date": "2020-09-25T22:18:36.797Z",
    "modified_date": "2020-09-26T23:19:00.0967231Z",
    "last_login_date": "2020-11-08T22:35:07.35841Z",
    "last_login_attempt_date": "2020-05-25T07:21:24.6106335Z",
    "locked": true,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": true,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-04-29T17:56:39.1544529Z",
        "modified_date": "2020-09-27T03:48:34.6415775Z",
        "customer_id": 1316,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Kylee",
        "last_name": "Prohaska",
        "company": "Reichel - Bergnaum",
        "address": "684 VonRueden Stravenue",
        "address2": "Kemmerstad",
        "town": "Pasqualechester",
        "county": "Borders",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "DP0 6JS",
        "telephone": "515-937-7314 x0204",
        "fax": "672.943.0912"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update a Customer",
        "operationId": "Customers_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1317,
    "email_address": "Tomas_Lind@hotmail.com",
    "first_name": "Kari",
    "last_name": "Barton",
    "order_count": 1,
    "loyalty_points": 1.0,
    "created_date": "2020-09-13T12:10:10.5971492Z",
    "modified_date": "2020-08-21T15:46:05.9246337Z",
    "last_login_date": "2020-08-29T11:57:34.9112486Z",
    "last_login_attempt_date": "2020-11-30T09:57:15.6206632Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": true,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-05-20T07:00:01.2281416Z",
        "modified_date": "2020-10-29T00:40:39.7177671Z",
        "customer_id": 1317,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Olin",
        "last_name": "Hyatt",
        "company": "Kreiger - Wintheiser",
        "address": "7108 Ted Prairie",
        "address2": "East Dewittview",
        "town": "Leonardostad",
        "county": "Berkshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "JX1 3LD",
        "telephone": "345-577-8094 x71548",
        "fax": "(404) 317-7014 x2209"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete a Customer",
        "operationId": "Customers_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1318,
    "email_address": "Jacquelyn.Grant41@yahoo.com",
    "first_name": "Andreane",
    "last_name": "Greenholt",
    "order_count": 1,
    "loyalty_points": 1.0,
    "created_date": "2020-07-26T21:07:51.169465Z",
    "modified_date": "2021-02-10T22:20:53.0864497Z",
    "last_login_date": "2020-10-12T17:14:58.3667156Z",
    "last_login_attempt_date": "2020-07-29T14:01:54.178086Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2021-02-21T21:32:09.2071277Z",
        "modified_date": "2020-11-15T19:51:14.6224244Z",
        "customer_id": 1318,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Mavis",
        "last_name": "Romaguera",
        "company": "Welch LLC",
        "address": "1933 Makenzie Roads",
        "address2": "Alverafort",
        "town": "East Adrien",
        "county": "Bedfordshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "PI2 1ND",
        "telephone": "1-227-280-7574 x22195",
        "fax": "(497) 388-6872 x175"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a paginated set of Customers",
        "operationId": "Customers_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1319,
      "email_address": "Darin.Sanford@hotmail.com",
      "first_name": "Giles",
      "last_name": "Christiansen",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-10-02T17:39:57.7814959Z",
      "modified_date": "2020-07-07T08:52:56.7375075Z",
      "last_login_date": "2020-04-08T19:15:23.7769572Z",
      "last_login_attempt_date": "2020-11-08T03:43:36.0887196Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-03-06T14:33:07.7263258Z",
          "modified_date": "2021-01-16T15:50:23.123556Z",
          "customer_id": 1319,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Gracie",
          "last_name": "Wolf",
          "company": "Lubowitz Group",
          "address": "35236 Rutherford Lake",
          "address2": "Reggiemouth",
          "town": "Daviston",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "ZU2 0CZ",
          "telephone": "992.361.1545 x9133",
          "fax": "957.662.5376 x8943"
        }
      ]
    },
    {
      "id": 1320,
      "email_address": "Janis3@gmail.com",
      "first_name": "Josh",
      "last_name": "Kuhlman",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2020-04-17T19:44:13.0855174Z",
      "modified_date": "2020-10-16T07:18:41.5967223Z",
      "last_login_date": "2021-01-23T16:51:58.7174414Z",
      "last_login_attempt_date": "2020-09-16T07:07:54.971384Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-12-19T08:11:42.6629311Z",
          "modified_date": "2020-08-02T15:59:42.4192172Z",
          "customer_id": 1320,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Ariane",
          "last_name": "Kassulke",
          "company": "Schuster - Orn",
          "address": "6224 Lurline Lights",
          "address2": "New Tiffany",
          "town": "Lake Shyanne",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "AI2 0FJ",
          "telephone": "1-334-692-6132 x957",
          "fax": "434.962.0945 x48505"
        }
      ]
    },
    {
      "id": 1321,
      "email_address": "Edward28@hotmail.com",
      "first_name": "Berta",
      "last_name": "Dicki",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-08-28T06:24:25.694391Z",
      "modified_date": "2020-12-05T06:38:23.8794392Z",
      "last_login_date": "2020-08-09T07:50:01.4681102Z",
      "last_login_attempt_date": "2020-07-05T00:19:40.7393847Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-02-28T08:37:09.8730945Z",
          "modified_date": "2021-02-09T09:06:19.014404Z",
          "customer_id": 1321,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Wilburn",
          "last_name": "Kilback",
          "company": "Will LLC",
          "address": "194 Augustine Meadow",
          "address2": "Bogantown",
          "town": "Auerborough",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "WC1 0PG",
          "telephone": "291-500-7994 x6651",
          "fax": "587-217-4851"
        }
      ]
    },
    {
      "id": 1322,
      "email_address": "Bobbie55@gmail.com",
      "first_name": "Treva",
      "last_name": "Kutch",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2020-08-17T23:05:41.508957Z",
      "modified_date": "2020-07-22T10:35:37.6843235Z",
      "last_login_date": "2021-03-06T14:27:32.6865581Z",
      "last_login_attempt_date": "2020-07-22T18:21:43.2437773Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-05-07T14:43:15.5771989Z",
          "modified_date": "2020-06-20T05:14:08.9586156Z",
          "customer_id": 1322,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Julia",
          "last_name": "Schmitt",
          "company": "Nicolas, Nitzsche and Stiedemann",
          "address": "3032 Beer Plains",
          "address2": "Herthaton",
          "town": "Dibbertstad",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "EW4 0UU",
          "telephone": "363.678.4872 x107",
          "fax": "(992) 324-8558"
        }
      ]
    },
    {
      "id": 1323,
      "email_address": "Thelma92@hotmail.com",
      "first_name": "Jackeline",
      "last_name": "Ledner",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-09-06T19:00:27.6934315Z",
      "modified_date": "2021-03-03T17:09:05.3413953Z",
      "last_login_date": "2020-05-29T07:44:24.2924317Z",
      "last_login_attempt_date": "2021-03-06T12:01:02.659262Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-07-26T10:45:32.3815969Z",
          "modified_date": "2021-03-11T21:55:55.7767718Z",
          "customer_id": 1323,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Cortez",
          "last_name": "Bailey",
          "company": "Goldner Group",
          "address": "096 Kessler Garden",
          "address2": "Wehnertown",
          "town": "New Terrancetown",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "XK5 4JU",
          "telephone": "1-760-495-8997 x773",
          "fax": "428-927-4329 x725"
        }
      ]
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Add a customer",
        "description": "Note: setting send_email to true will send an email to the customer prompting them to create a password",
        "operationId": "Customers_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 1324,
    "email_address": "Ernesto_Kirlin50@gmail.com",
    "first_name": "Violet",
    "last_name": "Jacobson",
    "order_count": 0,
    "loyalty_points": 0.0,
    "created_date": "2020-09-28T18:10:00.2101621Z",
    "modified_date": "2020-06-17T19:48:53.2912831Z",
    "last_login_date": "2020-11-23T10:13:09.5262027Z",
    "last_login_attempt_date": "2020-09-25T06:07:10.3321701Z",
    "locked": true,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-05-22T23:50:55.5995413Z",
        "modified_date": "2020-08-09T03:15:20.096855Z",
        "customer_id": 1324,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Dimitri",
        "last_name": "Windler",
        "company": "Schulist and Sons",
        "address": "1219 Nikolaus Course",
        "address2": "Christianaside",
        "town": "Hammesville",
        "county": "Borders",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "BF8 5SX",
        "telephone": "1-683-487-0722",
        "fax": "202-352-1257 x38816"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/search": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Searches customers based on search criteria",
        "operationId": "Customers_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customers based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1325,
      "email_address": "Henrietta77@yahoo.com",
      "first_name": "Matilde",
      "last_name": "Bednar",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2020-09-21T14:56:36.5181394Z",
      "modified_date": "2020-07-19T08:52:35.1838945Z",
      "last_login_date": "2020-09-30T23:27:52.1887049Z",
      "last_login_attempt_date": "2020-06-23T06:15:13.121528Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-01-01T18:35:24.2398849Z",
          "modified_date": "2021-01-08T04:03:49.3429047Z",
          "customer_id": 1325,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Moriah",
          "last_name": "Herman",
          "company": "Christiansen LLC",
          "address": "203 Medhurst Cliffs",
          "address2": "North Trevor",
          "town": "South Toy",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "UC4 0TB",
          "telephone": "220-333-7284 x1904",
          "fax": "817-929-1361"
        }
      ]
    },
    {
      "id": 1326,
      "email_address": "Nina10@yahoo.com",
      "first_name": "Kiley",
      "last_name": "Jerde",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-10-05T00:57:56.8269634Z",
      "modified_date": "2021-02-28T15:44:11.6819301Z",
      "last_login_date": "2020-06-15T16:53:38.0556614Z",
      "last_login_attempt_date": "2020-11-12T18:49:26.5484652Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-03-25T05:49:11.5857654Z",
          "modified_date": "2020-04-26T00:56:58.4282221Z",
          "customer_id": 1326,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Eliseo",
          "last_name": "Schmitt",
          "company": "Kerluke, Schaden and Torphy",
          "address": "4060 Muller Land",
          "address2": "Port Holdenshire",
          "town": "Hartmannville",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "JH6 7NI",
          "telephone": "468-505-3036 x024",
          "fax": "570-423-0548"
        }
      ]
    },
    {
      "id": 1327,
      "email_address": "Christian_Halvorson@gmail.com",
      "first_name": "Whitney",
      "last_name": "Koelpin",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-11-23T18:28:54.2012323Z",
      "modified_date": "2020-05-20T04:29:06.819262Z",
      "last_login_date": "2020-06-14T12:00:54.8422262Z",
      "last_login_attempt_date": "2020-04-27T21:37:50.7283534Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-10-05T18:12:34.7742355Z",
          "modified_date": "2020-12-18T08:31:03.2586775Z",
          "customer_id": 1327,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Greg",
          "last_name": "Becker",
          "company": "Haley, Morar and Jakubowski",
          "address": "630 Candice Run",
          "address2": "Willyfort",
          "town": "Annaland",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "YO6 0YR",
          "telephone": "450-546-1741 x091",
          "fax": "1-312-204-0776 x39930"
        }
      ]
    },
    {
      "id": 1328,
      "email_address": "Miriam_Nikolaus56@yahoo.com",
      "first_name": "Ruthe",
      "last_name": "Waters",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-12-19T12:32:17.5362899Z",
      "modified_date": "2020-06-06T08:10:07.3084577Z",
      "last_login_date": "2021-02-26T08:32:41.9297696Z",
      "last_login_attempt_date": "2020-06-05T19:37:04.1073267Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-06-02T08:22:58.1785529Z",
          "modified_date": "2020-10-11T18:59:33.8713359Z",
          "customer_id": 1328,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Dean",
          "last_name": "Schaden",
          "company": "Shanahan Group",
          "address": "243 Howell Junctions",
          "address2": "Runolfsdottirfort",
          "town": "Lake Doyle",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "PY0 4DS",
          "telephone": "458-985-7006",
          "fax": "368.261.8552"
        }
      ]
    },
    {
      "id": 1329,
      "email_address": "Percy.Torp73@hotmail.com",
      "first_name": "Georgiana",
      "last_name": "Grant",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2020-06-28T16:49:42.3615252Z",
      "modified_date": "2020-07-18T11:17:31.5044257Z",
      "last_login_date": "2020-07-17T11:00:02.5017475Z",
      "last_login_attempt_date": "2020-10-23T14:08:37.5956406Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-01-25T21:55:22.1804258Z",
          "modified_date": "2021-01-29T13:21:41.9213917Z",
          "customer_id": 1329,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Sidney",
          "last_name": "Powlowski",
          "company": "McCullough, Robel and Quitzon",
          "address": "3651 Alfonso Crossroad",
          "address2": "North Angela",
          "town": "Ledatown",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "KO8 5AZ",
          "telephone": "368.919.8127 x1478",
          "fax": "680-824-7305"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/settings/domains": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get the current Primary Domain",
        "operationId": "Domains_GetPrimaryDomain",
        "responses": {
          "200": {
            "description": "The primary domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1DomainName"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "primary_domain_name": "wyatt.name"
  }
}
              }
            }
          },
          "404": {
            "description": "No primary domain found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Domain not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v2/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get an order by ID",
        "operationId": "Orders_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The order ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV2Order"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 819,
    "order_number": "ss5udkvxlf3dmxg2",
    "order_date": "1991-09-03T12:02:44.4059629Z",
    "is_confirmed": false,
    "sub_total": 0.29393725669660475,
    "total_delivery": 0.41961375690047337,
    "total_tax": 0.5618757016779277,
    "total_cost": 0.6142336091092944,
    "status": "FAILED",
    "payment_status": "SUCCESS",
    "delivery_method": "",
    "transaction_id": "5756cae5-ddac-4328-a231-8a4bd054d3ad",
    "transaction_status": "",
    "order_type": "",
    "use_shipping_address": true,
    "shipping_address": {
      "first_name": "Noel",
      "last_name": "Lueilwitz",
      "id": -1094943240,
      "created_date": "2021-03-24T20:00:45.5326273Z",
      "modified_date": "2021-01-01T23:43:17.2346665Z",
      "customer_id": -1350081060,
      "is_preferred_billing_address": false,
      "is_preferred_shipping_address": true,
      "company": "Rohan, Mills and Kreiger",
      "address": "30027 Broderick Loaf",
      "address2": "West Reed",
      "town": "New Macstad",
      "county": "Buckinghamshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": "MF3 2GN",
      "telephone": "1-553-856-3881 x668",
      "fax": "486-836-1219 x69445"
    },
    "internal_notes": "This is an internal order note.\n\nThis is another internal order note.",
    "customer_facing_notes": "This is an order note.\n\nThis is another order note.",
    "emailed": false,
    "discounts": "",
    "discounts_total": 0.0,
    "shipping_company": "UPS",
    "ip_address": "127.0.0.1",
    "guid": "402ac138-2ffe-f6bb-1cd3-b7c82a16b75f",
    "last_updated": null,
    "delivery_tax_rate": null,
    "delivery_includes_tax": null,
    "custom_fields_total": null,
    "custom_fields_tax_total": null,
    "customer_details": {
      "customer_id": -854354093,
      "email_address": "Joey3@yahoo.com",
      "first_name": "Noel",
      "last_name": "Lueilwitz",
      "company": "Little Inc",
      "address": "624 Shanahan Manors",
      "address2": "Lake Erlingtown",
      "town": "Anissachester",
      "county": "Borders",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": "TD1 4RN",
      "telephone": "(956) 330-1195 x616",
      "fax": "767.339.4092 x7846",
      "billing_address_verified": false
    },
    "custom_fields": null,
    "delivery_tracking_number": null,
    "delivery_tracking_company": null,
    "delivery_tracking_url": null
  }
}
              }
            }
          },
          "404": {
[...]
