{
  "openapi": "3.0.1",
  "info": {
    "title": "EKM Partner API",
    "description": "Our new API allows partners to build significantly better integrations with the EKM platform.\r\n\r\nTo try out the below endpoints, or for full up to date representations of the request / response models, please see the [swagger page](https://api.ekm.net/swagger/index.html). (We display examples here, but the swagger page is guaranteed to show the complete model.)\r\n\r\nTo keep up to date with the latest updates, please see our [RSS feed](https://partners.ekm.net/ChangeLog/Feed) or the [partner dashboard](https://partners.ekm.net/).",
    "contact": {
      "name": "EKM",
      "url": "https://ekm.com",
      "email": "api-support@ekm.com"
    },
    "version": "Latest",
    "x-logo": {
      "url": "/images/ekm-logo-vector-RGB-1920x1080.png",
      "backgroundColor": "#fafafa"
    }
  },
  "servers": [
    {
      "url": "https://api.ekm.net"
    }
  ],
  "paths": {
    "/api/v1/categories/{id}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a category",
        "operationId": "Categories_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The chosen category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 403,
    "name": "EKM - cumque",
    "description": "Non animi repellat id nostrum natus. Accusamus dolorem cumque delectus omnis. Suscipit reiciendis magni. Mollitia aspernatur veniam qui libero repellendus magni qui ipsa. Accusantium illum molestiae atque voluptas quis cumque aut molestias est. Iusto qui officiis molestiae et dolores ipsum debitis.",
    "in_category_description": "Dignissimos excepturi omnis sint id est pariatur perspiciatis illum. Sequi magnam dolorum ad ab labore numquam quia voluptatum. Blanditiis totam atque dolorem neque est.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Categories"
        ],
        "summary": "Update a category",
        "operationId": "Categories_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 404,
    "name": "EKM - voluptate",
    "description": "Est a sunt. Ratione culpa corporis voluptatem similique labore mollitia pariatur laboriosam. Dolor deleniti sit fugiat animi autem esse sint.",
    "in_category_description": "Nulla laboriosam aut doloremque est facere. Minima eligendi non ipsum voluptates qui blanditiis rem eligendi placeat. Est rerum debitis.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Delete a category",
        "operationId": "Categories_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The category ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of categories",
        "operationId": "Categories_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - unde",
      "description": "Cumque nobis reiciendis illum consequatur dolor mollitia qui voluptates. Hic consequatur id ad. Vel minima ipsam nesciunt consequatur occaecati accusamus.",
      "in_category_description": "Ea et et voluptas enim dolorem cupiditate ullam. Adipisci voluptas molestiae omnis. Totam repudiandae non odio. Esse quas distinctio. Voluptatum perspiciatis quo. Natus reprehenderit nemo quaerat fugiat repellendus dolore.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - blanditiis",
      "description": "Enim praesentium quod facilis. Officia velit rerum et aperiam dolores nulla et. Beatae accusamus atque modi cumque illum sequi dolor iusto natus. Et repudiandae recusandae dolores eos non est error omnis distinctio. Quaerat assumenda pariatur quasi cum non non et totam quo. Molestiae sit delectus ullam.",
      "in_category_description": "Sunt repellat corrupti voluptatem sit soluta placeat cum voluptatum. Voluptatum molestias ducimus veniam deleniti eius. Est porro quis.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - et",
      "description": "At quidem sunt magnam possimus atque facere provident. Quas recusandae rem voluptas ipsum a beatae dicta aut. Sed beatae qui nostrum voluptatem et.",
      "in_category_description": "Vitae ex qui et. Tenetur quis quidem iure. Et doloribus adipisci. Sint quidem alias sint consequatur porro quae eos. Et ut ut recusandae perspiciatis in nisi.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - quasi",
      "description": "Enim libero quia. At aut occaecati reprehenderit sed. Maiores expedita fugit velit deleniti neque illum. Quas dolorum hic dolorem earum. A eum saepe sit dolorem ut quae sit laborum. Et illo quod eum voluptatem impedit nostrum voluptas molestias sunt.",
      "in_category_description": "Sequi aperiam blanditiis eum qui ab error velit qui odit. Aliquid exercitationem rem repudiandae et error corporis cupiditate. Ipsa eius minima molestiae quam iusto qui autem voluptas dolorum. Quis veniam maiores incidunt vero error dignissimos et. Blanditiis esse facere vel voluptas reprehenderit dicta soluta quibusdam temporibus.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - omnis",
      "description": "In non itaque. Accusantium sapiente ratione voluptates est accusamus cupiditate qui ex. Enim labore illo.",
      "in_category_description": "Est non excepturi. Laudantium totam aut doloremque aliquid laudantium repellat sed. Ducimus quia impedit illo nostrum aut sed deleniti quas. Nobis perspiciatis incidunt. Ut quia est odio quod. Rerum iste occaecati veritatis corporis rem quis molestiae recusandae.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Add a category",
        "operationId": "Categories_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCategory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 410,
    "name": "EKM - quibusdam",
    "description": "Sit distinctio alias doloremque ea aliquam hic tenetur in. Ratione dignissimos eum vitae incidunt odit magni nihil. Accusantium quaerat soluta modi saepe aut facilis. Qui vel est unde nihil quidem voluptates non similique.",
    "in_category_description": "Sapiente occaecati quos temporibus blanditiis asperiores voluptate architecto incidunt modi. Sit quibusdam tempora eius. Sint est odio odit modi quo. Magni eos temporibus aspernatur odio consequatur et.",
    "meta_description": null,
    "meta_keywords": null,
    "meta_title": null,
    "order_location": 0,
    "live": true,
    "parent_category_id": null,
    "image_id": null,
    "in_category_image_id": null,
    "last_updated": null
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/search": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Searches categories based on search criteria",
        "operationId": "Categories_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. live eq true",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Category"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 1,
      "name": "EKM - accusamus",
      "description": "Amet maxime inventore sed rem tempora tempora atque. Esse provident culpa harum consequatur voluptatem atque non. Error magni magnam porro dolore perferendis. Est nam eveniet ut voluptatem. Aliquid in iusto laborum atque.",
      "in_category_description": "Quae nihil numquam fuga quos ullam aut omnis molestias reiciendis. Tenetur mollitia cupiditate nemo provident dolores rem dolores ipsa. Qui natus voluptas sint.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 2,
      "name": "EKM - rem",
      "description": "Alias adipisci velit quo. Quia ut eos repudiandae et. Hic ipsa consequatur eos.",
      "in_category_description": "Perferendis nam repellendus. Ipsa earum qui. Sed porro modi eos rerum odit voluptatem velit quibusdam unde. Dolor itaque harum enim dolor. Dolorum et et unde.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 3,
      "name": "EKM - alias",
      "description": "Officiis sed quas aut voluptatem magni a magnam. Pariatur sed est. Minima accusantium occaecati quia. Dolore voluptatem dolorem et sit vel reprehenderit est aut.",
      "in_category_description": "Eveniet odio sed. Perspiciatis maiores nobis id numquam. Nam deserunt veritatis quisquam sunt molestiae nam ab necessitatibus deserunt. Eaque quibusdam facere aut vero.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 4,
      "name": "EKM - ut",
      "description": "Velit impedit dolore. Quia neque velit dicta aliquam qui nostrum. Sint doloribus officiis culpa libero.",
      "in_category_description": "Explicabo tenetur qui iste. Fugiat qui vero facilis consequatur magnam nobis sit nam deleniti. Ipsum quam veritatis rerum natus cum nisi velit totam. Dolore molestiae ab molestiae quia et explicabo. Molestiae ipsum soluta voluptatem aliquam optio ducimus corporis voluptas. Alias eveniet enim soluta odio sit cumque neque.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    },
    {
      "id": 5,
      "name": "EKM - est",
      "description": "Esse est voluptatem sunt reprehenderit officia ullam. Quisquam consectetur qui deserunt incidunt id nemo quia sit. Commodi odio quaerat voluptates. Voluptate sunt voluptas error maiores et modi. Dolorem eius neque. Natus commodi veritatis eos aut ratione quos.",
      "in_category_description": "Sit nemo ipsa rerum magni veritatis soluta. Dolore iusto commodi. Maiores voluptates sint et voluptatem ipsam rerum.",
      "meta_description": null,
      "meta_keywords": null,
      "meta_title": null,
      "order_location": 0,
      "live": true,
      "parent_category_id": null,
      "image_id": null,
      "in_category_image_id": null,
      "last_updated": null
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/subcategories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a paginated set of subcategories",
        "operationId": "Categories_Subcategories",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of subcategories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1SubCategory"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/categories?page=1"
    },
    {
      "rel": "next",
      "href": "/categories?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "parent_category_id": 2,
      "category_id": 1,
      "name": "EKM - dolores",
      "description": "Quis et tempora placeat possimus a ullam magnam nostrum voluptas. Aspernatur modi ut quis dolorum vero aut ut aut. Repellendus et alias in blanditiis perspiciatis quibusdam.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 4,
      "category_id": 2,
      "name": "EKM - sunt",
      "description": "Unde ut amet recusandae aut porro eum. Est cumque asperiores qui mollitia. Necessitatibus nobis magnam dolor in blanditiis eos a. Esse qui ut modi. Corporis velit quas nesciunt. Eius ipsam facere aperiam sit enim.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 6,
      "category_id": 3,
      "name": "EKM - et",
      "description": "Vel enim qui facilis sed commodi est. Nostrum perferendis eligendi autem voluptate deserunt quia est aliquid. Quos non repellat ipsam adipisci fugiat soluta vel. Eos et et totam quos.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 8,
      "category_id": 4,
      "name": "EKM - voluptatibus",
      "description": "Eos eum earum et. Atque sed sed quos totam vitae consequatur est in. Reiciendis id velit voluptatem quas. Fugit placeat sapiente qui eaque unde. Quis perspiciatis velit.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    },
    {
      "parent_category_id": 10,
      "category_id": 5,
      "name": "EKM - qui",
      "description": "Ipsam earum velit rerum et est. Velit nihil consequatur animi sunt animi. Iure earum et vitae quisquam magni facilis. Vitae reiciendis et dolorem recusandae quam maxime rerum. Est eaque minima voluptatem voluptatem. Sapiente repellendus sed ipsa ullam voluptate eum.",
      "order_location": 0,
      "live": true,
      "is_category_managed": false
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/categorymanaged/{childCategoryId}": {
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Set a category to be managed by another category",
        "operationId": "Categories_SetCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The added managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "parent_category_id": 1,
    "category_id": 10,
    "name": "Subcategory",
    "description": null,
    "order_location": 99999,
    "live": true,
    "is_category_managed": true
  }
}
              }
            }
          },
          "400": {
            "description": "A subcategory or managed category already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No category or child category for that ID found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Stops a category from being managed by another category",
        "operationId": "Categories_DeleteCategoryManaged",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "childCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The removed managed category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1SubCategory"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No managed category found for that child category ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/categories/{id}/filters": {
      "put": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_UpdateCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CategoryFilters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Category"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "get": {
        "tags": [
          "Categories"
        ],
        "operationId": "Categories_GetCategoryFilters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CategoryFilters"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "brand": true,
    "price": true,
    "condition": true,
    "attributes": [
      "SIZE"
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "name"
      ],
      "error_message": "The name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Product \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/{addressId}": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a single Customer Address by Id",
        "operationId": "CustomerAddresses_GetById",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-11-12T05:09:58.2604196Z",
    "modified_date": "2020-04-23T02:25:28.7639984Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Adolphus",
    "last_name": "Jacobi",
    "company": "Halvorson, Gleason and Corwin",
    "address": "46166 Yasmine Route",
    "address2": null,
    "town": "Mantehaven",
    "county": "Berkshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "804.870.9532",
    "fax": "(421) 903-3669"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Update a Customer Address",
        "operationId": "CustomerAddresses_Update",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-07-26T04:59:24.535828Z",
    "modified_date": "2020-11-02T20:15:46.9134494Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Derick",
    "last_name": "Bartell",
    "company": "Goldner and Sons",
    "address": "970 Bridget Parks",
    "address2": null,
    "town": "O\u0027Connellburgh",
    "county": "Berkshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "1-260-778-4542 x1844",
    "fax": "449-381-8662 x33404"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer or Address for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Delete a Customer Address",
        "operationId": "CustomerAddresses_Delete",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "The Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Address Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer Address deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-06-10T15:13:01.69532Z",
    "modified_date": "2021-02-11T14:28:21.1461265Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Nelle",
    "last_name": "Lindgren",
    "company": "Waelchi Inc",
    "address": "0423 Jovanny Summit",
    "address2": null,
    "town": "South Stantonfurt",
    "county": "Buckinghamshire",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "452.600.8450",
    "fax": "(976) 611-5380 x632"
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Get a paginated set of Customer Addresses",
        "operationId": "CustomerAddresses_GetAll",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customer Addresses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 0,
      "created_date": "2020-08-03T08:54:33.5878078Z",
      "modified_date": "2021-03-14T16:43:46.3524176Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Evert",
      "last_name": "Kautzer",
      "company": "Considine - Jones",
      "address": "691 Bode Place",
      "address2": null,
      "town": "Kihntown",
      "county": "Buckinghamshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "(595) 260-4338 x171",
      "fax": "(578) 927-5010"
    },
    {
      "id": 0,
      "created_date": "2020-05-01T15:38:46.5215191Z",
      "modified_date": "2020-12-25T10:48:56.5848316Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Wilhelmine",
      "last_name": "Murray",
      "company": "Reichel - Renner",
      "address": "272 Turcotte Shoal",
      "address2": null,
      "town": "West Darioton",
      "county": "Cambridgeshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "435.522.5709",
      "fax": "1-986-952-8941"
    },
    {
      "id": 0,
      "created_date": "2020-08-12T21:51:21.293753Z",
      "modified_date": "2020-07-29T09:47:56.5717341Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Krystel",
      "last_name": "Wolf",
      "company": "Oberbrunner - Goodwin",
      "address": "6260 Trace Forge",
      "address2": null,
      "town": "Coltland",
      "county": "Cambridgeshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "758.938.6503",
      "fax": "1-641-398-4296"
    },
    {
      "id": 0,
      "created_date": "2021-02-07T14:13:43.6915503Z",
      "modified_date": "2021-01-05T10:27:10.0338795Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Candace",
      "last_name": "White",
      "company": "Cremin, Weissnat and Bergnaum",
      "address": "023 Thiel Mountains",
      "address2": null,
      "town": "Strosinview",
      "county": "Avon",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "698.574.8407 x78940",
      "fax": "(302) 360-3629"
    },
    {
      "id": 0,
      "created_date": "2020-09-09T03:57:57.5284346Z",
      "modified_date": "2021-01-26T18:34:10.1019795Z",
      "customer_id": 0,
      "is_preferred_billing_address": true,
      "is_preferred_shipping_address": true,
      "first_name": "Cortez",
      "last_name": "Hyatt",
      "company": "Kuhn - Pfeffer",
      "address": "87548 McLaughlin Unions",
      "address2": null,
      "town": "Aufderharmouth",
      "county": "Borders",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": null,
      "telephone": "1-263-782-5025",
      "fax": "469.686.7038 x5522"
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Add a Customer Address",
        "operationId": "CustomerAddresses_Create",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer Address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1CustomerAddress"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 0,
    "created_date": "2020-05-24T23:35:05.2556717Z",
    "modified_date": "2020-10-19T15:56:25.6607774Z",
    "customer_id": 0,
    "is_preferred_billing_address": true,
    "is_preferred_shipping_address": true,
    "first_name": "Fausto",
    "last_name": "Rice",
    "company": "Wuckert - Hermiston",
    "address": "63662 King Gardens",
    "address2": null,
    "town": "Port Carley",
    "county": "Borders",
    "country": "GB",
    "friendly_country": "United Kingdom",
    "post_code": null,
    "telephone": "1-803-635-1251",
    "fax": "309.355.3364"
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{customerId}/addresses/search": {
      "get": {
        "tags": [
          "CustomerAddresses"
        ],
        "summary": "Searches customer addresses based on search criteria",
        "operationId": "CustomerAddresses_Search",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customer Id",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customer adresses based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1CustomerAddress"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 589,
      "email_address": "Jon.Yost82@hotmail.com",
      "first_name": "Brenna",
      "last_name": "Lockman",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2021-03-22T23:44:16.6765124Z",
      "modified_date": "2021-03-26T04:25:19.5920599Z",
      "last_login_date": "2020-04-26T13:23:10.0486121Z",
      "last_login_attempt_date": "2020-08-15T06:32:06.7650777Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-12-25T06:57:59.574619Z",
          "modified_date": "2021-01-30T22:54:18.9040548Z",
          "customer_id": 589,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Summer",
          "last_name": "Vandervort",
          "company": "Grady Group",
          "address": "377 O\u0027Hara Branch",
          "address2": "Malvinaland",
          "town": "Venabury",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "YG0 7GV",
          "telephone": "874.837.3695 x94001",
          "fax": "958.340.4993 x358"
        }
      ]
    },
    {
      "id": 590,
      "email_address": "Patty.Johnson@yahoo.com",
      "first_name": "Jace",
      "last_name": "O\u0027Conner",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2020-07-10T07:27:50.8299127Z",
      "modified_date": "2020-10-15T18:21:11.5352714Z",
      "last_login_date": "2020-06-19T04:48:18.7133355Z",
      "last_login_attempt_date": "2020-10-23T19:41:34.5648002Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-10-15T11:20:04.1564945Z",
          "modified_date": "2020-07-09T17:51:52.8841955Z",
          "customer_id": 590,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Karlee",
          "last_name": "Stoltenberg",
          "company": "Wyman Inc",
          "address": "431 Candelario Vista",
          "address2": "Jenkinsmouth",
          "town": "Cathrineview",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "IZ3 1FL",
          "telephone": "(322) 789-9973 x3939",
          "fax": "299.600.2404"
        }
      ]
    },
    {
      "id": 591,
      "email_address": "Rick35@yahoo.com",
      "first_name": "Monte",
      "last_name": "Lang",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2021-02-23T11:45:50.3408003Z",
      "modified_date": "2021-03-17T11:00:17.4226567Z",
      "last_login_date": "2020-10-01T03:05:15.1219509Z",
      "last_login_attempt_date": "2020-07-30T19:38:16.808301Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-12-31T16:54:54.199686Z",
          "modified_date": "2020-08-12T15:36:51.9757048Z",
          "customer_id": 591,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Laurine",
          "last_name": "Barton",
          "company": "Grady Group",
          "address": "80930 Neha Corner",
          "address2": "West Brendenstad",
          "town": "Stehrbury",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "XY0 3WC",
          "telephone": "308-299-0883",
          "fax": "625.403.7198 x65982"
        }
      ]
    },
    {
      "id": 592,
      "email_address": "Loren_Berge@yahoo.com",
      "first_name": "Alia",
      "last_name": "Hammes",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-05-07T01:56:53.3940019Z",
      "modified_date": "2021-03-02T01:42:58.6939369Z",
      "last_login_date": "2020-12-29T22:00:48.1695373Z",
      "last_login_attempt_date": "2020-08-27T07:27:36.5954198Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-08-22T22:23:10.0343833Z",
          "modified_date": "2020-04-29T20:18:09.3100284Z",
          "customer_id": 592,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Elise",
          "last_name": "Feeney",
          "company": "Kozey - Veum",
          "address": "6264 Josh Squares",
          "address2": "New Katelynmouth",
          "town": "Andersonfurt",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "SQ0 1QX",
          "telephone": "(470) 354-1855 x503",
          "fax": "(944) 648-9334 x5013"
        }
      ]
    },
    {
      "id": 593,
      "email_address": "Tommie_Corwin57@yahoo.com",
      "first_name": "Torrance",
      "last_name": "Schuppe",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2021-02-01T19:47:45.4172613Z",
      "modified_date": "2021-03-11T17:12:31.4554679Z",
      "last_login_date": "2020-08-26T06:16:42.3069323Z",
      "last_login_attempt_date": "2021-01-20T22:14:28.5893579Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-07-31T02:17:39.1972626Z",
          "modified_date": "2020-06-12T16:25:19.3065747Z",
          "customer_id": 593,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Eriberto",
          "last_name": "Goldner",
          "company": "Keeling, Cruickshank and Jerde",
          "address": "9411 Spencer Ville",
          "address2": "Champlinview",
          "town": "West Lisandro",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "QB7 0PC",
          "telephone": "830-927-4084 x52076",
          "fax": "595-807-7823 x746"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a single Customer by Id",
        "operationId": "Customers_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Customers Id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The Customers Id",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 594,
    "email_address": "Jimmie79@yahoo.com",
    "first_name": "Cassie",
    "last_name": "Predovic",
    "order_count": 1,
    "loyalty_points": 1.0,
    "created_date": "2020-09-21T08:02:43.9680159Z",
    "modified_date": "2020-09-28T14:58:20.0822637Z",
    "last_login_date": "2020-04-05T14:10:58.9134866Z",
    "last_login_attempt_date": "2020-12-14T13:58:06.6645807Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-09-04T19:32:09.8127874Z",
        "modified_date": "2020-07-23T05:07:07.1407978Z",
        "customer_id": 594,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Seamus",
        "last_name": "Leannon",
        "company": "Kutch - Casper",
        "address": "7439 Ibrahim Forge",
        "address2": "Germanstad",
        "town": "Schroederburgh",
        "county": "Borders",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "WZ0 1LD",
        "telephone": "712.643.4451",
        "fax": "744-797-4263"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update a Customer",
        "operationId": "Customers_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 595,
    "email_address": "Guadalupe_Jaskolski2@gmail.com",
    "first_name": "Jennings",
    "last_name": "Fay",
    "order_count": 0,
    "loyalty_points": 0.0,
    "created_date": "2021-01-07T20:50:57.7939105Z",
    "modified_date": "2021-03-14T02:35:15.0419666Z",
    "last_login_date": "2021-02-02T11:20:38.4127409Z",
    "last_login_attempt_date": "2020-05-04T13:27:51.2244022Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-08-25T19:58:50.4419001Z",
        "modified_date": "2020-08-16T07:14:51.1778625Z",
        "customer_id": 595,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Omari",
        "last_name": "Steuber",
        "company": "Hackett - Pollich",
        "address": "697 Pfeffer View",
        "address2": "Arlieburgh",
        "town": "South Dereck",
        "county": "Borders",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "DG2 3GC",
        "telephone": "1-340-761-1588",
        "fax": "(793) 810-5508"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "404": {
            "description": "No Customer for that Id found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete a Customer",
        "operationId": "Customers_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 596,
    "email_address": "Ann.Hartmann@gmail.com",
    "first_name": "Alayna",
    "last_name": "Bayer",
    "order_count": 1,
    "loyalty_points": 0.0,
    "created_date": "2021-03-15T09:53:35.8452063Z",
    "modified_date": "2020-11-23T23:17:35.7517121Z",
    "last_login_date": "2020-10-31T05:48:25.6767542Z",
    "last_login_attempt_date": "2020-11-26T18:46:20.9441479Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": true,
    "addresses": [
      {
        "id": 0,
        "created_date": "2021-01-16T22:54:59.6506671Z",
        "modified_date": "2020-07-01T09:26:25.2951109Z",
        "customer_id": 596,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Josefa",
        "last_name": "Price",
        "company": "Bruen - Ferry",
        "address": "354 Nolan Route",
        "address2": "Windlerside",
        "town": "Patsyhaven",
        "county": "Bedfordshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "FZ7 1QA",
        "telephone": "1-646-597-8315 x6003",
        "fax": "458.819.2755"
      }
    ]
  }
}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Customer \u00271\u0027 not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a paginated set of Customers",
        "operationId": "Customers_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 597,
      "email_address": "Billie_Towne33@gmail.com",
      "first_name": "Trevor",
      "last_name": "Kessler",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-06-21T05:53:17.5240846Z",
      "modified_date": "2020-04-11T01:20:39.3674654Z",
      "last_login_date": "2020-04-20T18:35:57.8369193Z",
      "last_login_attempt_date": "2020-11-11T03:16:40.9471866Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-01-15T22:37:04.5558797Z",
          "modified_date": "2020-10-18T14:53:51.5950806Z",
          "customer_id": 597,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Liliane",
          "last_name": "Purdy",
          "company": "Reichel Group",
          "address": "45090 Verla Overpass",
          "address2": "Port Christophershire",
          "town": "North Nyasiaport",
          "county": "Avon",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "XL8 8CL",
          "telephone": "958-379-6671 x03394",
          "fax": "(224) 852-1513"
        }
      ]
    },
    {
      "id": 598,
      "email_address": "Angelo_Steuber23@hotmail.com",
      "first_name": "Magnolia",
      "last_name": "Dietrich",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2021-01-09T00:38:34.6905315Z",
      "modified_date": "2020-08-29T12:16:17.1414503Z",
      "last_login_date": "2020-11-12T02:35:53.6936391Z",
      "last_login_attempt_date": "2020-09-09T06:18:34.4464724Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-11-16T11:56:54.4652317Z",
          "modified_date": "2020-10-22T22:40:22.6281869Z",
          "customer_id": 598,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Shannon",
          "last_name": "Franecki",
          "company": "Kunze and Sons",
          "address": "1597 Purdy Manors",
          "address2": "Powlowskiside",
          "town": "Juniusport",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "WU5 1GF",
          "telephone": "1-877-365-8847",
          "fax": "930.996.8714"
        }
      ]
    },
    {
      "id": 599,
      "email_address": "Sylvester_Fay5@hotmail.com",
      "first_name": "Caterina",
      "last_name": "Gibson",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-07-01T17:24:28.6952174Z",
      "modified_date": "2020-10-21T01:59:26.04034Z",
      "last_login_date": "2020-10-02T15:40:06.512489Z",
      "last_login_attempt_date": "2020-09-17T18:50:36.3710393Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-04-27T13:05:29.4523472Z",
          "modified_date": "2020-09-22T02:50:13.7907259Z",
          "customer_id": 599,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Kaylin",
          "last_name": "Yundt",
          "company": "Bauch - Kunze",
          "address": "81709 Skiles Stravenue",
          "address2": "Marquardtstad",
          "town": "Skilesberg",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "ZG3 2GG",
          "telephone": "886.363.4279 x308",
          "fax": "1-666-261-9717"
        }
      ]
    },
    {
      "id": 600,
      "email_address": "Noel24@yahoo.com",
      "first_name": "Missouri",
      "last_name": "Stark",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-09-27T02:19:43.9810972Z",
      "modified_date": "2020-12-11T15:48:09.2949855Z",
      "last_login_date": "2021-01-20T03:19:24.9972979Z",
      "last_login_attempt_date": "2020-05-31T15:20:23.5887848Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-10-10T14:48:23.9970833Z",
          "modified_date": "2020-10-21T22:36:41.733369Z",
          "customer_id": 600,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Dariana",
          "last_name": "Rath",
          "company": "Gusikowski and Sons",
          "address": "93032 Shad Manor",
          "address2": "Port Omari",
          "town": "Dakotaborough",
          "county": "Buckinghamshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "JT4 8FP",
          "telephone": "700.377.6937 x4214",
          "fax": "1-581-960-1841"
        }
      ]
    },
    {
      "id": 601,
      "email_address": "Clifford_Prohaska@yahoo.com",
      "first_name": "Marc",
      "last_name": "Kris",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-04-28T19:42:56.330337Z",
      "modified_date": "2020-07-18T01:54:45.7305661Z",
      "last_login_date": "2021-03-25T03:28:33.459059Z",
      "last_login_attempt_date": "2020-12-19T19:45:52.5790466Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-01-03T08:17:49.9356769Z",
          "modified_date": "2020-06-01T04:57:54.2422079Z",
          "customer_id": 601,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Melvin",
          "last_name": "Fay",
          "company": "Gaylord, Kozey and Kuhic",
          "address": "3252 Kihn Rue",
          "address2": "North Arnaldomouth",
          "town": "Bartellfurt",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "VI3 8XQ",
          "telephone": "(855) 770-1300 x25859",
          "fax": "1-951-514-4826"
        }
      ]
    }
  ]
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Add a customer",
        "description": "Note: setting send_email to true will send an email to the customer prompting them to create a password",
        "operationId": "Customers_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1Customer"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 602,
    "email_address": "Beatrice.Huel48@gmail.com",
    "first_name": "Issac",
    "last_name": "Bogan",
    "order_count": 0,
    "loyalty_points": 1.0,
    "created_date": "2020-12-14T16:51:09.9711427Z",
    "modified_date": "2020-11-14T21:54:46.026446Z",
    "last_login_date": "2020-11-29T14:17:20.0459538Z",
    "last_login_attempt_date": "2021-01-18T06:11:34.7439599Z",
    "locked": false,
    "locked_date": null,
    "locked_end_date": null,
    "is_subscribed_to_newsletter": false,
    "addresses": [
      {
        "id": 0,
        "created_date": "2020-08-11T21:29:01.5566055Z",
        "modified_date": "2020-04-26T19:06:29.1632012Z",
        "customer_id": 602,
        "is_preferred_billing_address": true,
        "is_preferred_shipping_address": true,
        "first_name": "Orrin",
        "last_name": "Kuhn",
        "company": "Windler Group",
        "address": "9200 Shanahan Spur",
        "address2": "Satterfieldchester",
        "town": "North Alexysburgh",
        "county": "Buckinghamshire",
        "country": "GB",
        "friendly_country": "United Kingdom",
        "post_code": "AM3 7EE",
        "telephone": "896-538-0223 x1219",
        "fax": "493-489-1633"
      }
    ]
  }
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "first_name"
      ],
      "error_message": "The first_name field is required."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/customers/search": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Searches customers based on search criteria",
        "operationId": "Customers_Search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to display",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (maximum 20)",
            "schema": {
              "type": "integer",
              "format": "int34"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A <a href=\"#tag/OData\" target=\"_blank\">search</a> query e.g. email_address eq 'test@ekm.com'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Field to order results. Prefix with a - (dash) for descending e.g. -id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customers based on search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseListV1Customer"
                },
                "example": {
  "meta": {
    "pages_total": 2,
    "items_total": 10,
    "items_per_page": 5
  },
  "links": [
    {
      "rel": "current",
      "href": "/customers?page=1"
    },
    {
      "rel": "next",
      "href": "/customers?page=2"
    }
  ],
  "validation_result": null,
  "errors": null,
  "data": [
    {
      "id": 603,
      "email_address": "Rose_Boehm59@hotmail.com",
      "first_name": "Pauline",
      "last_name": "Kovacek",
      "order_count": 0,
      "loyalty_points": 1.0,
      "created_date": "2020-06-15T19:24:43.8499755Z",
      "modified_date": "2020-04-12T00:17:05.7190318Z",
      "last_login_date": "2020-04-24T08:59:01.6960803Z",
      "last_login_attempt_date": "2021-01-28T01:08:19.1738318Z",
      "locked": false,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-05-05T05:16:58.3323073Z",
          "modified_date": "2021-02-25T22:25:07.5438325Z",
          "customer_id": 603,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Olin",
          "last_name": "McCullough",
          "company": "Tillman and Sons",
          "address": "43332 Alfredo Ville",
          "address2": "North Cortneyfort",
          "town": "Joshualand",
          "county": "Berkshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "DW7 5HQ",
          "telephone": "363-974-1770",
          "fax": "(556) 695-8443"
        }
      ]
    },
    {
      "id": 604,
      "email_address": "Darla_Renner59@yahoo.com",
      "first_name": "Dwight",
      "last_name": "Legros",
      "order_count": 1,
      "loyalty_points": 1.0,
      "created_date": "2020-06-03T17:42:59.243363Z",
      "modified_date": "2020-08-16T22:28:51.312562Z",
      "last_login_date": "2020-09-16T12:10:49.1426499Z",
      "last_login_attempt_date": "2020-06-10T04:10:45.5111419Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-05-10T13:42:13.1665117Z",
          "modified_date": "2020-11-11T10:12:00.9897069Z",
          "customer_id": 604,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Lamont",
          "last_name": "Haag",
          "company": "Bruen and Sons",
          "address": "07100 Marvin Roads",
          "address2": "Kaileyland",
          "town": "East Idellaton",
          "county": "Borders",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "NZ0 0KZ",
          "telephone": "1-934-873-6468",
          "fax": "271.969.4928 x9001"
        }
      ]
    },
    {
      "id": 605,
      "email_address": "Wanda.Glover@gmail.com",
      "first_name": "Emilio",
      "last_name": "Ward",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-04-18T00:30:35.8077515Z",
      "modified_date": "2020-09-29T07:47:15.3092731Z",
      "last_login_date": "2020-04-03T20:24:15.4038319Z",
      "last_login_attempt_date": "2021-04-02T17:50:34.8657112Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2020-09-17T07:46:07.4216219Z",
          "modified_date": "2020-08-02T12:43:29.4102319Z",
          "customer_id": 605,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Dianna",
          "last_name": "Parisian",
          "company": "Beier and Sons",
          "address": "109 Micah Spurs",
          "address2": "Camronfort",
          "town": "Greenholtborough",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "SX6 5UX",
          "telephone": "1-548-822-0562 x4228",
          "fax": "723-407-2899 x6018"
        }
      ]
    },
    {
      "id": 606,
      "email_address": "Virginia_Mayer16@hotmail.com",
      "first_name": "Aimee",
      "last_name": "Ward",
      "order_count": 1,
      "loyalty_points": 0.0,
      "created_date": "2020-04-07T05:52:36.9024342Z",
      "modified_date": "2020-10-21T13:19:39.3198688Z",
      "last_login_date": "2020-12-31T21:43:39.8180305Z",
      "last_login_attempt_date": "2020-08-25T01:57:01.0342278Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": false,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-02-21T08:54:43.4701808Z",
          "modified_date": "2021-01-03T16:01:57.6565614Z",
          "customer_id": 606,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Luis",
          "last_name": "Gislason",
          "company": "Haag - Schinner",
          "address": "68218 Denesik Plaza",
          "address2": "Jovaniton",
          "town": "Gerholdville",
          "county": "Cambridgeshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "OY1 3ET",
          "telephone": "997-558-7578 x06128",
          "fax": "1-507-466-9898 x7051"
        }
      ]
    },
    {
      "id": 607,
      "email_address": "Deborah.Davis@yahoo.com",
      "first_name": "Jammie",
      "last_name": "Schmitt",
      "order_count": 0,
      "loyalty_points": 0.0,
      "created_date": "2020-12-07T00:41:31.579689Z",
      "modified_date": "2020-06-21T04:45:57.8714102Z",
      "last_login_date": "2020-10-28T18:34:55.43478Z",
      "last_login_attempt_date": "2020-09-12T03:38:06.2408732Z",
      "locked": true,
      "locked_date": null,
      "locked_end_date": null,
      "is_subscribed_to_newsletter": true,
      "addresses": [
        {
          "id": 0,
          "created_date": "2021-02-11T00:50:05.374404Z",
          "modified_date": "2020-05-05T09:37:09.5291302Z",
          "customer_id": 607,
          "is_preferred_billing_address": true,
          "is_preferred_shipping_address": true,
          "first_name": "Madisen",
          "last_name": "Labadie",
          "company": "Grady Group",
          "address": "004 Lockman Ramp",
          "address2": "Lillyview",
          "town": "Otisland",
          "county": "Bedfordshire",
          "country": "GB",
          "friendly_country": "United Kingdom",
          "post_code": "AY8 8DT",
          "telephone": "1-964-490-2321 x5443",
          "fax": "1-308-963-1303"
        }
      ]
    }
  ]
}
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Invalid search expression"
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v1/settings/domains": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get the current Primary Domain",
        "operationId": "Domains_GetPrimaryDomain",
        "responses": {
          "200": {
            "description": "The primary domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV1DomainName"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "primary_domain_name": "maurice.info"
  }
}
              }
            }
          },
          "404": {
            "description": "No primary domain found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": null,
      "error_message": "Domain not found."
    }
  ],
  "errors": null,
  "data": null
}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/api/v2/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get an order by ID",
        "operationId": "Orders_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The order ID",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseV2Order"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": null,
  "errors": null,
  "data": {
    "id": 403,
    "order_number": "djr24fmkaihl08h7",
    "order_date": "2014-04-15T22:31:45.2201322Z",
    "is_confirmed": false,
    "sub_total": 0.5188580902846801,
    "total_delivery": 0.4233776402768575,
    "total_tax": 0.838643173146361,
    "total_cost": 0.9103916752666196,
    "status": "PROCESSING",
    "payment_status": "UNKNOWN",
    "delivery_method": "",
    "transaction_id": "5756cae5-ddac-4328-a231-8a4bd054d3ad",
    "transaction_status": "",
    "order_type": "",
    "use_shipping_address": true,
    "shipping_address": {
      "first_name": "Fannie",
      "last_name": "Anderson",
      "id": -1659371952,
      "created_date": "2021-01-11T15:41:57.4562946Z",
      "modified_date": "2020-11-05T03:47:10.7741516Z",
      "customer_id": -1570180685,
      "is_preferred_billing_address": false,
      "is_preferred_shipping_address": true,
      "company": "Shields, Shanahan and Medhurst",
      "address": "67067 Runolfsson Forge",
      "address2": "North Laurettaport",
      "town": "Keeblershire",
      "county": "Cambridgeshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": "UE0 2FJ",
      "telephone": "1-338-754-8892 x97265",
      "fax": "(536) 591-9561"
    },
    "internal_notes": "This is an internal order note.\n\nThis is another internal order note.",
    "customer_facing_notes": "This is an order note.\n\nThis is another order note.",
    "emailed": false,
    "discounts": "",
    "discounts_total": 0.0,
    "shipping_company": "UPS",
    "ip_address": "127.0.0.1",
    "guid": "bb14eb8d-11b2-97f5-2259-b8551e99c849",
    "last_updated": null,
    "delivery_tax_rate": null,
    "delivery_includes_tax": null,
    "custom_fields_total": null,
    "custom_fields_tax_total": null,
    "customer_details": {
      "customer_id": 1655207949,
      "email_address": "Odessa_Hauck58@gmail.com",
      "first_name": "Fannie",
      "last_name": "Anderson",
      "company": "Frami Inc",
      "address": "7748 Myrtle Divide",
      "address2": "Stromanshire",
      "town": "West Beatricestad",
      "county": "Berkshire",
      "country": "GB",
      "friendly_country": "United Kingdom",
      "post_code": "JS4 7LG",
      "telephone": "(407) 661-6544 x3311",
      "fax": "(674) 875-1624 x231",
      "billing_address_verified": false
    },
    "custom_fields": null,
    "delivery_tracking_number": null,
    "delivery_tracking_company": null,
    "delivery_tracking_url": null
  }
}
              }
            }
          },
          "404": {
            "description": "No Order was found for the requested ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempestResponseTempestValidationError"
                },
                "example": {
  "meta": {},
  "links": [],
  "validation_result": [
    {
      "member_names": [
        "id"
      ],
      "error_message": "Order \u00271\u0027 not found."
    }
  ],
  "errors": null,
[...]
